@use "sass:map";

$ss-toggle-config: (
    width: q(36),
    height: q(20),
    knob-inset: q(2),

    bg-off: var(--ss-color-border, var(--ss-color-foreground)),
    bg-on: var(--ss-color-accent),
    knob: var(--ss-color-background),
    duration: 0.15s,
) !default;
