<aside class="ss-c-sidebar ss-c-sidebar--right" id="" role="navigation">
    <nav
        id="sidebar_right_navigation"
        class="ss-c-ribbon--right"
        aria-label="Sidebar right Navigation"
    >
        <!-- Add navigation links here -->
    </nav>

    <nav
        id="sidebar_right_menu"
        class="ss-c-sidebar__menu"
        aria-label="Sidebar right Content Navigation"
    >
        <section class="ss-c-sidebar__content ss-c-rail">
            <h2 id="sidebar-right-label" class="visually-hidden">
                Page Contents
            </h2><section class="ss-c-sidebar__section">
    <nav id="toc" class="ss-c-toc"></nav>
</section>

        </section>
    </nav>
    <div class="ss-c-sidebar__control" role="group" aria-label="Sidebar Toggle">
        <button
            class="ss-c-flipper--right"
            id="sidebar_right_switch"
            aria-pressed="false"
            aria-label="Toggle right Sidebar"
        >
            <span class="ss-c-flipper__icon"></span>
        </button>
    </div>
</aside>
