<aside class="ss-c-sidebar ss-c-sidebar--left" id="" role="navigation">
    <nav
        id="sidebar_left_navigation"
        class="ss-c-ribbon--left ss-c-ribbon--inverted"
        aria-label="Sidebar Left Navigation"
    >
        <!-- Add navigation links here -->
        <div class="ss-c-ribbon__slot--vertical_top gap--02">
          <div class="ss-c-tooltip ss-c-tooltip--right" tooltip-data="Portal Home">
            <button class="ss-c-ribbon__button">
              <a href="/en/portal/">
                <i class="i i_ui_home_plain"></i>
              </a>
            </button>
          </div>
        </div>
    </nav>

    <nav
        id="sidebar_left_menu"
        class="ss-c-sidebar__menu"
        aria-label="Sidebar Left Content Navigation"
    >

        <section
            id="sidebar_left_content"
            class="ss-c-sidebar__content ss-c-rail"
            role="region"
        >
            <h2 id="sidebar-left-label" class="visually-hidden">
                Left Sidebar Content
            </h2>
<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-1"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-1">00. Pages</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Overview
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/pages/index.html">Index</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/pages/layout_page.html">Page</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/pages/layout_screen.html">Screen</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/pages/media.html">Media</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/pages/semantic.html">Semantic</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/pages/typography.html">Typography</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>

<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-2"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-2">12. Lexicon (Design Tokens)</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Color
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/12-lexicon/color-palette.html">Palette</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/12-lexicon/color-system.html">System</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>

<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-3"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-3">21. Typography</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Font
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-font-default.html">Font Default</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-font-letter-spacing.html">Font Letter Spacing</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-font-size.html">Font Size</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-font-weight.html">Font Weight</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-2-">
                        Character
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-abbreviation.html">Character Abbreviation</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-acronym.html">Character Acronym</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-case.html">Character Case</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-citation.html">Character Citation</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-code.html">Character Code</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-dropcap.html">Character Dropcap</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-hyperlink.html">Character Hyperlink</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-lined.html">Character Lined</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-mark.html">Character Mark</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-quote.html">Character Quote</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character-variant.html">Character Variant</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-character.html">Character</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-3-">
                        Paragraph
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-paragraph-align.html">Paragraph Align</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-paragraph-heading.html">Paragraph Heading</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-paragraph-indent.html">Paragraph Indent</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-paragraph.html">Paragraph</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-4-">
                        List
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-list-special.html">List Special</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/21-typography/type-list.html">List</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>

<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-4"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-4">23. Layout</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Layout Primitives
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/23-layout/flex.html">Flex</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/23-layout/grid.html">Grid</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/23-layout/layers.html">Layers</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>

<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-5"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-5">24. Appearance</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Object Properties
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-border.html">Border</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-color.html">Color</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-corner.html">Corner</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-fill.html">Fill</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-height.html">Height</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-margin.html">Margin</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-padding.html">Padding</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-shadow.html">Shadow</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/object-width.html">Width</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-2-">
                        Line & Rules
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/line-rule.html">Line rule</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/24-appearance/line.html">Line </a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>

<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-6"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-6">31. Modules</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Buttons
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/31-modules/button-2.html">Button 2</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/button-group.html">Button Group</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/button.html">Button</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/tab.html">Tab</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-2-">
                        Inputs & Forms
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/31-modules/checkbox.html">Checkbox</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/drilldown.html">Drilldown</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/dropdown-2.html">Dropdown 2</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/dropdown.html">Dropdown</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/form.html">Form</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/formfield.html">Formfield</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/input-2.html">Input 2</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/input-3.html">Input 3</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/input.html">Input</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/label-2.html">Label 2</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/label.html">Label</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/radio.html">Radio</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/select.html">Select</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/toggle.html">Toggle</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-3-">
                        Status & Feedback
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/31-modules/alert.html">Alert</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/badge.html">Badge</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/popover.html">Popover</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/preloader.html">Preloader</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/progress.html">Progress</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/spinner.html">Spinner</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/toast.html">Toast</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/tooltip.html">Tooltip</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-4-">
                        Navigation
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/31-modules/breadcrumb.html">Breadcrumb</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/nav.html">Nav</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/pagination.html">Pagination</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/rail.html">Rail</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/ribbon.html">Ribbon</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/sidebar.html">Sidebar</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/ticker.html">Ticker</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/toc.html">Toc</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-5-">
                        Cards & Content
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/31-modules/accordion.html">Accordion</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/blogpost.html">Blogpost</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/card.html">Card</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/chip.html">Chip</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/cover.html">Cover</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/figure.html">Figure</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/graphic.html">Graphic</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/hero.html">Hero</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/placeholder.html">Placeholder</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/preview.html">Preview</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/summary.html">Summary</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/widget.html">Widget</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-6-">
                        Media
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/31-modules/carousel-2.html">Carousel 2</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/carousel-3.html">Carousel 3</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/carousel.html">Carousel</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/gallery.html">Gallery</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/iframe.html">Iframe</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/image-slider.html">Image Slider</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/image.html">Image</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/map.html">Map</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/video.html">Video</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-7-">
                        Data Display
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/31-modules/chat.html">Chat</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/icon-bar.html">Icon Bar</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/icon-font.html">Icon Font</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/icon.html">Icon</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/portfolio.html">Portfolio</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/social.html">Social</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/table.html">Table</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/tags-list.html">Tags List</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/timeline.html">Timeline</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/timestamp.html">Timestamp</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/vcard-2.html">Vcard 2</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/vcard.html">Vcard</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-8-">
                        Misc
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/31-modules/box-2.html">Box 2</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/box.html">Box</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/caption.html">Caption</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/cookie.html">Cookie</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/cursor.html">Cursor</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/dimensions.html">Dimensions</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/divider.html">Divider</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/interactive.html">Interactive</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/modal-2.html">Modal 2</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/modal.html">Modal</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/31-modules/spacer.html">Spacer</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>

<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-7"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-7">61. TypeScript Features</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Interactive Features
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_animations.html">Animations</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_buttons.html">Buttons</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_content.html">Content</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_data.html">Data</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_elements.html">Elements</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_forms.html">Forms</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_media.html">Media</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_mouse.html">Mouse</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_scroll.html">Scroll</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_storage.html">Storage</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/typescript/ts_utilities.html">Utilities</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>

<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-8"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-8">90. Architecture</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Architecture Reference
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/architecture/01_core.html">01 Core</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/11_reset.html">11 Reset</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/12_lexicon.html">12 Lexicon</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/13_rhythm.html">13 Rhythm</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/21_typography.html">21 Typography</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/22_flow.html">22 Flow</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/23_layout.html">23 Layout</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/24_appearance.html">24 Appearance</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/31_modules.html">31 Modules</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/32_utilities.html">32 Utilities</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/33_overrides.html">33 Overrides</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/91_development.html">91 Development</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/architecture/index.html">Index</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>

<section
    class="ss-c-sidebar__section"
    role="region"
    aria-labelledby="section-9"
>
    <details class="ss-c-sidebar__accordion">
        <summary class="ss-c-sidebar__accordion__header">
            <span class="ss-c-sidebar__accordion__icon">▶</span>
            <h2 id="section-9">99. Tests</h2>
        </summary>

        <div class="ss-c-sidebar__accordion__content">
            
            <details class="ss-c-sidebar__accordion ss-c-sidebar__accordion--nested">
                <summary class="ss-c-sidebar__accordion__header ss-c-sidebar__accordion__header--nested">
                    <span class="ss-c-sidebar__accordion__icon">▶</span>
                    <h3 id="group-1-">
                        Test Pages
                    </h3>
                </summary>

                <div class="ss-c-sidebar__accordion__content">
                    

                    <ul class="ss-c-sidebar__subsection__list">
                        
                        <li>
                             
                            <a href="/src/html/tests/test.html">Test</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/tests/test_class_coverage.html">Class Coverage</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/tests/test_frame_login.html">Frame Login</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/tests/test_layers.html">Layers</a>
                        </li>
                        
                        <li>
                             
                            <a href="/src/html/tests/test_layout_scapeframe.html">Scapeframe</a>
                        </li>
                        
                    </ul>
                </div>
            </details>
            
        </div>
    </details>
</section>



        </section>
    </nav>

    <div class="ss-c-sidebar__control" role="group" aria-label="Sidebar Toggle">
        <button
            class="ss-c-flipper--left"
            id="sidebar_left_switch"
            aria-pressed="false"
            aria-label="Toggle Left Sidebar"
        >
            <span class="ss-c-flipper__icon"></span>
        </button>
    </div>
</aside>
