@charset "utf-8";

@use "sass:math";
@use "sass:map";

@forward "theme";

@forward "app";

// Import Sturnia Graph styles
@use "@starling-cloud/sturnia-graph/scss";

@import "@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "maplibre-gl/dist/maplibre-gl.css";

figure.map{
    width:100%;
}

.aspect-map{
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.map_controls{
   position: absolute;
   z-index: 1000;
   top:10px;
   right:10px;
}

a.mapboxgl-ctrl-logo{
    display: none;
}

input[type="checkbox"]:checked {
  background: var(--color_text_primary);
}
