////
///
/// Text Align Utilities
/// ===========================================================================
///
/// Explicit text alignment override utilities.
/// One responsibility per file.
///
/// @group Utilities.Typography
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

.ss-text-left {
    text-align: left;
}
.ss-text-center {
    text-align: center;
}
.ss-text-right {
    text-align: right;
}
.ss-text-justify {
    text-align: justify;
}
.ss-text-start {
    text-align: start;
}
.ss-text-end {
    text-align: end;
}
