////
///
/// Text Wrap Utilities
/// ===========================================================================
///
/// @group Utilities.Typography
/// @author Scape Press
/// @link https://scape.style
/// @since 0.3.0
/// @access public
///
////

@layer ss.utilities {
    .ss-u-text-wrap {
        white-space: normal;
    }
    .ss-u-text-nowrap {
        white-space: nowrap;
    }
    .ss-u-text-balance {
        text-wrap: balance;
    }
    .ss-u-text-pretty {
        text-wrap: pretty;
    }

    .ss-u-break-normal {
        word-break: normal;
        overflow-wrap: normal;
    }
    .ss-u-break-words {
        overflow-wrap: break-word;
    }
    .ss-u-break-all {
        word-break: break-all;
    }
    .ss-u-break-keep {
        word-break: keep-all;
    }
}
