////
///
/// Paragraph Default Configuration
/// ===========================================================================
///
/// Base configuration for default paragraph styles.
///
/// @group Typography.Paragraph.Base.Default
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

@use "sass:map";
@use "../../../../01-core/external" as *;

// ============================================================================
// Configuration
// ============================================================================

$ss-paragraph-default-config: (
    margin-block-end: baseline(4),
    text-indent: 0,
    text-justify: none,
    text-overflow: clip,
    text-transform: none,
    text-decoration: none,
    overflow-wrap: break-word,
    word-break: break-word,
    hide-empty: true,
) !default;

// $ss-paragraph-default-config: (
//     font-family: inherit,
//     font-size: inherit,
//     font-weight: inherit,
//     line-height: inherit,
//     color: inherit,
//     margin-block: 0,
//     text-align: inherit,
// ) !default;
