////
///
/// Print Utilities
/// ===========================================================================
///
/// Display utilities scoped to print media.
///
/// @group Utilities.Print
/// @author Scape Press
/// @link https://scape.style
/// @since 0.3.0
/// @access public
///
////

@media print {
    @layer ss.utilities {
        .ss-u-print-none {
            display: none !important;
        }
        .ss-u-print-block {
            display: block !important;
        }
        .ss-u-print-inline {
            display: inline !important;
        }
        .ss-u-print-inline-block {
            display: inline-block !important;
        }
        .ss-u-print-flex {
            display: flex !important;
        }
        .ss-u-print-inline-flex {
            display: inline-flex !important;
        }
        .ss-u-print-grid {
            display: grid !important;
        }
        .ss-u-print-table {
            display: table !important;
        }
        .ss-u-print-table-row {
            display: table-row !important;
        }
        .ss-u-print-table-cell {
            display: table-cell !important;
        }
    }
}

@media screen {
    @layer ss.utilities {
        .ss-u-screen-none {
            display: none !important;
        }
    }
}
