<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Stylescape{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}{% endblock %}
</head>

<body>

    {#- \ Body | Ribbon #}
    {%- block ribbon--top -%}
    <header class="ribbon" id="ribbon" role="banner">
        <h1 id="ribbon__title" class="ribbon__title" role="heading" aria-level="1">
            <div class="ribbon__title_logo">
                <a href="/" class="">

                </a>
            </div>
            <div class="ribbon__title_text">
                <a href="/" class="">
                    STYLESCAPE
                </a>
            </div>
        </h1>
        <nav id="ribbon__nav" class="ribbon__nav" role="navigation">
            <button aria-label="Toggle navigation" aria-expanded="false" type="button" data-view-component="true"
                id="ribbon__nav_button" class="menu_button ribbon__nav_button">
                <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24"
                    data-view-component="true" class="octicon octicon-three-bars">
                    <path fill-rule="evenodd"
                        d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z">
                    </path>
                </svg>
            </button>
            <ul id="ribbon__nav__list" class="ribbon__nav__list">
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">
                        Studio
                    </a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">
                        Stories
                    </a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">
                        Services
                    </a>
                </li>

            </ul>
        </nav>
        <menu id="ribbon__menu" class="ribbon__menu" role="menubar">
        </menu>


    </header>
    {%- endblock ribbon--top -%}
    {#- / Body | Layout | Ribbon #}

    <header>
        <h1>{% block header %}{% endblock %}</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}<p>&copy; 2025 Stylescape</p>{% endblock %}
    </footer>

</body>

</html>
