///
/// Font size variables.
///
/// These variables define different levels of font sizes. The values can be
/// adjusted to match the design system's requirements.
/// base font size = q(24)  1q = q(6)
///
@use "../../../01-core/external" as *;

$font_size_scale_01: 1 !default;
$font_size_scale_02: 2 !default;
$font_size_scale_03: 3 !default;
$font_size_scale_04: 4 !default;
$font_size_scale_05: 5 !default;
$font_size_scale_06: 6 !default;
$font_size_scale_07: 7 !default;
$font_size_scale_08: 8 !default;
$font_size_scale_09: 9 !default;
$font_size_scale_10: 10 !default;
$font_size_scale_11: 11 !default;
$font_size_scale_12: 12 !default;
