////
///
/// Heading Paragraph Typography Mixins Module
/// ===========================================================================
/// ...
///
/// @group Paragraph
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use "../../../12-lexicon/tokens" as *;
// @use "../../mixins" as *;
@use "../../character" as *;
@use "../../font" as *;
@use "default" as *;

// ============================================================================
// Mixins
// ============================================================================

// ============================================================================
// Paragraph Styles | Heading
// ============================================================================

// Variables
// ============================================================================
/// Font family for headings.
$heading-font-family: "Helvetica Neue", Arial, sans-serif;

/// Default color for headings.
$heading-color: var(--color_text_primary);

// $heading-weight: 700; // Default weight for headings
// $heading-line-height: 1.3;
// $heading-margin-bottom: q(16);

// Font sizes for different heading levels (h1 through h6)
$heading-sizes: (
    1: 3.75rem,
    2: 3rem,
    3: 2.25rem,
    4: 1.875rem,
    5: q(24),
    6: 1.25rem,
);

// @mixin font--size ($val) {
//     font-size: basepoint($val);
//     line-height: baseline($val);
// }

// Mixins
// ============================================================================

// Base Heading Mixin
// ----------------------------------------------------------------------------

/// Base mixin for heading styles.
///
/// This mixin applies the default styles for headings, including font weight,
/// margin, and color, ensuring consistent formatting across all headings.
@mixin heading_normal {
    @include paragraph--normal;
    @include font--weight_400;
    // margin-bottom:    $baseline;
    // margin-bottom: map.get($q-baseline, 1);
    // margin: 0 0 $heading-margin-bottom 0;
    color: $heading-color;

    // Styles for headings with uppercase letters
    // &.uppercase, &.caps {
    //     text-transform: uppercase;
    // }
}

// Heading Mixins
// ----------------------------------------------------------------------------

/// Mixin for specific heading levels.
///
/// These mixins apply the appropriate font size to each heading level
/// (h1 through h6), based on the values defined in `$heading-sizes`.
@mixin heading_01 {
    @include heading_normal;
    @include font--size_09;
}

@mixin heading_02 {
    @include heading_normal;
    @include font--size_08;
}

@mixin heading_03 {
    @include heading_normal;
    @include font--size_07;
}

@mixin heading_04 {
    @include heading_normal;
    @include font--size_06;
}

@mixin heading_05 {
    @include heading_normal;
    @include font--size_05;
    // @include font--size('04');
}

@mixin heading_06 {
    @include heading_normal;
    @include font--size_04;
    // @include font--size('03');
}

/// Mixin for uppercase headings.
///
/// These mixins apply the uppercase text transformation to the headings.
@mixin heading_01_caps {
    @include heading_01;
    @include character--uppercase;
}

@mixin heading_02_caps {
    @include heading_02;
    @include character--uppercase;
}

@mixin heading_03_caps {
    @include heading_03;
    @include character--uppercase;
}

@mixin heading_04_caps {
    @include heading_04;
    @include character--uppercase;
}

@mixin heading_05_caps {
    @include heading_05;
    @include character--uppercase;
}

@mixin heading_06_caps {
    @include heading_06;
    @include character--uppercase;
}

// @mixin heading_01($uppercase: false) {
//     @include heading_normal;
//     @include font--size_06;
//     @if $uppercase {
//         @include character--uppercase;
//     }
// }
