@use "sass:map";

$ss-accordion-config: (
    border: 1px solid var(--ss-color-border, var(--ss-color-foreground)),
    radius: var(--ss-radius-md),

    header-padding: 0.875rem 1rem,
    header-bg: transparent,
    header-bg-active: var(--ss-color-surface, transparent),
    header-weight: 500,

    body-padding: 1rem,
) !default;
