@use "sass:map";
@use "../../01-core/external" as *;

$ss-accordion-config: (
    border: q(1) solid var(--ss-color-border, var(--ss-color-foreground)),
    radius: var(--ss-radius-md),
    header-padding: q(14) q(16),
    header-bg: transparent,
    header-bg-active: var(--ss-color-surface, transparent),
    header-weight: 500,

    body-padding: q(16),
) !default;
