// ============================================================================
// Poster
// ============================================================================

////
///
/// Letter Spacing Font Typography Mixins Module
/// ===========================================================================
///
/// @group Font
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////


// ============================================================================
// Use
// ============================================================================

@use "../../../dev" as *;
@use "../../../variables" as *;
// // @use "../../mixins" as *;

// @use "font_stack" as *;


// ============================================================================
// Mixins
// ============================================================================


// ============================================================================
// Typography | Font | Letter Spacing
// ============================================================================

/// Letter spacing variables.
/// ---------------------------------------------------------------------------
///
/// These variables define different levels of letter spacing. The values can be
/// adjusted as needed to match the design system.
$letter_spacing_01:  1 !default;
$letter_spacing_02:  2 !default;
$letter_spacing_03:  3 !default;
$letter_spacing_04:  4 !default;
$letter_spacing_05:  5 !default;
$letter_spacing_06:  6 !default;
$letter_spacing_07:  7 !default;
$letter_spacing_08:  8 !default;
$letter_spacing_09:  9 !default;
$letter_spacing_10: 10 !default;
$letter_spacing_11: 11 !default;
$letter_spacing_12: 12 !default;

/// Mixin to apply letter spacing based on a multiplier.
/// ---------------------------------------------------------------------------
///
/// This mixin calculates the letter spacing using a base unit `$q` multiplied
/// by a specified value.
///
/// @param {Number} $val - The multiplier for the base letter spacing unit.
@mixin letter_spacings ($val) {
    letter-spacing: calc($q * $val);
}

/// Mixin for zero letter spacing.
///
/// This mixin sets the letter spacing to 0px.
@mixin letter_spacing_00 { letter-spacing:  0px; }

/// Mixins for positive letter spacing.
///
/// These mixins apply positive letter spacing using predefined variables.
@mixin letter_spacing_01 { @include letter_spacings($letter_spacing_01); }
@mixin letter_spacing_02 { @include letter_spacings($letter_spacing_02); }
@mixin letter_spacing_03 { @include letter_spacings($letter_spacing_03); }
@mixin letter_spacing_04 { @include letter_spacings($letter_spacing_04); }
@mixin letter_spacing_05 { @include letter_spacings($letter_spacing_05); }
@mixin letter_spacing_06 { @include letter_spacings($letter_spacing_06); }
@mixin letter_spacing_07 { @include letter_spacings($letter_spacing_07); }
@mixin letter_spacing_08 { @include letter_spacings($letter_spacing_08); }
@mixin letter_spacing_09 { @include letter_spacings($letter_spacing_09); }
@mixin letter_spacing_10 { @include letter_spacings($letter_spacing_10); }
@mixin letter_spacing_11 { @include letter_spacings($letter_spacing_11); }
@mixin letter_spacing_12 { @include letter_spacings($letter_spacing_12); }

/// Mixins for negative letter spacing.
///
/// These mixins apply negative letter spacing (i.e., tightening the space between letters)
/// using predefined variables.
@mixin letter_spacing_min_01 { @include letter_spacings(-$letter_spacing_01); }
@mixin letter_spacing_min_02 { @include letter_spacings(-$letter_spacing_02); }
@mixin letter_spacing_min_03 { @include letter_spacings(-$letter_spacing_03); }
@mixin letter_spacing_min_04 { @include letter_spacings(-$letter_spacing_04); }
@mixin letter_spacing_min_05 { @include letter_spacings(-$letter_spacing_05); }
@mixin letter_spacing_min_06 { @include letter_spacings(-$letter_spacing_06); }
@mixin letter_spacing_min_07 { @include letter_spacings(-$letter_spacing_07); }
@mixin letter_spacing_min_08 { @include letter_spacings(-$letter_spacing_08); }
@mixin letter_spacing_min_09 { @include letter_spacings(-$letter_spacing_09); }
@mixin letter_spacing_min_10 { @include letter_spacings(-$letter_spacing_10); }
@mixin letter_spacing_min_11 { @include letter_spacings(-$letter_spacing_11); }
@mixin letter_spacing_min_12 { @include letter_spacings(-$letter_spacing_12); }
