// ============================================================================
// Poster
// ============================================================================

////
/// 
/// Default Font Typography Mixins Module
/// ===========================================================================
/// 
/// @group Font
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
/// 
////


// ============================================================================
// Use
// ============================================================================

@use "../../dev" as *;
@use "../../variables" as *;
@use "../../mixins" as *;

@use "font_stack" as *;


// ============================================================================
// Mixins
// ============================================================================


/// Mixin for applying default font settings.
/// 
/// This mixin sets the base font-family, smoothing, rendering, and various font properties 
/// to ensure a consistent and optimized text appearance across different browsers.
/// 
/// - `font-family`: Sets the font stack to a sans-serif family.
/// - `font-smooth`, `-webkit-font-smoothing`, `-moz-osx-font-smoothing`: Optimizes font rendering.
/// - `text-rendering`: Enhances legibility.
/// - `font-language-override`, `font-optical-sizing`: Adjusts language-specific and optical settings.
/// - `font-style`: Sets the font style to normal.
/// - `font-variant-*`: Configures various font variant properties, such as alternates, caps, ligatures, etc.
/// - `font-kerning`, `font-feature-settings`, `font-size-adjust`, `font-stretch`: Configures advanced typography settings.
/// - `color`: Sets the default text color.
/// - `background-color`: Ensures no background color is applied by default.
@mixin font_default {
    font-family:              $font_stack_sans_serif;

    font-smooth:                auto;
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
    text-rendering:             optimizeLegibility;
    font-language-override:     normal;
    font-optical-sizing:        auto; 
    font-style:                 normal;

    // font-variant:            normal;
    font-variant-alternates:    normal;
    font-variant-caps:          normal;             // normal | small-caps | all-small-caps | petite-caps | all-petite-caps | unicase | titling-caps | initial | inherit | unset
    font-variant-east-asian:    normal;             // normal | [ <east-asian-variant-values> || <east-asian-width-values> || ruby ]where <east-asian-variant-values> = [ jis78 | jis83 | jis90 | jis04 | simplified | traditional ] <east-asian-width-values> = [ full-width | proportional-width ]
    font-variant-emoji:         text;               // normal | text | emoji
    font-variant-ligatures:     normal;             // normal | none | [ <common-lig-values> || <discretionary-lig-values> || <historical-lig-values> || <contextual-alt-values> ]
    font-variant-numeric:       normal;             // normal | [ <numeric-figure-values> || <numeric-spacing-values> || <numeric-fraction-values> || ordinal || slashed-zero ]
    font-variant-position:      normal;
    
    //font-variation-settings
    font-kerning:               normal;
    font-feature-settings:      none;
    font-size-adjust:           none;
    // Consider using "normal" unless a specific stretch is needed
    font-stretch:               100%;
    // color:                      $color_02;
    color:                      black;
    background-color:           none;
}


/// Applies the default font settings to the `<html>` element.
/// 
/// This ensures that all text in the document inherits these optimized font settings.
html { @include font_default; }


// @supports (font-variant-emoji: emoji) {
//     html {
//         font-variant-emoji: emoji;
//     }
// }