// ============================================================================
// Poster
// ============================================================================

////
/// 
/// Default Font Typography Mixins Module
/// ===========================================================================
/// Provides a set of mixins for applying default font settings across your 
/// project, ensuring a consistent typographic foundation. This module handles
/// font family settings, smoothing, rendering optimizations, and advanced
/// typographic controls such as ligatures and kerning. It's designed to be
/// easily integrated into any stylesheet where typography consistency and
/// performance are essential.
/// 
/// ### Key Features
/// - Applies a default sans-serif font stack for clean and modern text appearance.
/// - Enhances font rendering across different browsers with smoothing and legibility optimizations.
/// - Configures a variety of font properties, including font variants, kerning, and feature settings.
/// - Ensures consistent typographic settings by applying these styles to root elements like `<html>`.
///
/// ### Use Cases
/// Use this module to set a standard typographic baseline for your entire project,
/// particularly useful in global stylesheets or component libraries where a consistent 
/// and optimized font display is required.
/// 
/// @group Font
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
/// 
////


// ============================================================================
// Use
// ============================================================================

@use "../../dev" as *;
@use "../../variables" as *;
@use "../../mixins" as *;

@use "font_stack" as *;


// ============================================================================
// Mixins
// ============================================================================


///
/// Applies default font settings for consistent and optimized typography.
/// ---------------------------------------------------------------------------
/// 
/// This mixin sets the base font-family, font smoothing, rendering, and various font properties 
/// to ensure a consistent and optimized text appearance across different browsers.
/// 
/// ### Features
/// 
/// - `font-family`: Sets the font stack to a sans-serif family.
/// - `font-smooth`, `-webkit-font-smoothing`, `-moz-osx-font-smoothing`: Optimizes font rendering.
/// - `text-rendering`: Enhances legibility.
/// - `font-language-override`, `font-optical-sizing`: Adjusts language-specific and optical settings.
/// - `font-style`: Sets the font style to normal.
/// - `font-variant-*`: Configures various font variant properties, such as alternates, caps, ligatures, etc.
/// - `font-kerning`, `font-feature-settings`, `font-size-adjust`, `font-stretch`: Configures advanced typography settings.
/// - `color`: Sets the default text color.
/// - `background-color`: Ensures no background color is applied by default.
/// 
/// @example scss - Usage
///   .text_default {
///     @include font_default;
///   }
///
@mixin font_default {
    font-family:                $font_stack_sans_serif;

    // Font rendering and smoothing
    font-smooth:                auto;
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
    text-rendering:             optimizeLegibility;

    // Basic font settings
    font-language-override:     normal;
    font-optical-sizing:        auto; 
    font-style:                 normal;

    // Font variants for advanced typographic features
    // font-variant:            normal;
    font-variant-alternates:    normal;
    font-variant-caps:          normal;             
    font-variant-east-asian:    normal;             
    font-variant-emoji:         text;               
    font-variant-ligatures:     normal;             
    font-variant-numeric:       normal;             
    font-variant-position:      normal;
    
    // Advanced font settings
    font-kerning:               normal;
    // font-feature-settings:      none;
    font-feature-settings:      'kern' 1, 'liga' 1; // Enable kerning and common ligatures by default
    font-size-adjust:           none;
    font-stretch:               100%;

    // Text and background colors
    // color:                      black;
    color:                      $color_02; // Assumes $color_02 is a predefined variable in the variables module
    // background-color:           none;
    background-color:           transparent; // Ensures no default background color
}
