{% extends "base.html.jinja" %}

{% block title %}Your Page Title{% endblock %}

{% block content %}
<p>This is your content for this page.</p>
<ul>
    <li><a href="a.html">a</a></li>
    <li><a href="b.html">b</a></li>
    <li><a href="c.html">c</a></li>
    <li><a href="buttons.html">buttons</a></li>
</ul>
{% endblock %}
