<!-- templates/includes/lists.html.jinja -->
<section id="lists">
    <h2>Lists</h2>
    <ul>
        <li>Unordered</li>
    </ul>
    <ol>
        <li>Ordered</li>
    </ol>
    <dl>
        <dt>Term</dt>
        <dd>Definition</dd>
    </dl>
    <menu>
        <li>Menu</li>
    </menu>

</section>
