<!-- templates/includes/nav.html.jinja -->
<nav>
    <ul class="nav-list">
        {% for item in [
        { 'title': 'A', 'href': 'a.html' },
        { 'title': 'B', 'href': 'b.html' },
        { 'title': 'C', 'href': 'c.html' },
        { 'title': 'Buttons', 'href': 'buttons.html' },
        { 'title': 'Everything', 'href': 'everything.html' }
        ] %}
        <li><a href="{{ item.href }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</nav>
