// Copyright 2025 Starling Associates BV. All rights reserved.

// ============================================================================
// Imports
// ============================================================================

@use '../../../../variables' as *;
@use '../../../../dev' as *;
@use '../../../soul_type' as *;
@use '../../grid' as *;

// ============================================================================
// Main | Content
// ============================================================================

.main_content {
    @include grid_col_24;
    max-width: 100%;
    min-height: 100%;
    @include col_24;
    padding: $q * 16;
}

.main_content_section_header {
    @include col_24;
    @include font_weight_500;
    @include character_uppercase;
    margin-top: $q * 16;
    margin-bottom: $q * 16;
}

.main_content_section_main {
    @include col_24;
    margin-top: $q * 16;
    margin-bottom: $q * 16;
}

.main_content_section_footer {
    @include col_24;
    margin-top: $q * 16;
    margin-bottom: $q * 16;
}
