// ============================================================================
// Imports
// ============================================================================
@use '../../components' as *;
@use '../../layout' as *;
@use '../../../variables' as *;
@use '../../type' as *;
@use '../../body_cells' as *;
@use '../../../dev' as *;
// ============================================================================
// Container | Ribbon | Panel
// ============================================================================

@mixin ribbon_panel {
    display: grid;
    gap: $ribbon_spacing * 1;
    justify-items: start;
    align-items: center;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    // Style
    // @include color_scheme_light;
    border-radius: $q * 4;
    border: 0.25px solid grey;
    box-shadow: calc($q * 4) calc($q * 0) calc($q * 8) calc($q * 0) rgba(0, 0, 0, 0.2);
    // Text
    font-size: $q * 12;
    word-wrap: break-word;
    background-clip: padding-box;
    list-style: none;
    // Position
    z-index: z('ribbon');
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    left: auto;
    right: 0;
    width: $q * 180;
    margin-top: $q * 8;
    padding-bottom: $ribbon_spacing * 2;
    padding-top: $ribbon_spacing * 2;
    .ribbon_panel_line {
        @include reset_bleed;
        // @include color_scheme_light;
        border: 0.25px solid grey;
        opacity: 0.5;
    }
    ::before {
        content: '';
        border-left: $q * 4 solid transparent;
        border-right: $q * 4 solid transparent;
        border-bottom: $q * 4 solid white;
        position: absolute;
        top: -$q * 4;
        right: $q * 6;
        z-index: 1;
    }
}

.ribbon_panel {
    @include ribbon_panel;
    .ribbon_panel_header,
    .ribbon_panel_section,
    .ribbon_panel_section_header,
    .ribbon_panel_section_header .ribbon_panel_section_item {
        @include reset_bleed;
        @include font_size('03');
        width: 100%;
        padding-left: $menu_margin * 2;
        padding-right: $menu_margin * 2;
    }
    .ribbon_panel_header {
        @include font_weight_500;
        text-align: center;
        svg {
            background-color: transparent !important;
        }
    }
    .ribbon_panel_section_header {
        @include font_weight_500;
    }
    .ribbon_panel_section {
        @include font_weight_300;
        display: grid;
        gap: $ribbon_spacing * 1;
        justify-items: start;
        align-items: center;
        grid-auto-rows: min-content;
        grid-auto-flow: row;
        .ribbon_panel_section_item {
            @include hyperlink_clean;
            box-sizing: border-box;
        }
        &.ribbon_panel_icon_grid {
            @include grid_col_05;
            .ribbon_launcher_item {
                .ribbon_launcher_item_icon svg {
                    background-color: transparent;
                }
            }
        }
    }
}
