// ============================================================================
// Imports
// ============================================================================
@use "../../../dev" as *;
@use "../../../variables" as *;


// ============================================================================
// Container | Ribbon | Base
// ============================================================================

///
/// Mixin: ribbon
/// ----------------------------------------------------------------------------
/// A layout container ribbon with fixed height and shadow, using CSS Grid.
///
/// Structure:
///  ┌──────────────────────────────────────────────┐
///  │ ribbon_left  |   ribbon_mid   | ribbon_right │
///  └──────────────────────────────────────────────┘
///
@mixin ribbon {
    // display: grid;
    align-items: stretch;
    box-sizing: border-box;
    pointer-events: all;

    // Layout
    width: 100%;
    height: calc($q * 40);
    padding-left: calc($q * 4);
    padding-right: calc($q * 4);

    // Grid
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: calc($q * 40);
    grid-template-areas: "ribbon_left ribbon_mid ribbon_right";
    gap: 0;

    // Layering and Visuals
    z-index: z("ribbon");
    background-color: var(--color-foreground);
    color: var(--color-background);
}
