@use "sass:map";
@use "../../01-core/external" as *;

$ss-brand-config: (
    font-size: var(--ss-font-size-md),
    font-weight: var(--ss-font-weight-bold),
    tracking: var(--ss-tracking-tight),
) !default;
