{% extends "../base.html.jinja" %} {% set title = "Object | Fill" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Object | Fill | Text Colors" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="grid">
            <label>.object--fill--text_primary</label>
            <div class="swatch object--fill--text_primary">&nbsp;</div>
            <label>.object--fill--text_secondary</label>
            <div class="swatch object--fill--text_secondary">&nbsp;</div>
            <label>.object--fill--text_tertiary</label>
            <div class="swatch object--fill--text_tertiary">&nbsp;</div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Object | Fill | Line Colors" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="grid">
            <label>.object--fill--line_primary</label>
            <div class="swatch object--fill--line_primary">&nbsp;</div>
            <label>.object--fill--line_secondary</label>
            <div class="swatch object--fill--line_secondary">&nbsp;</div>
            <label>.object--fill--line_tertiary</label>
            <div class="swatch object--fill--line_tertiary">&nbsp;</div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Object | Fill | Fill Colors" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="grid">
            <label>.object--fill--fill_primary</label>
            <div class="swatch object--fill--fill_primary">&nbsp;</div>
            <label>.object--fill--fill_secondary</label>
            <div class="swatch object--fill--fill_secondary">&nbsp;</div>
            <label>.object--fill--fill_tertiary</label>
            <div class="swatch object--fill--fill_tertiary">&nbsp;</div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Object | Fill | Accent Colors" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="grid">
            <label>.object--fill--accent_primary</label>
            <div class="swatch object--fill--accent_primary">&nbsp;</div>
            <label>.object--fill--accent_secondary</label>
            <div class="swatch object--fill--accent_secondary">&nbsp;</div>
            <label>.object--fill--accent_tertiary</label>
            <div class="swatch object--fill--accent_tertiary">&nbsp;</div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Object | Fill | State Colors" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="grid">
            <label>.object--fill--state_visited</label>
            <div class="swatch object--fill--state_visited">&nbsp;</div>
            <label>.object--fill--state_focus</label>
            <div class="swatch object--fill--state_focus">&nbsp;</div>
            <label>.object--fill--state_hover</label>
            <div class="swatch object--fill--state_hover">&nbsp;</div>
            <label>.object--fill--state_active</label>
            <div class="swatch object--fill--state_active">&nbsp;</div>
            <label>.object--fill--state_link</label>
            <div class="swatch object--fill--state_link">&nbsp;</div>
            <label>.object--fill--state_enabled</label>
            <div class="swatch object--fill--state_enabled">&nbsp;</div>
            <label>.object--fill--state_disabled</label>
            <div class="swatch object--fill--state_disabled">&nbsp;</div>
            <label>.object--fill--state_current</label>
            <div class="swatch object--fill--state_current">&nbsp;</div>
            <label>.object--fill--state_checked</label>
            <div class="swatch object--fill--state_checked">&nbsp;</div>
            <label>.object--fill--state_invalid</label>
            <div class="swatch object--fill--state_invalid">&nbsp;</div>
            <label>.object--fill--state_muted</label>
            <div class="swatch object--fill--state_muted">&nbsp;</div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Object | Fill | Log Colors" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="grid">
            <label>.object--fill--log_trace</label>
            <div class="swatch object--fill--log_trace">&nbsp;</div>
            <label>.object--fill--log_debug</label>
            <div class="swatch object--fill--log_debug">&nbsp;</div>
            <label>.object--fill--log_success</label>
            <div class="swatch object--fill--log_success">&nbsp;</div>
            <label>.object--fill--log_info</label>
            <div class="swatch object--fill--log_info">&nbsp;</div>
            <label>.object--fill--log_notice</label>
            <div class="swatch object--fill--log_notice">&nbsp;</div>
            <label>.object--fill--log_warning</label>
            <div class="swatch object--fill--log_warning">&nbsp;</div>
            <label>.object--fill--log_audit</label>
            <div class="swatch object--fill--log_audit">&nbsp;</div>
            <label>.object--fill--log_error</label>
            <div class="swatch object--fill--log_error">&nbsp;</div>
            <label>.object--fill--log_security</label>
            <div class="swatch object--fill--log_security">&nbsp;</div>
            <label>.object--fill--log_critical</label>
            <div class="swatch object--fill--log_critical">&nbsp;</div>
            <label>.object--fill--log_alert</label>
            <div class="swatch object--fill--log_alert">&nbsp;</div>
            <label>.object--fill--log_emergency</label>
            <div class="swatch object--fill--log_emergency">&nbsp;</div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>
</section>

{%- endblock content %}
