@mixin ss-paragraph-left {
    text-align: left;
}

@mixin ss-paragraph-right {
    text-align: right;
}

@mixin ss-paragraph-center {
    text-align: center;
}

@mixin ss-paragraph-justify {
    text-align: justify;
}
