@use "../../variables" as *;

/// Color variants
@mixin fill--info {
    background-color: var(--color_info);
}

@mixin fill--success {
    background-color: var(--color_success);
}

@mixin fill--warning {
    background-color: var(--color_warning);
}

@mixin fill--error {
    background-color: var(--color_error);
}

.fill--info {
    @include fill--info;
}

.fill--success {
    @include fill--success;
}

.fill--warning {
    @include fill--warning;
}

.fill--error {
    @include fill--error;
}
