.aside_left_menu {
    border-left: $kyu solid;
    display: none;
    visibility: hidden;
    width: 0;
    overflow: auto;
    display: flex;
    overflow-y: scroll;
    // -webkit-transition: width 1s ease-in-out;
    // -moz-transition: width 1s ease-in-out;
    // -o-transition: width 1s ease-in-out;
    // transition: width 1s ease-in-out;
    &.active {
      display: block;
      visibility: visible;
      width: $kyu * 180;
      margin-top: $ribbon_spacing;
      margin-bottom: $ribbon_spacing;
      margin-left: $ribbon_spacing;
      padding-left: $ribbon_spacing * 2;
      padding-right: $ribbon_spacing;
      ::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
      }
    }
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    ::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
    }
  }