.aside_left_nav {
  max-height: 100%;
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: $baseline_04;
  gap: $ribbon_spacing;
  grid-template-areas:
  "aside_left_nav_top"
  "aside_left_nav_mid"
  "aside_left_nav_bot";
  padding-top: $ribbon_spacing;
  padding-bottom: $ribbon_spacing;
  overflow: visible;

  overflow-x: visible;

  .aside_left_nav_list {
    @include color_scheme_light;
    overflow: visible;
    overflow-x: visible;

    .aside_left_nav_list_item {
      // @include flex_row;
      @include icon_size_04;
      // flex-wrap: wrap;
      overflow: visible;
      overflow-x: visible;

      .aside_left_nav_list_item_icon {
        @include reset_bleed;
        @include icon_size_04;
        @include color_scheme_light;
        background-color: transparent;
        overflow: visible;
        overflow-x: visible;

        svg {
          @include color_scheme_light;
          stroke-width: 0;
        }
      }
      .aside_left_nav_list_item_text {
        @include font_size_02;
        @include hyperlink_clean;
        @include color_scheme_light;
        margin-left: $ribbon_spacing * 2;
        overflow: visible;
        overflow-x: visible;

        a {
          @include hyperlink_clean; 
        }
      }
    }
  }
}

.aside_left_nav_list_top {
  grid-area: aside_left_nav_top;
  @include icon_bar_vertical;
}

.aside_left_nav_list_bot {
  grid-area: aside_left_nav_bot;
  @include icon_bar_vertical;  
}