// Container Styles | Main | Footer
// ============================================================================


.main_footer {
  // @include flex_col;
  @include color_scheme_light;
  grid-area: main_footer;
  // align-items: end;
  justify-self: center;
  align-self: end;
  // align-items: end;
  // justify-items: center;
  // text-align: center;
}

