// Container Styles | Main | Header
// ============================================================================


.main_header {
  @include color_scheme_light;
  grid-area: main_header;
  align-self: start;
  justify-self: center;
  hr {
  }
}
