.main_spread_content {
    // @include reset_bleed;
    // @include flex;
    // // @include flex_col;
    // @include color_scheme_light;
    // @include grid_col_12;
    // overflow-y: scroll;
    // min-width: 100%;
    width: 100%;
    max-width: 100%;
    // position: relative;
    // pointer-events: auto;
    // grid-area: main_spread_content;


    padding-top: $kyu_baseline_04*3;
    padding-bottom: $kyu_baseline_04*3;
    padding-left: $kyu_baseline_04*2;
    padding-right: $kyu_baseline_04*2;
    // @include flex_col;
    @include cell_col_span_full;
    @include grid_col_12;
    h1, h2, h3, h4, h5, h6 {
      @include cell_col_span_full;
    }
    * {
      @include cell_col_span_full;
    }

}