// Container Styles | Ribbon | Menu
// ============================================================================

.ribbon .ribbon_menu {
  @include icon_bar_horizontal;
  @include justify_end;
  align-content: center;
  @include font_size_02;
  @include color_scheme_dark;
  // color: $color_01;
  height: 100%;
  grid-area: ribbon_right;
}

.ribbon .ribbon_menu .menu_item {
  // @include flex;
  @include flex_col;
  @include align_center;
  @include justify_center;
  @include color_scheme_dark;
  // padding-left:       calc($ribbon_spacing / 2);
  // padding-right:      calc($ribbon_spacing / 2);
  height:             100%;
}

.menu_button {
  @include icon_size_04;
  @include color_scheme_dark;
  position: relative;
  overflow: visible;
  // width: $kyu * 24;
  // height: $kyu * 24;
  // background-color: transparent;
}

.menu_button svg {
  @include color_scheme_dark;
  stroke-width: 0;
}

$menu_margin: $kyu * 8;

