@use "pkg:stylescape/scss/index.scss" as *;

.form_field_image {
    position: relative;
    width: 100%;
    padding-top: 100%; // Makes it a square
    overflow: hidden;

    img {
        // border-radius: q(6);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover; // Ensures the image fills the square
        transform: translate(-50%, -50%);
    }
}

.form_field_input input {
    width: 100%;
}

.form__field input {
    background-color: none;
}
