@use "sass:map";
@use "../../01-core/external" as *;

$ss-chip-config: (
    height: q(32),
    padding-inline: q(12),
    radius: q(999),
    gap: q(6),

    font-size: var(--ss-font-size-sm),
    bg: var(--ss-color-surface, var(--ss-color-background)),
    fg: var(--ss-color-foreground),
    border: var(--ss-color-border, var(--ss-color-foreground)),
) !default;
