@use "sass:map";

$ss-chip-config: (
    height: 2rem,
    padding-inline: 0.75rem,
    radius: 999px,
    gap: 0.375rem,

    font-size: var(--ss-font-size-sm),
    bg: var(--ss-color-surface, var(--ss-color-background)),
    fg: var(--ss-color-foreground),
    border: var(--ss-color-border, var(--ss-color-foreground)),
) !default;
