/// Color variants
@mixin fill--info {
    background-color: var(--color_info);
}

@mixin fill--success {
    background-color: var(--color_success);
}

@mixin fill--warning {
    background-color: var(--color_warning);
}

@mixin fill--error {
    background-color: var(--color_error);
}
