////
///
/// Character Normal Configuration
/// ===========================================================================
///
/// Configuration for normal/standard character styles.
///
/// @group Typography.Character.Foundation.Normal
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

@use "sass:map";

// ============================================================================
// Configuration
// ============================================================================
$ss-character-normal-config: (
    font-weight: var(--ss-font-weight-regular),
    // font-weight: 400,
    font-style: normal,
) !default;

// $ss-character-normal-config: (
//     font-family: var(--ss-font-family-base),
//     font-size: var(--ss-font-size-base),
//     font-weight: var(--ss-font-weight-normal),
//     font-style: normal,
//     line-height: var(--ss-leading-normal),
//     letter-spacing: var(--ss-tracking-normal),
//     color: var(--ss-color-foreground),
//     text-decoration: none
// ) !default;
