@use "sass:map";
@use "../../01-core/external" as *;

$ss-section-header-config: (
    padding-bottom: var(--ss-space-2),
    margin-bottom: var(--ss-space-5),
    border: var(--ss-a-border-width-1, 1px) solid var(--ss-color-border),
    count-size: var(--ss-font-size-xs),
) !default;
