{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Large Text (<big>)
    ===========================================================================
    Defines big (large) text for emphasizing the content.

    Variables:
    - `big_text`: The text to be displayed in large font. Defaults to "Large Text".

    Notes:
    - The `<big>` tag is deprecated in HTML5 and should not be used. Consider using CSS for styling instead.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/big
    - https://www.w3schools.com/tags/tag_big.asp

#}

<big>{{ big_text | default('Large Text') | e }}</big>
