{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Heading Level 4 (<h4>)
    ===========================================================================

    Defines a level 4 heading, used for subsections within a subsection.

    Variables:
    - `h4_text`: The text to be displayed as a level 4 heading. Defaults to "Default Sub-sub-subheading".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h4
    - https://www.w3schools.com/tags/tag_hn.asp

#}

<h4>
    {{ h4_text | default('Default Sub-sub-subheading') | e }}
</h4>
