{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Title (<title>)
    ===========================================================================

    Defines the title of the document, shown in the browser's title bar or tab.

    Variables:
    - `title_text`: The text to be displayed as the document title. Defaults to "Default Title".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The <title> element is required in HTML documents.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title
    - https://www.w3schools.com/tags/tag_title.asp

#}

<title>{{ title_text | default('Default Title') | e }}</title>
