{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Acronym (<acronym>)
    ===========================================================================
    Note: The <acronym> tag is not supported in HTML5. It's recommended to use <abbr> instead.

    This code snippet creates an acronym element with the full text as a tooltip.

    Variables:
    - `full_text`: The full text of the acronym. Defaults to "Full Text".
    - `acronym`: The acronym itself. Defaults to "ACR".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/acronym
    - https://www.w3schools.com/tags/tag_acronym.asp

#}

<acronym title="{{ full_text | default('Full Text') | e }}">
    {{ acronym | default('ACR') | e }}
</acronym>
