{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Horizontal Rule (<hr>)
    ===========================================================================

    Defines a thematic break in the content.

    Variables:
    - `hr_class`: The class attribute for the `<hr>` element. Defaults to "default-class".
    - `hr_id`: The id attribute for the `<hr>` element. Defaults to "default-id".
    - `hr_style`: The style attribute for the `<hr>` element. Defaults to "".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr
    - https://www.w3schools.com/tags/tag_hr.asp

#}

<hr
    class="{{ hr_class | default('default-class') | e }}" 
    id="{{ hr_id | default('default-id') | e }}" 
    style="{{ hr_style | default('') | e }}"
>
