{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Caption (<caption>)
    ===========================================================================

    Defines a table caption.

    Variables:
    - `caption_text`: The text to be displayed as the table caption. Defaults to "Table Caption".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption
    - https://www.w3schools.com/tags/tag_caption.asp

#}

<caption>
    {{ caption_text | default('Table Caption') | e }}
</caption>
