{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    No Script (<noscript>)
    ===========================================================================

    Defines an alternate content for users whose browsers do not support
    scripting or have scripting disabled.

    Variables:
    - `noscript_content`: The content to be displayed inside the <noscript> element. Defaults to "JavaScript is not enabled in your browser."

    Notes:
    - The <noscript> element is used to provide content for users whose browsers do not support JavaScript or have it disabled.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noscript
    - https://www.w3schools.com/tags/tag_noscript.asp

#}

<noscript>
    {{ noscript_content | default('JavaScript is not enabled in your browser.') | e }}
</noscript>
