{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Form (<form>)
    ===========================================================================

    Defines an HTML form for user input.

    Variables:
    - `form_action`: The URL to which the form data will be submitted. Defaults to "#".
    - `form_method`: The HTTP method to be used when submitting the form. Defaults to "post".
    - `form_enctype`: The encoding type to be used when submitting the form. Defaults to "application/x-www-form-urlencoded".
    - `form_content`: The content to be included inside the form. Defaults to "Default form content".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form
    - https://www.w3schools.com/tags/tag_form.asp

#}

<form 
    action="{{ form_action | default('#') | e }}" 
    method="{{ form_method | default('post') | e }}" 
    enctype="{{ form_enctype | default('application/x-www-form-urlencoded') | e }}"
>
    {{ form_content | default('Default form content') | e }}
</form>


<form action="{{ form_action }}" method="post">
    {% for field in form_fields %}
    <label for="{{ field.id }}">{{ field.label }}</label>
    <input type="{{ field.type }}" id="{{ field.id }}" name="{{ field.name }}">
    {% endfor %}
    <input type="submit" value="Submit">
</form>
