{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Button (<button>)
    ===========================================================================

    Defines a clickable button.

    Variables:
    - `button_text`: The text to be displayed on the button. Defaults to "Click Me".
    - `button_type`: The type of the button. Defaults to "button".
    - `button_disabled`: Boolean to specify if the button should be disabled. Defaults to false.
    - `button_onclick`: The JavaScript function to be called on button click. Defaults to an empty string.

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button
    - https://www.w3schools.com/tags/tag_button.asp

#}

<button 
    type="{{ button_type | default('button') | e }}" 
    {% if button_disabled | default(false) %}disabled{% endif %} 
    onclick="{{ button_onclick | default('') | e }}"
>
    {{ button_text | default('Click Me') | e }}
</button>
