{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Link (<link>)
    ===========================================================================

    Defines a relationship between the current document and an external resource.

    Variables:
    - `link_rel`: The relationship between the current document and the linked resource. Defaults to "stylesheet".
    - `link_href`: The URL of the linked resource. Defaults to "style.css".
    - `link_type`: The MIME type of the linked resource. Defaults to "text/css".
    - `link_media`: Specifies the media for which the linked resource is designed. Defaults to "all".
    - `link_sizes`: Specifies the size of the icons (for rel="icon"). Defaults to "16x16".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link
    - https://www.w3schools.com/tags/tag_link.asp

#}

<link 
    rel="{{ link_rel | default('stylesheet') | e }}" 
    href="{{ link_href | default('style.css') | e }}" 
    type="{{ link_type | default('text/css') | e }}" 
    media="{{ link_media | default('all') | e }}" 
    sizes="{{ link_sizes | default('16x16') | e }}"
>
