{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Frame (<frame>)
    ===========================================================================

    Defines a window (a frame) in a frameset.

    Variables:
    - `frame_src`: The URL of the document to be displayed in the frame. Defaults to "about:blank".
    - `frame_name`: The name of the frame. Defaults to "defaultFrame".
    - `frame_scrolling`: Specifies whether or not to display scrollbars in the frame. Defaults to "auto".
    - `frame_noresize`: Specifies that the frame cannot be resized by the user. Defaults to false.

    Notes:
    - The <frame> element is deprecated in HTML5 and should not be used. Consider using <iframe> instead.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frame
    - https://www.w3schools.com/tags/tag_frame.asp

#}

<frame 
    src="{{ frame_src | default('about:blank') | e }}" 
    name="{{ frame_name | default('defaultFrame') | e }}" 
    scrolling="{{ frame_scrolling | default('auto') | e }}" 
    {% if frame_noresize | default(false) %}noresize{% endif %}
>
