{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Subscript Text (<sub>)
    ===========================================================================

    Defines subscript text, typically used for chemical formulas or
    mathematical expressions.

    Variables:
    - `sub_text`: The text to be displayed as subscript. Defaults to "Subscript text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The <sub> element is often used to present subscripted text, such as H₂O for water.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sub
    - https://www.w3schools.com/tags/tag_sub.asp

#}

<sub>{{ sub_text | default('Subscript text') | e }}</sub>
