{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Table Header Cell (<th>)
    ===========================================================================

    Defines a header cell in a table.

    Variables:
    - `th_content`: The content to be displayed inside the header cell. Defaults to "Header".
    - `th_scope`: Specifies the scope of the header cell. Can be "col", "row", "colgroup", or "rowgroup". Defaults to "col".
    - `th_colspan`: The number of columns the header cell should span. Defaults to "1".
    - `th_rowspan`: The number of rows the header cell should span. Defaults to "1".
    - `th_class`: The class attribute for the <th> element. Defaults to "default-class".
    - `th_id`: The id attribute for the <th> element. Defaults to "default-id".
    - `th_style`: The style attribute for the <th> element. Defaults to "".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The <th> element is used to define a header cell in an HTML table.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th
    - https://www.w3schools.com/tags/tag_th.asp

#}

<th 
    scope="{{ th_scope | default('col') | e }}" 
    colspan="{{ th_colspan | default('1') | e }}" 
    rowspan="{{ th_rowspan | default('1') | e }}" 
    class="{{ th_class | default('default-class') | e }}" 
    id="{{ th_id | default('default-id') | e }}" 
    style="{{ th_style | default('') | e }}"
>
    {{ th_content | default('Header') | e }}
</th>
