{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Embedded Content (<embed>)
    ===========================================================================

    Defines a container for an external application or interactive content.

    Variables:
    - `embed_src`: The URL of the embedded content. Defaults to "embed-content.ext".
    - `embed_type`: The MIME type of the embedded content. Defaults to "application/pdf".
    - `embed_width`: The width of the embedded content. Defaults to "600".
    - `embed_height`: The height of the embedded content. Defaults to "400".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/embed
    - https://www.w3schools.com/tags/tag_embed.asp

#}

<embed 
    src="{{ embed_src | default('embed-content.ext') | e }}" 
    type="{{ embed_type | default('application/pdf') | e }}" 
    width="{{ embed_width | default('600') | e }}" 
    height="{{ embed_height | default('400') | e }}"
>
