{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Variable (<var>)
    ===========================================================================

    Defines a variable in a mathematical expression or programming context.

    Variables:
    - `var_text`: The text to be displayed as a variable. Defaults to
      "variable".

    Notes:
    - The `| e` filter is used to escape any special characters in the
      variables to prevent XSS attacks.
    - The <var> element is typically used to format variables in mathematical
      expressions or computer code.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/var
    - https://www.w3schools.com/tags/tag_var.asp

#}

<var>{{ var_text | default('variable') | e }}</var>
