{#
    Copyright 2025 Scape Agency BV
#}

{# 
    Link (<a>)
    ===========================================================================

    Defines a hyperlink.

    Variables:
    - `href`: The URL to which the link points. Defaults to `#`.
    - `title`: Text displayed when the mouse hovers over the link. Defaults to an empty string.
    - `rel`: Provides security benefits by preventing the new page from being able to access the window.opener property and ensuring that the new page does not have a referrer. Defaults to `noopener noreferrer`.
    - `aria_label`: Improves accessibility by providing a readable text description for screen readers. Defaults to the link text.
    - `target`: Specifies where to open the linked document. Defaults to `_self`.
    - `download`: Specifies that the target will be downloaded when a user clicks on the hyperlink. Defaults to `null`.
    - `hreflang`: Specifies the language of the linked document. Defaults to `en`.
    - `media`: Specifies what media/device the linked document is optimized for. Defaults to `all`.
    - `ping`: Specifies a space-separated list of URLs to which, when the hyperlink is followed, POST requests with the body ping will be sent by the browser (typically for tracking). Defaults to an empty string.
    - `referrerpolicy`: Specifies which referrer information to send when fetching the URL. Defaults to `no-referrer`.
    - `type`: Specifies the MIME type of the linked document. Defaults to an empty string.

    Notes:
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
    - https://www.w3schools.com/tags/tag_a.asp

#}

<a 
    href="{{ url | default('#') | e }}" 
    title="{{ title | default('') | e }}" 
    rel="{{ rel | default('noopener noreferrer') | e }}" 
    download="{{ download | default('') | e }}" 
    target="{{ target | default('_self') | e }}" 
    hreflang="{{ hreflang | default('en') | e }}" 
    media="{{ media | default('all') | e }}" 
    ping="{{ ping | default('') | e }}" 
    referrerpolicy="{{ referrerpolicy | default('no-referrer') | e }}" 
    type="{{ type | default('') | e }}" 
    aria-label="{{ aria_label | default(link_text) | e }}"
>
    {{ link_text | e }}
</a>
