{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    No Frames (<noframes>)
    ===========================================================================

    Defines an alternate content for browsers that do not support frames.

    Variables:
    - `noframes_content`: The content to be displayed inside the <noframes> element. Defaults to "Your browser does not support frames."

    Notes:
    - The <noframes> element is used to provide content for browsers that do not support frames. It is typically used within a <frameset> element.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noframes
    - https://www.w3schools.com/tags/tag_noframes.asp

#}

<noframes>
    {{ noframes_content | default('Your browser does not support frames.') | e }}
</noframes>
