{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Mark Text (<mark>)
    ===========================================================================

    Defines text that should be highlighted.

    Variables:
    - `mark_text`: The text to be highlighted. Defaults to "Highlighted text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark
    - https://www.w3schools.com/tags/tag_mark.asp

#}

<mark>{{ mark_text | default('Highlighted text') | e }}</mark>
