{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Unordered List (<ul>)
    ===========================================================================

    Defines an unordered (bulleted) list.

    Variables:
    - `ul_items`: A list of items to be included in the unordered list.
      Defaults to ["Item 1", "Item 2", "Item 3"].
    - `ul_class`: The class attribute for the <ul> element. Defaults to
      "default-class".
    - `ul_id`: The id attribute for the <ul> element. Defaults to "default-id".
    - `ul_style`: The style attribute for the <ul> element. Defaults to "".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.
    - The <ul> element is used to create an unordered list in an HTML document.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul
    - https://www.w3schools.com/tags/tag_ul.asp

#}

<ul 
    class="{{ ul_class | default('default-class') | e }}" 
    id="{{ ul_id | default('default-id') | e }}" 
    style="{{ ul_style | default('') | e }}"
>
    {% for item in ul_items | default(['Item 1', 'Item 2', 'Item 3']) %}
        <li>{{ item | e }}</li>
    {% endfor %}
</ul>


<!-- Unordered List -->
<ul>
{% for item in list_variable %}
    <li>{{ item }}</li>
{% endfor %}
</ul>
