{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Citation (<cite>)
    ===========================================================================

    Defines the title of a work.

    Variables:
    - `cite_text`: The text to be displayed as a citation. Defaults to "Cited Text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite
    - https://www.w3schools.com/tags/tag_cite.asp

#}

<cite>
    {{ cite_text | default('Cited Text') | e }}
</cite>
