{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Section (<section>)
    ===========================================================================

    Defines a section in a document, such as a chapter, a grouping of content,
    or a thematic grouping of content.

    Variables:
    - `section_id`: The id attribute for the <section> element. Defaults to "default-id".
    - `section_class`: The class attribute for the <section> element. Defaults to "default-class".
    - `section_title`: The title of the section. Defaults to "Section Title".
    - `section_content`: The content inside the section. Defaults to "Section content".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section
    - https://www.w3schools.com/tags/tag_section.asp

#}

<section id="{{ section_id | default('default-id') | e }}" class="{{ section_class | default('default-class') | e }}">
    <h2>{{ section_title | default('Section Title') | e }}</h2>
    <p>{{ section_content | default('Section content') | e }}</p>
</section>
