{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Body (<body>)
    ===========================================================================

    Defines the document's body, containing all the contents of an HTML document.

    Variables:
    - `body_content`: The content to be displayed within the body. Defaults to "Default body content".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body
    - https://www.w3schools.com/tags/tag_body.asp

#}

<body>
    {{ body_content | default('Default body content') | e }}
</body>
