{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Keyboard Input (<kbd>)
    ===========================================================================

    Defines keyboard input text.

    Variables:
    - `kbd_text`: The text to be displayed as keyboard input. Defaults to "Sample keyboard input".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
    - https://www.w3schools.com/tags/tag_kbd.asp

#}

<kbd>
    {{ kbd_text | default('Sample keyboard input') | e }}
</kbd>
