{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Bold Black Text (<bb>)
    ===========================================================================
    Specifies bold black text. This is a non-standard HTML tag.

    Variables:
    - `bb_text`: The text to be displayed in bold black. Defaults to "Bold Black Text".

    Notes:
    - The `<bb>` tag is non-standard and not supported in all browsers.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

#}

<bb>{{ bb_text | default('Bold Black Text') | e }}</bb>
