{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Heading Level 5 (<h5>)
    ===========================================================================

    Defines a level 5 heading, used for subsections within a level 4 heading
    section.

    Variables:
    - `h5_text`: The text to be displayed as a level 5 heading. Defaults to "Default Sub-sub-sub-subheading".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h5
    - https://www.w3schools.com/tags/tag_hn.asp

#}

<h5>
    {{ h5_text | default('Default Sub-sub-sub-subheading') | e }}
</h5>
