{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Ruby Annotation (<ruby>)
    ===========================================================================

    Defines a ruby annotation, which is a small text placed above or below a
    base text, often used for pronunciation or translation.

    Variables:
    - `ruby_base`: The base text to be annotated. Defaults to "Base text".
    - `ruby_text`: The ruby text to be displayed. Defaults to "Ruby text".
    - `rp_open`: The text to be displayed before the ruby text in browsers that do not support ruby annotations. Defaults to "(".
    - `rp_close`: The text to be displayed after the ruby text in browsers that do not support ruby annotations. Defaults to ")".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - Typically used to display pronunciation guides or translations.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ruby
    - https://www.w3schools.com/tags/tag_ruby.asp

#}

<ruby>
    {{ ruby_base | default('Base text') | e }}
    <rp>{{ rp_open | default('(') | e }}</rp>
    <rt>{{ ruby_text | default('Ruby text') | e }}</rt>
    <rp>{{ rp_close | default(')') | e }}</rp>
</ruby>
