{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Object (<object>)
    ===========================================================================

    Defines an embedded object within an HTML document.

    Variables:
    - `object_data`: The URL of the resource to be embedded. Defaults to "default-data.ext".
    - `object_type`: The MIME type of the embedded resource. Defaults to "application/pdf".
    - `object_width`: The width of the embedded object. Defaults to "600".
    - `object_height`: The height of the embedded object. Defaults to "400".
    - `object_class`: The class attribute for the <object> element. Defaults to "default-class".
    - `object_id`: The id attribute for the <object> element. Defaults to "default-id".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/object
    - https://www.w3schools.com/tags/tag_object.asp

#}

<object 
    data="{{ object_data | default('default-data.ext') | e }}" 
    type="{{ object_type | default('application/pdf') | e }}" 
    width="{{ object_width | default('600') | e }}" 
    height="{{ object_height | default('400') | e }}" 
    class="{{ object_class | default('default-class') | e }}" 
    id="{{ object_id | default('default-id') | e }}"
>
    {{ object_fallback | default('Your browser does not support embedded objects.') | e }}
</object>
