{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    EventSource (<eventsource>)
    ===========================================================================

    Defines a container for server-sent events.

    Variables:
    - `eventsource_src`: The URL for the EventSource connection. Defaults to "events".
    - `eventsource_onopen`: JavaScript code to execute when the connection is opened. Defaults to an empty string.
    - `eventsource_onmessage`: JavaScript code to execute when a message is received. Defaults to an empty string.
    - `eventsource_onerror`: JavaScript code to execute when an error occurs. Defaults to an empty string.

    Notes:
    - The <eventsource> tag is not a standard HTML element. Typically, EventSource is used via JavaScript.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/API/EventSource
    - https://www.w3schools.com/html/html5_serversentevents.asp

#}

<eventsource 
    src="{{ eventsource_src | default('events') | e }}" 
    onopen="{{ eventsource_onopen | default('') | e }}" 
    onmessage="{{ eventsource_onmessage | default('') | e }}" 
    onerror="{{ eventsource_onerror | default('') | e }}"
>
</eventsource>
