{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Key Generation (<keygen>)
    ===========================================================================

    Specifies a key-pair generator field used for generating a public-private key pair.

    Variables:
    - `keygen_name`: The name of the key-pair generator control. Defaults to "keygen".
    - `keygen_challenge`: A challenge string that is submitted along with the public key. Defaults to an empty string.
    - `keygen_keytype`: The type of key to be generated. Defaults to "rsa".
    - `keygen_keyparams`: Additional key parameters, if any. Defaults to an empty string.

    Notes:
    - The <keygen> element is deprecated in HTML5 and should not be used. Consider using other methods for key generation.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/keygen
    - https://www.w3schools.com/tags/tag_keygen.asp

#}

<keygen 
    name="{{ keygen_name | default('keygen') | e }}" 
    challenge="{{ keygen_challenge | default('') | e }}" 
    keytype="{{ keygen_keytype | default('rsa') | e }}" 
    keyparams="{{ keygen_keyparams | default('') | e }}"
>
