{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Ruby Parenthesis (<rp>)
    ===========================================================================

    Defines what to show in browsers that do not support ruby annotations.

    Variables:
    - `rp_text`: The text to be displayed inside the ruby parenthesis. Defaults to "(". Closing parenthesis `)` should be handled separately if needed.

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - Typically used inside <ruby> elements alongside <rt> and <rb>.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rp
    - https://www.w3schools.com/tags/tag_rp.asp

#}

<rp>{{ rp_text | default('(') | e }}</rp>
