{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Table Cell (<td>)
    ===========================================================================

    Defines a cell in a table.

    Variables:
    - `cell_content`: The content to be displayed inside the table cell. Defaults to "Cell content".
    - `cell_colspan`: The number of columns the cell should span. Defaults to "1".
    - `cell_rowspan`: The number of rows the cell should span. Defaults to "1".
    - `cell_class`: The class attribute for the <td> element. Defaults to "default-class".
    - `cell_id`: The id attribute for the <td> element. Defaults to "default-id".
    - `cell_style`: The style attribute for the <td> element. Defaults to "".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The <td> element is used to define a standard data cell in an HTML table.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td
    - https://www.w3schools.com/tags/tag_td.asp

#}

<td 
    colspan="{{ cell_colspan | default('1') | e }}" 
    rowspan="{{ cell_rowspan | default('1') | e }}" 
    class="{{ cell_class | default('default-class') | e }}" 
    id="{{ cell_id | default('default-id') | e }}" 
    style="{{ cell_style | default('') | e }}"
>
    {{ cell_content | default('Cell content') | e }}
</td>
