{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Abbreviation (<abbr>)
    ===========================================================================

    This code snippet creates an abbreviation element with the full text as
    a tooltip.

    Variables:
    - `full_text`: The full text of the abbreviation. Defaults to "Full text".
    - `abbreviation`: The abbreviation itself. Defaults to "abbr".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr
    - https://www.w3schools.com/tags/tag_abbr.asp

#}

<abbr title="{{ full_text | default('Full text') | e }}">
    {{ abbreviation | default('abbr') | e }}
</abbr>
