{# 
    Copyright 2025 Scape Agency
#}

{# 
    Article (<article>)
    ===========================================================================

    This code snippet creates an article section with a title and content.

    Variables:
    - `article_title`: The title of the article. Defaults to "Default Title".
    - `article_content`: The content of the article. Defaults to "Default content".


    Notes:
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article
    - https://www.w3schools.com/tags/tag_article.asp

#}

<article>
    <h2>{{ title | default('Default Title') | e }}</h2>
    <p>{{ content | default('Default content') | e }}</p>
</article>
