{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Inserted Text (<ins>)
    ===========================================================================

    Defines text that has been inserted into a document.

    Variables:
    - `ins_text`: The text to be displayed as inserted. Defaults to "Inserted text".
    - `ins_cite`: The URL that explains the reason for the change. Defaults to "#".
    - `ins_datetime`: The date and time when the text was inserted. Defaults to "2024-01-01T00:00:00Z".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins
    - https://www.w3schools.com/tags/tag_ins.asp

#}

<ins
    cite="{{ ins_cite | default('#') | e }}"
    datetime="{{ ins_datetime | default('2024-01-01T00:00:00Z') | e }}"
>
    {{ ins_text | default('Inserted text') | e }}
</ins>
