{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Emphasized Text (<em>)
    ===========================================================================

    Defines emphasized text, usually displayed in italics.

    Variables:
    - `em_text`: The text to be emphasized. Defaults to "Emphasized text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em
    - https://www.w3schools.com/tags/tag_em.asp

#}

<em>{{ em_text | default('Emphasized text') | e }}</em>
