{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Document Head (<head>)
    ===========================================================================

    Contains metadata/information for the document.

    Variables:
    - `head_title`: The title of the document. Defaults to "Default Title".
    - `head_meta`: Additional meta tags for the document. Defaults to a standard charset meta tag.
    - `head_links`: Additional link tags for stylesheets or other resources. Defaults to an empty string.
    - `head_scripts`: Additional script tags for the document. Defaults to an empty string.

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head
    - https://www.w3schools.com/tags/tag_head.asp

#}

<head>
    <title>{{ head_title | default('Default Title') | e }}</title>
    {{ head_meta | default('<meta charset="UTF-8">') | safe }}
    {{ head_links | default('') | safe }}
    {{ head_scripts | default('') | safe }}
</head>
