{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Audio (<audio>)
    ===========================================================================
    Defines sound content.

    Variables:
    - `audio_src`: The URL of the audio file. Defaults to "audio.mp3".
    - `audio_controls`: Boolean to specify if audio controls should be displayed. Defaults to true.
    - `audio_autoplay`: Boolean to specify if the audio should start playing as soon as it is ready. Defaults to false.
    - `audio_loop`: Boolean to specify if the audio should loop. Defaults to false.
    - `audio_muted`: Boolean to specify if the audio should be muted. Defaults to false.

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio
    - https://www.w3schools.com/tags/tag_audio.asp

#}

<audio 
    src="{{ audio_src | default('audio.mp3') | e }}" 
    controls="{{ audio_controls | default(true) }}" 
    autoplay="{{ audio_autoplay | default(false) }}" 
    loop="{{ audio_loop | default(false) }}" 
    muted="{{ audio_muted | default(false) }}"
>
    Your browser does not support the audio element.
</audio>
