{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Center (<center>)
    ===========================================================================

    Defines centered text.

    Variables:
    - `center_text`: The text to be displayed centered. Defaults to "Centered Text".

    Notes:
    - The `<center>` tag is deprecated in HTML5 and should not be used. Consider using CSS for centering instead.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center
    - https://www.w3schools.com/tags/tag_center.asp

#}

<center>
    {{ center_text | default('Centered Text') | e }}
</center>
