{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Heading Level 1 (<h1>)
    ===========================================================================

    Defines the most important heading.

    Variables:
    - `h1_text`: The text to be displayed as a level 1 heading. Defaults to "Default Heading".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h1
    - https://www.w3schools.com/tags/tag_hn.asp

#}

<h1>
    {{ h1_text | default('Default Heading') | e }}
</h1>
