{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Ordered List (<ol>)
    ===========================================================================

    Defines an ordered list.

    Variables:
    - `ol_items`: A list of items to be included in the ordered list. Defaults to ["Item 1", "Item 2", "Item 3"].

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The list will be rendered as an ordered list with each item in its respective `<li>` element.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol
    - https://www.w3schools.com/tags/tag_ol.asp

#}

<ol>
    {% for item in ol_items | default(['Item 1', 'Item 2', 'Item 3']) %}
        <li>{{ item | e }}</li>
    {% endfor %}
</ol>
