{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Footer (<footer>)
    ===========================================================================

    Defines a footer for a document or section.

    Variables:
    - `footer_content`: The content to be displayed inside the footer. Defaults to "Default footer content".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer
    - https://www.w3schools.com/tags/tag_footer.asp

#}

<footer>
    {{ footer_content | default('Default footer content') | e }}
</footer>
