{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Heading Level 3 (<h3>)
    ===========================================================================

    Defines a level 3 heading, used for subsections within a section.

    Variables:
    - `h3_text`: The text to be displayed as a level 3 heading. Defaults to "Default Sub-subheading".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h3
    - https://www.w3schools.com/tags/tag_hn.asp

#}

<h3>
    {{ h3_text | default('Default Sub-subheading') | e }}
</h3>
