@use "../../01-core/prefix" as *;
@use "./button.mixins" as *;

@layer ss.modules {
    .#{$ss-prefix-module}-button {
        @include c-button-base;

        &--primary {
            @include c-button-primary;
        }
        &--secondary {
            @include c-button-secondary;
        }
        &--outline {
            @include c-button-outline;
        }
        &--ghost {
            @include c-button-ghost;
        }
        &--solid {
            @include c-button-solid;
        }
        &--link {
            @include c-button-link;
        }
        &--accent {
            @include c-button-accent;
        }
        &--clear {
            @include c-button-clear;
        }

        &--size-xs {
            @include c-button-size-xs;
        }
        &--size-sm {
            @include c-button-size-sm;
        }
        &--size-md {
            @include c-button-size-md;
        }
        &--size-lg {
            @include c-button-size-lg;
        }
        &--size-xl {
            @include c-button-size-xl;
        }

        &--menu {
            @include c-button-menu;
        }
    }

    .#{$ss-prefix-module}-button-group {
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;
    }
}
