@use "../../01-core/external" as *;

$ss-stepper-config: (
    border-width: q(1),
    border: var(--ss-color-border-strong),
    bg: var(--ss-color-background),
    fg: var(--ss-color-text-primary),
    button-bg: var(--ss-color-surface-alt),
    button-hover-bg: var(--ss-color-surface-hover),
    input-width: 7ch,
    disabled-opacity: 0.5,

    sizes: (
        sm: (height: q(32), font-size: var(--ss-font-size-sm)),
        md: (height: q(40), font-size: var(--ss-font-size-base)),
        lg: (height: q(48), font-size: var(--ss-font-size-lg)),
    ),
) !default;
