# EditorConfig is awesome: https://editorconfig.org

# Top level editor config.
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# JavaScript, TypeScript files
[*.{js,jsx,ts,tsx,mjs,cjs}]
indent_size = 2

# CSS, SCSS, SASS files
[*.{css,scss,sass,less}]
indent_size = 2

# HTML, Jinja templates
[*.{html,htm,jinja,j2}]
indent_size = 2

# Markdown files
[*.{md,mdx}]
trim_trailing_whitespace = false
indent_size = 2

# Package.json
[package.json]
indent_size = 4

# Makefile
[Makefile]
indent_style = tab
