{
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "printWidth": 100,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "always",
        "printWidth": 80
      }
    },
    {
      "files": ["package.json"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
