// =============================================================================
// 31-modules / vcard / mixins
// =============================================================================

@use "sass:map";
@use "./vcard.config" as config;

@mixin ss-vcard {
    display: block;
    color: map.get(config.$vcard-config, "color");
    font-size: map.get(config.$vcard-config, "font-size");
    line-height: map.get(config.$vcard-config, "line-height");
    font-weight: 400;
}

@mixin ss-vcard-org {
    font-weight: 700;
}
