

@mixin icon_bar {
    display: grid;
    gap: 2 * $ribbon_spacing;
    justify-items: center;
    align-items: center;
}


@mixin icon_bar_horizontal {
    @include icon_bar;
    grid-template-rows: $baseline_04;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    // gap: $ribbon_spacing;

  }
  
  @mixin icon_bar_vertical {
    @include icon_bar;
    grid-template-columns: $baseline_04;
    grid-auto-rows: min-content;
    grid-auto-flow: row;

    // display: grid;
    // grid-auto-rows: $baseline_04;
    // justify-items: center;
    // align-items: center;
  
  }