// Components | Summary
// ============================================================================

details {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}


// and here the CSS to hide the default arrow in the summary tag:
summary {
  outline: none;
  /* Hides marker on Chrome */
  list-style: none;
  cursor: pointer;
}
details > summary {
  list-style: none;
}
details summary::-webkit-details-marker {
  display:none;
}
details summary::marker {
  display:none;
}
summary::marker {
  display:none;
}
details > summary::-webkit-details-marker {
  display: none;
}
