@use "sass:map";

// -----------------------------------------------------------------------------
// Badge Configuration
// -----------------------------------------------------------------------------

$ss-badge-config: (
    sizes: (
        xs: (
            height: 1.25rem,
            font-size: var(--ss-font-size-xs),
        ),
        sm: (
            height: 1.5rem,
            font-size: var(--ss-font-size-sm),
        ),
        md: (
            height: 1.75rem,
            font-size: var(--ss-font-size-sm),
        ),
        lg: (
            height: 2rem,
            font-size: var(--ss-font-size-md),
        ),
        xl: (
            height: 2.25rem,
            font-size: var(--ss-font-size-lg),
        ),
    ),

    colors: (
        default: (
            bg: var(--ss-color-foreground),
            fg: var(--ss-color-background),
        ),
        accent: (
            bg: var(--ss-color-accent),
            fg: var(--ss-color-on-accent),
        ),
        success: (
            bg: var(--ss-color-success),
            fg: var(--ss-color-on-success),
        ),
        warning: (
            bg: var(--ss-color-warning),
            fg: var(--ss-color-on-warning),
        ),
        error: (
            bg: var(--ss-color-error),
            fg: var(--ss-color-on-error),
        ),
    ),

    radius: var(--ss-radius-sm),
    padding-inline: 0.5em,
) !default;
