@use "sass:map";
@use "../../01-core/prefix" as *;
@use "./tooltip.config" as config;
@use "./tooltip.mixins" as tooltip;

@layer ss.modules {
    .#{$ss-prefix-module}-tooltip {
        @include tooltip.ss-tooltip;
    }

    .#{$ss-prefix-module}-tooltip[data-placement="top"] {
        bottom: calc(100% + map.get(config.$ss-tooltip-config, offset));
        left: 50%;
        transform: translateX(-50%);
    }

    .#{$ss-prefix-module}-tooltip[data-placement="bottom"] {
        top: calc(100% + map.get(config.$ss-tooltip-config, offset));
        left: 50%;
        transform: translateX(-50%);
    }

    .#{$ss-prefix-module}-tooltip[data-placement="left"] {
        right: calc(100% + map.get(config.$ss-tooltip-config, offset));
        top: 50%;
        transform: translateY(-50%);
    }

    .#{$ss-prefix-module}-tooltip[data-placement="right"] {
        left: calc(100% + map.get(config.$ss-tooltip-config, offset));
        top: 50%;
        transform: translateY(-50%);
    }
}
