@use "sass:map";

$ss-tooltip-config: (
    bg: var(--ss-color-foreground),
    fg: var(--ss-color-background),
    radius: var(--ss-radius-sm),
    padding: q(6) q(10),
    font-size: var(--ss-font-size-xs),
    max-width: q(256),
    offset: q(8),
    z-index: 1100,
) !default;
