// ============================================================================
// Element | Toggle
// ============================================================================
@use "../../dev" as *;
@use "../../variables" as *;

@use "../soul_type" as *;

/* toggles */
.toggles .panel {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    border: q(1) solid #ddd;
}
.toggles .panel-title {
    font-size: q(12);
    padding-right: q(32);
    position: relative;
}
.toggles .panel-title > span.float-end {
    position: absolute;
    right: 0;
    top: 0;
}
.toggles .panel-heading {
    padding: q(16);
    background-color: transparent;
}
.toggles .panel-heading i {
    font-size: q(12);
    color: #626262;
}
.toggles .panel + .panel {
    margin-top: -q(1);
}
.toggles .panel-body {
    padding: q(25);
}
