// ============================================================================
// Imports
// ============================================================================

@use "../../../variables" as *;

// ============================================================================
// Mixins | Preloader | Pulse
// ============================================================================

@mixin preloader_pulse {
    border: 0 solid transparent;
    border-radius: 50%;
    width: q(50);
    height: q(50);
    position: absolute;
    top: calc(50vh - q(4));
    left: calc(50vw - q(4));

    &:before,
    &:after {
        content: "";
        border: q(16) solid #239898;
        border-radius: 50%;
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        animation: preloader_pulse_animation 2s linear infinite;
        opacity: 0;
    }

    &:before {
        animation-delay: 0.5s;
    }
}

@keyframes preloader_pulse_animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
