@use "sass:map";

// -----------------------------------------------------------------------------
// Display Heading Configuration
// -----------------------------------------------------------------------------

$ss-paragraph-display-config: (
    1: (
        size: clamp(3rem, 5vw + 1rem, 5rem),
        weight: 300,
        line-height: 1.2,
        tracking: -0.02em,
    ),

    2: (
        size: clamp(2.5rem, 4.5vw + 1rem, 4.5rem),
        weight: 300,
        line-height: 1.2,
        tracking: -0.02em,
    ),

    3: (
        size: clamp(2rem, 4vw + 1rem, 4rem),
        weight: 300,
        line-height: 1.2,
        tracking: -0.015em,
    ),

    4: (
        size: clamp(1.75rem, 3.5vw + 1rem, 3.5rem),
        weight: 300,
        line-height: 1.2,
        tracking: -0.015em,
    ),

    5: (
        size: clamp(1.5rem, 3vw + 1rem, 3rem),
        weight: 300,
        line-height: 1.2,
        tracking: -0.01em,
    ),

    6: (
        size: clamp(1.25rem, 2.5vw + 1rem, 2.5rem),
        weight: 300,
        line-height: 1.2,
        tracking: -0.01em,
    ),
) !default;
