@use "sass:map";
@use "../../../../01-core/external" as *;

// -----------------------------------------------------------------------------
// Address Configuration
// -----------------------------------------------------------------------------

$ss-paragraph-address-config: (
    font-size: var(--ss-font-size-04),
    font-weight: var(--ss-font-weight-regular),
    font-style: normal,

    // override browser default italic
    margin-block: 0 q(16),
    color: var(--ss-color-text-primary),
) !default;
