// Type | Font | Import | Manrope 
// =======================================================================

@font-face {
  font-family: "ManropeVariable";
  src: url("../font/manrope/manrope-variable.woff2")   format("woff2"),
       url("../font/manrope/manrope-variable.ttf")     format("truetype"),
}
@font-face {
  font-family: "ManropeExtraLight";
  src: url("../font/manrope/manrope-extralight.woff2") format("woff2"),
       url("../font/manrope/manrope-extralight.ttf")   format("truetype"),
}
@font-face {
  font-family: "ManropeLight";
  src: url("../font/manrope/manrope-light.woff2")      format("woff2"),
       url("../font/manrope/manrope-light.ttf")        format("truetype"),
}
@font-face {
  font-family: "ManropeRegular";
  src: url("../font/manrope/manrope-regular.woff2")    format("woff2"),
       url("../font/manrope/manrope-regular.ttf")      format("truetype"),
}
@font-face {
  font-family: "ManropeMedium";
  src: url("../font/manrope/manrope-medium.woff2")     format("woff2"),
       url("../font/manrope/manrope-medium.ttf")       format("truetype"),
}
@font-face {
  font-family: "ManropeSemiBold";
  src: url("../font/manrope/manrope-semibold.woff2")   format("woff2"),
       url("../font/manrope/manrope-semibold.ttf")     format("truetype"),
}
@font-face {
  font-family: "ManropeBold";
  src: url("../font/manrope/manrope-bold.woff2")       format("woff2"),
       url("../font/manrope/manrope-bold.ttf")         format("truetype"),
}
