

@import "_fontface_manrope.scss";
@import "_fontface_din.scss";





$font_fallback: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Type | Font | Stack
// ----------------------------------------------------------------------------

// $font_stack_00:    "Manrope Variable",     $font_fallback !important;
// $font_stack_01:    "Manrope ExtraLight",   $font_fallback !important;
// $font_stack_02:    "Manrope Light",        $font_fallback !important;
// $font_stack_03:    "Manrope Regular",      $font_fallback !important;
// $font_stack_04:    "Manrope Medium",       $font_fallback !important;
// $font_stack_05:    "Manrope SemiBold",     $font_fallback !important;
// $font_stack_06:    "Manrope Bold",         $font_fallback !important;

$font_stack_00:    "DIN Regular",         $font_fallback !important;
$font_stack_01:    "DIN Regular",         $font_fallback !important;
$font_stack_02:    "DIN Regular",         $font_fallback !important;
$font_stack_03:    "DIN Regular",         $font_fallback !important;
$font_stack_04:    "DIN Regular",         $font_fallback !important;
$font_stack_05:    "DIN Regular",         $font_fallback !important;
$font_stack_06:    "DIN Regular",         $font_fallback !important;

// Type | Font | Settings |
// ----------------------------------------------------------------------------

@mixin font_settings {                            // applied to html/body
  font-smooth: auto;                              // auto|never|always
  -webkit-font-smoothing:   antialiased;          // auto|none|antialiased|subpixel-antialiased
  -moz-osx-font-smoothing:  grayscale;            // auto|grayscale
  text-rendering:           optimizeLegibility;   // auto|optimizeSpeed|optimizeLegibility|geometricPrecision|inherit|initial|unset
  font-language-override:   normal;               // normal | <string> "ENG"
  font-optical-sizing:      auto;                 // auto | none
}

@mixin font_default {
  //
  font-family:              $font_stack_03;       // family-name | generic-family | initial | inherit
  font-style:               normal;               // normal | italic | oblique | initial | inherit
  // font-variant:             normal;            // normal | small-caps | initial | inherit
  font-variant-caps:        normal;               // normal | small-caps | all-small-caps | petite-caps | all-petite-caps | unicase | titling-caps | initial | inherit | unset
  font-variant-alternates:  normal;               // normal | [ stylistic( <feature-value-name> ) || historical-forms || styleset( <feature-value-name># ) || character-variant( <feature-value-name># ) || swash( <feature-value-name> ) || ornaments( <feature-value-name> ) || annotation( <feature-value-name> ) ]
  font-variant-ligatures:   normal;               // normal | none | [ <common-lig-values> || <discretionary-lig-values> || <historical-lig-values> || <contextual-alt-values> ]
  font-variant-numeric:     normal;               // normal | [ <numeric-figure-values> || <numeric-spacing-values> || <numeric-fraction-values> || ordinal || slashed-zero ]
  font-variant-position:    normal;               // normal | sub | super
  font-variant-east-asian:  normal;               // normal | [ <east-asian-variant-values> || <east-asian-width-values> || ruby ]where <east-asian-variant-values> = [ jis78 | jis83 | jis90 | jis04 | simplified | traditional ] <east-asian-width-values> = [ full-width | proportional-width ]
  //font-variation-settings
  //
  font-kerning:             normal;               // auto, normal, none
  font-feature-settings:    none;                 // normal, feature-value
  font-size-adjust:         none;                 // number, none, initial, inherit
  font-stretch:             normal;               // ultra-condensed, extra-condensed, condensed, semi-condensed, normal, semi-expanded, expanded, extra-expanded, ultra-expanded, initial, inherit
  //
  color:                    $color_02;
  background-color:         none;
  //
  //

}
html {
    @include font_default;

  }

// Type | Font | Weights |
// -----------------------------------------------------------------------

// @mixin font_weight_00 {font-weight: 300;}
// @mixin font_weight_01 {font-weight: 400;}
// @mixin font_weight_02 {font-weight: 500;}
// @mixin font_weight_03 {font-weight: 600;}
// @mixin font_weight_04 {font-weight: 700;}
// @mixin font_weight_05 {font-weight: 800;}
// @mixin font_weight_06 {font-weight: 900;}

@mixin font_weight_01 {font-family: $font_stack_01}
@mixin font_weight_02 {font-family: $font_stack_02}
@mixin font_weight_03 {font-family: $font_stack_03}
@mixin font_weight_04 {font-family: $font_stack_04}
@mixin font_weight_05 {font-family: $font_stack_05}
@mixin font_weight_06 {font-family: $font_stack_06}

/* font weight */
// .font-weight-100 {font-weight:100}
// .font-weight-200 {font-weight:200}
// .font-weight-300 {font-weight:300}
// .font-weight-400 {font-weight:400}
// .font-weight-500 {font-weight:500}
// .font-weight-600 {font-weight:600}
// .font-weight-700 {font-weight:700}
// .font-weight-800 {font-weight:800}
// .font-weight-900 {font-weight:900}

// Type | Font | Sizes |
// -----------------------------------------------------------------------

// @mixin font_size_00 {font-size: $kyu * 16.00;   line-height: $kyu * 20.00;}
// @mixin font_size_01 {font-size: $kyu * 16.00;   line-height: $kyu * 20.00;}
// @mixin font_size_02 {font-size: $kyu * 16.00;   line-height: $kyu * 20.00;}
// @mixin font_size_03 {font-size: $kyu * 20.00;   line-height: $kyu * 28.00;}
// @mixin font_size_04 {font-size: $kyu * 24.00;   line-height: $kyu * 30.00;}
// @mixin font_size_05 {font-size: $kyu * 28.00;   line-height: $kyu * 35.00;}
// @mixin font_size_06 {font-size: $kyu * 32.00;   line-height: $kyu * 40.00;}

@mixin font_size_00 {font-size: $kyu * 12.00;   line-height: $kyu * 16.00;}
@mixin font_size_01 {font-size: $kyu * 14.00;   line-height: $kyu * 16.00;}
@mixin font_size_02 {font-size: $kyu * 16.00;   line-height: $kyu * 20.00;}
@mixin font_size_03 {font-size: $kyu * 20.00;   line-height: $kyu * 32.00;}
@mixin font_size_04 {font-size: $kyu * 24.00;   line-height: $kyu * 32.00;}
@mixin font_size_05 {font-size: $kyu * 28.00;   line-height: $kyu * 32.00;}
@mixin font_size_06 {font-size: $kyu * 32.00;   line-height: $kyu * 32.00;}


html {
  // @include font_default;
  // @include font_size_02;

}




/* letter spacing */
// .no-letter-spacing {letter-spacing:0px}
// .letter-spacing-1 {letter-spacing:1px}
// .letter-spacing-2 {letter-spacing:2px}
// .letter-spacing-3 {letter-spacing:3px}
// .letter-spacing-4 {letter-spacing:4px}
// .letter-spacing-5 {letter-spacing:5px}
// .letter-spacing-6 {letter-spacing:6px}
// .letter-spacing-7 {letter-spacing:7px}
// .letter-spacing-8 {letter-spacing:8px}
// .letter-spacing-9 {letter-spacing:9px}
// .letter-spacing-10 {letter-spacing:10px}
// .letter-spacing-minus-1 {letter-spacing:-1px}
// .letter-spacing-minus-2 {letter-spacing:-2px}
// .letter-spacing-minus-3 {letter-spacing:-3px}
// .letter-spacing-minus-4 {letter-spacing:-4px}
// .letter-spacing-minus-5 {letter-spacing:-5px}
// .letter-spacing-minus-6 {letter-spacing:-6px}
// .letter-spacing-minus-7 {letter-spacing:-7px}
// .letter-spacing-minus-8 {letter-spacing:-8px}
// .letter-spacing-minus-9 {letter-spacing:-9px}
// .letter-spacing-minus-10 {letter-spacing:-10px}


// /* text size */
// .text-extra-small {font-size:11px; line-height:14px}
// .text-small {font-size:12px; line-height:20px}
// .text-medium {font-size:16px; line-height:23px}
// .text-large {font-size:18px; line-height:26px}
// .text-extra-large {font-size: 20px; line-height:26px}
// .title-large {font-size: 100px; line-height:95px}
// .title-extra-large {font-size: 130px; line-height:120px}

// /* text color */
// .text-white-2, .btn.text-white-2 {color:#FFF}
// .text-black, .btn.text-black {color:#000}
// .text-extra-dark-gray, .btn.text-extra-dark-gray {color:#232323}
// .text-dark-gray, .btn.text-dark-gray {color:#626262}
// .text-extra-medium-gray, .btn.text-extra-medium-gray {color:#757575}
// .text-medium-gray, .btn.text-medium-gray {color:#939393}
// .text-extra-light-gray, .btn.text-extra-light-gray {color:#b7b7b7}
// .text-light-gray, .btn.text-light-gray {color:#d6d5d5}
// .text-very-light-gray, .btn.text-very-light-gray {color:#ededed}
// .text-deep-pink, .btn.text-deep-pink {color: var(--base-color)}