// Character | Case
// ============================================================================





@mixin character_smallcaps {
  font-variant-caps:         small-caps;           // normal | small-caps | all-small-caps | petite-caps | all-petite-caps | unicase | titling-caps | initial | inherit | unset
}

@mixin character_smallcaps_all {
  font-variant-caps:         all-small-caps;           // normal | small-caps | all-small-caps | petite-caps | all-petite-caps | unicase | titling-caps | initial | inherit | unset
}

@mixin character_uppercase {
  text-transform: uppercase;
}
