// Character | Hyperlink
// ============================================================================


@mixin hyperlink_clean_base {
  text-decoration: none !important;
  color: inherit !important;
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
  outline-width: 0; /* Remove the outline when hovering in all browsers */
  cursor: pointer;
}

@mixin hyperlink_clean {
  @include hyperlink_clean_base;
  :any-link           { @include hyperlink_clean_base; }
  :-webkit-any-link   { @include hyperlink_clean_base; }
  :link               { @include hyperlink_clean_base; }
  :-webkit-link       { @include hyperlink_clean_base; }
  :visited            { @include hyperlink_clean_base; }
  // :-webkit-visited            { @include hyperlink_clean_base; }
  :hover              { @include hyperlink_clean_base; }
  :active             { @include hyperlink_clean_base; }
  :focus              { @include hyperlink_clean_base; }
}

@mixin hyperlink {
  color: #212121;
  // @include paragraph_link_normal;
  // color: -webkit-link;
  text-decoration: none !important;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  transition: 0.2s;
//     -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
//     transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: auto;
  // cursor: pointer;

  :any-link {
  
  }
  :link {

  }
  :visited {

  }
  :hover {
    opacity: 0.75;
    color: #00af94;
    color:inherit;
    text-decoration: underline;
    text-decoration: none !important;
    outline: none !important;
  }
  :active {
    // outline: none !important;
    //     text-decoration: none !important;
    //     color: #FFFFFF;
  }
  :focus {
    // outline: none !important;
    //     text-decoration: none !important;
    //     color: #FFFFFF;
  }
}



// /* LINK
// -------------------------------------------- */
// a
// {
//     -webkit-transition: all var(--ptf-transition-duration) var(--ptf-transition-easing);
//             transition: all var(--ptf-transition-duration) var(--ptf-transition-easing); 
//     text-decoration: none;

//     color: inherit;
// }
// a:hover,
// a:focus,
// a:active
// {
//     text-decoration: none;

//     outline: none;
// }
// a:hover
// {
//     color: var(--ptf-accent-1);
// }
// .ptf-is--home-dark a:hover
// {
//     color: var(--ptf-color-white);
// }



// @mixin paragraph_link_normal {
//   @include paragraph_normal;
//   text-decoration: none;
// }

// @mixin paragraph_link_line {
//   @include paragraph_link_normal;
//   @include character_line_under;
// }

// @mixin paragraph_link_line_alt {
//   @include paragraph_link_normal;
//   @include character_line_under_alt;
// }

    
// a {
//   @include paragraph_link_normal
// }
