// *--------------------
// Body
// --------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #ffd2c1, #f9d0d3);
}

.scene {
    position: absolute;
  width: 100%;
  height: 100vh;
}