////
///
/// Grid Layout Mixins Module
/// ===========================================================================
///
/// @group Grid
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

@use "../../dev" as *;
@use "gap" as *;

// ============================================================================
// Layout | Grid | Column
// ============================================================================

/// Mixin for grid column span
/// @param {Number} $val - The number of columns to span
/// @group Grid Column
@mixin col($val) {
    grid-column: span $val;
}

/// Mixin for small screen grid column span
/// @param {Number} $val - The number of columns to span on small screens
/// @group Grid Column
@mixin col--sm($val) {
    @media (min-width: $media_sm) {
        @include col($val);
    }
}

/// Mixin for medium screen grid column span
/// @param {Number} $val - The number of columns to span on medium screens
/// @group Grid Column
@mixin col--md($val) {
    @media (min-width: $media_md) {
        @include col($val);
    }
}

/// Mixin for large screen grid column span
/// @param {Number} $val - The number of columns to span on large screens
/// @group Grid Column
@mixin col--lg($val) {
    @media (min-width: $media_lg) {
        @include col($val);
    }
}

// Utility mixins for specific column spans
/// @group Grid Column
@mixin col--1 {
    @include col(1);
}
@mixin col--2 {
    @include col(2);
}
@mixin col--3 {
    @include col(3);
}
@mixin col--4 {
    @include col(4);
}
@mixin col--5 {
    @include col(5);
}
@mixin col--6 {
    @include col(6);
}
@mixin col--7 {
    @include col(7);
}
@mixin col--8 {
    @include col(8);
}
@mixin col--9 {
    @include col(9);
}
@mixin col--10 {
    @include col(10);
}
@mixin col--11 {
    @include col(11);
}
@mixin col--12 {
    @include col(12);
}
@mixin col--13 {
    @include col(13);
}
@mixin col--14 {
    @include col(14);
}
@mixin col--15 {
    @include col(15);
}
@mixin col--16 {
    @include col(16);
}
@mixin col--17 {
    @include col(17);
}
@mixin col--18 {
    @include col(18);
}
@mixin col--19 {
    @include col(19);
}
@mixin col--20 {
    @include col(20);
}
@mixin col--21 {
    @include col(21);
}
@mixin col--22 {
    @include col(22);
}
@mixin col--23 {
    @include col(23);
}
@mixin col--24 {
    @include col(24);
}

// Utility classes for specific column spans
/// @group Grid Column
.col--1 {
    @include col--1;
}
.col--2 {
    @include col--2;
}
.col--3 {
    @include col--3;
}
.col--4 {
    @include col--4;
}
.col--5 {
    @include col--5;
}
.col--6 {
    @include col--6;
}
.col--7 {
    @include col--7;
}
.col--8 {
    @include col--8;
}
.col--9 {
    @include col--9;
}
.col--10 {
    @include col--10;
}
.col--11 {
    @include col--11;
}
.col--12 {
    @include col--12;
}
.col--13 {
    @include col--13;
}
.col--14 {
    @include col--14;
}
.col--15 {
    @include col--15;
}
.col--16 {
    @include col--16;
}
.col--17 {
    @include col--17;
}
.col--18 {
    @include col--18;
}
.col--19 {
    @include col--19;
}
.col--20 {
    @include col--20;
}
.col--21 {
    @include col--21;
}
.col--22 {
    @include col--22;
}
.col--23 {
    @include col--23;
}
.col--24 {
    @include col--24;
}

// Utility mixins for specific small screen column spans
/// @group Grid Column
@mixin col--sm--1 {
    @include col--sm(1);
}
@mixin col--sm--2 {
    @include col--sm(2);
}
@mixin col--sm--3 {
    @include col--sm(3);
}
@mixin col--sm--4 {
    @include col--sm(4);
}
@mixin col--sm--5 {
    @include col--sm(5);
}
@mixin col--sm--6 {
    @include col--sm(6);
}
@mixin col--sm--7 {
    @include col--sm(7);
}
@mixin col--sm--8 {
    @include col--sm(8);
}
@mixin col--sm--9 {
    @include col--sm(9);
}
@mixin col--sm--10 {
    @include col--sm(10);
}
@mixin col--sm--11 {
    @include col--sm(11);
}
@mixin col--sm--12 {
    @include col--sm(12);
}
@mixin col--sm--13 {
    @include col--sm(13);
}
@mixin col--sm--14 {
    @include col--sm(14);
}
@mixin col--sm--15 {
    @include col--sm(15);
}
@mixin col--sm--16 {
    @include col--sm(16);
}
@mixin col--sm--17 {
    @include col--sm(17);
}
@mixin col--sm--18 {
    @include col--sm(18);
}
@mixin col--sm--19 {
    @include col--sm(19);
}
@mixin col--sm--20 {
    @include col--sm(20);
}
@mixin col--sm--21 {
    @include col--sm(21);
}
@mixin col--sm--22 {
    @include col--sm(22);
}
@mixin col--sm--23 {
    @include col--sm(23);
}
@mixin col--sm--24 {
    @include col--sm(24);
}

// Utility classes for specific small screen column spans
/// @group Grid Column
.col--sm--1 {
    @include col--sm--1;
}
.col--sm--2 {
    @include col--sm--2;
}
.col--sm--3 {
    @include col--sm--3;
}
.col--sm--4 {
    @include col--sm--4;
}
.col--sm--5 {
    @include col--sm--5;
}
.col--sm--6 {
    @include col--sm--6;
}
.col--sm--7 {
    @include col--sm--7;
}
.col--sm--8 {
    @include col--sm--8;
}
.col--sm--9 {
    @include col--sm--9;
}
.col--sm--10 {
    @include col--sm--10;
}
.col--sm--11 {
    @include col--sm--11;
}
.col--sm--12 {
    @include col--sm--12;
}
.col--sm--13 {
    @include col--sm--13;
}
.col--sm--14 {
    @include col--sm--14;
}
.col--sm--15 {
    @include col--sm--15;
}
.col--sm--16 {
    @include col--sm--16;
}
.col--sm--17 {
    @include col--sm--17;
}
.col--sm--18 {
    @include col--sm--18;
}
.col--sm--19 {
    @include col--sm--19;
}
.col--sm--20 {
    @include col--sm--20;
}
.col--sm--21 {
    @include col--sm--21;
}
.col--sm--22 {
    @include col--sm--22;
}
.col--sm--23 {
    @include col--sm--23;
}
.col--sm--24 {
    @include col--sm--24;
}

// Utility mixins for specific medium screen column spans
/// @group Grid Column
@mixin col--md--1 {
    @include col--md(1);
}
@mixin col--md--2 {
    @include col--md(2);
}
@mixin col--md--3 {
    @include col--md(3);
}
@mixin col--md--4 {
    @include col--md(4);
}
@mixin col--md--5 {
    @include col--md(5);
}
@mixin col--md--6 {
    @include col--md(6);
}
@mixin col--md--7 {
    @include col--md(7);
}
@mixin col--md--8 {
    @include col--md(8);
}
@mixin col--md--9 {
    @include col--md(9);
}
@mixin col--md--10 {
    @include col--md(10);
}
@mixin col--md--11 {
    @include col--md(11);
}
@mixin col--md--12 {
    @include col--md(12);
}
@mixin col--md--13 {
    @include col--md(13);
}
@mixin col--md--14 {
    @include col--md(14);
}
@mixin col--md--15 {
    @include col--md(15);
}
@mixin col--md--16 {
    @include col--md(16);
}
@mixin col--md--17 {
    @include col--md(17);
}
@mixin col--md--18 {
    @include col--md(18);
}
@mixin col--md--19 {
    @include col--md(19);
}
@mixin col--md--20 {
    @include col--md(20);
}
@mixin col--md--21 {
    @include col--md(21);
}
@mixin col--md--22 {
    @include col--md(22);
}
@mixin col--md--23 {
    @include col--md(23);
}
@mixin col--md--24 {
    @include col--md(24);
}

// Utility classes for specific medium screen column spans
/// @group Grid Column
.col--md--1 {
    @include col--md--1;
}
.col--md--2 {
    @include col--md--2;
}
.col--md--3 {
    @include col--md--3;
}
.col--md--4 {
    @include col--md--4;
}
.col--md--5 {
    @include col--md--5;
}
.col--md--6 {
    @include col--md--6;
}
.col--md--7 {
    @include col--md--7;
}
.col--md--8 {
    @include col--md--8;
}
.col--md--9 {
    @include col--md--9;
}
.col--md--10 {
    @include col--md--10;
}
.col--md--11 {
    @include col--md--11;
}
.col--md--12 {
    @include col--md--12;
}
.col--md--13 {
    @include col--md--13;
}
.col--md--14 {
    @include col--md--14;
}
.col--md--15 {
    @include col--md--15;
}
.col--md--16 {
    @include col--md--16;
}
.col--md--17 {
    @include col--md--17;
}
.col--md--18 {
    @include col--md--18;
}
.col--md--19 {
    @include col--md--19;
}
.col--md--20 {
    @include col--md--20;
}
.col--md--21 {
    @include col--md--21;
}
.col--md--22 {
    @include col--md--22;
}
.col--md--23 {
    @include col--md--23;
}
.col--md--24 {
    @include col--md--24;
}

// Utility mixins for specific large screen column spans
/// @group Grid Column
@mixin col--lg--1 {
    @include col--lg(1);
}
@mixin col--lg--2 {
    @include col--lg(2);
}
@mixin col--lg--3 {
    @include col--lg(3);
}
@mixin col--lg--4 {
    @include col--lg(4);
}
@mixin col--lg--5 {
    @include col--lg(5);
}
@mixin col--lg--6 {
    @include col--lg(6);
}
@mixin col--lg--7 {
    @include col--lg(7);
}
@mixin col--lg--8 {
    @include col--lg(8);
}
@mixin col--lg--9 {
    @include col--lg(9);
}
@mixin col--lg--10 {
    @include col--lg(10);
}
@mixin col--lg--11 {
    @include col--lg(11);
}
@mixin col--lg--12 {
    @include col--lg(12);
}
@mixin col--lg--13 {
    @include col--lg(13);
}
@mixin col--lg--14 {
    @include col--lg(14);
}
@mixin col--lg--15 {
    @include col--lg(15);
}
@mixin col--lg--16 {
    @include col--lg(16);
}
@mixin col--lg--17 {
    @include col--lg(17);
}
@mixin col--lg--18 {
    @include col--lg(18);
}
@mixin col--lg--19 {
    @include col--lg(19);
}
@mixin col--lg--20 {
    @include col--lg(20);
}
@mixin col--lg--21 {
    @include col--lg(21);
}
@mixin col--lg--22 {
    @include col--lg(22);
}
@mixin col--lg--23 {
    @include col--lg(23);
}
@mixin col--lg--24 {
    @include col--lg(24);
}

// Utility classes for specific large screen column spans
/// @group Grid Column
.col--lg--1 {
    @include col--lg--1;
}
.col--lg--2 {
    @include col--lg--2;
}
.col--lg--3 {
    @include col--lg--3;
}
.col--lg--4 {
    @include col--lg--4;
}
.col--lg--5 {
    @include col--lg--5;
}
.col--lg--6 {
    @include col--lg--6;
}
.col--lg--7 {
    @include col--lg--7;
}
.col--lg--8 {
    @include col--lg--8;
}
.col--lg--9 {
    @include col--lg--9;
}
.col--lg--10 {
    @include col--lg--10;
}
.col--lg--11 {
    @include col--lg--11;
}
.col--lg--12 {
    @include col--lg--12;
}
.col--lg--13 {
    @include col--lg--13;
}
.col--lg--14 {
    @include col--lg--14;
}
.col--lg--15 {
    @include col--lg--15;
}
.col--lg--16 {
    @include col--lg--16;
}
.col--lg--17 {
    @include col--lg--17;
}
.col--lg--18 {
    @include col--lg--18;
}
.col--lg--19 {
    @include col--lg--19;
}
.col--lg--20 {
    @include col--lg--20;
}
.col--lg--21 {
    @include col--lg--21;
}
.col--lg--22 {
    @include col--lg--22;
}
.col--lg--23 {
    @include col--lg--23;
}
.col--lg--24 {
    @include col--lg--24;
}

.column-1-3 {
    width: 33.3333%;
    @media (max-width: 600px) {
        width: 100%;
    }
}
