////
///
/// Grid Layout Mixins Module
/// ===========================================================================
///
/// @group Grid
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

@use "sass:map";

@use "../../dev" as *;
@use "gap" as *;

// ============================================================================
// Layout | Grid
// ============================================================================

// CSS Grid Layout Mixin:
// Creates a grid layout with specified columns and gap.

// @mixin grid-layout($columns, $gap: q(16)) {
//   display: grid;
//   grid-template-columns: repeat($columns, 1fr);
//   gap: $gap;
// }

// .grid-3-cols {
//   @include grid-layout(3);
// }

// Layout | Grid
// ============================================================================

$bleed: 2 * (map.get($baseline, 4));

// $grid_width_min:   calc(100vw - $bleed);
// $grid_width_max:   calc($media_xl - $bleed);

$grid__columns_min: 6;
$grid__columns_max: 12;
$grid__columns_width: 1fr;

// $grid_item_width_half_min: calc($grid__columns_min / 2);
// $grid_item_width_half_max: calc($grid__columns_max / 2);

// Grid | Parents
// ============================================================================

// Grid | Parents | Display
// ----------------------------------------------------------------------------

/// Base mixin for grid layouts
/// @group Grid Layout
@mixin grid_layout {
    display: grid;
    @include gap(2);
    position: relative;
}

/// Base mixin for inline grid layouts
/// @group Grid Layout
@mixin grid--inline {
    display: inline-grid;
    @include gap(2);
    width: 100%;
    position: relative;
}

// Grid | Parents | Areas
// ----------------------------------------------------------------------------

// .container {
//   grid-template-areas:
//     "<grid-area-name> | . | none | ..."
//     "...";
// }

// Grid | Parents | Autoflow
// ----------------------------------------------------------------------------

/// Mixin for grid flow row
/// @group Grid Flow
@mixin grid__flow--row {
    grid-auto-flow: row;
}

/// Mixin for grid flow row dense
/// @group Grid Flow
@mixin grid__flow--row--dense {
    grid-auto-flow: row dense;
}

/// Mixin for grid flow column
/// @group Grid Flow
@mixin grid__flow--col {
    grid-auto-flow: column;
}

/// Mixin for grid flow column dense
/// @group Grid Flow
@mixin grid__flow--col--dense {
    grid-auto-flow: column dense;
}

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
