////
///
/// Grid Layout Mixins Module
/// ===========================================================================
///
/// @group Grid
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

@use "../../dev" as *;
@use "gap" as *;

// ============================================================================
// Layout | Grid | Cell
// ============================================================================

// Cell | Span | Absolute | Column
// ----------------------------------------------------------------------------

/// Base Mixin for Grid Cell
/// @group Grid Cell
@mixin cell--base {
    // max-width: 100%;
    overflow: hidden;
}

// Cell | Span | Absolute | Column
// ----------------------------------------------------------------------------

/// Mixin for Grid Column Span
/// @param {Number} $var - Number of columns to span
/// @group Grid Cell
@mixin cell__col__span($var) {
    @include cell--base;
    grid-column: span $var !important;
}

/// Utility mixins for specific column spans
/// @group Grid Cell
@mixin cell__col__span--1 {
    @include cell__col__span(1);
}
@mixin cell__col__span--2 {
    @include cell__col__span(2);
}
@mixin cell__col__span--3 {
    @include cell__col__span(3);
}
@mixin cell__col__span--4 {
    @include cell__col__span(4);
}
@mixin cell__col__span--5 {
    @include cell__col__span(5);
}
@mixin cell__col__span--6 {
    @include cell__col__span(6);
}
@mixin cell__col__span--7 {
    @include cell__col__span(7);
}
@mixin cell__col__span--8 {
    @include cell__col__span(8);
}
@mixin cell__col__span--9 {
    @include cell__col__span(9);
}
@mixin cell__col__span--10 {
    @include cell__col__span(10);
}
@mixin cell__col__span--11 {
    @include cell__col__span(11);
}
@mixin cell__col__span--12 {
    @include cell__col__span(12);
}
@mixin cell__col__span--13 {
    @include cell__col__span(13);
}
@mixin cell__col__span--14 {
    @include cell__col__span(14);
}
@mixin cell__col__span--15 {
    @include cell__col__span(15);
}
@mixin cell__col__span--16 {
    @include cell__col__span(16);
}
@mixin cell__col__span--17 {
    @include cell__col__span(17);
}
@mixin cell__col__span--18 {
    @include cell__col__span(18);
}
@mixin cell__col__span--19 {
    @include cell__col__span(19);
}
@mixin cell__col__span--20 {
    @include cell__col__span(20);
}
@mixin cell__col__span--21 {
    @include cell__col__span(21);
}
@mixin cell__col__span--22 {
    @include cell__col__span(22);
}
@mixin cell__col__span--23 {
    @include cell__col__span(23);
}
@mixin cell__col__span--24 {
    @include cell__col__span(24);
}

/// Utility classes for column spans
/// @group Grid Cell
.cell__col__span--1 {
    @include cell__col__span--1;
}
.cell__col__span--2 {
    @include cell__col__span--2;
}
.cell__col__span--3 {
    @include cell__col__span--3;
}
.cell__col__span--4 {
    @include cell__col__span--4;
}
.cell__col__span--5 {
    @include cell__col__span--5;
}
.cell__col__span--6 {
    @include cell__col__span--6;
}
.cell__col__span--7 {
    @include cell__col__span--7;
}
.cell__col__span--8 {
    @include cell__col__span--8;
}
.cell__col__span--9 {
    @include cell__col__span--9;
}
.cell__col__span--10 {
    @include cell__col__span--10;
}
.cell__col__span--11 {
    @include cell__col__span--11;
}
.cell__col__span--12 {
    @include cell__col__span--12;
}
.cell__col__span--13 {
    @include cell__col__span--13;
}
.cell__col__span--14 {
    @include cell__col__span--14;
}
.cell__col__span--15 {
    @include cell__col__span--15;
}
.cell__col__span--16 {
    @include cell__col__span--16;
}
.cell__col__span--17 {
    @include cell__col__span--17;
}
.cell__col__span--18 {
    @include cell__col__span--18;
}
.cell__col__span--19 {
    @include cell__col__span--19;
}
.cell__col__span--20 {
    @include cell__col__span--20;
}
.cell__col__span--21 {
    @include cell__col__span--21;
}
.cell__col__span--22 {
    @include cell__col__span--22;
}
.cell__col__span--23 {
    @include cell__col__span--23;
}
.cell__col__span--24 {
    @include cell__col__span--24;
}

// Cell | Span | Absolute | Row
// ----------------------------------------------------------------------------

/// Mixin for Grid Row Span
/// @param {Number} $var - Number of rows to span
/// @group Grid Cell
@mixin cell__row--_span($var) {
    grid-row: span $var;
}

/// Utility mixins for specific row spans
/// @group Grid Cell
@mixin cell__row--_span--1 {
    @include cell__row--_span(1);
}
@mixin cell__row--_span--2 {
    @include cell__row--_span(2);
}
@mixin cell__row--_span--3 {
    @include cell__row--_span(3);
}
@mixin cell__row--_span--4 {
    @include cell__row--_span(4);
}
@mixin cell__row--_span--5 {
    @include cell__row--_span(5);
}
@mixin cell__row--_span--6 {
    @include cell__row--_span(6);
}
@mixin cell__row--_span--7 {
    @include cell__row--_span(7);
}
@mixin cell__row--_span--8 {
    @include cell__row--_span(8);
}
@mixin cell__row--_span--9 {
    @include cell__row--_span(9);
}
@mixin cell__row--_span--10 {
    @include cell__row--_span(10);
}
@mixin cell__row--_span--11 {
    @include cell__row--_span(11);
}
@mixin cell__row--_span--12 {
    @include cell__row--_span(12);
}
@mixin cell__row--_span--13 {
    @include cell__row--_span(13);
}
@mixin cell__row--_span--14 {
    @include cell__row--_span(14);
}
@mixin cell__row--_span--15 {
    @include cell__row--_span(15);
}
@mixin cell__row--_span--16 {
    @include cell__row--_span(16);
}
@mixin cell__row--_span--17 {
    @include cell__row--_span(17);
}
@mixin cell__row--_span--18 {
    @include cell__row--_span(18);
}
@mixin cell__row--_span--19 {
    @include cell__row--_span(19);
}
@mixin cell__row--_span--20 {
    @include cell__row--_span(20);
}
@mixin cell__row--_span--21 {
    @include cell__row--_span(21);
}
@mixin cell__row--_span--22 {
    @include cell__row--_span(22);
}
@mixin cell__row--_span--23 {
    @include cell__row--_span(23);
}
@mixin cell__row--_span--24 {
    @include cell__row--_span(24);
}

/// Utility classes for row spans
/// @group Grid Cell
.cell__row--_span--1 {
    @include cell__row--_span--1;
}
.cell__row--_span--2 {
    @include cell__row--_span--2;
}
.cell__row--_span--3 {
    @include cell__row--_span--3;
}
.cell__row--_span--4 {
    @include cell__row--_span--4;
}
.cell__row--_span--5 {
    @include cell__row--_span--5;
}
.cell__row--_span--6 {
    @include cell__row--_span--6;
}
.cell__row--_span--7 {
    @include cell__row--_span--7;
}
.cell__row--_span--8 {
    @include cell__row--_span--8;
}
.cell__row--_span--9 {
    @include cell__row--_span--9;
}
.cell__row--_span--10 {
    @include cell__row--_span--10;
}
.cell__row--_span--11 {
    @include cell__row--_span--11;
}
.cell__row--_span--12 {
    @include cell__row--_span--12;
}
.cell__row--_span--13 {
    @include cell__row--_span--13;
}
.cell__row--_span--14 {
    @include cell__row--_span--14;
}
.cell__row--_span--15 {
    @include cell__row--_span--15;
}
.cell__row--_span--16 {
    @include cell__row--_span--16;
}
.cell__row--_span--17 {
    @include cell__row--_span--17;
}
.cell__row--_span--18 {
    @include cell__row--_span--18;
}
.cell__row--_span--19 {
    @include cell__row--_span--19;
}
.cell__row--_span--20 {
    @include cell__row--_span--20;
}
.cell__row--_span--21 {
    @include cell__row--_span--21;
}
.cell__row--_span--22 {
    @include cell__row--_span--22;
}
.cell__row--_span--23 {
    @include cell__row--_span--23;
}
.cell__row--_span--24 {
    @include cell__row--_span--24;
}

// Cell | Span | Relative | Column
// ----------------------------------------------------------------------------

/// Mixin for spanning full width in a column layout
/// @group Grid Cell
@mixin cell__col__span--full {
    grid-column: 1/-1;
}

/// Utility class for full-width column span
/// @group Grid Cell
.cell__col__span--full {
    @include cell__col__span--full;
}

// Cell | Span | Relative | Row
// ----------------------------------------------------------------------------

/// Mixin for spanning full height in a row layout
/// @group Grid Cell
@mixin cell__row--_span--full {
    grid-row: 1/-1;
}

/// Utility class for full-height row span
/// @group Grid Cell
.cell__row--_span--full {
    @include cell__row--_span--full;
}

// ----------------------------------------------------------------------------

/// Utility class to set a full-width row
/// @group Grid Cell
.row {
    @include cell__col__span--full;
}

/// Utility class to set a full-height column
/// @group Grid Cell
.col {
    @include cell__row--_span--full;
}

// @mixin cell__col__span--12 {
//   @media screen and (max-width: $view_width_max) {grid-column: span 6;}
//   @media screen and (min-width: $view_width_max) {grid-column: span 12;}
// }
// @mixin cell__col__span--10 {
//   @media screen and (max-width: $view_width_max) {grid-column: span 5;}
//   @media screen and (min-width: $view_width_max) {grid-column: span 10;}
// }
// @mixin cell__col__span--8 {
//   @media screen and (max-width: $view_width_max) {grid-column: span 4;}
//   @media screen and (min-width: $view_width_max) {grid-column: span 8;}
// }
// @mixin cell__col__span--6 {
//   @media screen and (max-width: $view_width_max) {grid-column: span 3;}
//   @media screen and (min-width: $view_width_max) {grid-column: span 6;}
// }
// @mixin cell__col__span--4 {
//   @media screen and (max-width: $view_width_max) {grid-column: span 2;}
//   @media screen and (min-width: $view_width_max) {grid-column: span 4;}
// }
// @mixin cell__col__span--2 {
//   @media screen and (max-width: $view_width_max) {grid-column: span 1;}
//   @media screen and (min-width: $view_width_max) {grid-column: span 2;}
// }

// .grid_item_full {
//   @media screen and (max-width: $view_width_max) {grid-column: span 6;}
//   @media screen and (min-width: $view_width_max) {grid-column: span 12;}
// }
// .grid_item_half {
//   @media screen and (max-width: $view_width_max) {grid-column: span 6;}
//   @media screen and (min-width: $view_width_max) {grid-column: span 6;}
// }
