
// @use '~stylescape/scss/index.scss' as * with (
//     $font_path: '~stylescape/font/'
// );

// @forward 'variables';


:root {
  --map-border-radius: 8px;
  --accent-color: #007acc;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  // background: #f9f9f9;
}

#map, #deck-map {
  width: 100vw;
  height: 100vh;
  border-radius: var(--map-border-radius);
  overflow: hidden;
}


h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}

code {
  background: #eee;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  font-size: 0.9rem;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.map-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.map-box {
  position: relative;
  min-height: 300px;
  border: 1px solid #ccc;
}

.map-box>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 {
  margin: 0 0 0.25rem;
  font-size: 1rem;
  padding: 0 0.5rem;
}
#mapbox-map {
  width: 100vw;
  height: 100vh;
}

.aspect-map{
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}
