{% extends "../base.html.jinja" %} {% set title = "Character Variants" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h1>{{ title }}</h1>
    </header>

    <section class="ss-c-demo__section">
        <div class="ss-c-font-preview-controls">
            <label for="font-preview-input">Preview text:</label>
            <input
                id="font-preview-input"
                type="text"
                placeholder="The quick brown fox…"
            />
        </div>
    </section>

    {% set section_title = "Style, Weight and Size Variants" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h2>{{ section_title }}</h2>

        {% set label = ".ss-t-italic" %} {% set class = "ss-t-italic" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-oblique" %} {% set class = "ss-t-oblique" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-style-normal" %} {% set class = "ss-t-style-normal" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-bold" %} {% set class = "ss-t-bold" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-small" %} {% set class = "ss-t-small" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-text-smaller" %} {% set class = "ss-t-text-smaller" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-text-larger" %} {% set class = "ss-t-text-larger" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-accent" %} {% set class = "ss-t-accent" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-char-emphasis" %} {% set class = "ss-t-char-emphasis" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>
    </section>
</section>

{%- endblock %}
