{% extends "../base.html.jinja" %} {% set title = "Letter Spacing" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <div class="ss-c-demo__subsection">
        <p>
            Positive tracking utilities from
            <code>.ss-tracking-0</code>
            to
            <code>.ss-tracking-12</code>
            .
        </p>
    </div>

    {% for i in range(0, 13) %} {% set label=".ss-tracking-" ~ i %} {% set
    class="ss-tracking-" ~ i %}
    <div class="ss-c-demo__subsection">
        {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
    </div>
    {% endfor %}
</section>

<section class="ss-c-demo__section">
    <header class="ss-c-demo__section__header">
        <h3>Negative Tracking</h3>
    </header>
    {% for i in range(0, 13) %} {% set label=".ss-tracking--" ~ i %} {% set
    class="ss-tracking--" ~ i %}
    <div class="ss-c-demo__subsection">
        {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
    </div>
    {% endfor %}
</section>

{%- endblock %}
