{% extends "../base.html.jinja" %} {% set title = "Case Characters" %} {%-
block title %}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h1>{{ title }}</h1>
    </header>

    <section class="ss-c-demo__section">
        <div class="ss-c-font-preview-controls">
            <label for="font-preview-input">Preview text:</label>
            <input
                id="font-preview-input"
                type="text"
                placeholder="The quick brown fox…"
            />
        </div>
    </section>

    {% set section_title = "Case Character Styles" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h2>{{ section_title }}</h2>

        {% set label = ".ss-t-char-smallcaps" %} {% set class = "ss-t-char-smallcaps" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-char-uppercase" %} {% set class = "ss-t-char-uppercase" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-char-lowercase" %} {% set class = "ss-t-char-lowercase" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-char-capitalize" %} {% set class = "ss-t-char-capitalize" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".ss-t-text-normal" %} {% set class = "ss-t-text-normal" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>
    </section>
</section>

{%- endblock %}
