{% extends "../base.html.jinja" %} {% set title = "Dropcap Characters" %} {%-
block title %}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__section">
        <div class="font-preview-controls">
            <label for="font-preview-input">Preview text:</label>
            <input
                id="font-preview-input"
                type="text"
                placeholder="The quick brown fox…"
            />
        </div>
    </section>

    {% set section_title = "Case Character Styles" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set label = ".character_smallcaps" %} {% set class =
        "character_smallcaps" %} {%- include
        "includes/preview/preview_box_font.html.jinja" %} {% set label =
        ".character_smallcaps_all" %} {% set class = "character_smallcaps_all"
        %} {%- include "includes/preview/preview_box_font.html.jinja" %} {% set
        label = ".character_petite_caps" %} {% set class =
        "character_petite_caps" %} {%- include
        "includes/preview/preview_box_font.html.jinja" %} {% set label =
        ".character_all_petite_caps" %} {% set class =
        "character_all_petite_caps" %} {%- include
        "includes/preview/preview_box_font.html.jinja" %} {% set label =
        ".character_unicase" %} {% set class = "character_unicase" %} {%-
        include "includes/preview/preview_box_font.html.jinja" %} {% set label
        = ".character_titling_caps" %} {% set class = "character_titling_caps"
        %} {%- include "includes/preview/preview_box_font.html.jinja" %} {% set
        label = ".character_uppercase" %} {% set class = "character_uppercase"
        %} {%- include "includes/preview/preview_box_font.html.jinja" %} {% set
        label = ".character_lowercase" %} {% set class = "character_lowercase"
        %} {%- include "includes/preview/preview_box_font.html.jinja" %} {% set
        label = ".character_capitalize" %} {% set class =
        "character_capitalize" %} {%- include
        "includes/preview/preview_box_font.html.jinja" %}
    </section>
</section>

{%- endblock %}
