{% extends "../base.html.jinja" %} {% set title = "Character Styles" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="ss-c-demo__section">
        <div class="font-preview-controls">
            <label for="font-preview-input">Preview text:</label>
            <input
                id="font-preview-input"
                type="text"
                placeholder="The quick brown fox…"
            />
        </div>
    </section>

    {% set section_title = "Base Character Styles" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set label = ".character_default" %} {% set class =
        "character_default" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_normal" %} {% set class = "character_normal"
        %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_italic" %} {% set class = "character_italic"
        %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_bold" %} {% set class = "character_bold" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_code" %} {% set class = "character_code" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_initial" %} {% set class =
        "character_initial" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_inherit" %} {% set class =
        "character_inherit" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_unset" %} {% set class = "character_unset"
        %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>
    </section>

    {% set section_title = "Case Character Styles" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set label = ".character_smallcaps" %} {% set class =
        "character_smallcaps" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_smallcaps_all" %} {% set class =
        "character_smallcaps_all" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_petite_caps" %} {% set class =
        "character_petite_caps" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_all_petite_caps" %} {% set class =
        "character_all_petite_caps" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_unicase" %} {% set class =
        "character_unicase" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_titling_caps" %} {% set class =
        "character_titling_caps" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_uppercase" %} {% set class =
        "character_uppercase" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_lowercase" %} {% set class =
        "character_lowercase" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>

        {% set label = ".character_capitalize" %} {% set class =
        "character_capitalize" %}
        <div class="ss-c-demo__subsection">
            {%- include "includes/preview/ss-c-preview_font.html.jinja" %}
        </div>
    </section>
</section>

{%- endblock %}
