////
///
/// Accordion Components Mixins Module
/// ===========================================================================
///
/// @group Components
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @see https://www.w3schools.com/howto/howto_js_accordion.asp
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use '../../dev' as *;
@use '../../variables' as *;

@use '../head_layout' as *;
@use '../head_grid' as *; // @use '../elements' as *;
@use '../soul_type' as *;

// .card {
//     // scss-docs-start card-css-vars
//     card-spacer-y: #{$card-spacer-y};
//     card-spacer-x: #{$card-spacer-x};
//     card-title-spacer-y: #{$card-title-spacer-y};
//     card-title-color: #{$card-title-color};
//     card-subtitle-color: #{$card-subtitle-color};
//     card-border-width: #{$card-border-width};
//     card-border-color: #{$card-border-color};
//     card-border-radius: #{$card-border-radius};
//     card-box-shadow: #{$card-box-shadow};
//     card-inner-border-radius: #{$card-inner-border-radius};
//     card-cap-padding-y: #{$card-cap-padding-y};
//     card-cap-padding-x: #{$card-cap-padding-x};
//     card-cap-bg: #{$card-cap-bg};
//     card-cap-color: #{$card-cap-color};
//     card-height: #{$card-height};
//     card-color: #{$card-color};
//     card-bg: #{$card-bg};
//     card-img-overlay-padding: #{$card-img-overlay-padding};
//     card-group-margin: #{$card-group-margin};
//     // scss-docs-end card-css-vars

//     position: relative;
//     display: flex;
//     flex-direction: column;
//     min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
//     height: var(card-height);
//     word-wrap: break-word;
//     background-color: var(card-bg);
//     background-clip: border-box;
//     border: var(card-border-width) solid var(card-border-color);
//     @include border-radius(var(card-border-radius));
//     @include box-shadow(var(card-box-shadow));

//     > hr {
//       margin-right: 0;
//       margin-left: 0;
//     }

//     > .list-group {
//       border-top: inherit;
//       border-bottom: inherit;

//       &:first-child {
//         border-top-width: 0;
//         @include border-top-radius(var(card-inner-border-radius));
//       }

//       &:last-child  {
//         border-bottom-width: 0;
//         @include border-bottom-radius(var(card-inner-border-radius));
//       }
//     }

//     // Due to specificity of the above selector (`.card > .list-group`), we must
//     // use a child selector here to prevent double borders.
//     > .card-header + .list-group,
//     > .list-group + .card-footer {
//       border-top: 0;
//     }
//   }

//   .card-body {
//     // Enable `flex-grow: 1` for decks and groups so that card blocks take up
//     // as much space as possible, ensuring footers are aligned to the bottom.
//     flex: 1 1 auto;
//     padding: var(card-spacer-y) var(card-spacer-x);
//     color: var(card-color);
//   }

//   .card-title {
//     margin-bottom: var(card-title-spacer-y);
//     color: var(card-title-color);
//   }

//   .card-subtitle {
//     margin-top: calc(-.5 * var(card-title-spacer-y)); // stylelint-disable-line function-disallowed-list
//     margin-bottom: 0;
//     color: var(card-subtitle-color);
//   }

//   .card-text:last-child {
//     margin-bottom: 0;
//   }

//   .card-link {
//     &:hover {
//       text-decoration: if($link-hover-decoration == underline, none, null);
//     }

//     + .card-link {
//       margin-left: var(card-spacer-x);
//     }
//   }

//   //
//   // Optional textual caps
//   //

//   .card-header {
//     padding: var(card-cap-padding-y) var(card-cap-padding-x);
//     margin-bottom: 0; // Removes the default margin-bottom of <hN>
//     color: var(card-cap-color);
//     background-color: var(card-cap-bg);
//     border-bottom: var(card-border-width) solid var(card-border-color);

//     &:first-child {
//       @include border-radius(var(card-inner-border-radius) var(card-inner-border-radius) 0 0);
//     }
//   }

//   .card-footer {
//     padding: var(card-cap-padding-y) var(card-cap-padding-x);
//     color: var(card-cap-color);
//     background-color: var(card-cap-bg);
//     border-top: var(card-border-width) solid var(card-border-color);

//     &:last-child {
//       @include border-radius(0 0 var(card-inner-border-radius) var(card-inner-border-radius));
//     }
//   }

//   //
//   // Header navs
//   //

//   .card-header-tabs {
//     margin-right: calc(-.5 * var(card-cap-padding-x)); // stylelint-disable-line function-disallowed-list
//     margin-bottom: calc(-1 * var(card-cap-padding-y)); // stylelint-disable-line function-disallowed-list
//     margin-left: calc(-.5 * var(card-cap-padding-x)); // stylelint-disable-line function-disallowed-list
//     border-bottom: 0;

//     .nav-link.active {
//       background-color: var(card-bg);
//       border-bottom-color: var(card-bg);
//     }
//   }

//   .card-header-pills {
//     margin-right: calc(-.5 * var(card-cap-padding-x)); // stylelint-disable-line function-disallowed-list
//     margin-left: calc(-.5 * var(card-cap-padding-x)); // stylelint-disable-line function-disallowed-list
//   }

//   // Card image
//   .card-img-overlay {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     padding: var(card-img-overlay-padding);
//     @include border-radius(var(card-inner-border-radius));
//   }

//   .card-img,
//   .card-img-top,
//   .card-img-bottom {
//     width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
//   }

//   .card-img,
//   .card-img-top {
//     @include border-top-radius(var(card-inner-border-radius));
//   }

//   .card-img,
//   .card-img-bottom {
//     @include border-bottom-radius(var(card-inner-border-radius));
//   }

//   //
//   // Card groups
//   //

//   .card-group {
//     // The child selector allows nested `.card` within `.card-group`
//     // to display properly.
//     > .card {
//       margin-bottom: var(card-group-margin);
//     }

//     @include media-breakpoint-up(sm) {
//       display: flex;
//       flex-flow: row wrap;
//       // The child selector allows nested `.card` within `.card-group`
//       // to display properly.
//       > .card {
//         // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
//         flex: 1 0 0%;
//         margin-bottom: 0;

//         + .card {
//           margin-left: 0;
//           border-left: 0;
//         }

//         // Handle rounded corners
//         @if $enable-rounded {
//           &:not(:last-child) {
//             @include border-end-radius(0);

//             .card-img-top,
//             .card-header {
//               // stylelint-disable-next-line property-disallowed-list
//               border-top-right-radius: 0;
//             }
//             .card-img-bottom,
//             .card-footer {
//               // stylelint-disable-next-line property-disallowed-list
//               border-bottom-right-radius: 0;
//             }
//           }

//           &:not(:first-child) {
//             @include border-start-radius(0);

//             .card-img-top,
//             .card-header {
//               // stylelint-disable-next-line property-disallowed-list
//               border-top-left-radius: 0;
//             }
//             .card-img-bottom,
//             .card-footer {
//               // stylelint-disable-next-line property-disallowed-list
//               border-bottom-left-radius: 0;
//             }
//           }
//         }
//       }
//     }
//   }

//   .card-panel {
//     transition: box-shadow .25s;
//     padding: $card-padding;
//     margin: $element-top-margin 0 $element-bottom-margin 0;
//     border-radius: 2px;
//     @extend .z-depth-1;
//     background-color: $card-bg-color;
//   }

//   .card {
//     position: relative;
//     margin: $element-top-margin 0 $element-bottom-margin 0;
//     background-color: $card-bg-color;
//     transition: box-shadow .25s;
//     border-radius: 2px;
//     @extend .z-depth-1;

//     .card-title {
//       font-size: 24px;
//       font-weight: 300;
//       &.activator {
//         cursor: pointer;
//       }
//     }

//     // Card Sizes
//     &.small, &.medium, &.large {
//       position: relative;

//       .card-image {
//         max-height: 60%;
//         overflow: hidden;
//       }
//       .card-image + .card-content {
//         max-height: 40%;
//       }
//       .card-content {
//         max-height: 100%;
//         overflow: hidden;
//       }
//       .card-action {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         right: 0;
//       }
//     }

//     &.small {
//       height: 300px;
//     }

//     &.medium {
//       height: 400px;
//     }

//     &.large {
//       height: 500px;
//     }

//     // Horizontal Cards
//     &.horizontal {
//       &.small, &.medium, &.large {
//         .card-image {
//           height: 100%;
//           max-height: none;
//           overflow: visible;

//           img {
//             height: 100%;
//           }
//         }
//       }

//       display: flex;

//       .card-image {
//         max-width: 50%;
//         img {
//           border-radius: 2px 0 0 2px;
//           max-width: 100%;
//           width: auto;
//         }
//       }

//       .card-stacked {
//         display: flex;
//         flex-direction: column;
//         flex: 1;
//         position: relative;

//         .card-content {
//           flex-grow: 1;
//         }
//       }
//     }

//     // Sticky Action Section
//     &.sticky-action {
//       .card-action {
//         z-index: 2;
//       }

//       .card-reveal {
//         z-index: 1;
//         padding-bottom: 64px;
//       }
//     }

//     .card-image {
//       position: relative;

//       // Image background for content
//       img {
//         display: block;
//         border-radius: 2px 2px 0 0;
//         position: relative;
//         left: 0;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         width: 100%;
//       }

//       .card-title {
//         color: $card-bg-color;
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         max-width: 100%;
//         padding: $card-padding;
//       }
//     }

//     .card-content {
//       padding: $card-padding;
//       border-radius: 0 0 2px 2px;

//       p {
//         margin: 0;
//       }
//       .card-title {
//         display: block;
//         line-height: 32px;
//         margin-bottom: 8px;

//         i {
//           line-height: 32px;
//         }
//       }
//     }

//     .card-action {
//       &:last-child {
//         border-radius: 0 0 2px 2px;
//       }
//       background-color: inherit; // Use inherit to inherit color classes
//       border-top: 1px solid rgba(160,160,160,.2);
//       position: relative;
//       padding: 16px $card-padding;

//       a:not(.btn):not(.btn-large):not(.btn-floating) {
//         color: $card-link-color;
//         margin-right: $card-padding;
//         transition: color .3s ease;
//         text-transform: uppercase;

//         &:hover { color: $card-link-color-light; }
//       }
//     }

//     .card-reveal {
//       padding: $card-padding;
//       position: absolute;
//       background-color: $card-bg-color;
//       width: 100%;
//       overflow-y: auto;
//       left: 0;
//       top: 100%;
//       height: 100%;
//       z-index: 3;
//       display: none;

//       .card-title {
//         cursor: pointer;
//         display: block;
//       }
//     }
//   }

// ============================================================================
// Imports
// ============================================================================

// Background Gradient with Direction
// Generates a background gradient with a specified direction.

// @function hue_background_gradient($start_color_name, $end_color_name, $direction: 135deg) {
//     $start_color: hue_color($start_color_name);
//     $end_color: hue_color($end_color_name);

//     @if type-of($start_color) != 'color' or type-of($end_color) != 'color' {
//         @warn "One or both specified colors could not be found.";
//         @return null;
//     }

//     @return (background-image: linear-gradient($direction, $start_color, $end_color));
// }

// $gradient: hue_background_gradient('N0001', 'N0009', 135deg);

.system_card_wrapper {
    @include reset_bleed;
    // @include ratio_2x3;
    width: 100%;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: $q * 4 $q * 4 $q * 4 $q * 4;
    box-shadow: 0;
    transform: scale(0.975);
    transition:
        box-shadow 0.5s,
        transform 0.5s;
    &:hover {
        transform: scale(1);
        box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
    }
    .system_card_container {
        width: 100%;
        height: 100%;
        .top {
            height: 80%;
            width: 100%;
            background: $N2403;
            background: linear-gradient(135deg, $N2403, $N2405);
            svg {
                height: 50%;
                width: 50%;
                margin: auto 0 auto;
                color: #ffffff;
                fill: #ffffff;
                * {
                    color: #ffffff;
                }
            }
        }
        .bottom {
            width: 200%;
            height: 20%;
            transition: transform 0.5s;
            &.clicked {
                transform: translateX(-50%);
            }
            h1 {
                margin: 0;
                padding: 0;
            }
            p {
                margin: 0;
                padding: 0;
            }
            .left {
                height: 100%;
                width: 50%;
                background: #f4f4f4;
                position: relative;
                float: left;
                .details,
                .action {
                    height: 100%;
                    width: 100%;
                    // @include font--size_04;
                    padding: $q * 8;
                    background: #f1f1f1;
                    display: flex;
                    align-items: center;
                    * {
                        vertical-align: middle;
                    }
                }
                .details {
                    float: left;
                    width: calc(70% - 40px);
                }
                .action {
                    float: right;
                    width: calc(30% - 2px);
                    transition: background 0.5s;
                    border-left: solid thin rgba(0, 0, 0, 0.1);
                    justify-content: center;
                    i {
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        color: #254053;
                        transition: transform 0.5s;
                    }
                    &:hover {
                        background: #a6cdde;
                    }
                    &:hover i {
                        // transform: translateY(5px);
                        color: #00394b;
                    }
                }
            }
            .right {
                width: 50%;
                background: #a6cdde;
                color: white;
                float: right;
                height: 200%;
                overflow: hidden;
                .details {
                    padding: 20px;
                    float: right;
                    width: calc(70% - 40px);
                }
                .done {
                    width: calc(30% - 2px);
                    float: left;
                    transition: transform 0.5s;
                    border-right: solid thin rgba(255, 255, 255, 0.3);
                    height: 50%;
                    i {
                        font-size: 30px;
                        padding: 30px;
                        color: white;
                    }
                }
                .remove {
                    width: calc(30% - 1px);
                    clear: both;
                    border-right: solid thin rgba(255, 255, 255, 0.3);
                    height: 50%;
                    background: #bc3b59;
                    transition:
                        transform 0.5s,
                        background 0.5s;
                    &:hover {
                        background: #9b2847;
                    }
                    &:hover i {
                        transform: translateY(5px);
                    }
                    i {
                        transition: transform 0.5s;
                        font-size: 30px;
                        padding: 30px;
                        color: white;
                    }
                }
                &:hover {
                    .remove,
                    .done {
                        transform: translateY(-100%);
                    }
                }
            }
        }
    }

    .inside {
        z-index: 9;
        background: #dad7dd;
        width: 140px;
        height: 140px;
        position: absolute;
        top: -70px;
        right: -70px;
        border-radius: 0px 0px 10px 200px;
        transition:
            all 0.5s,
            border-radius 2s,
            top 1s;
        overflow: hidden;
        .icon {
            position: absolute;
            right: $q * 4;
            top: $q * 4;
            color: white;
            opacity: 1;
        }
        &:hover {
            width: 100%;
            right: 0;
            top: 0;
            border-radius: 0;
            height: 80%;
            .icon {
                opacity: 0;
                right: 15px;
                top: 15px;
            }
            .contents {
                opacity: 1;
                transform: scale(1);
                transform: translateY(0);
            }
        }
        .contents {
            padding: 5%;
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-200%);
            transition:
                opacity 0.2s,
                transform 0.8s;
            table {
                text-align: left;
                width: 100%;
            }
            h1,
            p,
            table {
                color: white;
            }
            p {
                font-size: 13px;
            }
        }
    }
}
