////
///
/// Accordion Components Mixins Module
/// ===========================================================================
///
/// @group Components
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

// Components | Cookie Consent
// ============================================================================

@use "../../dev" as *;
@use "../../variables" as *;

@use "../head_layout" as *;

@use "../soul_type" as *;

.cookieconsent {
    position: fixed;
    height: q(6);
    font-size: q(4);
    line-height: q(4);
    left: 0;
    bottom: 0;
    background-color: var(--color_text_primary);
    color: var(--color_fill_primary);
    text-align: center;
    width: 100%;
}
