.graphic {
    margin: q(32) 0;
}

.graphic-elevate {
    margin-top: 0;
    margin-bottom: q(24);
    max-width: 660px;
}

@media screen and (min-width: 1280px) {
    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        .graphic-elevate {
        width: 88Q (8);
        max-width: 88Q (8);
        justify-self: center;
        margin-left: calc(44Q (4) - 50vw);
        margin-right: calc(44Q (4) - 50vw);
    }
}

.html-embed img,
.image,
.image__dam-img,
.image__img,
.image__picture {
    width: 100%;
}

.graphic_no-margins {
    margin: 0;
}
