.image {
    border-bottom: q(1) solid #e6e6e6;
    margin: q(32) 0;
    padding-bottom: q(8);
    width: 100%;
}

.image__hide-placeholder .kiln-placeholder {
    display: none;
}

.image__picture {
    width: 100%;
}

.image__metadata {
    display: grid;
}
.image__caption {
    color: var(--color_text_primary);
    font-size: q(12);
    font-weight: 400;
    line-height: q(18);
    margin-top: q(8);
    text-align: left;
    order: 2;
}
.image__caption a {
    color: var(--color_text_primary);
    text-underline-offset: q(4);
    text-decoration: underline;
}
.image__caption a:hover {
    color: #6e6e6e;
    text-decoration: none;
}
.image__credit {
    color: #6e6e6e;
    font-size: q(10);
    font-weight: 400;
    margin-top: q(4);
    text-align: right;
    order: 1;
    visibility: hidden;
}
.image__container {
    display: flex;
}

.image,
.image_inline-small {
    border-bottom: q(1) solid #e6e6e6;
}

// .image__dam-img {
//     width: 100%;
//     object-fit: cover;
//     height: 100%;
// }
// .image__dam-img--loading {
//     background-color: #e6e6e6;
// }
// .image__img {
//     width: 100%;
//     height: 100%;
//     max-width: 100%;
// }
// .image__img--fade-in {
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 0.4s ease-in;
// }
// .image__img--visible {
//     display: block;
// }
// .image__img--hidden {
//     display: none;
// }
// .image__label {
//     font-size: q(10);
//     font-weight: 700;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     margin: 0;
//     text-transform: uppercase;
//     white-space: nowrap;
//     padding: q(4) q(8);
//     display: flex;
//     align-items: center;
// }
// .image__label-indicator {
//     display: none;
// }
// .image__label--type-breaking {
//     background: var(--color_accent_primary);
//     color: var(--color_fill_primary);
// }
// .image__label--type-exclusive,
// .image__label--type-investigates {
//     background: var(--color_text_primary);
//     color: var(--color_fill_primary);
// }
// .image__label--type-live-video,
// .image__label--type-updates {
//     display: block;
//     background: var(--color_fill_primary);
//     color: var(--color_text_primary);
// }
// .image__label--type-live-video .image__label-indicator,
// .image__label--type-updates .image__label-indicator {
//     display: block;
//     color: var(--color_accent_primary);
//     font-size: q(26);
//     line-height: 0.4;
//     padding-right: q(4);
// }
// .image__label--type-analysis,
// .image__label--type-opinion,
// .image__label--type-trending {
//     background: var(--color_fill_primary);
//     color: var(--color_accent_primary);
// }
// .image__label--type-custom {
//     background: var(--color_fill_primary);
//     color: var(--color_text_primary);
// }
// .image__label--type-custom-video,
// .image__label--type-gallery,
// .image__label--type-podcasts,
// .image__label--type-video {
//     background: rgba(12, 12, 12, 0.5);
//     color: var(--color_fill_primary);
// }
// .kiln-edit-mode .image__label {
//     visibility: visible;
// }
// .image__label-icon {
//     float: left;
//     fill: #f8f8f8;
//     margin-right: q(4);
//     width: 1q(4);
//     height: 1q(4);
//     background-position: center;
//     background-repeat: no-repeat;
// }
// .image__label--type-custom-video .image__label-icon,
// .image__label--type-video .image__label-icon {
//     // background-image: url(/media/sites/icons/video.svg);
// }
// .image__label--type-gallery .image__label-icon {
//     // background-image: url(/media/sites/icons/photo.svg);
// }
// .image__label-bull-span {
//     align-items: center;
//     display: flex;
// }
// .image__lede > .image {
//     margin: 0 0 3q(2);
//     width: 100%;
// }
// .image__lede > .image__container {
//     width: 100%;
//     height: 0;
//     padding-bottom: calc(100% * (9 / 16));
//     position: relative;
// }
// .image__lede > .image__dam-img {
//     width: 100%;
//     height: auto;
//     position: absolute;
// }
// .image__related-content .image {
//     border: 0;
//     margin: 0;
//     padding: 0;
// }
// .image__related-content .image__outer-container {
//     margin: 0;
//     padding: 0;
// }
// .image__related-content .image__outer-container::after {
//     display: none;
// }
// .image__related-content .image__container {
//     display: flex;
// }
// .image__related-content .image__caption,
// .image__related-content .image__credit {
//     display: none;
// }
// .image__related-content .image__img {
//     width: 100%;
// }
// .image--eq-extra-small .image__container {
//     margin-bottom: 2q(4);
// }
// .image--eq-extra-small .image__credit {
//     visibility: hidden;
//     margin: 0;
//     padding: 0;
// }
// .image.image--eq-small .image__container {
//     margin-bottom: auto;
// }
// .image.image--eq-small .image__container:only-child {
//     margin-bottom: 2q(4);
// }
// .image.image--eq-small .image__credit {
//     line-height: 1q(2);
//     padding: q(4) 0;
//     visibility: visible;
// }
// .image.image--eq-small .image__label {
//     font-size: 1q(2);
//     padding: q(8) q(16);
// }
// .image.image--eq-small .image__label-icon {
//     width: q(16);
//     height: q(16);
// }

// .image_expandable__caption-container {
//     display: flex;
// }

// .image_expandable__metadata {
//     display: grid;
// }

// .image_expandable__caption {
//     color: var(--color_text_primary);
//     font-size: 1q(2);
//     font-weight: 400;
//     line-height: q(18);
//     margin-top: q(4);
//     text-align: left;
//     margin-bottom: q(16);
//     order: 2;
//     -webkit-order: 2;
// }

// .image_expandable__credit {
//     text-align: right;
//     color: #6e6e6e;
//     font-size: q(10);
//     font-weight: 400;
//     margin-left: auto;
//     line-height: 1q(2);
//     padding: q(4) 0;
//     order: 1;
//     -webkit-order: 1;
// }

// .image_expandable__dam-img {
//     width: 100%;
//     object-fit: cover;
//     height: 100%;
//     vertical-align: bottom;
// }

// @media screen and (min-width: 960px) {
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image_expandable {
//         width: 50%;
//         display: table-cell;
//         padding-right: q(16);
//         padding-top: 2q(4);
//         padding-bottom: 2q(4);
//     }

//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image_expandable
//         + .image_expandable {
//         padding-right: 0;
//         padding-left: q(16);
//     }
// }

// .image_full {
//     padding: 0 3q(2);
//     max-width: 1440px;
//     margin: 0 auto 3q(2);
// }

// .image_full .image__picture .image__dam-img {
//     max-height: q(80);
//     width: auto;
// }

// .image_full__credit {
//     display: none;
// }

// @media screen and (max-width: 959px) {
//     .image_full .image_full__dam-img {
//         width: 100%;
//         height: auto;
//     }
// }

// .image_inline-small {
//     clear: both;
//     float: left;
//     margin: 0 2q(4) q(16) 0;
//     padding: 0;
//     position: relative;
//     width: 209px;
//     z-index: 0;
// }

// .image_inline-small__picture {
//     width: 100%;
//     display: flex;
// }

// .image_inline-small__outer-container {
//     float: left;
//     margin: q(8) 3q(2) q(16) 0;
// }

// .image_inline-small__outer-container::after {
//     content: "";
//     display: inline-block;
//     height: q(2);
//     position: relative;
//     width: 300px;
// }

// .image_inline-small__caption-container {
//     display: flex;
// }

// .image_inline-small__caption {
//     color: var(--color_text_primary);
//     font-size: 1q(2);
//     font-weight: 400;
//     line-height: q(18);
//     margin-top: q(8);
//     text-align: left;
//     margin-bottom: q(8);
// }

// .image_inline-small__metadata {
//     display: flex;
//     flex-direction: column-reverse;
// }

// .image_inline-small__credit {
//     font-size: q(10);
//     font-weight: 400;
//     margin-top: q(4);
//     color: #6e6e6e;
//     display: flex;
//     justify-content: right;
// }

// .image_inline-small__container {
//     display: flex;
//     width: 100%;
// }

// .image_inline-small__dam-img {
//     width: 100%;
//     height: auto;
// }

// .image_inline-small__related-content .image_inline-small {
//     border: 0;
//     margin: 0;
//     padding: 0;
// }

// .image_inline-small__related-content .image_inline-small__outer-container {
//     margin: 0;
//     padding: 0;
// }

// .image_inline-small__related-content
//     .image_inline-small__outer-container::after {
//     display: none;
// }

// .image_inline-small__related-content .image_inline-small__container {
//     display: block;
// }

// .image_inline-small__related-content .image_inline-small__caption,
// .image_inline-small__related-content .image_inline-small__credit,
// .image_inline-small__video-playlist .image_inline-small__caption,
// .image_inline-small__video-playlist .image_inline-small__credit,
// .image_inline-small__video-playlist
//     .image_inline-small__outer-container::after {
//     display: none;
// }

// .image_inline-small__related-content .image_inline-small__img {
//     width: 100%;
// }

// .image_inline-small__video-playlist .image_inline-small,
// .image_inline-small__video-playlist .image_inline-small__img {
//     width: 1q(50);
// }

// .image_inline-small__video-playlist .image_inline-small__outer-container {
//     float: none;
//     margin: 0;
//     padding: 0;
// }

// .image_inline-small__video-playlist {
//     height: calc(1q(50) * (9 / 16));
//     overflow: hidden;
//     position: relative;
// }

// .image_inline-small.image_inline-small--eq-small .image_inline-small__credit {
//     line-height: 1q(2);
//     padding: 0;
//     margin-top: q(4);
//     visibility: visible;
// }

// .image_inline-small.image_inline-small--eq-small .image_inline-small__label {
//     font-size: 1q(2);
//     padding: q(8) q(16);
// }

// .image_inline-small.image_inline-small--eq-small
//     .image_inline-small__label-icon {
//     width: q(16);
//     height: q(16);
// }

// .image_large .image_large__picture .image_large__dam-img,
// .image_medium .image_medium__picture .image_medium__dam-img {
//     height: auto;
//     width: 100%;
// }

// @media screen and (max-width: 479px) {
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image_inline-small {
//         margin-bottom: 3q(2);
//         margin-top: q(16);
//         width: 100%;
//     }
// }

// .image_large,
// .image_medium {
//     max-width: 676px;
//     margin: 0 auto 3q(2);
// }

// .image_large .image_large__picture {
//     display: flex;
// }

// .image_large__hide-placeholder .kiln-placeholder {
//     display: none;
// }

// .image_medium,
// .image_medium .image_medium__picture {
//     display: flex;
// }

// @media (min-width: q(480)) {
//     .image_medium {
//         display: flex;
//     }

//     .image_medium__container {
//         max-width: 44q(2);
//     }

//     .image_medium__metadata {
//         display: flex;
//         flex-direction: column;
//         margin-left: q(16);
//         max-width: 2q(18);
//     }
// }

// .image_static-page-top__caption,
// .image_static-page-top__credit,
// .image_tve__metadata {
//     display: none;
// }

// @media screen and (max-width: 479px) {
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image_medium {
//         flex-direction: column;
//     }
// }

// .image_static-page-top {
//     border-bottom: q(1) solid #e6e6e6;
//     margin: 3q(2) auto;
//     padding-bottom: q(18);
//     max-width: 960px;
// }

// .image_static-page-top__dam-img {
//     width: 100%;
//     aspect-ratio: 245/99;
// }

// @media screen and (min-width: 960px) {
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image_static-page-top__caption {
//         margin-top: q(4);
//     }

//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image_static-page-top__lede
//         .image {
//         margin: 0 0 2q(4);
//     }

//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image_static-page-top__related-content
//         .image {
//         border: 0;
//         margin: 0;
//         padding: 0;
//     }
// }

// .image_tve {
//     height: 100%;
// }

// .image_tve__picture {
//     width: 100%;
//     height: 100%;
// }

// .image_tve__container {
//     display: flex;
//     height: 100%;
// }

// .image_tve__dam-img {
//     width: 100%;
//     height: 100%;
// }

// .image_tve__img {
//     width: 100%;
//     height: 100%;
//     max-width: 100%;
// }

// .image_tve__img--fade-in {
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 0.4s ease-in;
// }

// .image__img--visible {
//     opacity: 1;
//     visibility: visible;
// }

// .image__img--hidden {
//     opacity: 0;
//     visibility: hidden;
// }

// .image {
//     padding-bottom: q(8);
// }

// .image__hide-placeholder .kiln-placeholder {
//     display: none;
// }

// .image__metadata {
//     display: grid;
// }

// .image__caption {
//     color: var(--color_text_primary);
//     font-size: 1q(2);
//     font-weight: 400;
//     line-height: q(18);
//     margin-top: q(8);
//     text-align: left;
//     order: 2;
// }

// .image__caption a {
//     color: var(--color_text_primary);
//     text-underline-offset: q(4);
// }

// .image__caption a:hover {
//     color: #6e6e6e;
//     text-decoration: none;
// }

// .image__credit {
//     color: #6e6e6e;
//     font-size: q(10);
//     font-weight: 400;
//     margin-top: q(4);
//     text-align: right;
//     order: 1;
//     visibility: hidden;
// }

// .image__container {
//     display: flex;
// }

// .image__dam-img {
//     object-fit: cover;
//     height: 100%;
// }

// .image__dam-img--loading {
//     background-color: #e6e6e6;
// }

// .image__img {
//     height: 100%;
//     max-width: 100%;
// }

// .image__img--fade-in {
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 0.4s ease-in;
// }

// .image__img--visible {
//     display: block;
// }

// .image__img--hidden {
//     display: none;
// }

// .image__label {
//     font-size: q(10);
//     font-weight: 700;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     margin: 0;
//     text-transform: uppercase;
//     white-space: nowrap;
//     padding: q(4) q(8);
//     display: flex;
//     align-items: center;
// }

// .image__label-indicator {
//     display: none;
// }

// .image__label--type-breaking {
//     background: var(--color_accent_primary);
//     color: var(--color_fill_primary);
// }

// .image__label--type-exclusive,
// .image__label--type-investigates {
//     background: var(--color_text_primary);
//     color: var(--color_fill_primary);
// }

// .image__label--type-live-video,
// .image__label--type-updates {
//     display: block;
//     background: var(--color_fill_primary);
//     color: var(--color_text_primary);
// }

// .image__label--type-live-video .image__label-indicator,
// .image__label--type-updates .image__label-indicator {
//     display: block;
//     color: var(--color_accent_primary);
//     font-size: q(26);
//     line-height: 0.4;
//     padding-right: q(4);
// }

// .image__label--type-analysis,
// .image__label--type-opinion,
// .image__label--type-trending {
//     background: var(--color_fill_primary);
//     color: var(--color_accent_primary);
// }

// .image__label--type-custom {
//     background: var(--color_fill_primary);
//     color: var(--color_text_primary);
// }

// .image__label--type-custom-video,
// .image__label--type-gallery,
// .image__label--type-podcasts,
// .image__label--type-video {
//     background: rgba(12, 12, 12, 0.5);
//     color: var(--color_fill_primary);
// }

// .image_expandable__dam-img--loading,
// .image_inline-small__dam-img--loading,
// .image_static-page-top__dam-img--loading,
// .product-offer-card_listing-item:not(:last-child):before {
//     background-color: #e6e6e6;
// }

// .image__label-icon {
//     float: left;
//     fill: #f8f8f8;
//     margin-right: q(4);
//     width: 1q(4);
//     height: 1q(4);
//     background-position: center;
//     background-repeat: no-repeat;
// }

// .image__label--type-custom-video .image__label-icon,
// .image__label--type-video .image__label-icon {
//     // background-image: url(/media/sites/icons/video.svg);
// }

// .image__label--type-gallery .image__label-icon {
//     // background-image: url(/media/sites/icons/photo.svg);
// }

// .image__label-bull-span {
//     align-items: center;
//     display: flex;
// }

// .image__lede > .image {
//     margin: 0 0 3q(2);
//     width: 100%;
// }

// .image__lede > .image__container {
//     width: 100%;
//     height: 0;
//     padding-bottom: calc(100% * (9 / 16));
//     position: relative;
// }

// .image__lede > .image__dam-img {
//     width: 100%;
//     height: auto;
//     position: absolute;
// }

// .image__related-content .image {
//     border: 0;
//     margin: 0;
//     padding: 0;
// }

// .image__related-content .image__outer-container {
//     margin: 0;
//     padding: 0;
// }

// .image__related-content .image__outer-container::after {
//     display: none;
// }

// .image__related-content .image__container {
//     display: flex;
// }

// .image__related-content .image__caption,
// .image__related-content .image__credit {
//     display: none;
// }

// .image__related-content .image__img {
//     width: 100%;
// }

// .image--eq-extra-small .image__container {
//     margin-bottom: 2q(4);
// }

// .image--eq-extra-small .image__credit {
//     visibility: hidden;
//     margin: 0;
//     padding: 0;
// }

// .image.image--eq-small .image__container {
//     margin-bottom: auto;
// }

// .image.image--eq-small .image__container:only-child {
//     margin-bottom: 2q(4);
// }

// .image.image--eq-small .image__credit {
//     line-height: 1q(2);
//     padding: q(4) 0;
//     visibility: visible;
// }

// .image.image--eq-small .image__label {
//     font-size: 1q(2);
//     padding: q(8) q(16);
// }

// .image.image--eq-small .image__label-icon {
//     width: q(16);
//     height: q(16);
// }

// .image {
//     border-bottom: q(1) solid #e6e6e6;
//     margin: 3q(2) 0;
//     padding-bottom: q(8);
//     width: 100%;
// }

// .image__hide-placeholder .kiln-placeholder {
//     display: none;
// }

// .image__picture {
//     width: 100%;
// }

// .image__metadata {
//     display: grid;
// }

// .image__caption {
//     color: var(--color_text_primary);
//     font-size: 1q(2);
//     font-weight: 400;
//     line-height: q(18);
//     margin-top: q(8);
//     text-align: left;
//     order: 2;
// }

// .image__caption a {
//     color: var(--color_text_primary);
//     text-underline-offset: q(4);
//     text-decoration: underline;
// }

// .image__caption a:hover {
//     color: #6e6e6e;
//     text-decoration: none;
// }

// .image__credit {
//     color: #6e6e6e;
//     font-size: q(10);
//     font-weight: 400;
//     margin-top: q(4);
//     text-align: right;
//     order: 1;
//     visibility: hidden;
// }

// .image__container {
//     display: flex;
// }

// .image__dam-img {
//     width: 100%;
//     object-fit: cover;
//     height: 100%;
// }

// .image__dam-img--loading {
//     background-color: #e6e6e6;
// }

// .image__img {
//     width: 100%;
//     height: 100%;
//     max-width: 100%;
// }

// .image__img--fade-in {
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 0.4s ease-in;
// }

// .image__img--visible {
//     display: block;
// }

// .image__img--hidden {
//     display: none;
// }

// .image__label {
//     font-size: q(10);
//     font-weight: 700;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     margin: 0;
//     text-transform: uppercase;
//     white-space: nowrap;
//     padding: q(4) q(8);
//     display: flex;
//     align-items: center;
// }

// .image__label-indicator {
//     display: none;
// }

// .image__label--type-breaking {
//     background: var(--color_accent_primary);
//     color: var(--color_fill_primary);
// }

// .image__label--type-exclusive,
// .image__label--type-investigates {
//     background: var(--color_text_primary);
//     color: var(--color_fill_primary);
// }

// .image__label--type-live-video,
// .image__label--type-updates {
//     display: block;
//     background: var(--color_fill_primary);
//     color: var(--color_text_primary);
// }

// .image__label--type-live-video .image__label-indicator,
// .image__label--type-updates .image__label-indicator {
//     display: block;
//     color: var(--color_accent_primary);
//     font-size: q(26);
//     line-height: 0.4;
//     padding-right: q(4);
// }

// .image__label--type-analysis,
// .image__label--type-opinion,
// .image__label--type-trending {
//     background: var(--color_fill_primary);
//     color: var(--color_accent_primary);
// }

// .image__label--type-custom {
//     background: var(--color_fill_primary);
//     color: var(--color_text_primary);
// }

// .image__label--type-custom-video,
// .image__label--type-gallery,
// .image__label--type-podcasts,
// .image__label--type-video {
//     background: rgba(12, 12, 12, 0.5);
//     color: var(--color_fill_primary);
// }

// .kiln-edit-mode .image__label {
//     visibility: visible;
// }

// .image__label-icon {
//     float: left;
//     fill: #f8f8f8;
//     margin-right: q(4);
//     width: 1q(4);
//     height: 1q(4);
//     background-position: center;
//     background-repeat: no-repeat;
// }

// .image__label--type-custom-video .image__label-icon,
// .image__label--type-video .image__label-icon {
//     // background-image: url(/media/sites/icons/video.svg);
// }

// .image__label--type-gallery .image__label-icon {
//     // background-image: url(/media/sites/icons/photo.svg);
// }

// .image__label-bull-span {
//     align-items: center;
//     display: flex;
// }

// .image__lede > .image {
//     margin: 0 0 3q(2);
//     width: 100%;
// }

// .image__lede > .image__container {
//     width: 100%;
//     height: 0;
//     padding-bottom: calc(100% * (9 / 16));
//     position: relative;
// }

// .image__lede > .image__dam-img {
//     width: 100%;
//     height: auto;
//     position: absolute;
// }

// .image__related-content .image {
//     border: 0;
//     margin: 0;
//     padding: 0;
// }

// .image__related-content .image__outer-container {
//     margin: 0;
//     padding: 0;
// }

// .image__related-content .image__outer-container::after {
//     display: none;
// }

// .image__related-content .image__container {
//     display: flex;
// }

// .image__related-content .image__caption,
// .image__related-content .image__credit {
//     display: none;
// }

// .image__related-content .image__img {
//     width: 100%;
// }

// .image--eq-extra-small .image__container {
//     margin-bottom: 2q(4);
// }

// .image--eq-extra-small .image__credit {
//     visibility: hidden;
//     margin: 0;
//     padding: 0;
// }

// .image.image--eq-small .image__container {
//     margin-bottom: auto;
// }

// .image.image--eq-small .image__container:only-child {
//     margin-bottom: 2q(4);
// }

// .image.image--eq-small .image__credit {
//     line-height: 1q(2);
//     padding: q(4) 0;
//     visibility: visible;
// }

// .image.image--eq-small .image__label {
//     font-size: 1q(2);
//     padding: q(8) q(16);
// }

// .image.image--eq-small .image__label-icon {
//     width: q(16);
//     height: q(16);
// }

// .underscored .article__content > .image,
// .underscored .article__main > .image__lede .image {
//     border-bottom: 0;
//     padding-bottom: 0;
// }

// .underscored .article__content > .image .image__credit,
// .underscored .article__main > .image__lede .image .image__credit {
//     padding-bottom: 0;
// }

// .card:not(:only-child) .underscored:empty {
//     min-height: 2q(4);
//     margin: q(4) 0 0;
//     padding: 0;
// }

// @media screen and (min-width: 960px) {
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image__caption {
//         margin-top: q(4);
//     }

//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         ).underscored
//         .article__content
//         > .image--eq-large
//         .image__container,
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         ).underscored
//         .article__content
//         > .image--eq-large
//         .image__dam-img,
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         ).underscored
//         .article__main
//         > .image__lede
//         .image--eq-large
//         .image__container,
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         ).underscored
//         .article__main
//         > .image__lede
//         .image--eq-large
//         .image__dam-img {
//         border-radius: q(8);
//     }

//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         ).underscored
//         .article__content
//         > .image--eq-small:not(.image--eq-large)
//         .image__container,
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         ).underscored
//         .article__content
//         > .image--eq-small:not(.image--eq-large)
//         .image__dam-img,
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         ).underscored
//         .article__main
//         > .image__lede
//         .image--eq-small:not(.image--eq-large)
//         .image__container,
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         ).underscored
//         .article__main
//         > .image__lede
//         .image--eq-small:not(.image--eq-large)
//         .image__dam-img {
//         border-radius: q(4);
//     }

//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .underscored
//         .card:not(:only-child)
//         .image__credit:empty {
//         min-height: 2q(4);
//         margin-top: q(4);
//         padding: 0;
//     }

//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .image__related-content.related-content__image
//         .image {
//         border: 0;
//         margin: 0;
//         padding: 0;
//     }
// }
