// ============================================================================
// Components | Map
// ============================================================================

@use "../../dev" as *;
@use "../../variables" as *;

@use "../head_layout" as *;

@use "../soul_type" as *;

/// Map container styling.
/// This sets up the map container with full viewport dimensions and appropriate z-index.
/// @group Map
#map {
    // width: 100vw;
    // height: 100vh;
    // z-index: z("canvas")+1;
    // z-index: 9999;
}

/// Main map canvas.
/// Ensures the map canvas takes up the full viewport and has the correct stacking order.
/// @group Map
.map_canvas {
    width: 100vw;
    height: 100vh;
    z-index: z("canvas") + 1;
}

/// Base styles for layer controls on the map.
/// Applies basic styles such as resetting margins, applying font size, and setting up a light color scheme.
/// @group Map
.layer_control_base,
.layer_control_overlay {
    @include reset_bleed;
    @include font--size("03");
    // @include color_scheme_light;
    @include flex_col;
    h3 {
        padding-bottom: q(8);
    }
    label {
        height: q(24);
        span {
            @include flex_row;
            input {
                @include align_self--center;
            }
            span {
                @include align_self--center;
                @include reset_bleed;
                @include font--size("03");
                padding-left: q(12);
            }
        }
    }
}

/// Custom radio button styling.
/// Styles radio buttons with a custom appearance both in their default and checked states.
/// @group Map
// input[type='radio']:after {
//     width: q(15);
//     height: q(15);
//     border-radius: q(15);
//     top: q(4);
//     left: -q(1);
//     position: relative;
//     background-color: #d1d3d1;
//     content: '';
//     display: inline-block;
//     visibility: visible;
//     border: q(2) solid white;
// }

// input[type='radio']:checked:after {
//     width: q(15);
//     height: q(15);
//     border-radius: q(15);
//     top: q(4);
//     left: -q(1);
//     position: relative;
//     background-color: var(--color_accent_primary);
//     content: '';
//     display: inline-block;
//     visibility: visible;
//     border: q(2) solid white;
// }

/// Overlay-specific styles for layer controls.
/// This section can be extended to include specific styles for layer control overlays on the map.
/// @group Map
.layer_control_overlay {
    // Additional styles for the overlay can be added here.
}

// .map {
//     height: q(180);
//     //width: 50%;
//     // margin-bottom: $baseline_00;

// }
// .map {
//   z-index: z("content");
// }

// .leaflet-top,
// .leaflet-bottom {
//   position: absolute;
//   // z-index: 2; /* was 1000 */
//   pointer-events: none;
//   }

// /* customize look of leaflet zoom controls */
// .leaflet-bar{
//     box-shadow: none;
//   }
//   .leaflet-control-zoom a{
//     box-shadow: 0 q(1) q(5) var(--color_text_primary);
//   }
//   .leaflet-bar a{
//     border-radius: 0px;
//     background-color: var(--color_text_primary);
//     border: q(1) solid var(--color_text_primary);
//     color: var(--color_fill_primary);
//   }
//   //.leaflet-bar a:last-child{
//   //  border: q(1) solid rgba(0,0,0,.15);
//   //}
// //   .leaflet-bar a:hover{
// //     background-color: #FB4F14;
// //     border: q(1) solid rgba(0,0,0,.15);
// //     color: #002244;
// //   }
//   .leaflet-control-zoom-in{
//     // margin-top: q(10);
//     margin:q(4);
//   }
//   .leaflet-control-zoom-out{
//     // margin-top: q(15);
//     margin:q(4);

//   }

//   /* google map filters */
// .filter-grayscale-50 {-ms-filter: grayscale(50%); filter: grayscale(50%);}
// .filter-grayscale-100 {-ms-filter: grayscale(100%); filter: grayscale(100%);}
// .filter-invert-50 {-ms-filter: invert(50%); filter: invert(50%);}
// .filter-invert-100 {-ms-filter: invert(100%); filter: invert(100%);}
// .filter-mix-100 {-ms-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%);}
// .map iframe {height: 61q(8); vertical-align: bottom; width: 100%;}
