.tags__list,
.tags__title {
    font-size: q(12);
    letter-spacing: q(3);
    text-transform: uppercase;
}

.tags__list,
.tags__list-item {
    display: inline;
}

.tags__list {
    padding: 0;
}

.tags__list-item:not(:last-child) .tags__link::after {
    content: ',';
}

.tags__list-item--hidden,
.tags__list-item--invisible {
    display: none;
}

.tags__link {
    color: var(--color_text_primary);
    text-decoration: none;
}

.tags__link:active,
.tags__link:focus,
.tags__link:hover {
    box-shadow: 0 q(1) 0 var(--theme-primary);
}

.tags__more-link {
    color: var(--theme-color-link);
    cursor: pointer;
}
