////
///
/// Layout Mixins Module
/// ===========================================================================
///
/// @group Layout
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Mixins
// ============================================================================

// ============================================================================
// Layout | Position
// ============================================================================
@use "../../variables" as *;

// https://github.com/twbs/bootstrap/blob/main/scss/helpers/_position.scss
// Shorthand

// .fixed-top {
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: $zindex-fixed;
//   }

//   .fixed-bottom {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: $zindex-fixed;
//   }

//   // Responsive sticky top and bottom
//   @each $breakpoint in map-keys($grid-breakpoints) {
//     @include media-breakpoint-up($breakpoint) {
//       $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

//       .sticky#{$infix}-top {
//         position: sticky;
//         top: 0;
//         z-index: $zindex-sticky;
//       }

//       .sticky#{$infix}-bottom {
//         position: sticky;
//         bottom: 0;
//         z-index: $zindex-sticky;
//       }
//     }
//   }

.position-inherit {
    position: inherit !important;
}

/* top */
.top-auto {
    top: auto;
}
.top-inherit {
    top: inherit !important;
}
.top-0 {
    top: 0 !important;
}
.top-1 {
    top: q(1);
}
.top-2 {
    top: q(2);
}
.top-3 {
    top: q(3);
}
.top-4 {
    top: q(4);
}
.top-5 {
    top: q(5);
}
.top-6 {
    top: q(6);
}
.top-7 {
    top: q(8);
}
.top-8 {
    top: q(8);
}
.top-9 {
    top: q(8);
}
.top-10 {
    top: q(10);
}
.top-15 {
    top: q(15);
}
.top-20 {
    top: q(20);
}
.top-25 {
    top: q(25);
}
.top-30 {
    top: q(32);
}
.top-35 {
    top: 3Q (4);
}
.top-40 {
    top: q(140);
}
.top-45 {
    top: 4Q (4);
}
.top-50 {
    top: q(50);
}

.top-minus1 {
    top: -q(1);
}
.top-minus2 {
    top: -q(2);
}
.top-minus3 {
    top: -q(4);
}
.top-minus4 {
    top: -q(4);
}
.top-minus5 {
    top: -q(4);
}
.top-minus6 {
    top: -q(6);
}
.top-minus7 {
    top: -q(8);
}
.top-minus8 {
    top: -q(8);
}
.top-minus9 {
    top: -q(8);
}
.top-minus10 {
    top: -q(10);
}
.top-minus15 {
    top: -q(16);
}
.top-minus20 {
    top: -q(20);
}
.top-minus25 {
    top: -2Q (4);
}
.top-minus30 {
    top: -q(32);
}
.top-minus35 {
    top: -3Q (4);
}
.top-minus40 {
    top: -q(140);
}

/* bottom */
.bottom-auto {
    bottom: auto;
}
.bottom-0 {
    bottom: 0;
}
.bottom-1 {
    bottom: q(1);
}
.bottom-2 {
    bottom: q(2);
}
.bottom-3 {
    bottom: q(3);
}
.bottom-4 {
    bottom: q(4);
}
.bottom-5 {
    bottom: q(5);
}
.bottom-6 {
    bottom: q(6);
}
.bottom-7 {
    bottom: q(8);
}
.bottom-8 {
    bottom: q(8);
}
.bottom-9 {
    bottom: q(8);
}
.bottom-10 {
    bottom: q(10);
}
.bottom-15 {
    bottom: q(15);
}
.bottom-20 {
    bottom: q(20);
}
.bottom-25 {
    bottom: q(25);
}
.bottom-30 {
    bottom: q(32);
}
.bottom-35 {
    bottom: 3Q (4);
}
.bottom-40 {
    bottom: q(140);
}
.bottom-45 {
    bottom: 4Q (4);
}
.bottom-50 {
    bottom: q(50) !important;
}

/* left */
.left-auto {
    left: auto;
}
.left-0 {
    left: 0;
}
.left-1 {
    left: q(1);
}
.left-2 {
    left: q(2);
}
.left-3 {
    left: q(3);
}
.left-4 {
    left: q(4);
}
.left-5 {
    left: q(5);
}
.left-6 {
    left: q(6);
}
.left-7 {
    left: q(8);
}
.left-8 {
    left: q(8);
}
.left-9 {
    left: q(8);
}
.left-10 {
    left: q(10);
}
.left-15 {
    left: q(15);
}
.left-20 {
    left: q(20);
}
.left-25 {
    left: q(25);
}
.left-30 {
    left: q(32);
}
.left-35 {
    left: 3Q (4);
}
.left-40 {
    left: q(140);
}
.left-45 {
    left: 4Q (4);
}
.left-50 {
    left: q(50);
}

/* right */
.right-auto {
    right: auto;
}
.right-0 {
    right: 0;
}
.right-1 {
    right: q(1);
}
.right-2 {
    right: q(2);
}
.right-3 {
    right: q(3);
}
.right-4 {
    right: q(4);
}
.right-5 {
    right: q(5);
}
.right-6 {
    right: q(6);
}
.right-7 {
    right: q(8);
}
.right-8 {
    right: q(8);
}
.right-9 {
    right: q(8);
}
.right-10 {
    right: q(10);
}
