////
///
/// Grid Flow Mixins
/// ===========================================================================
///
/// CSS Grid auto-flow mixins for controlling item placement.
///
/// @group Mixins.HeadLayout.Grid
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

// ============================================================================
// Grid Flow
// ============================================================================

/// Mixin for grid flow row
@mixin grid__flow--row {
    grid-auto-flow: row;
}

/// Mixin for grid flow row dense
@mixin grid__flow--row--dense {
    grid-auto-flow: row dense;
}

/// Mixin for grid flow column
@mixin grid__flow--col {
    grid-auto-flow: column;
}

/// Mixin for grid flow column dense
@mixin grid__flow--col--dense {
    grid-auto-flow: column dense;
}

/// Mixin for dense grid flow
@mixin grid__flow--dense {
    grid-auto-flow: dense;
}
