////
///
/// Character Normal Configuration
/// ===========================================================================
///
/// Configuration for normal/standard character styles.
///
/// @group Typography.Character.Foundation.Normal
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

@use "sass:map";

// ============================================================================
// Configuration
// ============================================================================

$ss-character-inherit-config: (
    font-family: inherit,
    font-size: inherit,
    font-weight: inherit,
    font-style: inherit,
    line-height: inherit,
    letter-spacing: inherit,
    color: inherit,
) !default;
