@use "sass:map";
@use "../../01-core/external" as *;

$ss-code-block-config: (
    padding: var(--ss-space-4),
    radius: var(--ss-radius-none),
    rule-width: 2px,
    font-size: var(--ss-font-size-sm),
    line-height: var(--ss-leading-loose),
) !default;
