@use "sass:map";

// -----------------------------------------------------------------------------
// Font Foundation Configuration
// -----------------------------------------------------------------------------

$ss-font-default-config: (
    families: (
        sans: var(--ss-font-family-sans),
        serif: var(--ss-font-family-serif),
        slab: var(--ss-font-family-slab),
        mono: var(--ss-font-family-mono),
    ),

    color: var(--ss-color-text-primary),
    feature-settings: (
        "kern" 1,
        "liga" 1,
    ),
) !default;
