{#-
    stylescape/auth/password_change.html.jinja
    ===========================================================================
    PasswordChangeView (registration/password_change_form.html). Context: form, cancel_url.
-#}
{%- extends "stylescape/auth/base_auth.html.jinja" -%}
{%- from "stylescape/macros/forms.html.jinja" import form as render_form with context -%}
{%- block auth_title %}{{ _("Change your password") }}{% endblock -%}
{%- block auth_body %}
{{ render_form(form, submit=_("Change my password"), cancel_url=cancel_url) }}
{%- endblock -%}
