@use "sass:map";

$ss-radio-config: (
    size: 1rem,
    border-width: 1px,

    bg: var(--ss-color-background),
    border: var(--ss-color-border, var(--ss-color-foreground)),
    bg-checked: var(--ss-color-background),
    border-checked: var(--ss-color-accent),
    dot-color: var(--ss-color-accent),

    label-gap: 0.5rem,
) !default;
