<header class="ribbon--top" id="" role="navigation">

    <div class="ribbon__slot--horizontal_left">

        <h1 id="ribbon__title" class="ribbon__slot--left ribbon__title" role="heading" aria-level="1">
            <div class="ribbon__title__logo">
                <a href="/" class="">
                    <span class="i-text">+</span></a>
            </div>
            <div class="ribbon__title__text">
                <a href="/" class="">
                    STYLESCAPE
                </a>
            </div>
        </h1>

    </div>

    <div class="ribbon__slot--horizontal_center">
        <button aria-label="Toggle navigation" aria-expanded="false" type="button" data-view-component="true"
            id="ribbon__nav_button" class="menu_button ribbon__nav_button">
            <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true"
                class="octicon octicon-three-bars">
                <path fill-rule="evenodd"
                    d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z">
                </path>
            </svg>
        </button>
    </div>


    <div class="ribbon__slot--horizontal_right">

        <menu id="ribbon__menu" class="ribbon__menu" role="menubar">

            <li class="ribbon__menu__item">
                <button class="ribbon__button" onclick="copy()">
                    {# \ Ribbon | Menu | Icon #}
                    <a href="">
                        <i class="i i_symbol_swirl_left_02"></i>
                    </a>
                    {# / Ribbon | Menu | Icon #}
                </button>
            </li>

            <li class="ribbon__menu__item">
                <label class="theme-switch">
                    <input type="checkbox" id="themeToggle" />
                    <span class="slider"></span>
                </label>
            </li>

            <li class="ribbon__menu__item">
                <button class="ribbon__button" data-toggle="baseline">
                    <span class="i">☰</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button" data-toggle="graph">
                    <span class="i i_shape_square_hatch_cross"></span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button" data-toggle="margin">
                    <span class="i">⌘</span>
                </button>
            </li>

            <li class="ribbon__menu__item">
                <details class="ribbon_menu_button">
                    <summary class="ribbon__button">
                        <span class="i i_people_person_lg"></span>
                    </summary>

                    <ul class="ribbon_panel">

                        <figure class="ribbon_panel_header">

                            <figcaption>
                                <h3 class="ribbon_panel_header">
                                    Kerem
                                </h3>
                            </figcaption>
                        </figure>

                        <hr class="ribbon_panel_line">

                        <h4 class="ribbon_panel_section_header">
                            Account
                        </h4>

                        <ul class="ribbon_panel_section">
                            <li class="ribbon_panel_section_item">
                                <a href="/accounts/profileprofile/kerem/">
                                    Profile
                                </a>
                            </li>
                        </ul>

                        <hr class="ribbon_panel_line">

                        <ul class="ribbon_panel_section">
                            <li class="ribbon_panel_section_item">
                                <a href="/accounts/logout">
                                    Sign out
                                </a>
                            </li>
                        </ul>

                    </ul>

                </details>
            </li>
        </menu>

    </div>
</header>
