{% for section in sections %}
<section 
    class="sidebar__section" role="region" aria-labelledby="section-{{ loop.index }}">
    <header class="sidebar__section__header">
        <h2 id="section-{{ loop.index }}">{{ section.title }}</h2>
    </header>

    {% for group in section.groups %}
    <div class="sidebar__subsection" role="group" aria-labelledby="group-{{ loop.index }}-{{ loop.parent.loop.index }}"
        data-group="{{ group.data_group }}">
        <h3 id="group-{{ loop.index }}-{{ loop.parent.loop.index }}">{{ group.heading }}</h3>

        {% if group.description %}
        <p class="sidebar__subsection__description" id="group-desc-{{ loop.index }}-{{ loop.parent.loop.index }}">
            <small>{{ group.description }}</small>
        </p>
        {% endif %}

        <ul class="sidebar__subsection__list" {% if group.description %}
            aria-describedby="group-desc-{{ loop.index }}-{{ loop.parent.loop.index }}" {% endif %}>
            {% for item in group.items %}
            <li>
                {% set link = item[0] %}
                {% set label = item[1] %}
                <a href="{{ link }}">{{ label }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</section>
{% endfor %}
