<aside class="sidebar--left" id="" role="navigation">

    <nav id="sidebar_left_navigation" class="ribbon--left ribbon--inverted" aria-label="Sidebar Left Navigation">
        <!-- Add navigation links here -->
    </nav>

    <nav id="sidebar_left_menu" class="sidebar__menu" aria-label="Sidebar Left Content Navigation">
        <section class="sidebar__content rail">
            <h2 id="sidebar-left-label" class="visually-hidden">
                Left Sidebar Content
            </h2>
            {% block rail_left_content %}
            {% include "includes/_sidebar_left_index.html.jinja" %}
            {% endblock %}
        </section>
    </nav>

    <div class="sidebar__control" role="group" aria-label="Sidebar Toggle">
        <button class="flipper--left" id="sidebar_left_switch" aria-pressed="false" aria-label="Toggle Left Sidebar">
        </button>
    </div>

</aside>
