{# -----------------------------------------------------------------------------
Font Preview Box Component
----------------------------------------------------------------------------- #}

<div class="demo__subsection">

    <div class="preview_box--horizontal" data-default="{{ default|default('Aa Bb Cc') }}"
        style="font-family: {{ family|default('sans-serif') }}">

        <code class="preview_box__label">
            {{ label|default('Sans-serif') }}
        </code>

        <div class="preview_box__text {{ class|default('') }}">
            {{ text|default('The quick brown fox jumps over the lazy dog. 0123456789') }}
        </div>

    </div>
</div>
