{# -----------------------------------------------------------------------------
Font Preview Box Component
----------------------------------------------------------------------------- #}

<section class="demo__section">
    <header class="demo__section__header">
        <h4>{{ title or 'Grid Layout ' ~ cols ~ '×' ~ rows }} Grid</h4>
    </header>
    <code>
        .grid__layout--{{ cols }}
    </code>

    <section class="demo__subsection">
        <div class="grid__layout--{{ cols }} grid--placeholder">
            {% for row in range(1, rows + 1) %}
            {% for col in range(1, cols + 1) %}
            <div>{{ alphabet[col-1] | default('C') }}{{ row }}</div>
            {% endfor %}
            {% endfor %}
        </div>
    </section>
</section>
