{# -----------------------------------------------------------------------------
Font Preview Box Component
----------------------------------------------------------------------------- #}


<div class="preview_box--horizontal" data-default="{{ default|default('Aa Bb Cc') }}"
    style="font-family: {{ family|default('sans-serif') }}">
    <code class="preview_box__code">
            {{ label|default('Sans-serif') }}
        </code>
    <div class="preview_box__live {{ class|default('') }}">
        <p>{{ text|default('The quick brown fox jumps over the lazy dog. 0123456789') }}</p>
    </div>
</div>
