

// Page
//

$paper-size: (
    "A4": 210,
    "A3": 210,
    "A2": 210,
    "A1": 210,
    "A0": 210
) !default;

// $kyu-page-min:      320px       !default;
// $kyu-page-max:      960px       !default;

$kyu-page-min:     180    !default;
$kyu-page-med:     270    !default;
$kyu-page-max:     360    !default;

