
// Kyu Scale
// ----------------------------------------------------------------------------

$kyu_scale_00: calc($kyu *  4) !default;
$kyu_scale_01: calc($kyu *  4) !default;
$kyu_scale_02: calc($kyu *  8) !default;
$kyu_scale_03: calc($kyu * 12) !default;
$kyu_scale_04: calc($kyu * 16) !default;
$kyu_scale_05: calc($kyu * 20) !default;
$kyu_scale_06: calc($kyu * 24) !default;
$kyu_scale_07: calc($kyu * 28) !default;
$kyu_scale_08: calc($kyu * 32) !default;
$kyu_scale_09: calc($kyu * 36) !default;
$kyu_scale_10: calc($kyu * 40) !default;
$kyu_scale_11: calc($kyu * 44) !default;
$kyu_scale_12: calc($kyu * 48) !default;

$kyu_scale: (
  0:  $kyu_scale_00,
  1:  $kyu_scale_01,
  2:  $kyu_scale_02,
  3:  $kyu_scale_03,
  4:  $kyu_scale_04,
  5:  $kyu_scale_05,
  6:  $kyu_scale_06,
  7:  $kyu_scale_07,
  8:  $kyu_scale_08,
  9:  $kyu_scale_09,
  10: $kyu_scale_10,
  11: $kyu_scale_11,
  12: $kyu_scale_12,
) !default;


// Kyu Baseline
// ----------------------------------------------------------------------------

$kyu_baseline_scale: 5;

$kyu_baseline_00: calc($kyu * $kyu_baseline_scale *  4) !default;
$kyu_baseline_01: calc($kyu * $kyu_baseline_scale *  1) !default;
$kyu_baseline_02: calc($kyu * $kyu_baseline_scale *  2) !default;
$kyu_baseline_03: calc($kyu * $kyu_baseline_scale *  3) !default;
$kyu_baseline_04: calc($kyu * $kyu_baseline_scale *  4) !default;
$kyu_baseline_05: calc($kyu * $kyu_baseline_scale *  5) !default;
$kyu_baseline_06: calc($kyu * $kyu_baseline_scale *  6) !default;
$kyu_baseline_07: calc($kyu * $kyu_baseline_scale *  7) !default;
$kyu_baseline_08: calc($kyu * $kyu_baseline_scale *  8) !default;
$kyu_baseline_09: calc($kyu * $kyu_baseline_scale *  9) !default;
$kyu_baseline_10: calc($kyu * $kyu_baseline_scale * 10) !default;
$kyu_baseline_11: calc($kyu * $kyu_baseline_scale * 11) !default;
$kyu_baseline_12: calc($kyu * $kyu_baseline_scale * 12) !default;

$kyu_baseline: (
  0:  $kyu_baseline_00,
  1:  $kyu_baseline_01,
  2:  $kyu_baseline_02,
  3:  $kyu_baseline_03,
  4:  $kyu_baseline_04,
  5:  $kyu_baseline_05,
  6:  $kyu_baseline_06,
  7:  $kyu_baseline_07,
  8:  $kyu_baseline_08,
  9:  $kyu_baseline_09,
  10: $kyu_baseline_10,
  11: $kyu_baseline_11,
  12: $kyu_baseline_12,
) !default;
