// Base | View
// ============================================================================

// Syntax
// @media media type and (condition: breakpoint) {
//   // CSS rules
// }

// @media screen, print {
//     /* … */
//   }

// @media (min-width: 30em) and (orientation: landscape) {
//     /* … */
//   }

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

$media_min: 320px !default;  // Mobile
$media_med: 640px !default;  // Tablet
$media_max: 960px !default;  // Screen
$media_dif: calc($media_max - $media_min);

$media_s: 320px;  // Mobile
$media_m: 640px;  // Tablet
$media_l: 960px;  // Screen


$view_width_min: 320px !default;
$view_width_med: 640px !default;
$view_width_max: 960px !default;
$view_width_dif: calc($view_width_max - $view_width_min);
