////
///
/// Character Style Configuration
/// ===========================================================================
///
/// Configuration for font-style character variants.
///
/// @group Typography.Character.Variants.Style
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

@use "sass:map";

// ============================================================================
// Configuration
// ============================================================================

$ss-character-style-config: (
    normal: normal,
    italic: italic,
    oblique: oblique,
) !default;

$ss-character-decoration-config: (
    none: none,
    underline: underline,
    overline: overline,
    line-through: line-through,
) !default;

$ss-character-decoration-style-config: (
    solid: solid,
    double: double,
    dotted: dotted,
    dashed: dashed,
    wavy: wavy,
) !default;
