////
///
/// Build Banner Mixin
/// ===========================================================================
///
/// Generates a banner comment in the compiled CSS output with version,
/// author, license, and other build metadata information.
///
/// @group Dev.Banner
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

// ============================================================================
// Mixin
// ============================================================================

/// Outputs a styled banner comment in compiled CSS
///
/// @param {String} $file - The filename or module name
/// @param {String} $version ["1.0.0"] - Version number
/// @param {String} $author ["Scape Agency"] - Author name
/// @param {String} $website ["https://www.style.scape/"] - Project website URL
/// @param {String} $license ["Apache 2.0 License"] - License name
/// @param {String} $licenseUrl - URL to the license file
/// @param {String} $description ["Design Framework"] - Brief description
/// @param {String} $repository - Repository URL
///
/// @example scss - Usage
///   @include banner("main", "0.2.0");
///
@mixin banner(
    $file,
    $version: "1.0.0",
    $author: "Scape Agency",
    $website: "https://www.style.scape/",
    $license: "Apache 2.0 License",
    $licenseUrl: "https://github.com/stylescape/stylescape/blob/main/LICENSE",
    $description: "Design Framework",
    $repository: "https://github.com/stylescape/stylescape/"
) {
    @at-root {
        /*!
     * ============================================================================
     *
     * Stylescape #{$file} v#{$version} (#{$website})
     * Copyright (c) 2020-2024 #{$author} (https://www.scape.agency)
     * All rights reserved under #{$license} terms.
     *
     * ============================================================================
     *
     * @description     #{$description}
     * @author          #{$author} (https://www.scape.agency)
     * @version         v#{$version}
     * @copyright       2020-2024 #{$author} (https://www.scape.agency)
     * @website         #{$website}
     * @repository      #{$repository}
     * @license         #{$license} (#{$licenseUrl})
     *
     * ============================================================================
     */
    }
}
