<div class="ss-c-ribbon--bottom ss-c-ribbon--inverted">
    <div class="ss-c-ribbon__slot--horizontal_center">
        <small>
            &copy; 2026 <span aria-hidden="true">SC∆PE PRESS</span>
            <span class="ss-c-visually-hidden">Scape Press</span>
        </small>
    </div>
</div>
