<footer class="ss-c-ribbon--bottom ss-c-ribbon--inverted" role="contentinfo">
    <div class="ss-c-ribbon__slot--horizontal_center">
        <small>&copy; 2025 SC∆PE PRESS</small>
    </div>
</footer>
