<aside class="ss-c-sidebar ss-c-sidebar--right" aria-label="Page contents">
    <div
        id="sidebar_right_navigation"
        class="ss-c-ribbon--right ss-c-ribbon--inverted"
    ></div>

    <nav
        id="sidebar_right_menu"
        class="ss-c-sidebar__menu"
        aria-label="On this page"
    >
        <div class="ss-c-sidebar__content ss-c-rail">
            {%- block rail_right_content %} {%- include
            "includes/layout/_sidebar_right_index.html.jinja" %} {%- endblock
            %}
        </div>
    </nav>
    <div class="ss-c-sidebar__control">
        <button
            type="button"
            class="ss-c-flipper--right"
            id="sidebar_right_switch"
            aria-expanded="false"
            aria-controls="sidebar_right_menu"
            aria-label="Show table of contents"
        >
            <span class="ss-c-flipper__icon"></span>
        </button>
    </div>
</aside>
