@use "sass:map";
@use "../../01-core/external" as *;

$ss-avatar-config: (
    sizes: (
        xs: q(24),
        sm: q(32),
        md: q(40),
        lg: q(56),
        xl: q(80),
    ),
    ring-width: 2px,
    indicator-size: 0.25em,
) !default;
