////
///
/// Border Tokens
/// ===========================================================================
///
/// Design token definitions for borders.
/// Only :root CSS custom properties, no selectors.
///
/// @group Lexicon
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

:root {
    // ========================================================================
    // Width
    // ========================================================================

    --ss-border-width-0: 0;
    --ss-border-width-1: 1px;
    --ss-border-width-2: 2px;
    --ss-border-width-4: 4px;
    --ss-border-width-8: 8px;

    // ========================================================================
    // Default
    // ========================================================================

    --ss-border-width: var(--ss-border-width-1);
    --ss-border-color: var(--ss-color-border, currentColor);
    --ss-border-style: solid;
}
