////
///
/// Radius Tokens
/// ===========================================================================
///
/// Design token definitions for border radius.
/// Only :root CSS custom properties, no selectors.
///
/// @group Lexicon
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

:root {
    // ========================================================================
    // Scale
    // ========================================================================

    --ss-radius-none: 0;
    --ss-radius-sm: q(2);
    --ss-radius-default: q(4);
    --ss-radius-md: q(6);
    --ss-radius-lg: q(8);
    --ss-radius-xl: q(12);
    --ss-radius-2xl: q(16);
    --ss-radius-3xl: q(24);
    --ss-radius-full: q(9999);
}
