@use "sass:map";

$ss-pagination-config: (
    gap: 0.25rem,
    item-min-size: 2.25rem,
    item-padding-inline: 0.625rem,
    radius: var(--ss-radius-sm),

    bg: transparent,
    fg: var(--ss-color-foreground),
    border: var(--ss-color-border, var(--ss-color-foreground)),

    active-bg: var(--ss-color-accent),
    active-fg: var(--ss-color-on-accent, var(--ss-color-background)),

    disabled-opacity: 0.5,
) !default;
