{% extends "../base.html.jinja" %} {% set title = "Color System" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h1>{{ title }}</h1>
    </header>

    <section class="ss-c-demo__subsection">
        <h2 class="ss-t-h4">Light Theme</h2>

        <h3 class="ss-t-h6">Light Theme | Text</h3>
        <div class="ss-c-theme-panel" data-theme="light" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'text_primary', 'text_secondary', 'text_tertiary'
            ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Light Theme | Line</h3>
        <div class="ss-c-theme-panel" data-theme="light" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'line_primary', 'line_secondary', 'line_tertiary'
            ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Light Theme | Fill</h3>
        <div class="ss-c-theme-panel" data-theme="light" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'fill_primary', 'fill_secondary', 'fill_tertiary'
            ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Light Theme | Accent</h3>
        <div class="ss-c-theme-panel" data-theme="light" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'accent_primary', 'accent_secondary',
            'accent_tertiary' ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Light Theme | State</h3>
        <div class="ss-c-theme-panel" data-theme="light" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'state_visited', 'state_focus', 'state_hover',
            'state_active', 'state_link', 'state_enabled', 'state_disabled',
            'state_current', 'state_checked', 'state_invalid', 'state_muted' ]
            %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Light Theme | Log</h3>
        <div class="ss-c-theme-panel" data-theme="light" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'log_trace', 'log_debug', 'log_success',
            'log_info', 'log_notice', 'log_warning', 'log_audit', 'log_error',
            'log_security', 'log_critical', 'log_alert', 'log_emergency' ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="ss-c-demo__subsection">
        <h2 class="ss-t-h4">Dark Theme</h2>

        <h3 class="ss-t-h6">Dark Theme | Text</h3>
        <div class="ss-c-theme-panel" data-theme="dark" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'text_primary', 'text_secondary', 'text_tertiary'
            ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Dark Theme | Line</h3>
        <div class="ss-c-theme-panel" data-theme="dark" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'line_primary', 'line_secondary', 'line_tertiary'
            ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Dark Theme | Fill</h3>
        <div class="ss-c-theme-panel" data-theme="dark" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'fill_primary', 'fill_secondary', 'fill_tertiary'
            ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Dark Theme | Accent</h3>
        <div class="ss-c-theme-panel" data-theme="dark" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'accent_primary', 'accent_secondary',
            'accent_tertiary' ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Dark Theme | State</h3>
        <div class="ss-c-theme-panel" data-theme="dark" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'state_visited', 'state_focus', 'state_hover',
            'state_active', 'state_link', 'state_enabled', 'state_disabled',
            'state_current', 'state_checked', 'state_invalid', 'state_muted' ]
            %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h3 class="ss-t-h6">Dark Theme | Log</h3>
        <div class="ss-c-theme-panel" data-theme="dark" style="flex-wrap: wrap; color: var(--ss-color-text)">
            {% for name in [ 'log_trace', 'log_debug', 'log_success',
            'log_info', 'log_notice', 'log_warning', 'log_audit', 'log_error',
            'log_security', 'log_critical', 'log_alert', 'log_emergency' ] %}
            <div class="ss-c-preview__swatch">
                <div
                    class="ss-c-preview__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="ss-c-preview__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>
    </section>
</section>
{%- endblock %}
