{% extends "../base.html.jinja" %} {% set title = "Avatar" %} {%- block title %}{{ title }}{%- endblock %} {%- block content %}
<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header"><h2>{{ title }}</h2></header>
    <p>Examples for the <code>ss-c-avatar</code> module.</p>

    {% set section_title = "Default" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <span class="ss-c-avatar">SP</span>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Sizes" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <span class="ss-c-avatar ss-c-avatar--xs">XS</span>
        <span class="ss-c-avatar ss-c-avatar--sm">SM</span>
        <span class="ss-c-avatar ss-c-avatar--md">MD</span>
        <span class="ss-c-avatar ss-c-avatar--lg">LG</span>
        <span class="ss-c-avatar ss-c-avatar--xl">XL</span>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "With ring" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <span class="ss-c-avatar ss-c-avatar--ring">A</span>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Online / Offline" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <span class="ss-c-avatar ss-c-avatar--online">B</span>
        <span class="ss-c-avatar ss-c-avatar--offline">C</span>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Placeholder" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <span class="ss-c-avatar ss-c-avatar--placeholder">SP</span>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Group" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <span class="ss-c-avatar-group">
            <span class="ss-c-avatar">A</span>
            <span class="ss-c-avatar">B</span>
            <span class="ss-c-avatar">C</span>
        </span>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
