{% extends "../base.html.jinja" %} {% set title = "Badge" %} {%- block title %}{{
title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <p>Documentation and examples for badges.</p>

    {% set section_title = "Default Badge" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p>
            I am a
            <span class="ss-c-badge">Default</span>
            Badge.
        </p>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Square Badges" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p>
            <span class="ss-c-badge">Default</span>
            <span class="ss-c-badge accent">Accent</span>
            <span class="ss-c-badge info squared">Info</span>
            <span class="ss-c-badge success squared">Success</span>
            <span class="ss-c-badge warning squared">Warning</span>
            <span class="ss-c-badge error squared">Error</span>
        </p>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Rounded Badges" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p>
            <span class="ss-c-badge rounded">Default</span>
            <span class="ss-c-badge accent rounded">Accent</span>
            <span class="ss-c-badge info rounded">Info</span>
            <span class="ss-c-badge success rounded">Success</span>
            <span class="ss-c-badge warning rounded">Warning</span>
            <span class="ss-c-badge error rounded">Error</span>
        </p>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Pill Badges" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p>
            <span class="ss-c-badge pill">Default</span>
            <span class="ss-c-badge accent pill">Accent</span>
            <span class="ss-c-badge info pill">Info</span>
            <span class="ss-c-badge success pill">Success</span>
            <span class="ss-c-badge warning pill">Warning</span>
            <span class="ss-c-badge error pill">Error</span>
        </p>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Badge Sizes" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p><span class="ss-c-badge">Paragraph</span></p>
        <h1><span class="ss-c-badge">Header 1</span></h1>
        <h2><span class="ss-c-badge">Header 2</span></h2>
        <h3><span class="ss-c-badge">Header 3</span></h3>
        <h4><span class="ss-c-badge">Header 4</span></h4>
        <h5><span class="ss-c-badge">Header 5</span></h5>
        <h6><span class="ss-c-badge">Header 6</span></h6>
        <span class="ss-c-badge xs">Extra Small</span>
        <span class="ss-c-badge sm">Small</span>
        <span class="ss-c-badge md">Medium</span>
        <span class="ss-c-badge lg">Large</span>
        <span class="ss-c-badge xl">Extra Large</span>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
