{% extends "../base.html.jinja" %} {% set title = "Box Size" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="ss-c-demo__subsection">
        <div class="grid--col--12">
            <div class="box-preview box--size_00">
                00
                <div class="box-label">4x baseline</div>
            </div>
            <div class="box-preview box--size_01">
                01
                <div class="box-label">1x</div>
            </div>
            <div class="box-preview box--size_02">
                02
                <div class="box-label">2x</div>
            </div>
            <div class="box-preview box--size_03">
                03
                <div class="box-label">3x</div>
            </div>
            <div class="box-preview box--size_04">
                04
                <div class="box-label">4x</div>
            </div>
            <div class="box-preview box--size_05">
                05
                <div class="box-label">5x</div>
            </div>
            <div class="box-preview box--size_06">
                06
                <div class="box-label">6x</div>
            </div>
            <div class="box-preview box--size_07">
                07
                <div class="box-label">7x</div>
            </div>
            <div class="box-preview box--size_08">
                08
                <div class="box-label">8x</div>
            </div>
            <div class="box-preview box--size_09">
                09
                <div class="box-label">9x</div>
            </div>
            <div class="box-preview box--size_10">
                10
                <div class="box-label">10x</div>
            </div>
            <div class="box-preview box--size_11">
                11
                <div class="box-label">11x</div>
            </div>
            <div class="box-preview box--size_12">
                12
                <div class="box-label">12x</div>
            </div>
        </div>
    </section>
</section>
{%- endblock %}
