{% extends "../base.html.jinja" %} {% set title = "Box Size" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}
<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h1>{{ title }}</h1>
    </header>

    <section class="ss-c-demo__subsection">
        <div class="ss-c-flex ss-c-flex--wrap ss-c-items-end ss-u-gap-16">
            <div>
                <div class="ss-c-box-preview ss-c-box--size_00 ss-u-p-0"></div>
                <div class="ss-c-box-label">00 · 4x baseline</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_01 ss-u-p-0"></div>
                <div class="ss-c-box-label">01 · 1x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_02 ss-u-p-0"></div>
                <div class="ss-c-box-label">02 · 2x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_03 ss-u-p-0"></div>
                <div class="ss-c-box-label">03 · 3x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_04 ss-u-p-0"></div>
                <div class="ss-c-box-label">04 · 4x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_05 ss-u-p-0"></div>
                <div class="ss-c-box-label">05 · 5x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_06 ss-u-p-0"></div>
                <div class="ss-c-box-label">06 · 6x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_07 ss-u-p-0"></div>
                <div class="ss-c-box-label">07 · 7x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_08 ss-u-p-0"></div>
                <div class="ss-c-box-label">08 · 8x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_09 ss-u-p-0"></div>
                <div class="ss-c-box-label">09 · 9x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_10 ss-u-p-0"></div>
                <div class="ss-c-box-label">10 · 10x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_11 ss-u-p-0"></div>
                <div class="ss-c-box-label">11 · 11x</div>
            </div>
            <div>
                <div class="ss-c-box-preview ss-c-box--size_12 ss-u-p-0"></div>
                <div class="ss-c-box-label">12 · 12x</div>
            </div>
        </div>
    </section>
</section>

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Demo Code" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h2>{{ section_title }}</h2>
        {% set code_snippet %}
        <div class="ss-c-box ss-c-box--bordered ss-c-box--rounded">
            Bordered, rounded box
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
