{% extends "../base.html.jinja" %} {% set title = "File Input" %} {%- block title %}{{ title }}{%- endblock %} {%- block content %}
<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header"><h2>{{ title }}</h2></header>
    <p>Examples for the <code>ss-c-file-input</code> module.</p>

    {% set section_title = "Default" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <input type="file" class="ss-c-file-input">
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Sizes" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <input type="file" class="ss-c-file-input ss-c-file-input--xs">
        <input type="file" class="ss-c-file-input ss-c-file-input--sm">
        <input type="file" class="ss-c-file-input ss-c-file-input--lg">
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Variants" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <input type="file" class="ss-c-file-input ss-c-file-input--primary">
        <input type="file" class="ss-c-file-input ss-c-file-input--success">
        <input type="file" class="ss-c-file-input ss-c-file-input--error">
        <input type="file" class="ss-c-file-input ss-c-file-input--bordered">
        <input type="file" class="ss-c-file-input ss-c-file-input--ghost">
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
