{% extends "../base.html.jinja" %} {% set title = "Footer" %} {%- block title %}{{ title }}{%- endblock %} {%- block content %}
<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header"><h1>{{ title }}</h1></header>
    <p>Examples for the <code>ss-c-footer</code> module.</p>

    {% set section_title = "Default" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h2>{{ section_title }}</h2>
        {% set code_snippet %}
        <footer class="ss-c-footer">
            <section>
                <h3 class="ss-c-footer__title">Product</h3>
                <a href="#">Features</a><a href="#">Pricing</a><a href="#">Changelog</a>
            </section>
            <section>
                <h3 class="ss-c-footer__title">Company</h3>
                <a href="#">About</a><a href="#">Contact</a><a href="#">Careers</a>
            </section>
            <section>
                <h3 class="ss-c-footer__title">Legal</h3>
                <a href="#">Terms</a><a href="#">Privacy</a><a href="#">Cookies</a>
            </section>
        </footer>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Centered" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h2>{{ section_title }}</h2>
        {% set code_snippet %}
        <footer class="ss-c-footer ss-c-footer--center">
            <section><p>&copy; 2026 Scape Press. All rights reserved.</p></section>
        </footer>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
