{% extends "../base.html.jinja" %} {% set title = "Forms" %} {%- block title %}{{
title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Login Form" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}

        <form class="ss-c-form--col" method="post" action="/authentication/login/">
            <div class="ss-c-form__field">
                <input
                    type="text"
                    name="username"
                    id="id_username"
                    class="form__field__input"
                    minlength="3"
                    maxlength="30"
                    placeholder="Username"
                    required
                    aria-labelledby="id_username_label"
                    aria-describedby="id_username_help id_username_error"
                />
                <label
                    for="id_username"
                    title="Please provide a username."
                    id="id_username_label"
                    class="form__field__label"
                >
                    Username
                </label>
                <span id="id_username_help" class="form__field__help">
                    Please provide a username.
                </span>
                <span
                    id="id_username_error"
                    class="form__field__error"
                    aria-live="polite"
                >
                    Required. 30 characters or fewer. Letters and digits.
                </span>
            </div>

            <div class="ss-c-form__field">
                <input
                    type="password"
                    name="password"
                    id="id_password"
                    class=""
                    minlength="3"
                    maxlength="30"
                    placeholder="Password"
                    required
                    aria-labelledby="id_username_label"
                    aria-describedby="id_password_help id_password_error"
                />
                <label for="id_password" id="id_password_label" class="">
                    Password
                </label>
                <span id="id_password_help" class="form__field__help">
                    Required. 8 characters or more.
                </span>
                <span
                    id="id_password_error"
                    class="form__field__error"
                    aria-live="polite"
                >
                    Required. 8 characters or more.
                </span>
            </div>

            <div class="ss-c-form__field">
                <label for="id_remember_me" class="">Remember Me</label>
                <input
                    type="checkbox"
                    name="remember_me"
                    id="id_remember_me"
                    class=""
                />
                <span id="id_remember_me_help" class="form__field__help">
                    Keep me logged in for 30 days.
                </span>
                <span
                    id="id_remember_me_error"
                    class="form__field__error"
                    aria-live="polite"
                >
                    Keep me logged in for 30 days.
                </span>
            </div>

            <button
                type="button"
                class="toggle-password"
                data-password-toggle="id_password"
                aria-pressed="false"
            >
                👁 Toggle
            </button>

            <button type="submit" class="ss-c-button ss-c-button--solid">Login</button>

            <p>
                <span class="req">*</span>
                - Required field
            </p>
        </form>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    <section id="forms">
        <form method="post">
            <fieldset>
                <legend>Survey</legend>
                <p>
                    Radio:
                    <label>
                        <input type="radio" name="opt" value="yes" />
                        Yes
                    </label>
                    <label>
                        <input type="radio" name="opt" value="no" />
                        No
                    </label>
                </p>
                <p>
                    <label class="ss-c-label">Name:</label>
                    <input type="text" name="name" class="ss-c-input" />
                </p>
                <p>
                    Deprecated:
                    <label>
                        <input type="checkbox" name="dep" value="marquee" />
                        Marquee
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            name="test"
                            value="disabled"
                            disabled
                        />
                        Disabled
                    </label>
                </p>
                <p>
                    <label class="ss-c-label">Favorite:</label>
                    <select name="fav">
                        <optgroup label="Group">
                            <option value="div">div</option>
                            <option value="p">p</option>
                            <option value="article">article</option>
                        </optgroup>
                    </select>
                </p>
                <p>
                    <label>
                        Comments:
                        <textarea
                            name="comments"
                            rows="3"
                            class="ss-c-input"
                        ></textarea>
                    </label>
                </p>
                <p>
                    Progress:
                    <progress value="50" max="100"></progress>
                </p>
                <p>
                    Meter:
                    <meter value="0.7">70%</meter>
                </p>
                <p>
                    Range Slider:
                    <input type="range" />
                </p>
                <p>
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </p>
            </fieldset>
        </form>
    </section>

    <section id="forms">
        <h1 id="form_elements">Fieldsets, Legends, and Form Elements</h1>

        <fieldset>
            <legend>Legend</legend>

            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Nullam dignissim convallis est. Quisque aliquam. Donec
                faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam
                libero nisi, imperdiet at, tincidunt nec, gravida vehicula,
                nisl. Praesent mattis, massa quis luctus fermentum, turpis mi
                volutpat justo, eu volutpat enim diam eget metus.
            </p>

            <form>
                <h2>Form Element</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Nullam dignissim convallis est. Quisque aliquam. Donec
                    faucibus. Nunc iaculis suscipit dui.
                </p>

                <p>
                    <label for="text_field">Text Field:</label>
                    <br />
                    <input type="text" id="text_field" />
                </p>

                <p>
                    <label for="text_area">Text Area:</label>
                    <br />
                    <textarea id="text_area"></textarea>
                </p>

                <p>
                    <label for="select_element">Select Element:</label>
                    <br />
                    <select name="select_element">
                        <optgroup label="Option Group 1">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </optgroup>
                        <optgroup label="Option Group 2">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </optgroup>
                    </select>
                </p>

                <p>
                    <label for="radio_buttons">Radio Buttons:</label>
                    <br />
                    <input
                        type="radio"
                        class="ss-c-radio"
                        name="radio_button"
                        value="radio_1"
                    />
                    Radio 1
                    <br />
                    <input
                        type="radio"
                        class="ss-c-radio"
                        name="radio_button"
                        value="radio_2"
                    />
                    Radio 2
                    <br />
                    <input
                        type="radio"
                        class="ss-c-radio"
                        name="radio_button"
                        value="radio_3"
                    />
                    Radio 3
                    <br />
                </p>

                <p>
                    <label for="checkboxes">Checkboxes:</label>
                    <br />
                    <input
                        type="checkbox"
                        class="ss-c-checkbox"
                        name="checkboxes"
                        value="check_1"
                    />
                    Radio 1
                    <br />
                    <input
                        type="checkbox"
                        class="ss-c-checkbox"
                        name="checkboxes"
                        value="check_2"
                    />
                    Radio 2
                    <br />
                    <input
                        type="checkbox"
                        class="ss-c-checkbox"
                        name="checkboxes"
                        value="check_3"
                    />
                    Radio 3
                    <br />
                </p>

                <p>
                    <label for="password">Password:</label>
                    <br />
                    <input type="password" class="password" name="password" />
                </p>

                <p>
                    <label for="file">File Input:</label>
                    <br />
                    <input type="file" class="file" name="file" />
                </p>

                <p>
                    <input class="ss-c-button" type="reset" value="Clear" />
                    <input class="ss-c-button" type="submit" value="Submit" />
                </p>
            </form>
        </fieldset>
    </section>

    {%- endblock content %}
</section>
