{% extends "../base.html.jinja" %} {% set title = "Graphic" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h1>{{ title }}</h1>
    </header>

    {% set section_title = "Basic Graphic" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h2>{{ section_title }}</h2>
        {% set code_snippet %}
        <div class="ss-c-graphic">
            <img src="/img/placeholder/800x400.svg" alt="Demo graphic" />
        </div>
        {% endset %}
        <div class="ss-c-demo__preview">{{ code_snippet | safe }}</div>
        <div class="ss-c-demo__code">
            <pre><code class="ss-c-language-html">{{ code_snippet | e }}</code></pre>
        </div>
    </section>

    {% set section_title = "Elevated Graphic" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h2>{{ section_title }}</h2>
        {% set code_snippet %}
        <div class="ss-c-graphic ss-c-graphic-elevate">
            <img src="/img/placeholder/660x400.svg" alt="Elevated graphic" />
        </div>
        {% endset %}
        <div class="ss-c-demo__preview">{{ code_snippet | safe }}</div>
        <div class="ss-c-demo__code">
            <pre><code class="ss-c-language-html">{{ code_snippet | e }}</code></pre>
        </div>
    </section>

    {% set section_title = "Graphic without Margins" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h2>{{ section_title }}</h2>
        {% set code_snippet %}
        <div class="ss-c-graphic ss-c-graphic_no-margins">
            <img
                src="/img/placeholder/800x300.svg"
                alt="Full-width graphic"
            />
        </div>
        {% endset %}
        <div class="ss-c-demo__preview">{{ code_snippet | safe }}</div>
        <div class="ss-c-demo__code">
            <pre><code class="ss-c-language-html">{{ code_snippet | e }}</code></pre>
        </div>
    </section>
</section>

{%- endblock %}
