{% extends "../base.html.jinja" %} {% set title = "Graphic" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Basic Graphic" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-graphic">
            <img src="https://picsum.photos/800/400" alt="Demo graphic" />
        </div>
        {% endset %}
        <div class="demo__preview">{{ code_snippet | safe }}</div>
        <div class="demo__code">
            <pre><code class="language-html">{{ code_snippet | e }}</code></pre>
        </div>
    </section>

    {% set section_title = "Elevated Graphic" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-graphic graphic-elevate">
            <img src="https://picsum.photos/660/400" alt="Elevated graphic" />
        </div>
        {% endset %}
        <div class="demo__preview">{{ code_snippet | safe }}</div>
        <div class="demo__code">
            <pre><code class="language-html">{{ code_snippet | e }}</code></pre>
        </div>
    </section>

    {% set section_title = "Graphic without Margins" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-graphic graphic_no-margins">
            <img
                src="https://picsum.photos/800/300"
                alt="Full-width graphic"
            />
        </div>
        {% endset %}
        <div class="demo__preview">{{ code_snippet | safe }}</div>
        <div class="demo__code">
            <pre><code class="language-html">{{ code_snippet | e }}</code></pre>
        </div>
    </section>
</section>

{%- endblock %}
