{% extends "../base.html.jinja" %} {% set title = "Join" %} {%- block title %}{{ title }}{%- endblock %} {%- block content %}
<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header"><h2>{{ title }}</h2></header>
    <p>Examples for the <code>ss-c-join</code> module.</p>

    {% set section_title = "Buttons" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-join">
            <button class="ss-c-button">One</button>
            <button class="ss-c-button">Two</button>
            <button class="ss-c-button">Three</button>
        </div>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Input + button" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-join">
            <input type="text" class="ss-c-input" placeholder="Search">
            <button class="ss-c-button ss-c-button--primary">Go</button>
        </div>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    {% set section_title = "Vertical" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-join ss-c-join--vertical">
            <button class="ss-c-button">Top</button>
            <button class="ss-c-button">Middle</button>
            <button class="ss-c-button">Bottom</button>
        </div>
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
