{% extends "../base.html.jinja" %} {% set title = "Mask" %} {%- block title %}{{ title }}{%- endblock %} {%- block content %}
<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header"><h1>{{ title }}</h1></header>
    <p>Examples for the <code>ss-c-mask</code> module.</p>

    {% set section_title = "All shapes" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h2>{{ section_title }}</h2>
        {% set code_snippet %}
        <img class="ss-c-mask ss-c-mask--squircle" src="/img/placeholder/128x128-m0.svg" alt="squircle" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--circle" src="/img/placeholder/128x128-m1.svg" alt="circle" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--hexagon" src="/img/placeholder/128x128-m2.svg" alt="hexagon" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--triangle" src="/img/placeholder/128x128-m3.svg" alt="triangle" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--pentagon" src="/img/placeholder/128x128-m4.svg" alt="pentagon" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--decagon" src="/img/placeholder/128x128-m5.svg" alt="decagon" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--diamond" src="/img/placeholder/128x128-m6.svg" alt="diamond" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--star" src="/img/placeholder/128x128-m7.svg" alt="star" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--heart" src="/img/placeholder/128x128-m8.svg" alt="heart" width="96" height="96">
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
