{% extends "../base.html.jinja" %} {% set title = "Mask" %} {%- block title %}{{ title }}{%- endblock %} {%- block content %}
<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header"><h2>{{ title }}</h2></header>
    <p>Examples for the <code>ss-c-mask</code> module.</p>

    {% set section_title = "All shapes" %}
    <section class="ss-c-demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <img class="ss-c-mask ss-c-mask--squircle" src="https://picsum.photos/seed/m0/128" alt="squircle" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--circle" src="https://picsum.photos/seed/m1/128" alt="circle" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--hexagon" src="https://picsum.photos/seed/m2/128" alt="hexagon" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--triangle" src="https://picsum.photos/seed/m3/128" alt="triangle" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--pentagon" src="https://picsum.photos/seed/m4/128" alt="pentagon" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--decagon" src="https://picsum.photos/seed/m5/128" alt="decagon" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--diamond" src="https://picsum.photos/seed/m6/128" alt="diamond" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--star" src="https://picsum.photos/seed/m7/128" alt="star" width="96" height="96">
        <img class="ss-c-mask ss-c-mask--heart" src="https://picsum.photos/seed/m8/128" alt="heart" width="96" height="96">
        {% endset %} {% set language="HTML" %}
        {%- include "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
