{% extends "../base.html.jinja" %} {% set title = "Portfolio" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h1>{{ title }}</h1>
    </header>

    {% set image_url =
    "/img/placeholder/1470x980-photo.svg"
    %} {% set section_title = "Portfolio Grid" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h2>{{ section_title }}</h2>
        {% set code_snippet %}
        <div class="ss-c-portfolio" id="galleryImages">
            {% for n in range(1, 10) %}
            <figure class="ss-c-portfolio--item">
                <img
                    src="{{ image_url }}"
                    class="ss-c-animate_fade"
                    alt="Portfolio project {{ n }}"
                />
            </figure>
            {% endfor %}
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
