{% extends "../base.html.jinja" %} {% set title = "Status Spinners" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Status Spinner" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="spinner-demo">
            <div class="ss-c-spinner ss-c-spinner--sm"></div>
            <div class="ss-c-spinner ss-c-spinner--md"></div>
            <div class="ss-c-spinner ss-c-spinner--lg"></div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
