{% extends "../base.html.jinja" %} {% set title = "Tab" %} {%- block title %}{{
title }}{%- endblock %} {%- block content %}

<section class="ss-c-demo__section" data-label="{{ title }}" data-level="1">
    <header class="ss-c-demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Demo Code" %}
    <section
        class="ss-c-demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <!-- Tab links -->
        <div class="ss-c-tab">
            <button
                class="ss-c-tablinks"
                onclick="openCity(event, 'London')"
                id="defaultOpen"
            >
                London
            </button>
            <button class="ss-c-tablinks" onclick="openCity(event, 'Paris')">
                Paris
            </button>
            <button class="ss-c-tablinks" onclick="openCity(event, 'Tokyo')">
                Tokyo
            </button>
        </div>

        <!-- Tab content -->
        <div id="London" class="ss-c-tabcontent">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
        </div>

        <div id="Paris" class="ss-c-tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
        </div>

        <div id="Tokyo" class="ss-c-tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/ss-c-preview_code.html.jinja" %}
    </section>

    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="ss-c-tabcontent" and hide them
            tabcontent = document.getElementsByClassName("ss-c-tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="ss-c-tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("ss-c-tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(
                    " active",
                    "",
                );
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
</section>

{%- endblock content %}
