{% extends "../base.html.jinja" %} {% set title = "Tooltip" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {#
    ----------------------------------------------------------------------------
    Tooltip Top
    ----------------------------------------------------------------------------
    #} {% set section_title = "Tooltip Top" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-tooltip ss-c-tooltip--top" tooltip-data="Tooltip on top">
            Hover me (Top)
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Tooltip Right
    ----------------------------------------------------------------------------
    #} {% set section_title = "Tooltip Right" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-tooltip ss-c-tooltip--right" tooltip-data="Tooltip on right">
            Hover me (Right)
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Tooltip Bottom
    ----------------------------------------------------------------------------
    #} {% set section_title = "Tooltip Bottom" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-tooltip ss-c-tooltip--bottom" tooltip-data="Tooltip on bottom">
            Hover me (Bottom)
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Tooltip Left
    ----------------------------------------------------------------------------
    #} {% set section_title = "Tooltip Left" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="ss-c-tooltip ss-c-tooltip--left" tooltip-data="Tooltip on left">
            Hover me (Left)
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Tooltip Static Top
    ----------------------------------------------------------------------------
    #} {% set section_title = "Tooltip Static Top" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div
            class="ss-c-tooltip ss-c-tooltip--top ss-c-tooltip--static"
            tooltip-data="Always visible (Top)"
        >
            Static Top Tooltip
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Tooltip Static Right
    ----------------------------------------------------------------------------
    #} {% set section_title = "Tooltip Static Right" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div
            class="ss-c-tooltip ss-c-tooltip--right ss-c-tooltip--static"
            tooltip-data="Always visible (Right)"
        >
            Static Right Tooltip
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Tooltip Static Bottom
    ----------------------------------------------------------------------------
    #} {% set section_title = "Tooltip Static Bottom" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div
            class="ss-c-tooltip ss-c-tooltip--bottom ss-c-tooltip--static"
            tooltip-data="Always visible (Bottom)"
        >
            Static Bottom Tooltip
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Tooltip Static Left
    ----------------------------------------------------------------------------
    #} {% set section_title = "Tooltip Static Left" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div
            class="ss-c-tooltip ss-c-tooltip--left ss-c-tooltip--static"
            tooltip-data="Always visible (Left)"
        >
            Static Left Tooltip
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>
</section>
{%- endblock%}
