// Copyright 2025 Starling Associates BV. All rights reserved.


// ============================================================================
// Imports
// ============================================================================

@use 'stylescape/scss/index.scss' as *;
@use '../../variables' as *;
@use '../../mixins' as *;




// ============================================================================
// Container | Preloader
// ============================================================================


.preloader{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.preloader_hidden{
    opacity: 0;
    display: hidden;
    z-index: -9999;
    pointer-events: none;
}
