// ============================================================================
// Use
// ============================================================================

// ============================================================================
// Forward
// ============================================================================

// ============================================================================
// Rules
// ============================================================================

@font-face {
    font-family: "Ekster";
    font-weight: 400;
    font-style: normal;
    src: url("https://font.starling.host/ekster/ekster-regular.eot");
    src:
        url("https://font.starling.host/ekster/ekster-regular.eot?#iefix") format("embedded-opentype"),
        url("https://font.starling.host/ekster/ekster-regular.woff2") format("woff2"),
        url("https://font.starling.host/ekster/ekster-regular.woff") format("woff"),
        url("https://font.starling.host/ekster/ekster-regular.ttf") format("truetype"),
        url("https://font.starling.host/ekster/ekster-regular.svg#Ekster-regular") format("svg");
    font-display: swap;
    line-gap-override: 0%;
    ascent-override: 88%;
    descent-override: 12%;
    size-adjust: 100%;
}

@font-face {
    font-family: "Ekster";
    font-weight: 700;
    font-style: bold;
    src: url("https://font.starling.host/ekster/ekster-bold.eot");
    src:
        url("https://font.starling.host/ekster/ekster-bold.eot?#iefix") format("embedded-opentype"),
        url("https://font.starling.host/ekster/ekster-bold.woff2") format("woff2"),
        url("https://font.starling.host/ekster/ekster-bold.woff") format("woff"),
        url("https://font.starling.host/ekster/ekster-bold.ttf") format("truetype"),
        url("https://font.starling.host/ekster/ekster-bold.svg#Ekster-bold") format("svg");
    font-display: swap;
    line-gap-override: 0%;
    ascent-override: 88%;
    descent-override: 12%;
    size-adjust: 100%;
}
