// ============================================================================
// Forward
// ============================================================================

@forward "pkg:icon.gl" with ($icon_dir: "https://unpkg.com/icon.gl@0.0.35/font",
    $icon-color-default: inherit);

@forward "pkg:stylescape/scss/dev";
@forward "pkg:stylescape/scss/functions";

// ============================================================================
// Use
// ============================================================================

@use "font_stack" as fonts;
@use "color" as color;

@forward "pkg:stylescape/scss/variables" with (
    $font_default_sans: fonts.$font_default_sans,

    $color_light_accent_primary: color.$color_light_accent_primary,
    $color_light_accent_secondary: color.$color_light_accent_secondary,
    $color_light_state_visited: color.$color_light_state_visited,
    $color_light_state_focus: color.$color_light_state_focus,
    $color_light_state_hover: color.$color_light_state_hover,
    $color_light_state_active: color.$color_light_state_active,
    $color_light_state_link: color.$color_light_state_link
);


@forward "pkg:stylescape/scss/variables";

@forward "font_face";

@forward "ribbon";

// ============================================================================
// Rules
// ============================================================================
