<!-- Checkboxes -->
{% for checkbox in checkboxes %}
    <input type="checkbox" id="{{ checkbox.id }}" name="{{ checkbox.name }}" value="{{ checkbox.value }}">
    <label for="{{ checkbox.id }}">{{ checkbox.label }}</label><br>
{% endfor %}
