// ============================================================================
// Imports
// ============================================================================

@use "../../../variables" as *;
@use "../../../dev" as *;
@use "../../soul_type" as *;
@use "../../head_layout" as *;

// ============================================================================
// Main | Content
// ============================================================================

.main_content {
    @include grid--size--col(24);
    max-width: 100%;
    min-height: 100%;
    @include grid--span--col(24);
    padding: q(16);
}

.main_content_section_header {
    @include grid--span--col(24);
    @include font--weight_500;
    @include character--uppercase;
    margin-top: q(16);
    margin-bottom: q(16);
}

.main_content_section_main {
    @include grid--span--col(24);
    margin-top: q(16);
    margin-bottom: q(16);
}

.main_content_section_footer {
    @include grid--span--col(24);
    margin-top: q(16);
    margin-bottom: q(16);
}
