// ============================================================================
// Imports
// ============================================================================

@use '../../../variables' as *;
@use '../../../dev' as *;
@use '../../soul_type' as *;
@use '../../head_grid' as *;

// ============================================================================
// Main | Footer
// ============================================================================

.main_footer {
    @include col--24;
    // grid-area: main_footer;
    align-self: start;
    justify-self: left;
    text-align: left;
}
