////
///
/// Default Paragraph Typography Utility Classes
/// ===========================================================================
///
/// @group Paragraph
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use "../../../mixins/soul_type/paragraph/default" as *;

// ============================================================================
// Utility Classes
// ============================================================================

// Utility Classes for Paragraph Styles
// ----------------------------------------------------------------------------

.paragraph--default {
    @include paragraph--default;
}

.paragraph--normal {
    @include paragraph--normal;
}

.paragraph--left {
    @include paragraph--left;
}

.paragraph--right {
    @include paragraph--right;
}

.paragraph--center {
    @include paragraph--center;
}

.paragraph--justify {
    @include paragraph--justify;
}

.paragraph--justify--left {
    @include paragraph--justify--left;
}

.paragraph--justify--right {
    @include paragraph--justify--right;
}

// Base Paragraph Styling
// ----------------------------------------------------------------------------

/// Applies the normal paragraph style to all `<p>` elements.
///
/// This ensures that all paragraphs adhere to the standard typography rules
/// set in the design system.
///
p {
    @include paragraph--normal;
}

// Vossi

// .paragraph {
//     font-family: var(--theme-paragraph__font-family);
//     font-size: var(--theme-paragraph__font-size);
//     font-style: normal;
//     font-weight: 400;
//     line-height: var(--theme-paragraph__line-height);
//     letter-spacing: var(--theme-semantic-type-body-letter-spacing);
//     margin-top: var(--primitive-space-none);
//     margin-left: var(--primitive-space-none);
//     margin-right: var(--primitive-space-none);
// }

// .paragraph a,
// .paragraph strong {
//     font-family: var(--theme-semantic-type-body-font-family);
//     font-size: var(--theme-semantic-type-body--lg-font-size);
//     line-height: var(--theme-semantic-type-body--lg-line-height);
//     letter-spacing: var(--theme-semantic-type-body-letter-spacing);
//     font-style: normal;
// }

.paragraph,
.paragraph strong {
    color: var(--theme-semantic-color-type-primary);
}

// .paragraph strong {
//     font-weight: 700;
// }

// .paragraph a {
//     color: var(--theme-paragraph__link-color);
//     font-weight: 400;
// }

// .paragraph a:hover {
//     color: var(--theme-link-color-hover);
//     -webkit-text-decoration-line: var(
//         --theme-paragraph__hover-link-decoration
//     );
//     text-decoration-line: var(--theme-paragraph__hover-link-decoration);
// }

// .paragraph a:active {
//     color: var(--theme-semantic-color-component-link-primary-overrides-press);
// }

// .paragraph a:focus {
//     color: var(--theme-semantic-color-component-link-primary-overrides-focus);
// }

// .paragraph {
//     word-wrap: break-word;
// }

// .paragraph[data-has-icon="true"] {
//     display: flex;
// }

// .product-offer-card .kiln-button,
// [data-component-name="product-offer-card"]:has(.product-offer-card__sponsor)
//     [class*="__subtitle"] {
//     display: none;
// }

// .paragraph svg {
//     fill: currentColor;
//     margin-top: q(4);
//     margin-right: q(16);
// }

// .paragraph-elevate {
//     font-family:
//         noto_serif,
//         Georgia,
//         Times New Roman,
//         serif;
//     font-weight: 400;
//     font-size: 1rem;
//     line-height: 175%;
//     margin-top: 0;
//     margin-bottom: 2q(4);
// }

// .paragraph-elevate strong {
//     font-weight: 700;
// }

// .paragraph-elevate.paragraph a,
// .paragraph-elevate.paragraph a:focus,
// .paragraph-elevate.paragraph a:hover,
// .paragraph-elevate.paragraph strong {
//     font-family:
//         noto_serif,
//         Georgia,
//         Times New Roman,
//         serif;
//     font-size: 1rem;
//     font-weight: 700;
// }

// .paragraph-elevate a {
//     font-weight: 700;
//     color: var(--theme-paragraph__link-color);
//     -webkit-text-decoration-line: var(--theme-paragraph__link-decoration);
//     text-decoration-line: var(--theme-paragraph__link-decoration);
//     -webkit-text-decoration-color: var(
//         --theme-paragraph__link-decoration-color
//     );
//     text-decoration-color: var(--theme-paragraph__link-decoration-color);
//     text-decoration-thickness: var(
//         --theme-paragraph__link-decoration-thickness
//     );
//     -webkit-text-decoration-skip-ink: var(--theme-underline-skip-ink);
//     text-decoration-skip-ink: var(--theme-underline-skip-ink);
//     -webkit-text-decoration-skip: var(--theme-underline-skip-ink);
//     text-decoration-skip: var(--theme-underline-skip-ink);
// }

// .paragraph_bold a,
// .paragraph_centered a,
// .paragraph_contributors a {
//     text-underline-offset: var(--primitive-space-04);
// }

// .paragraph-elevate a:hover {
//     color: var(--theme-link-color-hover);
//     -webkit-text-decoration: var(--theme-paragraph__hover-link-decoration);
//     text-decoration: var(--theme-paragraph__hover-link-decoration);
// }

// .paragraph-elevate[data-article-gutter] {
//     max-width: 660px;
// }

// @media screen and (min-width: q(480)) {
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .paragraph-elevate,
//     body:not(.layout-homepage-mobile.kiln-edit-mode):not(
//             .layout-homepage-mobile-app.kiln-edit-mode
//         )
//         .paragraph-elevate
//         a {
//         font-size: var(--theme-paragraph__font-size--from-small);
//         line-height: var(--theme-paragraph__line-height--from-small);
//     }
// }

// .paragraph_bold,
// .paragraph_bold a,
// .paragraph_centered,
// .paragraph_centered a,
// .paragraph_contributors {
//     font-family: var(--theme-semantic-type-body-font-family);
//     font-size: var(--theme-semantic-type-body--lg-font-size);
//     line-height: var(--theme-semantic-type-body--lg-line-height);
//     letter-spacing: var(--theme-semantic-type-body-letter-spacing);
// }

// .paragraph_bold {
//     color: var(--theme-semantic-color-type-primary);
//     font-style: normal;
//     font-weight: 700;
// }

// .paragraph_bold a {
//     color: var(--theme-semantic-color-component-link-primary-base-default);
//     font-style: normal;
//     font-weight: 700;
//     -webkit-text-decoration-line: var(
//         --primitive-type-text-decoration-underline
//     );
//     text-decoration-line: var(--primitive-type-text-decoration-underline);
// }

// .paragraph_bold a:hover {
//     color: var(--theme-semantic-color-component-link-primary-overrides-hover);
//     -webkit-text-decoration-line: var(--primitive-type-text-decoration-none);
//     text-decoration-line: var(--primitive-type-text-decoration-none);
// }

// .paragraph_bold a:active {
//     color: var(--theme-semantic-color-component-link-primary-overrides-press);
// }

// .paragraph_bold a:focus {
//     color: var(--theme-semantic-color-component-link-primary-overrides-focus);
// }

// .paragraph_centered {
//     color: var(--theme-semantic-color-type-primary);
//     font-style: normal;
//     font-weight: 400;
//     margin-left: auto;
//     margin-right: auto;
// }

// .paragraph_centered a {
//     color: var(--theme-semantic-color-component-link-primary-base-default);
//     font-style: normal;
//     font-weight: 400;
//     -webkit-text-decoration-line: var(
//         --primitive-type-text-decoration-underline
//     );
//     text-decoration-line: var(--primitive-type-text-decoration-underline);
// }

// .paragraph_centered a:hover {
//     color: var(--theme-semantic-color-component-link-primary-overrides-hover);
//     -webkit-text-decoration-line: var(--primitive-type-text-decoration-none);
//     text-decoration-line: var(--primitive-type-text-decoration-none);
// }

// .paragraph_contributors a,
// .subheader_allcaps__link,
// .subheader_centered-allcaps__link {
//     text-decoration-line: var(--primitive-type-text-decoration-underline);
// }

// .paragraph_centered a:active {
//     color: var(--theme-semantic-color-component-link-primary-overrides-press);
// }

// .paragraph_centered a:focus {
//     color: var(--theme-semantic-color-component-link-primary-overrides-focus);
// }

// .paragraph_contributors {
//     color: var(--theme-semantic-color-type-quartenary);
//     font-style: italic;
//     font-weight: 400;
// }

// .paragraph_contributors a {
//     color: var(--theme-semantic-color-component-link-quartenary-base-default);
//     font-family: var(--theme-semantic-type-metadata-font-family);
//     font-size: var(--theme-semantic-type-metadata--lg-font-size);
//     font-style: italic;
//     font-weight: 400;
//     line-height: var(--theme-semantic-type-metadata--lg-line-height);
//     letter-spacing: var(--theme-semantic-type-metadata-letter-spacing-none);
//     -webkit-text-decoration-line: var(
//         --primitive-type-text-decoration-underline
//     );
// }

// .paragraph_contributors a:hover {
//     color: var(
//         --theme-semantic-color-component-link-quartenary-overrides-hover
//     );
//     -webkit-text-decoration-line: var(--primitive-type-text-decoration-none);
//     text-decoration-line: var(--primitive-type-text-decoration-none);
// }

// .paragraph,
// .paragraph strong {
//     color: var(--theme-semantic-color-type-primary);
// }
// .paragraph {
//     font-family: var(--theme-paragraph__font-family);
//     font-size: var(--theme-paragraph__font-size);
//     font-style: normal;
//     font-weight: 400;
//     line-height: var(--theme-paragraph__line-height);
//     letter-spacing: var(--theme-semantic-type-body-letter-spacing);
//     margin-bottom: var(--primitive-space-16);
//     margin-top: var(--primitive-space-none);
//     margin-left: var(--primitive-space-none);
//     margin-right: var(--primitive-space-none);
// }
// .paragraph a,
// .paragraph strong {
//     font-family: var(--theme-semantic-type-body-font-family);
//     font-size: var(--theme-semantic-type-body--lg-font-size);
//     font-style: normal;
//     line-height: var(--theme-semantic-type-body--lg-line-height);
//     letter-spacing: var(--theme-semantic-type-body-letter-spacing);
// }
// .paragraph strong {
//     font-weight: 700;
// }
// .paragraph a {
//     color: var(--theme-paragraph__link-color);
//     font-weight: 400;
//     -webkit-text-decoration-line: var(--theme-paragraph__link-decoration);
//     text-decoration-line: var(--theme-paragraph__link-decoration);
//     text-underline-offset: var(--theme-paragraph__hover-link-offset);
// }
// .paragraph a:hover {
//     color: var(--theme-link-color-hover);
//     -webkit-text-decoration-line: var(
//         --theme-paragraph__hover-link-decoration
//     );
//     text-decoration-line: var(--theme-paragraph__hover-link-decoration);
// }
// .paragraph a:active {
//     color: var(--theme-semantic-color-component-link-primary-overrides-press);
// }
// .paragraph a:focus {
//     color: var(--theme-semantic-color-component-link-primary-overrides-focus);
// }
// .paragraph {
//     word-wrap: break-word;
// }
// .paragraph[data-has-icon="true"] {
//     display: flex;
// }
// .paragraph svg {
//     fill: currentColor;
//     margin-top: q(4);
//     margin-right: q(16);
// }
// .paragraph-elevate {
//     font-family:
//         noto_serif,
//         Georgia,
//         Times New Roman,
//         serif;
//     font-weight: 400;
//     font-size: 1rem;
//     line-height: 175%;
//     margin-top: 0;
//     margin-bottom: 2q(4);
// }
// .paragraph-elevate strong {
//     font-weight: 700;
// }
// .paragraph-elevate.paragraph a,
// .paragraph-elevate.paragraph a:focus,
// .paragraph-elevate.paragraph a:hover,
// .paragraph-elevate.paragraph strong {
//     font-family:
//         noto_serif,
//         Georgia,
//         Times New Roman,
//         serif;
//     font-size: 1rem;
//     font-weight: 700;
// }
// .paragraph-elevate a {
//     font-weight: 700;
//     color: var(--theme-paragraph__link-color);
//     -webkit-text-decoration-line: var(--theme-paragraph__link-decoration);
//     text-decoration-line: var(--theme-paragraph__link-decoration);
//     -webkit-text-decoration-color: var(
//         --theme-paragraph__link-decoration-color
//     );
//     text-decoration-color: var(--theme-paragraph__link-decoration-color);
//     text-decoration-thickness: var(
//         --theme-paragraph__link-decoration-thickness
//     );
//     text-underline-offset: var(--theme-paragraph__hover-link-offset);
//     -webkit-text-decoration-skip-ink: var(--theme-underline-skip-ink);
//     text-decoration-skip-ink: var(--theme-underline-skip-ink);
//     -webkit-text-decoration-skip: var(--theme-underline-skip-ink);
//     text-decoration-skip: var(--theme-underline-skip-ink);
// }
// .paragraph-elevate a:hover {
//     color: var(--theme-link-color-hover);
//     -webkit-text-decoration: var(--theme-paragraph__hover-link-decoration);
//     text-decoration: var(--theme-paragraph__hover-link-decoration);
// }
// .paragraph-elevate[data-article-gutter] {
//     max-width: 660px;
// }

.paragraph,
.paragraph strong {
    color: var(--theme-semantic-color-type-primary);
}

.paragraph {
    font-family: var(--theme-paragraph__font-family);
    font-size: var(--theme-paragraph__font-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--theme-paragraph__line-height);
    letter-spacing: var(--theme-semantic-type-body-letter-spacing);
    margin-bottom: var(--primitive-space-16);
    margin-top: var(--primitive-space-none);
    margin-left: var(--primitive-space-none);
    margin-right: var(--primitive-space-none);
}

.paragraph a,
.paragraph strong {
    font-family: var(--theme-semantic-type-body-font-family);
    font-size: var(--theme-semantic-type-body--lg-font-size);
    font-style: normal;
    line-height: var(--theme-semantic-type-body--lg-line-height);
    letter-spacing: var(--theme-semantic-type-body-letter-spacing);
}

.paragraph strong {
    font-weight: 700;
}

.paragraph a {
    color: var(--theme-paragraph__link-color);
    font-weight: 400;
    -webkit-text-decoration-line: var(--theme-paragraph__link-decoration);
    text-decoration-line: var(--theme-paragraph__link-decoration);
    text-underline-offset: var(--theme-paragraph__hover-link-offset);
}

.paragraph a:hover {
    color: var(--theme-link-color-hover);
    -webkit-text-decoration-line: var(
        --theme-paragraph__hover-link-decoration
    );
    text-decoration-line: var(--theme-paragraph__hover-link-decoration);
}

.paragraph a:active {
    color: var(--theme-semantic-color-component-link-primary-overrides-press);
}

.paragraph a:focus {
    color: var(--theme-semantic-color-component-link-primary-overrides-focus);
}

.paragraph {
    word-wrap: break-word;
}

.paragraph[data-has-icon="true"] {
    display: flex;
}

.paragraph svg {
    fill: currentColor;
    margin-top: 4px;
    margin-right: q(16);
}

.paragraph-elevate {
    font-family:
        noto_serif,
        Georgia,
        Times New Roman,
        serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 175%;
    margin-top: 0;
    margin-bottom: 24px;
}

.paragraph-elevate strong {
    font-weight: 700;
}

.paragraph-elevate.paragraph a,
.paragraph-elevate.paragraph a:focus,
.paragraph-elevate.paragraph a:hover,
.paragraph-elevate.paragraph strong {
    font-family:
        noto_serif,
        Georgia,
        Times New Roman,
        serif;
    font-size: 1rem;
    font-weight: 700;
}

.paragraph-elevate a {
    font-weight: 700;
    color: var(--theme-paragraph__link-color);
    -webkit-text-decoration-line: var(--theme-paragraph__link-decoration);
    text-decoration-line: var(--theme-paragraph__link-decoration);
    -webkit-text-decoration-color: var(
        --theme-paragraph__link-decoration-color
    );
    text-decoration-color: var(--theme-paragraph__link-decoration-color);
    text-decoration-thickness: var(
        --theme-paragraph__link-decoration-thickness
    );
    text-underline-offset: var(--theme-paragraph__hover-link-offset);
    -webkit-text-decoration-skip-ink: var(--theme-underline-skip-ink);
    text-decoration-skip-ink: var(--theme-underline-skip-ink);
    -webkit-text-decoration-skip: var(--theme-underline-skip-ink);
    text-decoration-skip: var(--theme-underline-skip-ink);
}

.paragraph-elevate a:hover {
    color: var(--theme-link-color-hover);
    -webkit-text-decoration: var(--theme-paragraph__hover-link-decoration);
    text-decoration: var(--theme-paragraph__hover-link-decoration);
}

.paragraph-elevate[data-article-gutter] {
    max-width: 660px;
}

@media screen and (min-width: q(480)) {
    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        .paragraph-elevate,
    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        .paragraph-elevate
        a {
        font-size: var(--theme-paragraph__font-size--from-small);
        line-height: var(--theme-paragraph__line-height--from-small);
    }
}
