////
///
/// Subheader Paragraph Typography Utility Classes
/// ===========================================================================
///
/// @group Paragraph
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use "../../../mixins/soul_type/paragraph/subheader" as *;

// ============================================================================
// Utility Classes
// ============================================================================

.subheader {
    @include subheader;
}

.subheader--size-h2 {
    @include subheader--size-h2;
}

.subheader--size-h3 {
    @include subheader--size-h3;
}

.subheader--size-h4 {
    @include subheader--size-h4;
}

.subheader--size-h5 {
    @include subheader--size-h5;
}

.subheader--size-h6 {
    @include subheader--size-h6;
}

.subheader__link {
    @include subheader__link;
}

.subheader__link:hover {
    @include subheader__link-hover;
}

.subheader__link:active {
    @include subheader__link-active;
}

.subheader__link:focus,
.subheader_allcaps__link:focus {
    @include subheader__link-focus;
}

.subheader__link:focus {
    border: none;
}

.subheader-elevate {
    @include subheader-elevate;
}

@media screen and (max-width: 102Q(3)) {
    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h2.subheader-elevate {
        font-size: q(23);
        line-height: q(27);
    }

    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h3.subheader-elevate {
        font-size: q(21);
        line-height: q(25);
    }

    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h4.subheader-elevate {
        font-size: q(20);
        line-height: q(22);
    }

    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h5.subheader-elevate {
        font-size: q(18);
        line-height: q(20);
    }

    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h6.subheader-elevate {
        font-size: q(16);
        line-height: q(18);
        text-transform: none;
    }
}

.subheader_allcaps,
.subheader_centered-allcaps {
    text-transform: var(--primitive-type-text-transform-uppercase);
}

@media screen and (min-width: 102Q(4)) {
    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h2.subheader-elevate {
        font-size: q(32);
        line-height: q(37);
    }

    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h3.subheader-elevate {
        font-size: q(27);
        line-height: q(30);
    }

    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h4.subheader-elevate {
        font-size: q(21);
        line-height: q(25);
    }

    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h5.subheader-elevate {
        font-size: q(18);
        line-height: q(20);
    }

    body:not(.layout-homepage-mobile.kiln-edit-mode):not(
            .layout-homepage-mobile-app.kiln-edit-mode
        )
        h6.subheader-elevate {
        font-size: q(16);
        line-height: q(18);
    }
}

.subheader_allcaps {
    @include subheader_allcaps;
}

.subheader_allcaps__link,
.subheader_centered-allcaps__link {
    @include subheader_allcaps__link;
}

.subheader_allcaps--size-h3 {
    @include subheader_allcaps--size-h3;
}

.subheader_allcaps--size-h4 {
    @include subheader_allcaps--size-h4;
}

.subheader_allcaps--size-h5 {
    @include subheader_allcaps--size-h5;
}

.subheader_allcaps--size-h6 {
    @include subheader_allcaps--size-h6;
}

.subheader_allcaps__link {
    font-size: unset;
    line-height: unset;
    text-decoration-thickness: var(--primitive-size-01);
}

.subheader_allcaps__link:hover {
    color: var(--theme-semantic-color-component-link-primary-overrides-hover);
    -webkit-text-decoration-line: var(--primitive-type-text-decoration-none);
    text-decoration-line: var(--primitive-type-text-decoration-none);
}

.subheader_allcaps__link:active {
    color: var(--theme-semantic-color-component-link-primary-overrides-press);
}

.subheader_allcaps__link:focus {
    align-content: flex-start;
    flex-wrap: wrap;
    border: none;
}

.subheader_centered-allcaps__link:focus,
.subheader_centered__link:focus {
    align-items: flex-start;
    align-content: flex-start;
    border-radius: var(--theme-semantic-corner-radius-focus-primary);
    display: unset;
}

.subheader_centered-allcaps {
    @include subheader_centered-allcaps;
}

.subheader_centered-allcaps--size-h3 {
    @include subheader_centered-allcaps--size-h3;
}

.subheader_centered-allcaps--size-h4 {
    @include subheader_centered-allcaps--size-h4;
}

.subheader_centered-allcaps--size-h5 {
    @include subheader_centered-allcaps--size-h5;
}

.subheader_centered-allcaps--size-h6 {
    @include subheader_centered-allcaps--size-h6;
}

.subheader_centered-allcaps__link {
    @include subheader_centered-allcaps__link;
}

.subheader_centered-allcaps__link:hover {
    color: var(--theme-semantic-color-component-link-primary-overrides-hover);
    -webkit-text-decoration-line: var(--primitive-type-text-decoration-none);
    text-decoration-line: var(--primitive-type-text-decoration-none);
}

.subheader_centered-allcaps__link:active {
    color: var(--theme-semantic-color-component-link-primary-overrides-press);
}

.subheader_centered-allcaps__link:focus {
    color: var(--theme-semantic-color-component-link-primary-overrides-focus);
    flex-wrap: wrap;
    border: none;
}

.subheader_centered {
    @include subheader_centered;
}

.subheader_centered--size-h3 {
    @include subheader_centered--size-h3;
}

.subheader_centered--size-h4 {
    @include subheader_centered--size-h4;
}

.subheader_centered--size-h5 {
    @include subheader_centered--size-h5;
}

.subheader_centered--size-h6 {
    @include subheader_centered--size-h6;
}

.subheader_centered__link {
    @include subheader_centered__link;
}

.subheader_regular,
.subheader_regular__link {
    font-family: var(--theme-semantic-type-title-font-family);
    font-weight: 400;
    letter-spacing: var(--theme-semantic-type-title-letter-spacing);
}

.subheader_centered__link:hover {
    color: var(--theme-semantic-color-component-link-primary-overrides-hover);
    -webkit-text-decoration-line: var(--primitive-type-text-decoration-none);
    text-decoration-line: var(--primitive-type-text-decoration-none);
}

.subheader_centered__link:active {
    color: var(--theme-semantic-color-component-link-primary-overrides-press);
}

.subheader_centered__link:focus {
    color: var(--theme-semantic-color-component-link-primary-overrides-focus);
    flex-wrap: wrap;
    border: none;
}

.subheader_regular {
    @include subheader_regular;
}

.subheader_regular--size-h3 {
    @include subheader_regular--size-h3;
}

.subheader_regular--size-h4 {
    @include subheader_regular--size-h4;
}

.subheader_regular--size-h5 {
    @include subheader_regular--size-h5;
}

.subheader_regular--size-h6 {
    @include subheader_regular--size-h6;
}

.subheader_regular__link {
    @include subheader_regular__link;
}

.tiktok__error-text,
.twitter__error-text {
    font-family: var(--theme-font-family);
    font-size: q(16);
}

.subheader_regular__link:hover {
    color: var(--theme-semantic-color-component-link-primary-overrides-hover);
    -webkit-text-decoration-line: var(--primitive-type-text-decoration-none);
    text-decoration-line: var(--primitive-type-text-decoration-none);
}

.subheader_regular__link:active {
    color: var(--theme-semantic-color-component-link-primary-overrides-press);
}

.subheader_regular__link:focus {
    color: var(--theme-semantic-color-component-link-primary-overrides-focus);
    display: unset;
    align-items: flex-start;
    border-radius: var(--theme-semantic-corner-radius-focus-primary);
    border: none;
}

.subheader--lite {
    @include subheader--lite;
}
