{% extends "../base.html.jinja" %} {% set title = "Tables" %} {%- block title %}{{
title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set table_content %}
    <caption>This is a table caption, made with caption</caption>
    <colgroup></colgroup>
    <thead>
        <tr>
            <th>Table Header 1</th>
            <th>Table Header 2</th>
            <th>Table Header 3</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Table Footer 1</td>
            <td>Table Footer 2</td>
            <td>Table Footer 3</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>TD 1.1</td>
            <td>TD 1.2</td>
            <td>TD 1.3</td>
        </tr>
        <tr>
            <td>TD 2.1</td>
            <td>TD 2.2</td>
            <td>TD 2.3</td>
        </tr>
        <tr>
            <td>TD 3.1</td>
            <td>TD 3.2</td>
            <td>TD 3.3</td>
        </tr>
    </tbody>
    {% endset %} {#
    ----------------------------------------------------------------------------
    Table Default
    ----------------------------------------------------------------------------
    #} {% set section_title = "Default Table" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <table class="">{{ table_content | safe }}</table>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Table Lined All
    ----------------------------------------------------------------------------
    #} {% set section_title = "Table Lined All" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <table class="table--lined--all">{{ table_content | safe }}</table>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Table Lined Horizontal
    ----------------------------------------------------------------------------
    #} {% set section_title = "Table Lined Horizontal" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <table class="table--lined--horizontal">
            {{ table_content | safe }}
        </table>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Table Lined Vertical
    ----------------------------------------------------------------------------
    #} {% set section_title = "Table Lined Vertical" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <table class="table--lined--vertical">
            {{ table_content | safe }}
        </table>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Table Striped Horizontal
    ----------------------------------------------------------------------------
    #} {% set section_title = "Table Striped Horizontal" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <table class="table--striped--horizontal">
            {{ table_content | safe }}
        </table>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Table Striped Vertical
    ----------------------------------------------------------------------------
    #} {% set section_title = "Table Striped Vertical" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <table class="table--striped--vertical">
            {{ table_content | safe }}
        </table>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Table Size SM
    ----------------------------------------------------------------------------
    #} {% set section_title = "Table Size SM" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <table class="table--striped--vertical table--size--sm">
            {{ table_content | safe }}
        </table>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Table Collapsible
    ----------------------------------------------------------------------------
    #} {% set section_title = "Table Collapsible" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <div class="collapsible_table">
            <div class="collapsible_table--header">
                <span class="collapsible_table--title">
                    Expandable Table Title
                </span>
                <button class="active flipper--down" type="button"></button>
            </div>

            <div class="collapsible_table--content collapse">
                <table class="table--lined--horizontal">
                    {{ table_content | safe }}
                </table>
            </div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Data Table
    ----------------------------------------------------------------------------
    #} {% set section_title = "Data Table" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <div class="data_table">
            <div class="data_table--header">
                <span class="data_table--title">Data Table Title</span>
                <form role="search" class="data_table--form">
                    <button class="data_table--button" type="submit">
                        <i class="i i_ui_search"></i>
                    </button>
                    <input
                        type="text"
                        class="data_table--input"
                        placeholder="Search..."
                    />
                </form>
            </div>

            <table class="table--lined--horizontal">
                {{ table_content | safe }}
            </table>

            <div class="data_table--pagination">
                <ul class="pagination pagination--left">
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {%- endblock content %}
</section>
