:root {
    --primitive-color-brand-primary: #cc0000ff;
    --primitive-color-brand-secondary: #ff3f3fff;
    --primitive-color-brand-tertiary: #a4001eff;
    --primitive-color-brand-business: #66c9afff;
    --primitive-color-brand-politics: #3061f3ff;
    --primitive-color-brand-travel: #f06c00ff;
    --primitive-color-brand-underscored: #6a29d5ff;
    --primitive-color-neutral-800: var(--color_text_primary) ff;
    --primitive-color-neutral-700: #262626ff;
    --primitive-color-neutral-600: #404040ff;
    --primitive-color-neutral-500: #6e6e6eff;
    --primitive-color-neutral-400: #b1b1b1ff;
    --primitive-color-neutral-300: #e6e6e6ff;
    --primitive-color-neutral-200: #f8f8f8ff;
    --primitive-color-neutral-100: var(--color_fill_primary) fffff;
    --primitive-color-red-800: #450000ff;
    --primitive-color-red-700: #720000ff;
    --primitive-color-red-600: #a20000ff;
    --primitive-color-red-500: #d50000ff;
    --primitive-color-red-400: #ff3f3fff;
    --primitive-color-red-300: #ff7979ff;
    --primitive-color-red-200: #ffaaaaff;
    --primitive-color-red-100: #ffd5d5ff;
    --primitive-color-orange-800: #401a00ff;
    --primitive-color-orange-700: #612b00ff;
    --primitive-color-orange-600: #984700ff;
    --primitive-color-orange-500: #cd6200ff;
    --primitive-color-orange-400: #ff7c00ff;
    --primitive-color-orange-300: #ff9360ff;
    --primitive-color-orange-200: #ffb9a1ff;
    --primitive-color-orange-100: #ffdbd0ff;
    --primitive-color-yellow-800: #463100ff;
    --primitive-color-yellow-700: #6c4e00ff;
    --primitive-color-yellow-600: #9a7100ff;
    --primitive-color-yellow-500: #c99400ff;
    --primitive-color-yellow-400: #f0b100ff;
    --primitive-color-yellow-300: #ffc248ff;
    --primitive-color-yellow-200: #ffd088ff;
    --primitive-color-yellow-100: #ffe4c3ff;
    --primitive-color-green-800: #0b2f1dff;
    --primitive-color-green-700: #1b5437ff;
    --primitive-color-green-600: #2b7a53ff;
    --primitive-color-green-500: #3da672ff;
    --primitive-color-green-400: #4bc88aff;
    --primitive-color-green-300: #58e59eff;
    --primitive-color-green-200: #97fbc3ff;
    --primitive-color-green-100: #c9fdddff;
    --primitive-color-blue-800: #041443ff;
    --primitive-color-blue-700: #0c266eff;
    --primitive-color-blue-600: #173da4ff;
    --primitive-color-blue-500: #2152d5ff;
    --primitive-color-blue-400: #3061f2ff;
    --primitive-color-blue-300: #7b8ff7ff;
    --primitive-color-blue-200: #aeb8faff;
    --primitive-color-blue-100: #d7dbfcff;
    --primitive-color-teal-800: #0a2927ff;
    --primitive-color-teal-700: #164541ff;
    --primitive-color-teal-600: #346a66ff;
    --primitive-color-teal-500: #4d9791ff;
    --primitive-color-teal-400: #60b9b1ff;
    --primitive-color-teal-300: #73dcd3ff;
    --primitive-color-teal-200: #92f8f0ff;
    --primitive-color-teal-100: #c6fbf6ff;
    --primitive-color-purple-800: #2d1444ff;
    --primitive-color-purple-700: #462166ff;
    --primitive-color-purple-600: #62318eff;
    --primitive-color-purple-500: #8143b8ff;
    --primitive-color-purple-400: #9656d1ff;
    --primitive-color-purple-300: #b28ae0ff;
    --primitive-color-purple-200: #cdb6f1ff;
    --primitive-color-purple-100: #e5dbf8ff;
    --primitive-color-pink-800: #44010fff;
    --primitive-color-pink-700: #6f041eff;
    --primitive-color-pink-600: #9e092fff;
    --primitive-color-pink-500: #d00f40ff;
    --primitive-color-pink-400: #fc2f59ff;
    --primitive-color-pink-300: #fc7989ff;
    --primitive-color-pink-200: #fdaab2ff;
    --primitive-color-pink-100: #fed6d9ff;
    --primitive-color-transparent-black-90: var(--color_text_primary) e6;
    --primitive-color-transparent-black-80: var(--color_text_primary) cc;
    --primitive-color-transparent-black-70: var(--color_text_primary) b3;
    --primitive-color-transparent-black-60: var(--color_text_primary) 99;
    --primitive-color-transparent-black-50: var(--color_text_primary) 80;
    --primitive-color-transparent-black-40: var(--color_text_primary) 66;
    --primitive-color-transparent-black-30: var(--color_text_primary) 4d;
    --primitive-color-transparent-black-20: var(--color_text_primary) 33;
    --primitive-color-transparent-black-10: var(--color_text_primary) 1a;
    --primitive-color-transparent-black-05: var(--color_text_primary) 1a;
    --primitive-color-transparent-black-0: var(--color_text_primary) 00;
    --primitive-color-transparent-white-90: var(--color_fill_primary) fffe6;
    --primitive-color-transparent-white-80: var(--color_fill_primary) fffcc;
    --primitive-color-transparent-white-70: var(--color_fill_primary) fffb3;
    --primitive-color-transparent-white-60: var(--color_fill_primary) fff99;
    --primitive-color-transparent-white-50: var(--color_fill_primary) fff80;
    --primitive-color-transparent-white-40: var(--color_fill_primary) fff66;
    --primitive-color-transparent-white-30: var(--color_fill_primary) fff4d;
    --primitive-color-transparent-white-20: var(--color_fill_primary) fff33;
    --primitive-color-transparent-white-10: var(--color_fill_primary) fff1a;
    --primitive-color-transparent-white-05: var(--color_fill_primary) fff1a;
    --primitive-color-transparent-white-0: var(--color_fill_primary) fff00;

    --semantic-color-global-accent-primary: var(--primitive-color-red-500);
    --semantic-color-global-accent-secondary: var(--primitive-color-red-400);
    --semantic-color-global-accent-neutral: var(--primitive-color-neutral-800);
    --semantic-color-global-bg-primary: var(--primitive-color-neutral-100);
    --semantic-color-global-bg-secondary: var(--primitive-color-neutral-200);
    --semantic-color-global-bg-tertiary: var(--primitive-color-neutral-300);
    --semantic-color-global-bg-inverse: var(--primitive-color-neutral-800);
    --semantic-color-global-border-primary: var(--primitive-color-neutral-800);
    --semantic-color-global-border-secondary: var(
        --primitive-color-neutral-500
    );
    --semantic-color-global-border-tertiary: var(
        --primitive-color-neutral-400
    );
    --semantic-color-global-border-quartenary: var(
        --primitive-color-neutral-300
    );
    --semantic-color-global-border-quinary: var(--primitive-color-neutral-200);
    --semantic-color-global-border-accent: var(--primitive-color-red-500);
    --semantic-color-global-border-inverse: var(--primitive-color-neutral-100);
    --semantic-color-global-border-focus-primary: var(
        --primitive-color-neutral-800
    );
    --semantic-color-global-border-focus-inverse: var(
        --primitive-color-neutral-100
    );
    --semantic-color-global-type-primary: var(--primitive-color-neutral-800);
    --semantic-color-global-type-secondary: var(--primitive-color-neutral-700);
    --semantic-color-global-type-tertiary: var(--primitive-color-neutral-600);
    --semantic-color-global-type-quartenary: var(
        --primitive-color-neutral-500
    );
    --semantic-color-global-type-accent: var(--primitive-color-red-500);
    --semantic-color-global-type-live: var(--primitive-color-red-500);
    --semantic-color-global-type-inverse: var(--primitive-color-neutral-100);
    --semantic-color-global-icon-primary: var(--primitive-color-neutral-800);
    --semantic-color-global-icon-secondary: var(--primitive-color-neutral-700);
    --semantic-color-global-icon-tertiary: var(--primitive-color-neutral-600);
    --semantic-color-global-icon-quartenary: var(
        --primitive-color-neutral-500
    );
    --semantic-color-global-icon-accent: var(--primitive-color-red-500);
    --semantic-color-global-icon-live: var(--primitive-color-red-500);
    --semantic-color-global-icon-inverse: var(--primitive-color-neutral-100);
    --semantic-color-component-action-primary-base-text: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-primary-base-icon: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-primary-base-bg: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-primary-overrides-bg_-hover: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-action-primary-overrides-bg_-press: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-action-primary-overrides-bg_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-secondary-base-text: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-secondary-base-icon: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-secondary-base-bg: var(
        --primitive-color-transparent-white-0
    );
    --semantic-color-component-action-secondary-base-flex-bg: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-secondary-base-border: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-action-secondary-overrides-text_-hover: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-action-secondary-overrides-icon_-hover: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-action-secondary-overrides-bg_-hover: var(
        --primitive-color-transparent-black-05
    );
    --semantic-color-component-action-secondary-overrides-border_-hover: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-action-secondary-overrides-text_-press: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-action-secondary-overrides-icon_-press: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-action-secondary-overrides-bg_-press: var(
        --primitive-color-transparent-black-10
    );
    --semantic-color-component-action-secondary-overrides-border_-press: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-action-secondary-overrides-text_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-secondary-overrides-icon_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-secondary-overrides-bg_-focus: var(
        --primitive-color-transparent-white-0
    );
    --semantic-color-component-action-secondary-overrides-border_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-tertiary-base-text: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-tertiary-base-icon: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-tertiary-base-bg: var(
        --primitive-color-transparent-black-0
    );
    --semantic-color-component-action-tertiary-base-flex-bg: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-tertiary-overrides-text_-hover: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-action-tertiary-overrides-icon_-hover: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-action-tertiary-overrides-bg_-hover: var(
        --primitive-color-transparent-black-05
    );
    --semantic-color-component-action-tertiary-overrides-text_-press: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-action-tertiary-overrides-icon_-press: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-action-tertiary-overrides-bg_-press: var(
        --primitive-color-transparent-black-10
    );
    --semantic-color-component-action-tertiary-overrides-text_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-tertiary-overrides-icon_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-tertiary-overrides-bg_-focus: var(
        --primitive-color-transparent-black-0
    );
    --semantic-color-component-action-inverse-primary-base-text: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-inverse-primary-base-icon: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-action-inverse-primary-base-bg: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-primary-overrides-bg_-hover: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-action-inverse-primary-overrides-bg_-press: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-action-inverse-primary-overrides-bg_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-secondary-base-text: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-secondary-base-icon: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-secondary-base-bg: var(
        --primitive-color-transparent-black-0
    );
    --semantic-color-component-action-inverse-secondary-base-border: var(
        --primitive-color-neutral-400
    );
    --semantic-color-component-action-inverse-secondary-overrides-text_-hover: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-action-inverse-secondary-overrides-icon_-hover: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-action-inverse-secondary-overrides-bg_-hover: var(
        --primitive-color-transparent-white-10
    );
    --semantic-color-component-action-inverse-secondary-overrides-border_-hover: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-action-inverse-secondary-overrides-text_-press: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-action-inverse-secondary-overrides-icon_-press: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-action-inverse-secondary-overrides-bg_-press: var(
        --primitive-color-transparent-white-20
    );
    --semantic-color-component-action-inverse-secondary-overrides-border_-press: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-action-inverse-secondary-overrides-text_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-secondary-overrides-icon_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-secondary-overrides-bg_-focus: var(
        --primitive-color-transparent-black-0
    );
    --semantic-color-component-action-inverse-secondary-overrides-border_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-tertiary-base-text: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-tertiary-base-icon: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-tertiary-base-bg: var(
        --primitive-color-transparent-white-0
    );
    --semantic-color-component-action-inverse-tertiary-overrides-text_-hover: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-action-inverse-tertiary-overrides-icon_-hover: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-action-inverse-tertiary-overrides-bg_-hover: var(
        --primitive-color-transparent-white-10
    );
    --semantic-color-component-action-inverse-tertiary-overrides-text_-press: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-action-inverse-tertiary-overrides-icon_-press: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-action-inverse-tertiary-overrides-bg_-press: var(
        --primitive-color-transparent-white-20
    );
    --semantic-color-component-action-inverse-tertiary-overrides-text_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-tertiary-overrides-icon_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-action-inverse-tertiary-overrides-bg_-focus: var(
        --primitive-color-transparent-white-0
    );
    --semantic-color-component-input-selector-default-base-text: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-selector-default-base-icon: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-selector-default-base-border: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-input-selector-default-base-flex_text_-med: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-selector-default-base-flex_icon_-med: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-selector-default-base-flex_bg: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-input-selector-default-overrides-text_-hover: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-selector-default-overrides-bg_-hover: var(
        --primitive-color-transparent-black-05
    );
    --semantic-color-component-input-selector-default-overrides-border_-hover: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-selector-default-overrides-text_-press: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-selector-default-overrides-bg_-press: var(
        --primitive-color-transparent-black-10
    );
    --semantic-color-component-input-selector-default-overrides-border_-press: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-input-selector-default-overrides-text_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-selector-default-overrides-border_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-selector-default-overrides-flex_shadow_-tap: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-input-selector-default-overrides-flex_shadow_-hover: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-input-selector-default-overrides-flex_shadow_-press: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-input-selector-active-base-text: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-input-selector-active-base-bg: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-selector-active-base-border: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-selector-active-base-flex_border_-md: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-input-selector-active-overrides-bg_-hover: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-selector-active-overrides-border_-hover: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-selector-active-overrides-text_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-input-selector-active-overrides-bg_-press: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-input-selector-active-overrides-bg_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-selector-active-overrides-border_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-input-selector-active-overrides-flex_shadow_-tap: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-input-selector-active-overrides-flex_shadow_-hover: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-input-selector-active-overrides-flex_shadow_-press: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-input-text-input-default-base-text: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-text-input-default-base-border: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-input-text-input-default-base-flex_text_-med: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-text-input-default-base-flex_bg: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-input-text-input-default-overrides-text_-hover: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-text-input-default-overrides-bg_-hover: var(
        --primitive-color-transparent-black-05
    );
    --semantic-color-component-input-text-input-default-overrides-border_-hover: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-input-text-input-default-overrides-text_-press: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-text-input-default-overrides-bg_-press: var(
        --primitive-color-transparent-black-10
    );
    --semantic-color-component-input-text-input-default-overrides-border_-press: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-input-text-input-default-overrides-text_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-text-input-default-overrides-border_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-text-input-default-overrides-flex_shadow_-tap: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-input-text-input-default-overrides-flex_shadow_-hover: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-input-text-input-default-overrides-flex_shadow_-press: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-input-text-input-focus-base-text: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-text-input-focus-base-bg: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-input-text-input-focus-base-border: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-text-input-focus-overrides-bg_-hover: var(
        --primitive-color-transparent-black-05
    );
    --semantic-color-component-input-text-input-focus-overrides-border_-hover: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-input-text-input-focus-overrides-bg_-press: var(
        --primitive-color-transparent-black-10
    );
    --semantic-color-component-input-text-input-focus-overrides-text_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-text-input-focus-overrides-bg_-focus: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-input-text-input-focus-overrides-border_-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-input-text-input-focus-overrides-flex_shadow_-tap: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-input-text-input-focus-overrides-flex_shadow_-hover: var(
        --primitive-color-neutral-200
    );
    --semantic-color-component-input-text-input-focus-overrides-flex_shadow_-press: var(
        --primitive-color-neutral-300
    );
    --semantic-color-component-link-primary-base-default: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-link-primary-overrides-hover: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-link-primary-overrides-press: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-link-primary-overrides-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-link-secondary-base-default: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-link-secondary-overrides-hover: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-link-secondary-overrides-press: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-link-secondary-overrides-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-link-tertiary-base-default: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-link-tertiary-overrides-hover: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-link-tertiary-overrides-press: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-link-tertiary-overrides-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-link-quartenary-base-default: var(
        --primitive-color-neutral-500
    );
    --semantic-color-component-link-quartenary-overrides-hover: var(
        --primitive-color-neutral-600
    );
    --semantic-color-component-link-quartenary-overrides-press: var(
        --primitive-color-neutral-700
    );
    --semantic-color-component-link-quartenary-overrides-focus: var(
        --primitive-color-neutral-800
    );
    --semantic-color-component-link-inverse-base-default: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-link-inverse-overrides-hover: var(
        --primitive-color-neutral-100
    );
    --semantic-color-component-link-inverse-overrides-focus: var(
        --primitive-color-neutral-100
    );
}
