:root {
    --primitive-space-80: q(80);
    --primitive-space-72: q(72);
    --primitive-space-64: q(64);
    --primitive-space-56: q(56);
    --primitive-space-48: q(50);
    --primitive-space-40: q(40);
    --primitive-space-36: q(36);
    --primitive-space-32: q(32);
    --primitive-space-28: q(30);
    --primitive-space-24: q(24);
    --primitive-space-20: q(20);
    --primitive-space-16: q(16);
    --primitive-space-12: q(12);
    --primitive-space-08: q(8);
    --primitive-space-04: q(4);
    --primitive-space-02: q(2);
    --primitive-space-01: q(1);
    --primitive-space-none: 0;
}
