:root {
    --primitive-type-text-transform-uppercase: uppercase;
    --primitive-type-text-transform-lowercase: lowercase;
    --primitive-type-text-transform-sentence-case: capitalize;
    --primitive-type-text-transform-none: none;
    --primitive-type-text-decoration-none: none;
}
