{% extends "base.html.jinja" %}

{%- block content %}

<figure>
    <pre role="img" aria-label="ASCII COW">
        ___________________________
    &lt; I'm an expert in my field. &gt;
        ---------------------------
            \   ^__^
            \  (oo)\_______
                (__)\       )\/\
                    ||----w |
                    ||     ||
    </pre>
    <figcaption id="cow-caption">
        A cow saying, "I'm an expert in my field." The cow is illustrated using
        preformatted text characters.
    </figcaption>
</figure>

<br>

<p>Using CSS to change the font color is easy.</p>
<pre>
    body {
        color: red;
    }
</pre>

<br>

<pre>
    let i = 5;

    if (i &lt; 10 &amp;&amp; i &gt; 0)
        return &quot;Single Digit Number&quot;
</pre>

<pre>
    <xmp>
        <pre>
            let i = 5;

            if (i &lt; 10 &amp;&amp; i &gt; 0)
                return &quot;Single Digit Number&quot;
        </pre>
</xmp>
</pre>

<pre>
    <xmp>
        <!-- your html code -->
    </xmp>
</pre>

<br>

<textarea readonly> <!-- html code --> </textarea>

{%- endblock content %}
