{% extends "base.html.jinja" %} {%- block content %}

<p>This is a long quotation inside a blockquote:</p>
<blockquote>
    <p>
        “I love songs about horses, railroads, land, judgement day, family,
        hard times, whiskey, courtship, marriage, adultery, separation, murder,
        war, prison, rambling, damnation, home, salvation, death, pride, humor,
        piety, rebellion, patriotism, larceny, determination, tragedy,
        rowdiness, heartbreak, and love. And Mother. And God.” ~ Johnny Cash
    </p>
</blockquote>

<blockquote>
    "This stylesheet is going to help so freaking much."
    <br />
    -Blockquote
</blockquote>

{%- endblock content %}
