
// ============================================================================
// Components | Caption
// ============================================================================



@use "../../dev" as *;
@use "../../variables" as *;
// @use "../../mixins" as *;



@use "../layout" as *;
@use "../elements" as *;
@use "../type" as *;

/// Styles for caption components.
/// Provides basic styling for captions, including text alignment,
/// background color, padding, and text color.
/// @group Caption
.caption {
    text-align: center;
    background-color: white;
    padding: 2px 16px;
    color: black;
}
