

// ============================================================================
// Components | Cookie Consent
// ============================================================================


@use "../dev" as *;
@use "../variables" as *;
@use "../mixins" as *;
@use "../layout" as *;
@use "../elements" as *;
@use "../type" as *;


.cookieconsent {
    position: fixed;
    height:             $q * 6;
    font-size:          $q * 3;
    line-height:        $q * 3;
    left:               0;
    bottom:             0;
    background-color:   $color_01;
    color:              $color_02;
    text-align:         center;
    width:              100%;
}