

// ============================================================================
// Components | Social Share
// ============================================================================

@use "../../dev" as *;
@use "../../variables" as *;
// @use "../mixins" as *;
@use "../layout" as *;
@use "../type" as *;


// .social_share {
//     height:             $q * 4;
//     max-height:         $q * 4;
//     font-size:          0px;
//     bottom:             0;
//     display: inline-block;
//     .social_share_list {
//         display:            flex;
//         justify-content:    left;
//         margin:             0px 0;
//         padding:            0px 0;
//         .social_share_list_item {
//             padding-top:        0;
//             padding-right:      $q *  2;
//             padding-bottom:     0;
//             padding-left:       0;
//             list-style-type:    none;
//             -webkit-user-select:none;
//             -moz-user-select:   none;
//             &:last-child {
//                 padding-right:      0px;
//             }
//             .social_share_icon {
//                 width:              $q *  3;
//                 height:             $q *  3;
//                 padding-top:        0;
//                 padding-right:      $q;
//                 padding-bottom:     0;
//                 padding-left:       $q;
//                 color:              $color_02;
//                 border-bottom:      none;
//                 display:            block;
//                 text-align:         center;              
//             }
//         }
//     }
// }
    
    