
// ============================================================================
// Components | vCard
// ============================================================================


@use "../dev" as *;
@use "../variables" as *;
@use "../mixins" as *;
@use "../layout" as *;
@use "../elements" as *;
@use "../type" as *;


.vcard, .vcard * {
    @include character_normal;
    float:left;
    display: block;
}

.org {
    @include character_bold;
}