@use "../../01-core/prefix" as *;
@use "./toolbar.mixins" as toolbar;

@layer ss.components {
    .#{$ss-prefix-module}-toolbar {
        @include toolbar.ss-toolbar;
    }
    .#{$ss-prefix-module}-toolbar--between { justify-content: space-between; }
    .#{$ss-prefix-module}-toolbar--end { justify-content: flex-end; }
    .#{$ss-prefix-module}-toolbar--wrap { flex-wrap: wrap; }
}
