////
///
/// Deafult Paragraph Typography Mixins Module
/// ===========================================================================
/// ...
///
/// @group Paragraph
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================


/// Mixin for left text alignment.
/// @group Text Alignment
@mixin text_align_left {
    text-align: left;
}

/// Mixin for center text alignment.
/// @group Text Alignment
@mixin text_align_center {
    text-align: center;
}

/// Mixin for right text alignment.
/// @group Text Alignment
@mixin text_align_right {
    text-align: right;
}

/// Mixin for justify text alignment.
/// @group Text Alignment
@mixin text_align_justify {
    text-align: justify;
}



/// Mixin for centering text within a container using flexbox.
/// @group Flexbox Alignment
@mixin text_center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
