@use "../../01-core/external" as *;

$ss-tree-config: (
    indent: q(16),
    toggle-size: q(16),
    label-padding: q(2) q(6),
    font-size: var(--ss-font-size-sm),
    guide: q(1) solid var(--ss-color-border),
    hover-bg: var(--ss-color-surface-hover),
    selected-bg: var(--ss-color-highlight),
    selected-fg: var(--ss-color-highlight-foreground),
) !default;
