@use "sass:map";
@use "../../01-core/external" as *;

$ss-panel-config: (
    radius: var(--ss-radius-none),
    border: var(--ss-a-border-width-1, 1px) solid var(--ss-color-border),
    header-padding: var(--ss-space-3) var(--ss-space-4),
    body-padding: var(--ss-space-4),
    footer-padding: var(--ss-space-3) var(--ss-space-4),
    header-size: var(--ss-font-size-sm),
    header-weight: var(--ss-font-weight-semibold),
) !default;
