////
///
/// Object Fit Utilities
/// ===========================================================================
///
/// Control how a replaced element (img, video, iframe) fits its container.
///
/// @group Utilities.Media
/// @author Scape Press
/// @link https://scape.style
/// @since 0.3.0
/// @access public
///
////

@layer ss.utilities {
    .ss-u-object-contain {
        object-fit: contain;
    }
    .ss-u-object-cover {
        object-fit: cover;
    }
    .ss-u-object-fill {
        object-fit: fill;
    }
    .ss-u-object-none {
        object-fit: none;
    }
    .ss-u-object-scale-down {
        object-fit: scale-down;
    }

    .ss-u-object-top {
        object-position: top;
    }
    .ss-u-object-bottom {
        object-position: bottom;
    }
    .ss-u-object-center {
        object-position: center;
    }
    .ss-u-object-start {
        object-position: left;
    }
    .ss-u-object-end {
        object-position: right;
    }
}
