////
///
/// Border
/// ===========================================================================
///
/// Border appearance styles.
/// No layout logic.
///
/// @group Appearance
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

.ss-border {
    border: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
}

.ss-border-t {
    border-top: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
}
.ss-border-r {
    border-right: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
}
.ss-border-b {
    border-bottom: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
}
.ss-border-l {
    border-left: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
}

.ss-border-x {
    border-left: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
    border-right: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
}

.ss-border-y {
    border-top: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
    border-bottom: var(--ss-border-width) var(--ss-border-style)
        var(--ss-border-color);
}

.ss-border-0 {
    border: none;
}

// Border radius
.ss-rounded {
    border-radius: var(--ss-radius-default);
}
.ss-rounded-sm {
    border-radius: var(--ss-radius-sm);
}
.ss-rounded-md {
    border-radius: var(--ss-radius-md);
}
.ss-rounded-lg {
    border-radius: var(--ss-radius-lg);
}
.ss-rounded-xl {
    border-radius: var(--ss-radius-xl);
}
.ss-rounded-full {
    border-radius: var(--ss-radius-full);
}
.ss-rounded-none {
    border-radius: var(--ss-radius-none);
}
