////
///
/// Filter
/// ===========================================================================
///
/// CSS filter appearance styles.
/// No layout logic.
///
/// @group Appearance
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

// Blur
.ss-blur-none {
    filter: blur(0);
}
.ss-blur-sm {
    filter: blur(4px);
}
.ss-blur {
    filter: blur(8px);
}
.ss-blur-md {
    filter: blur(12px);
}
.ss-blur-lg {
    filter: blur(16px);
}
.ss-blur-xl {
    filter: blur(24px);
}
.ss-blur-2xl {
    filter: blur(40px);
}
.ss-blur-3xl {
    filter: blur(64px);
}

// Backdrop blur
.ss-backdrop-blur-none {
    backdrop-filter: blur(0);
}
.ss-backdrop-blur-sm {
    backdrop-filter: blur(4px);
}
.ss-backdrop-blur {
    backdrop-filter: blur(8px);
}
.ss-backdrop-blur-md {
    backdrop-filter: blur(12px);
}
.ss-backdrop-blur-lg {
    backdrop-filter: blur(16px);
}
.ss-backdrop-blur-xl {
    backdrop-filter: blur(24px);
}

// Grayscale
.ss-grayscale-0 {
    filter: grayscale(0);
}
.ss-grayscale {
    filter: grayscale(100%);
}

// Brightness
.ss-brightness-50 {
    filter: brightness(0.5);
}
.ss-brightness-75 {
    filter: brightness(0.75);
}
.ss-brightness-90 {
    filter: brightness(0.9);
}
.ss-brightness-100 {
    filter: brightness(1);
}
.ss-brightness-105 {
    filter: brightness(1.05);
}
.ss-brightness-110 {
    filter: brightness(1.1);
}
.ss-brightness-125 {
    filter: brightness(1.25);
}
.ss-brightness-150 {
    filter: brightness(1.5);
}

// Invert
.ss-invert-0 {
    filter: invert(0);
}
.ss-invert {
    filter: invert(100%);
}
