////
///
/// Opacity
/// ===========================================================================
///
/// Opacity appearance styles.
/// No layout logic.
///
/// @group Appearance
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

@layer ss.appearance {

.ss-opacity-0 {
    opacity: 0;
}
.ss-opacity-5 {
    opacity: 0.05;
}
.ss-opacity-10 {
    opacity: 0.1;
}
.ss-opacity-20 {
    opacity: 0.2;
}
.ss-opacity-25 {
    opacity: 0.25;
}
.ss-opacity-30 {
    opacity: 0.3;
}
.ss-opacity-40 {
    opacity: 0.4;
}
.ss-opacity-50 {
    opacity: 0.5;
}
.ss-opacity-60 {
    opacity: 0.6;
}
.ss-opacity-70 {
    opacity: 0.7;
}
.ss-opacity-75 {
    opacity: 0.75;
}
.ss-opacity-80 {
    opacity: 0.8;
}
.ss-opacity-90 {
    opacity: 0.9;
}
.ss-opacity-95 {
    opacity: 0.95;
}
.ss-opacity-100 {
    opacity: 1;
}

// Hover opacity
.ss-hover-opacity-100 {
    transition: opacity var(--ss-transition-default);

    &:hover {
        opacity: 1;
    }
}

}
