// Paragraph | Address
// ============================================================================


address
{
    font-size: 1.75rem;
    font-weight: 700;
    font-style: normal;

    margin: 0 0 1.5625rem;

    // color: var(--ptf-accent-1);
}
