


/* BLOCKQUOTE
-------------------------------------------- */
blockquote
{
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.6;

    position: relative;

    margin: 0 0 1.875rem;
    padding: 0;

    color: var(--ptf-color-black);
}
blockquote p
{
    margin-bottom: 0;
}

cite
{
    font-size: .875rem;
    font-style: normal;
    line-height: 1.42;

    display: block;

    margin: 1rem 0 0;

    text-transform: uppercase; 

    color: var(--ptf-color-3);
}

/* double quotes */ 
.special-char-small {font-size: 40px; line-height: 60px;}
.special-char-medium{font-size: 80px; line-height: 120px;}
.special-char-large {font-size: 140px; line-height: 120px;}
.special-char-extra-large {font-size: 200px; line-height: 150px;}