// ============================================================================
// Imports
// ============================================================================

@use "../../variables" as *;
@use "../../dev" as *;
@use "../body_molecules" as *;
@use "../body_atoms" as *;
@use "../head_layout" as *;
@use "../head_object" as *;
@use "../soul_type" as *;

@mixin widget--base {
    // @include reset__bleed;
    @include grid--span--col(1);
    grid-auto-flow: row;
    z-index: z("widget");
    background-color: var(--color_fill_secondary);
    padding: q(16);

    // Prevent growing beyond its container
    max-height: 100%;
    max-width: 100%;
    min-width: 0;
    min-height: 0;

    // In flex or grid layouts, this avoids overflow pushing others
    flex-shrink: 1;
    flex-grow: 1;
}

@mixin widget--squared {
    @include object--shape--squared;
}
@mixin widget--rounded {
    @include object--shape--rounded;
}
@mixin widget--pill {
    @include object--shape--pill;
}

.widget {
    @include widget--base;
}

.widget--squared {
    @include widget--squared;
}
.widget--rounded {
    @include widget--rounded;
}
.widget--pill {
    @include widget--pill;
}
