<!-- Radio Buttons -->
{% for radio in radio_buttons %}
    <input type="radio" id="{{ radio.id }}" name="{{ radio.name }}" value="{{ radio.value }}">
    <label for="{{ radio.id }}">{{ radio.label }}</label><br>
{% endfor %}
