@use "sass:map";
@use "../../01-core/external" as *;

$ss-title-bar-config: (
    gap: q(16),
    margin-block-end: q(24),
    padding-block-end: q(16),
    divider: q(1) solid var(--ss-color-border),
    title-size: var(--ss-font-size-2xl),
    muted: var(--ss-color-text-secondary),
) !default;
