@use "sass:map";
@use "../../01-core/external" as *;

$ss-file-input-config: (
    sizes: (
        xs: (height: q(28), font: var(--ss-font-size-xs)),
        sm: (height: q(32), font: var(--ss-font-size-sm)),
        md: (height: q(40), font: var(--ss-font-size-sm)),
        lg: (height: q(48), font: var(--ss-font-size-md)),
    ),
) !default;
