@use "sass:map";
@use "../../01-core/external" as *;

$ss-progress-config: (
    height: q(8),
    radius: var(--ss-radius-full),

    track-bg: var(--ss-color-surface, var(--ss-color-background)),
    bar-bg: var(--ss-color-accent),

    // Native <progress> element
    native-height: q(8),
    native-track-bg: var(--ss-color-line-secondary),
    native-bar-bg: var(--ss-color-accent),
) !default;
