@use "sass:map";
@use "../../01-core/external" as *;

$ss-progress-config: (
    height: q(8),
    radius: q(999),

    track-bg: var(--ss-color-surface, var(--ss-color-background)),
    bar-bg: var(--ss-color-accent),

    // Native <progress> element
    native-height: q(8),
    native-track-bg: var(--ss-color-line-secondary, #cccccc),
    native-bar-bg: var(--ss-color-accent, #3696c1),
) !default;
