

.hide_by_legend {
    opacity: 0.3 !important;
  }


.graph_legend {
  /* position: fixed; */
  width: 100%;
  height: 100%;
//   top: 0;
//   left: 0;


}

.graph_legend_label_list {
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.legend_label_list_item {
//   display: flex;
//   width: 100%;
//   height: 24px;
//   flex: auto;
//   flex-direction: row;
//   padding: 3px;
  @include grid_col_24;

}

.legend_label_list_icon {
//   width: 24px;
//   height: 24px;
  width: 1rem;
  height: 1rem;
  margin: 1px;
  border-radius: 3px;
  @include col_2;

}

.legend_label_list_text {
//   font-size: 14pt;
//   margin-left: 15px;
  cursor: pointer;
  @include col_22;
  @include font_size( 3);

}
