
.dataviz svg *
{
  pointer-events: all;
}




.graph_tooltip {
  // @include tooltip_box;
  z-index:9999;
  opacity: 0;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  position: fixed;
  box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 20px;


  @include font_size_03;
  background-color: $color_02;
  color: $color_01;
  // text-align: center;
  border-radius: $tooltip_unit;
  // padding: $tooltip_unit 0;
  padding: $tooltip_unit;
  line-height: 1.1;
  transition: $tooltip_transition;
  display: block;

}
.graph_tooltip table{
  border:none;
}


.graph_tooltip div div{
  @include font_weight_200;

}
.graph_tooltip div:first-child{
  @include font_weight_400;

}
