////
///
/// User Select Utilities
/// ===========================================================================
///
/// @group Utilities.Interaction
/// @author Scape Press
/// @link https://scape.style
/// @since 0.3.0
/// @access public
///
////

@layer ss.utilities {
    .ss-u-user-select-all {
        user-select: all;
    }
    .ss-u-user-select-auto {
        user-select: auto;
    }
    .ss-u-user-select-none {
        user-select: none;
    }
    .ss-u-user-select-text {
        user-select: text;
    }
}
