////
/// Character Variant — Accent
/// Configuration
/// @layer ss.typography
////

$ss-character-accent-config: (
    accent-color: var(--ss-color-accent),
    primary-color: var(--ss-color-primary),
    highlight-bg: var(--ss-color-warning),
    highlight-color: var(--ss-color-foreground),
    highlight-padding-inline: var(--ss-spacing-1),
) !default;
