@use "sass:map";

// -----------------------------------------------------------------------------
// Paragraph Indentation Configuration
// -----------------------------------------------------------------------------

$ss-paragraph-indent-config: (
    default: (
        indent: 2rem,
        skip-first: true,
        skip-after-heading: true,
    ),

    subtle: (
        indent: 1rem,
        skip-first: true,
        skip-after-heading: true,
    ),

    strong: (
        indent: 3rem,
        skip-first: true,
        skip-after-heading: true,
    ),
) !default;
