@use "sass:map";
@use "../input/input.mixins" as input;
@use "./select.config" as config;

@mixin ss-select {
    @include input.ss-input;

    padding-inline-end: map.get(config.$ss-select-config, chevron-padding-inline-end);

    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
        linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position:
        right 1rem top 50%,
        right calc(1rem - 5px) top 50%;
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}
