// ============================================================================
// Card — Config
// ============================================================================

// $ss-card-config: (
//     padding: var(--ss-space-md),
//     radius: var(--ss-radius-md),
//     shadow: var(--ss-shadow-sm),
// ) !default;

// $ss-card-config: (
//     padding-token: md,
//     radius-token: md,
//     shadow-token: sm,
// ) !default;

@use "../../01-core/external" as *;

$ss-card-config: (
    padding-token: md,
    radius-token: md,
    border-width: q(1),
    shadow-token: sm,
) !default;
