////
///
/// Print Mixins
/// ===========================================================================
///
/// Print utility mixins for controlling display in print media.
///
/// @group Mixins.Utilities
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

// ============================================================================
// Mixins
// ============================================================================

/// Print display inline
@mixin d--print-inline {
    @media print {
        display: inline !important;
    }
}

/// Print display inline-block
@mixin d--print-inline-block {
    @media print {
        display: inline-block !important;
    }
}

/// Print display block
@mixin d--print-block {
    @media print {
        display: block !important;
    }
}

/// Print display grid
@mixin d--print-grid {
    @media print {
        display: grid !important;
    }
}

/// Print display flex
@mixin d--print-flex {
    @media print {
        display: flex !important;
    }
}

/// Print display inline-flex
@mixin d--print-inline-flex {
    @media print {
        display: inline-flex !important;
    }
}

/// Print display table
@mixin d--print-table {
    @media print {
        display: table !important;
    }
}

/// Print display table-row
@mixin d--print-table-row {
    @media print {
        display: table-row !important;
    }
}

/// Print display table-cell
@mixin d--print-table-cell {
    @media print {
        display: table-cell !important;
    }
}

/// Print display none
@mixin d--print-none {
    @media print {
        display: none !important;
    }
}
