



/* line height */


.line_height_008 {line-height: $kyu *   8.00}


.line_height_016 {line-height: $kyu *  16.00}
.line_height_020 {line-height: $kyu *  20.00}


.line_height_120 {line-height: $kyu * 120.00}



/* LINE HEIGHT
-------------------------------------------- */
.lh-1p75
{
    line-height: 1.75;
}

.lh-1p625
{
    line-height: 1.625;
}

.lh-1p66
{
    line-height: 1.66;
}

.lh-1p6
{
    line-height: 1.6;
}

.lh-1p5
{
    line-height: 1.5;
}

.lh-1p3
{
    line-height: 1.3;
}

.lh-1p1
{
    line-height: 1.1;
}

.lh-1
{
    line-height: 1;
}

.lh-0p8
{
    line-height: .8;
}

.lh-0p9
{
    line-height: .9;
}
