

// ============================================================================
// Layout | Place
// ============================================================================
@use "../variables" as *;
// @use "../mixins" as *;

/// Mixin to apply `place-items: stretch` to an element.
/// This will stretch the items to fill the container.
@mixin place_stretch {
  place-items: stretch;
}

/// Mixin to apply `place-items: flex-start` to an element.
/// This will align the items at the start of the container.
@mixin place_start {
  place-items: flex-start;
}

/// Mixin to apply `place-items: flex-end` to an element.
/// This will align the items at the end of the container.
@mixin place_end {
  place-items: flex-end;
}

/// Mixin to apply `place-items: center` to an element.
/// This will center the items within the container.
@mixin place_center {
  place-items: center;
}

/// Mixin to apply `place-items: baseline` to an element.
/// This will align the items along their baseline within the container.
@mixin place_baseline {
  place-items: baseline;
}

// Classes applying the mixins
.place_stretch {
  @include place_stretch;
}

.place_start {
  @include place_start;
}

.place_end {
  @include place_end;
}

.place_center {
  @include place_center;
}

.place_baseline {
  @include place_baseline;
}