// =============================================================================
// 31-modules / flipper / output
// =============================================================================

@use "../../01-core/prefix" as *;
@use "./flipper.mixins" as *;

@layer ss.modules {
    .#{$ss-prefix-module}-flipper {
        @include ss-flipper-base;

        &--left {
            @include ss-flipper-left;
        }
        &--right {
            @include ss-flipper-right;
        }
        &--up {
            @include ss-flipper-up;
        }
        &--down {
            @include ss-flipper-down;
        }

        &__icon {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}
