////
///
/// Ribbon Base Styles
/// ===========================================================================
///
/// @group Ribbon
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Imports
// ============================================================================

@use "../../body_molecules" as *;
@use "../../head_layout" as *;
@use "../../../variables" as *;
@use "../../soul_type" as *;
@use "../../body_atoms" as *;
@use "../../../dev" as *;

// ============================================================================
// Mixins
// ============================================================================

@mixin ribbon__menu {
    @include icon_bar--horizontal;
    @include justify--end;
    @include font--size("02");
    align-content: center;
    height: 100%;
    position: relative;
    // grid-area: ribbon_right; // corrected area name
}

@mixin ribbon__menu__item {
    @include flex--col;
    @include align--center;
    @include justify--center;
    height: 100%;
}

@mixin app_launcher_indicator {
    content: "";
    border-left: q(10) solid transparent;
    border-right: q(10) solid transparent;
    border-bottom: q(10) solid white;
    position: absolute;
    top: -q(8);
    left: 50%;
    margin-left: -q(4);
    z-index: 1;
}
