{% extends "../base.html.jinja" %} {% set title = "Input Dropdown" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Dropdown w/o Select" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <div class="dropdown--menu">
            <label>
                Option 1
                <input type="checkbox" />
            </label>
            <label>
                Option 2
                <input type="checkbox" />
            </label>
            <label>
                Option 3
                <input type="checkbox" />
            </label>
            <label>
                Option 4
                <input type="checkbox" />
            </label>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Dropdown w/ Select" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set code_snippet %}
        <div class="select_dropdown">
            <div class="select_dropdown--header">
                <span id="selected-count">Selected: 0 options</span>
                <button class="active flipper--down" type="button"></button>
            </div>
            <div class="select_dropdown--menu dropdown dropdown--collapse">
                <label>
                    <span>Option 1</span>
                    <input type="checkbox" />
                </label>
                <label>
                    <span>Option 2</span>
                    <input type="checkbox" checked />
                </label>
                <label>
                    <span>Option 3</span>
                    <input type="checkbox" />
                </label>
                <label>
                    <span>Option 4</span>
                    <input type="checkbox" checked />
                </label>
            </div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>
</section>

{%- endblock content %}
