{% extends "../base.html.jinja" %} {% set title = "chat" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="bodychat_1">
  <div class="theme_chat_left_1">
    <p class="chat-message_left">Hello! How can I help you today?</p>
    <p class="chat_time_1">10:00 AM</p>
    <p class="chat_name_1">User</p>
  </div>

  <div class="theme_chat_right_1">
    <p class="chat-message">Hi! I have a quick question about my order.</p>
    <p class="chat_time_1">10:01 AM</p>
    <p class="chat_name_2">Support</p>
  </div>

  <div class="theme_chat_left_1">
    <p class="chat-message_left">Sure, what seems to be the issue?</p>
    <p class="chat_time_1">10:02 AM</p>
    <p class="chat_name_1">User</p>
  </div>

  <div class="theme_chat_right_1">
    <p class="chat-message">I haven’t received a confirmation email yet.</p>
    <p class="chat_time_1">10:03 AM</p>
    <p class="chat_name_2">Support</p>
  </div>

  <input type="text" class="chat-input_delta" placeholder="Type your message here..." />
</section>

<section class="themechat_2">
  <div class="theme_chat_left_2">
    <p class="chat-message_left">Hello! How can I help you today?</p>
    <p class="chat_time_3">02:00 AM</p>
    <p class="chat_name_3">Donald</p>
  </div>

  <div class="theme_chat_right_2">
    <p class="chat-message">Hi! I have a quick question about my order.</p>
    <p class="chat_time_4">03:01 AM</p>
    <p class="chat_name_4">Mark</p>
  </div>

  <div class="theme_chat_left_2">
    <p class="chat-message_left">Sure, what seems to be the issue?</p>
    <p class="chat_time_3">03:02 AM</p>
    <p class="chat_name_3">Donald</p>
  </div>

  <div class="theme_chat_right_2">
    <p class="chat-message">I haven’t received a confirmation email yet.</p>
    <p class="chat_time_4">03:03 AM</p>
    <p class="chat_name_4">Mark</p>
  </div>

  <input type="text" class="chat-input_alpha" placeholder="Type your message here..." />
</section>

{% endblock content %}
