// ============================================================================
// Imports
// ============================================================================
@use "sass:map";
@use "../../soul_type" as *;
@use "../../body_atoms" as *;
@use "../../../dev" as *;
@use "../../../variables" as *;

$easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);
$duration: 0.5s;

$arrow_size: $q * 12;

.aside_left_switch,
.aside_right_switch {
    @include reset_bleed;
    position: relative;
    width: 0;
    height: 0;
    top: 50vh;
    // transform: translateX(0) translateY(-50%) rotate(0deg) translateZ(0px);
    z-index: 9000;
    // -webkit-font-smoothing: antialiased;
    .aside_left_switch_button,
    .aside_right_switch_button {
        width: $arrow_size * 2;
        height: $arrow_size * 2;
        position: absolute;
        color: grey;
        // -webkit-appearance: button;
        background-color: transparent;
        // background-color: white;
        background-image: none;
        cursor: pointer;
        display: block;
        // translate with half the ribbon height
        transform: translateX(0) translateY(-$q * 20) rotate(0deg)
            translateZ(0px);
        .top_bar,
        .bot_bar {
            position: absolute;
            background-color: transparent;
            width: $arrow_size;
            height: calc($arrow_size / 4);
            display: block;
            float: right;
            // transform: translateX(0) translateY($q * 10) rotate(0deg) translateZ(0px);
            // border-radius: 0.25px;
            &:after {
                content: "";
                background-color: rgb(165, 165, 165);
                // border: 1px;
                // border-color: black;
                width: $arrow_size;
                height: calc($arrow_size / 4);
                display: block;
                float: right;
                transition: all $duration $easing;
                z-index: -1;
            }
        }
        .top_bar {
            top: 0;
            top: calc($arrow_size / 2) + $q;
            left: 0;
            // transform: rotate(125deg);
            &:after {
                // border-radius: 3px 5px 5px 3px;
            }
        }
        .bot_bar {
            top: $arrow_size + 3 * $q;
            left: 0;
            // transform: rotate(55deg);
            &:after {
                // border-radius: 10px 6px 6px 10px;
            }
        }
    }
}

.aside_left_switch {
    left: calc($arrow_size / 5);
    .aside_left_switch_button {
        .top_bar {
            transform: rotate(90deg);
            &:after {
                // border-radius: 3px 5px 5px 3px;
            }
        }
        .bot_bar {
            transform: rotate(90deg);
            &:after {
                // border-radius: 10px 6px 6px 10px;
            }
        }
    }
}

.aside_right_switch {
    right: $arrow_size;
    .aside_right_switch_button {
        .top_bar {
            transform: rotate(90deg);
            &:after {
                // border-radius: 3px 5px 5px 3px;
            }
        }
        .bot_bar {
            transform: rotate(90deg);
            &:after {
                // border-radius: 10px 6px 6px 10px;
            }
        }
    }
}

.active {
    .aside_left_switch_button {
        .top_bar:after {
            transform-origin: center center;
            transform: rotate(-150deg);
        }
        .bot_bar:after {
            transform-origin: center center;
            transform: rotate(150deg);
        }
    }
    .aside_right_switch_button {
        .top_bar:after {
            transform-origin: center center;
            transform: rotate(150deg);
        }
        .bot_bar:after {
            transform-origin: center center;
            transform: rotate(-150deg);
        }
    }
}
