@use "../../dev" as *;
@use "../../variables" as *;
// @use "../../mixins" as *;

/// Shape variants

@mixin object--shape--squared {
    border-radius: 0;
}

@mixin object--shape--rounded {
    border-radius: q(2);
}

@mixin object--shape--pill {
    border-radius: 50vh;
}
