@use "sass:map";
@use "../../01-core/external" as *;

$ss-popover-config: (
    max-width: q(320),
    padding: q(14) q(16),
    radius: var(--ss-radius-md),
    z-index: 1050,
    offset: q(8),

    bg: var(--ss-color-background),
    fg: var(--ss-color-foreground),
    border: var(--ss-color-border, var(--ss-color-foreground)),
    shadow: 0 q(4) q(14) rgb(0 0 0 / 0.15),
) !default;
