////
///
/// Border Variables Module
/// ===========================================================================
/// ...
///
/// @group Border
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use '../../dev' as *;

// ============================================================================
// Variables
// ============================================================================

$border_base_color: black;

:root {
    --primitive-border-24: q(24);
    --primitive-border-12: q(12);
    --primitive-border-08: q(8);
    --primitive-border-06: q(6);
    --primitive-border-04: q(4);
    --primitive-border-02: q(2);
    --primitive-border-01: q(1);
    --primitive-border-none: 0;

    --semantic-border--xl: var(--primitive-border-08);
    --semantic-border--lg: var(--primitive-border-04);
    --semantic-border--md: var(--primitive-border-02);
    --semantic-border--sm: var(--primitive-border-01);
}
