{#
-----------------------------------------------------------------------------
Font Preview Box Component
-----------------------------------------------------------------------------
#} {% set snippet_id = "code-snippet-" + range(1000, 9999) | random %} {% set
lang = language | lower | default("html") %} {% set show_preview = show_preview
| default(true) %}

<div class="preview_box--vertical">
    {% if show_preview and lang != 'javascript' and lang != 'js' and lang !=
    'typescript' and lang != 'ts' %}
    <div class="preview_box__live">{{ code_snippet | safe }}</div>
    {% endif %}
    <div class="preview_box__info">
        <small>{{ language | default("HTML") }}</small>
        <button
            class="preview_box__copy_button"
            onclick="ClipboardHelper.copyById('{{ snippet_id }}')"
        >
            Copy
        </button>
    </div>
    <div class="preview_box__code">
        <pre
            class="line-numbers"
        ><code id="{{ snippet_id }}" class="language-{{ lang }}">{{ code_snippet | default('') | trim | escape }}</code></pre>
    </div>
</div>
