{#
-----------------------------------------------------------------------------
Font Preview Box Component
-----------------------------------------------------------------------------
#}

<div
    class="ss-c-preview--horizontal"
    data-default="{{ default|default('Aa Bb Cc') }}"
    style="font-family: {{ family|default('sans-serif') }}"
>
    <code class="ss-c-preview__code">{{ label|default('Sans-serif') }}</code>
    <div class="ss-c-preview__live {{ class|default('') }}">
        <p class="ss-c-preview__font--output">
            {{ text|default('The quick brown fox jumps over the lazy dog.
            0123456789') }}
        </p>
    </div>
</div>
