////
///
/// List Typography Mixins Module
/// ===========================================================================
/// ...
///
/// @group List
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use '../../../dev' as *;
@use '../../../variables' as *;
@use '../character' as *;
@use '../font' as *;

///
/// Mixin for resetting list styles.
/// ---------------------------------------------------------------------------
///
/// This mixin resets the default browser styling for lists, allowing full customization.
///

@mixin list {
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    padding-left: $list-indent; //$q * 16; //To Var
    list-style-type: none;
    list-style-position: outside;
}

@mixin nested_list {
    ol {
        //nested ol
        list-style-type: lower-latin;
        ol {
            list-style-type: lower-greek;
        }
    }

    ul {
        list-style-type: $list-nested-style-type;
        ul {
            list-style-type: $list-nested-style-type-level-2;
        }
    }

    dl dt {
        list-style-type: $list-nested-style-type;
    }

    dl dd {
        list-style-type: $list-nested-style-type-level-2;
    }
}

@mixin ol {
    @include list;
    @include nested_list;
    list-style-type: $list-incremental-style-type;
}

@mixin ul {
    @include list;
    @include nested_list;
    list-style-type: $list-style-type; //var
}

@mixin dl {
    @include list;
    @include nested_list;
    dt {
        @include character--bold;
        display: list-item;
        list-style-type: $list-style-type; //var
    }

    dd {
        display: list-item;
        list-style-type: $list-nested-style-type; //var
        margin-left: $list-nested-indent; //To Var
    }
}

@mixin li {
    &:before {
        content: '';
        margin-left: $list-item-spacing;
    }
}

@mixin nav {
    ul {
        @include list;
        padding-left: 0px;
        list-style: none;
        li {
            margin: 0;
            padding: 0;
            &:before {
                margin: 0;
                padding: 0;
            }
        }
    }
}
