////
///
/// List Typography Mixins Module
/// ===========================================================================
/// ...
///
/// @group List
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use "../../../dev" as *;
@use "../../../variables" as *;
@use "../character" as *;
@use "../font" as *;

///
/// Mixin for resetting list styles.
/// ---------------------------------------------------------------------------
///
/// This mixin resets the default browser styling for lists, allowing full customization.
///

ul li:before {
    content: none;
}
// Remove :before from nested lis, set content: none for those list:
ul li li:before {
    content: none;
}

@mixin list {
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    padding-left: $list-indent; //q(16); //To Var
    list-style-type: none;
    list-style-position: outside;
}

@mixin list--nested {
    ol {
        //nested ol
        list-style-type: lower-latin;
        ol {
            list-style-type: lower-greek;
        }
    }

    ul {
        list-style-type: $list-nested-style-type;
        ul {
            list-style-type: $list-nested-style-type-level-2;
        }
    }

    dl dt {
        list-style-type: $list-nested-style-type;
    }

    dl dd {
        list-style-type: $list-nested-style-type-level-2;
    }
}

@mixin li {
    &:before {
        content: "";
        margin-left: $list-item-spacing;
    }
}

// @mixin nav {
//     ul {
//         @include list;
//         padding-left: 0px;
//         list-style: none;
//         li {
//             margin: 0;
//             padding: 0;
//             &:before {
//                 margin: 0;
//                 padding: 0;
//             }
//         }
//     }
// }
