////
///
/// Default Character Typography Mixins Module
/// ===========================================================================
///
/// @group Character
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use '../../../dev' as *;
@use '../../../variables' as *;

// ============================================================================
// Mixins
// ============================================================================

// ============================================================================
// Typography | Character | Default
// ============================================================================

///
/// Mixin for applying default character styles.
///
/// This mixin resets text-related properties to ensure a consistent starting point
/// for further styling. It removes text decoration, text shadow, and text emphasis,
/// and sets the text decoration color to a predefined variable.
///
/// - `text-decoration`: None
/// - `text-shadow`: None
/// - `text-emphasis`: None
/// - `text-decoration-color`: Set to `var(--color_fill_primary)`
///
@mixin character--default {
    //text-decoration: ;
    text-decoration-color: var(--color_text_primary);
    text-shadow: none;
    text-emphasis: none;
    -webkit-text-emphasis: none;
    text-decoration: none;
}
