////
///
/// Special Character Typography Mixins Module
/// ===========================================================================
///
/// @group Character
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

@use "../../../dev" as *;
@use "../../../variables" as *;

// ============================================================================
// Mixins
// ============================================================================

// Special character styles for decorative quotes or symbols
// ----------------------------------------------------------------------------

///
/// Mixin for small decorative quote or symbol.
/// ---------------------------------------------------------------------------
///
/// This mixin applies styling for small decorative characters such as quotes
/// or symbols with a reduced size.
///
@mixin special-char-small {
    font-size: q(140);
    line-height: q(60);
}

///
/// Mixin for medium decorative quote or symbol.
/// ---------------------------------------------------------------------------
///
/// This mixin applies styling for medium decorative characters such as quotes
/// or symbols.
///
@mixin special-char-medium {
    font-size: q(80);
    line-height: q(20);
}

///
/// Mixin for large decorative quote or symbol.
/// ---------------------------------------------------------------------------
///
/// This mixin applies styling for large decorative characters such as quotes
/// or symbols.
///
@mixin special-char-large {
    font-size: q(140);
    line-height: q(20);
}

///
/// Mixin for extra-large decorative quote or symbol.
/// ---------------------------------------------------------------------------
///
/// This mixin applies styling for extra-large decorative characters such as
/// quotes or symbols.
///
@mixin special-char-extra-large {
    font-size: q(200);
    line-height: q(50);
}
