////
///
/// Clearfix Mixin
/// ===========================================================================
///
/// Clearfix utility for containing floated elements.
///
/// @group Mixins.Utilities
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

// ============================================================================
// Mixins
// ============================================================================

/// Clearfix mixin for containing floated elements
/// @example scss
///   .container {
///     @include clearfix;
///   }
@mixin clearfix {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}
