////
///
/// Flex Utilities Mixins
/// ===========================================================================
///
/// Flexbox grow, shrink, and order utility mixins.
///
/// @group Mixins.Utilities
/// @author Scape Press
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @access public
///
////

// ============================================================================
// Order Mixins
// ============================================================================

/// Order first (-1)
@mixin order--first {
    order: -1 !important;
}

/// Order 0
@mixin order--0 {
    order: 0 !important;
}

/// Order 1
@mixin order--1 {
    order: 1 !important;
}

/// Order 2
@mixin order--2 {
    order: 2 !important;
}

/// Order 3
@mixin order--3 {
    order: 3 !important;
}

/// Order 4
@mixin order--4 {
    order: 4 !important;
}

/// Order 5
@mixin order--5 {
    order: 5 !important;
}

/// Order last (6)
@mixin order--last {
    order: 6 !important;
}
