{% extends "portal/includes/section_base.html.jinja" %}

{%- block section_content %}
<section class="col--24">
    {% for gradient in gradients %}
    {% with gradient_class = gradient %}
    {%- include "sections/section_color_gradients_element.html.jinja" %}
    {% endwith %}
    {% endfor %}
</section>
{%- endblock section_content %}
