@use "sass:map";
@use "../../01-core/external" as *;

$ss-menu-item-config: (
    gap: var(--ss-space-3),
    padding: var(--ss-space-2) var(--ss-space-4),
    radius: var(--ss-radius-none),
    font-size: var(--ss-font-size-md),
    line-height: var(--ss-leading-normal),
    icon-size: 16px,
    badge-size: var(--ss-font-size-xs),
    transition-duration: var(--ss-duration-150),
    transition-easing: var(--ss-ease-in-out),
    menu-gap: 2px,
    menu-padding: var(--ss-space-2),
) !default;
