@use "../../../dev" as *;

@use "../../head_layout" as *;
@use "../../soul_object" as *;

@mixin portfolio--base {
    @include grid--span--col(3);
    @include grid__layout(3);
    @include grid--size--row(3);
    height: fit-content;

    &--item {
        @include grid--span--col(1);
        @include grid--span--row(1);
        @include aspect_ratio(16, 9);

        & {
            max-width: 100%;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
