//
// StyleScape | Borders | Style
// ============================================================================
// @group Borders
// @since 0.1.0
// @link https://scape.style
//

@use "../../dev" as *;
@use "../../variables" as *;

// ============================================================================
// Border Style Mixins
// ============================================================================

///
/// Mixin for setting the border style.
///
/// @param {String} $style - The style of the border (e.g., solid, dotted, dashed).
///
@mixin border_style($style) {
    border-style: $style !important;
}

///
/// Mixin for setting the border color to transparent.
///
@mixin border_transparent {
    border-color: transparent !important;
}

///
/// Mixin for setting a custom border style.
///
/// @param {String} $style – The style (e.g., `solid`)
/// @param {String} $width – The width (e.g., `1px`)
/// @param {Color} $color – The color (e.g., `#000` or `var(--color_text_primary)`)
///
@mixin border_style_custom($style, $width, $color) {
    border-style: $style;
    border-width: $width;
    border-color: $color;
}

// Border Style Classes
// ----------------------------------------------------------------------------

.border--none {
    border-style: none !important;
}

.border--hidden {
    border-style: hidden !important;
}

/// Class for setting a solid border style.
.border--solid {
    @include border_style(solid);
}

/// Class for setting a dashed border style.
.border--dashed {
    @include border_style(dashed);
}

/// Class for setting a dotted border style.
.border--dotted {
    @include border_style(dotted);
}

/// Class for setting a double border style.
.border--double {
    @include border_style(double);
}

/// Class for setting a groove border style (3D effect).
.border--groove {
    @include border_style(groove);
}

/// Class for setting a ridge border
.border--ridge {
    @include border-style(ridge);
}

.border--inset {
    @include border-style(inset);
}
.border--outset {
    @include border-style(outset);
}

.border--transparent {
    @include border-transparent;
}
