@use "sass:map";

$ss-font-weight-config: (
    variable: true,

    axis-weight: "wght",
    axis-width: "wdth",

    weights: (
        thin: 100,
        extra-light: 200,
        light: 300,
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        extra-bold: 800,
        black: 900,
    ),

    default-width: 100,
) !default;
