// ============================================================================
// Poster
// ============================================================================

////
/// 
/// Abbreviation Character Typography Mixins Module
/// ===========================================================================
/// 
/// @group Character
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
/// 
////


// ============================================================================
// Use
// ============================================================================

@use "../../dev" as *;
@use "../../variables" as *;
@use "../../mixins" as *;

@use "../font/font_default" as *;
@use "../font/font_weight" as *;
@use "../font/font_size" as *;

@use "default" as *;
@use "normal" as *;


// ============================================================================
// Mixins
// ============================================================================


/// Abbreviation Styling Variables
$abbreviation_text_decoration: underline dotted;
$abbreviation_tooltip_background: #1e1e1e; // Tooltip background color
$abbreviation_tooltip_color: #fff; // Tooltip text color
$abbreviation_tooltip_radius: 3px; // Tooltip border radius
$abbreviation_tooltip_shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); // Tooltip shadow
$abbreviation_tooltip_font-size: 14px; // Tooltip font size
$abbreviation_tooltip_padding: 3px 5px; // Tooltip padding



/// Mixin for base abbreviation styles
@mixin abbreviation_base {
    display: inline; // Most browsers will display the <abbr> element as inline
    text-decoration: $abbreviation_text_decoration;
}

/// Mixin for abbreviation tooltip styles
@mixin abbreviation_tooltip {
    @include abbreviation_base;
    position: relative;

    &:hover::after, &:focus::after {
        content: attr(title);
        position: absolute;
        left: 0;
        bottom: -30px; // Adjust based on your design
        white-space: nowrap;
        background-color: $abbreviation_tooltip_background;
        color: $abbreviation_tooltip_color;
        border-radius: $abbreviation_tooltip_radius;
        box-shadow: $abbreviation_tooltip_shadow;
        font-size: $abbreviation_tooltip_font-size;
        padding: $abbreviation_tooltip_padding;
    }
}



/// Mixin for touchscreen friendly styles
@mixin abbreviation_touchscreen {
    cursor: pointer; // Suggests interactivity
    &:active::after {
      // Tooltip styles could be replicated here if you want them to appear on tap
    }
  }




/// Styles for the `<abbr>` HTML element.
/// 
/// The abbreviation element is styled to be inline, and the title attribute is used to generate a tooltip on hover or focus.
abbr {
    @include abbreviation_base;

    
    display: inline;
    // font-variant: all-small-caps;

  
    // &[title] {
    //   @include abbreviation_tooltip;
    // }
}


/// Styles for `<abbr>` elements with a title attribute.
/// 
/// Adds a tooltip on hover and focus, and removes the default underline for better control over the decoration.
/// Tooltip styling is provided for better accessibility and usability on different input devices.
/// 
abbr[title] {

    position: relative;
    // Remove the bottom border in Chrome 57
    border-bottom: none;
    // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari
    // text-decoration: underline;
    text-decoration: underline dotted;


    // Making the abbr element work for touchscreen, keyboard, and mouse
    // https://bitsofco.de/making-abbreviation_work-for-touchscreen-keyboard-mouse/


    /// Tooltip appears on hover or focus
    &:hover::after,
    &:focus::after {


        content: attr(title);
        /* position tooltip like the native one */
        position: absolute;
        left: 0;
        bottom: -30px;
        width: auto;
        white-space: nowrap;
        /* style tooltip */
        background-color: #1e1e1e;
        color: #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
        font-size: 14px;
        padding: 3px 5px;
    }
}



  
// /// Applying touchscreen friendly styles
//   abbr[title] {
//     @include abbreviation_touchscreen;
//   }
  