// ============================================================================
// Poster
// ============================================================================

////
///
/// Default Character Typography Mixins Module
/// ===========================================================================
///
/// @group Character
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////


// ============================================================================
// Use
// ============================================================================

@use "../../../dev" as *;
@use "../../../variables" as *;
// @use "../../mixins" as *;

// @use "../font/font_default" as *;
// @use "../font/font_weight" as *;
// @use "../font/font_size" as *;

// @use "default" as *;
// @use "normal" as *;


// ============================================================================
// Mixins
// ============================================================================



// ============================================================================
// Typography | Character | Default
// ============================================================================

/// Mixin for applying default character styles.
///
/// This mixin resets text-related properties to ensure a consistent starting point
/// for further styling. It removes text decoration, text shadow, and text emphasis,
/// and sets the text decoration color to a predefined variable.
///
/// - `text-decoration`: None
/// - `text-shadow`: None
/// - `text-emphasis`: None
/// - `text-decoration-color`: Set to `$color_02`
@mixin character_default {
    //text-decoration: ; // text-decoration-line text-decoration-color text-decoration-style|initial|inherit;
    text-decoration-color: $color_02;  // color | initial | inherit;
    text-shadow: none; // h-shadow v-shadow blur-radius color|none|initial|inherit
    text-emphasis: none;
    -webkit-text-emphasis: none;
    text-decoration: none;
}
