

// Special character styles for decorative quotes or symbols
// ----------------------------------------------------------------------------

/// Small decorative quote or symbol.
.special-char-small {
    font-size: 40px;
    line-height: 60px;
}

/// Medium decorative quote or symbol.
.special-char-medium {
    font-size: 80px;
    line-height: 120px;
}

/// Large decorative quote or symbol.
.special-char-large {
    font-size: 140px;
    line-height: 120px;
}

/// Extra-large decorative quote or symbol.
.special-char-extra-large {
    font-size: 200px;
    line-height: 150px;
}
