
* {
  visibility: inherit;
}

@mixin visible {
  visibility: visible;
  // display: inherit;
}

@mixin invisible {
  visibility: hidden;
  // display: none;
}

.visible {
  @include visible;
}
  
.invisible {
  @include invisible;
}