@use "sass:map";
@use "../../01-core/external" as *;

$ss-subnav-config: (
    gap: var(--ss-space-2),
    padding: var(--ss-space-2) var(--ss-space-4),
    min-height: q(40),
    border: var(--ss-a-border-width-1, 1px) solid var(--ss-color-border),
) !default;
