////
/// 
/// Heading Paragraph Typography Mixins Module
/// ===========================================================================
/// ...
///
/// @group Paragraph
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
/// 
////


// ============================================================================
// Use
// ============================================================================

@use "../../../variables" as *;
// @use "../../mixins" as *;
@use "../character" as *;
@use "../font" as *;
@use "default" as *;



// ============================================================================
// Mixins
// ============================================================================






// ============================================================================
// Paragraph Styles | Heading
// ============================================================================


// Variables
// ============================================================================
/// Font family for headings.
$heading-font-family: "Helvetica Neue", Arial, sans-serif;

/// Default color for headings.
$heading-color: #000;

// $heading-weight: 700; // Default weight for headings
// $heading-line-height: 1.3;
// $heading-margin-bottom: 1rem;

// Font sizes for different heading levels (h1 through h6)
$heading-sizes: (
  1: 3.75rem,
  2: 3rem,
  3: 2.25rem,
  4: 1.875rem,
  5: 1.5rem,
  6: 1.25rem
);


// @mixin font_size ($val) {
//     font-size: basepoint($val);
//     line-height: baseline($val);
// }


// Mixins
// ============================================================================

// Base Heading Mixin
// ----------------------------------------------------------------------------

/// Base mixin for heading styles.
/// 
/// This mixin applies the default styles for headings, including font weight,
/// margin, and color, ensuring consistent formatting across all headings.
@mixin heading_normal {
    @include paragraph_normal;
    @include font_weight_400;
    // margin-bottom:    $baseline;
    // margin-bottom: map-get($q-baseline, 1);
    // margin: 0 0 $heading-margin-bottom 0;
    color: $heading-color;

    // Styles for headings with uppercase letters
    // &.uppercase, &.caps {
    //     text-transform: uppercase;
    // }
}


// Heading Mixins
// ----------------------------------------------------------------------------

/// Mixin for specific heading levels.
/// 
/// These mixins apply the appropriate font size to each heading level 
/// (h1 through h6), based on the values defined in `$heading-sizes`.
@mixin heading_01 { @include heading_normal; @include font_size_06; }
@mixin heading_02 { @include heading_normal; @include font_size_05; }
@mixin heading_03 { @include heading_normal; @include font_size_04; }
@mixin heading_04 { @include heading_normal; @include font_size_03; }
@mixin heading_05 { @include heading_normal; @include font_size_02; }
@mixin heading_06 { @include heading_normal; @include font_size_01; }

/// Mixin for uppercase headings.
/// 
/// These mixins apply the uppercase text transformation to the headings.
@mixin heading_01_caps { @include heading_01; @include character_uppercase; }
@mixin heading_02_caps { @include heading_02; @include character_uppercase; }
@mixin heading_03_caps { @include heading_03; @include character_uppercase; }
@mixin heading_04_caps { @include heading_04; @include character_uppercase; }
@mixin heading_05_caps { @include heading_05; @include character_uppercase; }
@mixin heading_06_caps { @include heading_06; @include character_uppercase; }

// @mixin heading_01($uppercase: false) {
//     @include heading_normal;
//     @include font_size_06;
//     @if $uppercase {
//         @include character_uppercase;
//     }
// }


// Placeholder Selectors
// ============================================================================

/// Placeholder selectors for headings.
/// 
/// These placeholders allow for easy extension in other stylesheets or components.
%heading_01 { @include heading_01; }
%heading_02 { @include heading_02; }
%heading_03 { @include heading_03; }
%heading_04 { @include heading_04; }
%heading_05 { @include heading_05; }
%heading_06 { @include heading_06; }



// Classes
// ============================================================================

/// Utility classes for headings.
/// 
/// These classes apply the respective heading styles to elements with the specified classes.
h1, .h1, .heading_01, .h1_caps, .heading_01_caps { @extend %heading_01; }
h2, .h2, .heading_02, .h2_caps, .heading_02_caps { @extend %heading_02; }
h3, .h3, .heading_03, .h3_caps, .heading_03_caps { @extend %heading_03; }
h4, .h4, .heading_04, .h4_caps, .heading_04_caps { @extend %heading_04; }
h5, .h5, .heading_05, .h5_caps, .heading_05_caps { @extend %heading_05; }
h6, .h6, .heading_06, .h6_caps, .heading_06_caps { @extend %heading_06; }


/// Classes for uppercase headings.
/// 
/// These classes apply the uppercase text transformation to headings.
.h1_caps, .heading_01_caps { @include heading_01_caps; }
.h2_caps, .heading_02_caps { @include heading_02_caps; }
.h3_caps, .heading_03_caps { @include heading_03_caps; }
.h4_caps, .heading_04_caps { @include heading_04_caps; }
.h5_caps, .heading_05_caps { @include heading_05_caps; }
.h6_caps, .heading_06_caps { @include heading_06_caps; }


// Tags
// ============================================================================

// h1 { @extend .h1; }
// h2 { @extend .h2; }
// h3 { @extend .h3; }
// h4 { @extend .h4; }
// h5 { @extend .h5; }
// h6 { @extend .h6; }

// h1 { @include heading_01; }
// h2 { @include heading_02; }
// h3 { @include heading_03; }
// h4 { @include heading_04; }
// h5 { @include heading_05; }
// h6 { @include heading_06; }


// ----------------------------------------------------------------------------

// h1 { @extend .h1; }
// h2 { @extend .h2; }
// h3 { @extend .h3; }
// h4 { @extend .h4; }
// h5 { @extend .h5; }
// h6 { @extend .h6; }


// .h1, .heading_01 { @include heading_01; }
// .h2, .heading_02 { @include heading_02; }
// .h3, .heading_03 { @include heading_03; }
// .h4, .heading_04 { @include heading_04; }
// .h5, .heading_05 { @include heading_05; }
// .h6, .heading_06 { @include heading_06; }

// h1, .h1, .heading_01 { @include heading_01; }
// h2, .h2, .heading_02 { @include heading_02; }
// h3, .h3, .heading_03 { @include heading_03; }
// h4, .h4, .heading_04 { @include heading_04; }
// h5, .h5, .heading_05 { @include heading_05; }
// h6, .h6, .heading_06 { @include heading_06; }


// h1, .h1 { @include heading-style(1); }
// h2, .h2 { @include heading-style(2); }
// h3, .h3 { @include heading-style(3); }
// h4, .h4 { @include heading-style(4); }
// h5, .h5 { @include heading-style(5); }
// h6, .h6 { @include heading-style(6); }

