{% extends "base.html.jinja" %}

{% block content %}

<p>
    This is an address with breaks:
</p>

<address>
    John Q. Public
    <br>123 Main Street
    <br>Anywhere, ST 12345
</address>

{% endblock content %}
