@use '../../dev' as *;
@use '../../variables' as *;
// @use "../mixins" as *;
@use '../type' as *;
@use 'input' as *;

// // Textarea
// // ----------------------------------------------------------------------------

/// Additional styles for textarea
/// @group Form
textarea {
    resize: none;
}

textarea {
    overflow: auto; /* Internet Explorer 11+ */
    resize: vertical; /* Specify textarea resizability */
    // outline: none;
    // border: none;
    // resize: none;
    width: 100%;
    max-width: 100%;

    -webkit-transition: height 0s;
    transition: height 0s;
}

// textarea:focus,
// input:focus {
//     border-color: transparent !important;
// }

// Engine
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    /*remove the resize handle on the bottom right*/
}

// input[type='text'],
// input[type='email'],
// textarea {
//     @include reset_bleed;
//     padding: 0;
//     @include font_default;
//     @include font_weight_300;
//     @include font_size_04;
//     // background-color: WhiteSmoke;
//     margin-top: 8 * $q;
//     margin-bottom: 8 * $q;
// }
