// ============================================================================
// Elements | Form
// ============================================================================

@use '../../dev' as *;
@use '../../variables' as *;
// @use "../mixins" as *;
@use '../type' as *;

// /// Styles for form input fields
// /// @group Form
// input {
// 	outline: none;
// 	border: none;
//     height: baseline(4);
//     @include font-size_03;
// }

// ============================================================================
// FORM / INPUT / TEXTAREA / SELECT
// ============================================================================

/// @group Form
@mixin input {
    @include font_size('03');
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    border: 1.5px solid var(--color_dark);
    color: var(--color_dark);

    &:hover {
        border: 1.5px solid var(--color_primary);
    }

    &:focus {
        border: 3px solid hue_color('N2404');
    }

    &:disabled {
        border: 1.5px solid var(--color_muted);
        color: var(--color_muted);
    }

    &.is-success {
        border: 1.5px solid var(--color_success);
        color: var(--color_success);
    }

    &.is-warning {
        border: 1.5px solid var(--color_warning);
        color: var(--color_warning);
    }

    &.is-error {
        border: 1.5px solid var(--color_error);
        color: var(--color_error);
    }

    &.is-info {
        border: 1.5px solid var(--color_info);
        color: var(--color_info);
    }
}

/// @group Form
input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='number'],
input[type='file'],
textarea {
    @include input;
}

// /* FORM / INPUT / TEXTAREA / SELECT
// -------------------------------------------- */

// @media only screen and (min-width: 992px)
// {
//     label::before
//     {
//         font-size: .875rem;

//         position: absolute;
//         top: calc(50% - .75em);
//         left: -3.75rem;

//         content: attr(data-number);

//         color: var(--color-3);
//     }
// }

// input[type=text],
// input[type=date],
// input[type=email],
// input[type=password],
// input[type=tel],
// input[type=url],
// input[type=search],
// input[type=number],
// input[type=file],
// textarea,
// select
// {
//     font-size: 1rem;

//     display: block;

//     width: 100%;
//     margin: 0;
//     padding: 0 0 .625rem 0;

//     -webkit-transition: all var(--transition-duration) var(--transition-easing);
//             transition: all var(--transition-duration) var(--transition-easing);

//     color: var(--color-primary);
//     border: none;
//     border-bottom: 1px solid var(--color-14);
//     border-radius: 0;
//     outline: none;
//     background-color: transparent;
//     -webkit-box-shadow: none;
//             box-shadow: none;

//     -webkit-appearance: none;
//        -moz-appearance: none;
//             appearance: none;
// }
// input[type=text].is-large,
// input[type=date].is-large,
// input[type=email].is-large,
// input[type=password].is-large,
// input[type=tel].is-large,
// input[type=url].is-large,
// input[type=search].is-large,
// input[type=number].is-large,
// input[type=file].is-large,
// textarea.is-large,
// select.is-large
// {
//     font-size: 2.25rem;
// }
// input[type=text].style-2,
// input[type=date].style-2,
// input[type=email].style-2,
// input[type=password].style-2,
// input[type=tel].style-2,
// input[type=url].style-2,
// input[type=search].style-2,
// input[type=number].style-2,
// input[type=file].style-2,
// textarea.style-2,
// select.style-2
// {
//     font-size: .875rem;

//     padding: .8125rem 1.4375rem;

//     border: 1px solid var(--color-3);
//     background-color: var(--white-color);
// }
