.globe_outer{
    height:320px;
    width: 320px;
    display: block;
    margin: auto;
  }
  @media only screen and (max-width: 640px) {
    .globe_outer{
      width: 80%;
    }
  }
  



  .globe_container {
    position: relative;
    height:100%;
    width: 100%;
    border-collapse:collapse;
    display : table;
  }
  


  .globe {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 50%;
    left: 50%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .glow {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  
    -webkit-box-shadow:
      0 0 50px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 50px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow:
      0 0 50px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 50px 0 rgba(255, 255, 255, 0.1);
    box-shadow:
      0 0 50px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 50px 0 rgba(255, 255, 255, 0.1);
  
  }
  
  @-webkit-keyframes glow {
    from { text-shadow: 0 0 0px white; }
    to { text-shadow: 0 0 20px white; }
  }
  
  
  .sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% 50%;
    -moz-transform-origin: 50% 50% 50%;
    transform-origin: 50% 50% 50%;
    -webkit-animation: rotate 5s infinite linear;
    -moz-animation: rotate 5s infinite linear;
    animation: rotate 5s infinite linear;
  }
  




  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 100px;
    -webkit-backface-visibility: hidden;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow:
      0 0 50px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 50px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow:
      0 0 50px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 50px 0 rgba(255, 255, 255, 0.1);
    box-shadow:
      0 0 50px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 50px 0 rgba(255, 255, 255, 0.1);
  }
  

  
  
  .y0   { -webkit-transform: rotateY(0deg); }
  .y10  { -webkit-transform: rotateY(10deg); }
  .y20  { -webkit-transform: rotateY(20deg); }
  .y30  { -webkit-transform: rotateY(30deg); }
  .y40  { -webkit-transform: rotateY(40deg); }
  .y50  { -webkit-transform: rotateY(50deg); }
  .y60  { -webkit-transform: rotateY(60deg); }
  .y70  { -webkit-transform: rotateY(70deg); }
  .y80  { -webkit-transform: rotateY(80deg); }
  .y90  { -webkit-transform: rotateY(90deg); }
  .y100 { -webkit-transform: rotateY(100deg); }
  .y110 { -webkit-transform: rotateY(110deg); }
  .y120 { -webkit-transform: rotateY(120deg); }
  .y130 { -webkit-transform: rotateY(130deg); }
  .y140 { -webkit-transform: rotateY(140deg); }
  .y150 { -webkit-transform: rotateY(150deg); }
  .y160 { -webkit-transform: rotateY(160deg); }
  .y170 { -webkit-transform: rotateY(170deg); }
  
  .x0   { -webkit-transform: rotateX(0deg); }
  .x10  { -webkit-transform: rotateX(10deg); }
  .x20  { -webkit-transform: rotateX(20deg); }
  .x30  { -webkit-transform: rotateX(30deg); }
  .x40  { -webkit-transform: rotateX(40deg); }
  .x50  { -webkit-transform: rotateX(50deg); }
  .x60  { -webkit-transform: rotateX(60deg); }
  .x70  { -webkit-transform: rotateX(70deg); }
  .x80  { -webkit-transform: rotateX(80deg); }
  .x90  { -webkit-transform: rotateX(90deg); }
  .x100 { -webkit-transform: rotateX(100deg); }
  .x110 { -webkit-transform: rotateX(110deg); }
  .x120 { -webkit-transform: rotateX(120deg); }
  .x130 { -webkit-transform: rotateX(130deg); }
  .x140 { -webkit-transform: rotateX(140deg); }
  .x150 { -webkit-transform: rotateX(150deg); }
  .x160 { -webkit-transform: rotateX(160deg); }
  .x170 { -webkit-transform: rotateX(170deg); }
  
  @-webkit-keyframes rotate {
    0%   { -webkit-transform: rotateY(0deg)   rotateX(0deg); }
    100% { -webkit-transform: rotateY(360deg) rotateX(360deg); }
  }
  
  @-moz-keyframes rotate {
    0%   { -webkit-transform: rotateY(0deg)   rotateX(0deg); }
    100% { -webkit-transform: rotateY(360deg) rotateX(360deg); }
  }





  
  @keyframes rotate {
    0%   { -webkit-transform: rotateY(0deg)   rotateX(0deg); }
    100% { -webkit-transform: rotateY(360deg) rotateX(360deg); }
  }





  