// Copyright 2025 Starling Associates BV. All rights reserved.

// ============================================================================
// Imports
// ============================================================================

@use 'stylescape/scss/index.scss' as *;
@use '../variables' as *;
@use '../mixins' as *;

// ============================================================================
// Container | Datatable
// ============================================================================

// Container | Datatable | Pagination
// ============================================================================

.data_table_pagination {
    @include col_24;

    button {
        margin-left: $data_table_spacing;
        margin-right: $data_table_spacing;
        padding-left: $data_table_spacing;
        padding-right: $data_table_spacing;
        background-color: transparent;
        color: #000000;
    }

    :first-child {
        margin-left: 0;
    }
}

// Container | Datatable | Search
// ============================================================================

.data_table_search {
    @include col_24;

    input {
        margin-left: $data_table_spacing;
        margin-right: $data_table_spacing;
    }
}

// Container | Datatable | Base
// ============================================================================

.data_table {
    @include col_24;
    position: relative;
    border-collapse: collapse;
    word-break: break-all;
    table-layout: fixed;

    // Cells | All
    // ------------------------------------------------------------------------

    th,
    td {
        padding: $data_table_spacing $data_table_spacing;
        height: $data_table_row_height;
        max-height: $data_table_row_height;
        max-height: $data_table_row_height;
        overflow: hidden;
        vertical-align: middle;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 0;

        * {
            @include reset_bleed;
            @include font_weight_300;
            font-size: 12 * $q !important;
        }
    }

    // Cells | Header
    // ------------------------------------------------------------------------

    thead {
        border-top-style: solid;
        border-top-width: $data_table_head_border_width;
        border-top-color: $data_table_head_border_color;
        border-bottom-style: solid;
        border-bottom-width: $data_table_head_border_width;
        border-bottom-color: $data_table_head_border_color;

        tr {
            height: $data_table_row_height;
            max-height: $data_table_row_height;
            background-color: $data_table_head_color_background;
            color: $data_table_head_color_text;
            text-align: left;

            th {
                button {
                    float: right;
                    padding-left: $data_table_spacing;
                    padding-right: $data_table_spacing;
                    background-color: transparent;
                    color: #000000;
                }
            }
        }
    }

    // Cells | Body
    // ------------------------------------------------------------------------

    tbody {
        // Add a bottom border to each row for separation
        tr {
            // border-bottom: 1px solid #dddddd;
            background-color: $data_table_body_color_background;
            color: $data_table_body_color_text;
            border-bottom-style: solid;
            border-bottom-width: $data_table_body_border_width;
            border-bottom-color: $data_table_body_border_color;
        }

        // Add a lighter background to every second row to help readability
        tr:nth-of-type(even) {
            background-color: $data_table_body_n_color_background;
            color: $data_table_body_n_color_text;
        }

        // Add a dark border to the very last row to signify the end of the table
        tr:last-of-type {
            // border-bottom: 2px solid #009879;
            border-bottom-style: solid;
            border-bottom-width: $data_table_head_border_width;
            border-bottom-color: $data_table_head_border_color;
        }

        // make the active row look different
        // tr.active-row {
        //     font-weight: bold;
        //     color: #009879;
        // }
    }

    // td:nth-child(2){
    //     border-right:1px solid white;
    // }

    &.data_table_auto {
        table-layout: auto;
    }

    .td_wrap {
        white-space: wrap;
        word-break: break-word;
    }
}

// .data_table_head_cell, .data_table_body_cell {
//     display: -webkit-box; // to make td as block
// word-break: break-word; // to make content justify
// overflow:hidden;
// }

//   th:last-child {
//     border: 0;
//   }

//   td {
//     padding-top: 10px;
//     padding-bottom: 10px;
//     color: #808080;
//   }

//   tr:nth-child(even) td {
//     background: #f8f6ff;
//   }

.data_tables_action_button {
    @include action-button();
}

.data_table_head_cell {
    font-size: 1rem;
    font-style: normal;
    font-variation-settings: 'wght' 700;
    line-height: normal;
}

.data_table_body {
    font-size: 0.75rem;
}

// .data_table {
//     &.data_table_auto {
//         table-layout: auto;
//     }

//     .td_wrap {
//         white-space: wrap;
//         word-break: break-word;
//     }
// }
