// Copyright 2025 Starling Associates BV. All rights reserved.

// ============================================================================
// Imports
// ============================================================================

@use '../../variables' as *;
@use '../layout' as *;
@use '../../dev' as *;
@use 'box' as *;

// $icongl_font_dir: '~icon.gl/font';
// @font-face {
//     font-family: "icongl";
//     src:    url($icongl_font_dir + "/icongl.woff2")   format("woff2"),
//             url($icongl_font_dir + "/icongl.woff")    format("woff"),
//             url($icongl_font_dir + "/icongl.ttf")     format("truetype");
// }

@mixin icon {
    @include reset_bleed;
    @include box_content;
    // position:         relative;
    // width:            100%;
    // height:           100%;
    // align-items:      center;
    // display:          inline-flex;
    // justify-content:  center;
    // fill: $color_02;
    background-color: transparent;
    position: relative;
    overflow: visible;
}

@mixin icon_size_00 {
    @include icon;
    @include box_size_00;

    svg {
        @include box_size_00;
    }

    img {
        @include box_size_00;
    }
}

@mixin icon_size_01 {
    @include icon;
    @include box_size_01;

    svg {
        @include box_size_01;
    }

    img {
        @include box_size_01;
    }
}

@mixin icon_size_02 {
    @include icon;
    @include box_size_02;

    svg {
        @include box_size_02;
    }

    img {
        @include box_size_02;
    }
}

@mixin icon_size_03 {
    @include icon;
    @include box_size_03;

    svg {
        @include box_size_03;
    }

    img {
        @include box_size_03;
    }
}

@mixin icon_size_04 {
    @include icon;
    @include box_size_04;

    svg {
        @include box_size_04;
    }

    img {
        @include box_size_04;
    }
}

@mixin icon_size_05 {
    @include icon;
    @include box_size_05;

    svg {
        @include box_size_05;
    }

    img {
        @include box_size_05;
    }
}

@mixin icon_size_06 {
    @include icon;
    @include box_size_06;

    svg {
        @include box_size_06;
    }

    img {
        @include box_size_06;
    }
}

@mixin icon_size_07 {
    @include icon;
    @include box_size_07;

    svg {
        @include box_size_07;
    }

    img {
        @include box_size_07;
    }
}

@mixin icon_size_08 {
    @include icon;
    @include box_size_08;

    svg {
        @include box_size_08;
    }

    img {
        @include box_size_08;
    }
}

@mixin icon_size_09 {
    @include icon;
    @include box_size_09;

    svg {
        @include box_size_09;
    }

    img {
        @include box_size_09;
    }
}

@mixin icon_size_10 {
    @include icon;
    @include box_size_10;

    svg {
        @include box_size_10;
    }

    img {
        @include box_size_10;
    }
}

.icon_size_00 {
    @include icon_size_00;
}

.icon_size_01 {
    @include icon_size_01;
}

.icon_size_02 {
    @include icon_size_02;
}

.icon_size_03 {
    @include icon_size_03;
}

.icon_size_04 {
    @include icon_size_04;
}

.icon_size_05 {
    @include icon_size_05;
}

.icon_size_06 {
    @include icon_size_06;
}

.icon_size_07 {
    @include icon_size_07;
}

.icon_size_08 {
    @include icon_size_08;
}

.icon_size_09 {
    @include icon_size_09;
}

.icon_size_10 {
    @include icon_size_10;
}

.i {
    text-emphasis-style: none;

    * {
        font-size: 24px;
    }

    ::before {
        font-size: 24px;
    }
}

.i::before,
[class^='i_']::before,
[class*=' i_']::before {
    font-family: 'icongl' !important;
    display: inline-block;
    font-size: $q * 20;
    color: #000000;
    line-height: 1;
    margin: 0;
    margin-top: $q * 2;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    i {
        pointer-events: none;
    }
}

.app_icon .i::before {
    font-size: 120 * $q;
}

.ibig .i::before {
    font-size: 120 * $q !important;
}
