{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Time (<time>)
    ===========================================================================

    Represents a specific period in time.

    Variables:
    - `datetime`: The machine-readable date/time. Defaults to "2024-01-01T00:00".
    - `time_text`: The text to be displayed. Defaults to "January 1, 2024".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The `datetime` attribute is used to specify the date/time in a machine-readable format.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time
    - https://www.w3schools.com/tags/tag_time.asp

#}

<time datetime="{{ datetime | default('2024-01-01T00:00') | e }}">
    {{ time_text | default('January 1, 2024') | e }}
</time>
