{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Superscript Text (<sup>)
    ===========================================================================

    Defines superscript text, typically used for footnotes, mathematical powers,
    and ordinal indicators.

    Variables:
    - `sup_text`: The text to be displayed as superscript. Defaults to "Superscript text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The <sup> element is often used to present superscripted text, such as E=mc² or 1st.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sup
    - https://www.w3schools.com/tags/tag_sup.asp

#}

<sup>{{ sup_text | default('Superscript text') | e }}</sup>
