{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Base URL (<base>)
    ===========================================================================
    Specifies the base URL for all relative URLs in a document.

    Variables:
    - `base_href`: The base URL for all relative URLs in the document. Defaults to "/".
    - `base_target`: The default target for all hyperlinks and forms in the document. Defaults to "_self".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base
    - https://www.w3schools.com/tags/tag_base.asp

#}

<base href="{{ base_href | default('/') | e }}" target="{{ base_target | default('_self') | e }}">
