{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Menu (<menu>)
    ===========================================================================

    Defines a list or menu of commands.

    Variables:
    - `menu_type`: The type of menu. Defaults to "context".
    - `menu_items`: A list of menu items, each represented as a dictionary with `label`, `icon`, and `command` keys. Defaults to a single default menu item.

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - Each dictionary in `menu_items` should contain `label`, `icon`, and `command` keys.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menu
    - https://www.w3schools.com/tags/tag_menu.asp

#}

<menu type="{{ menu_type | default('context') | e }}">
    {% for item in menu_items | default([{'label': 'Default item', 'icon': 'icon.png', 'command': 'commandName'}]) %}
        <menuitem label="{{ item.label | e }}" icon="{{ item.icon | e }}" command="{{ item.command | e }}"></menuitem>
    {% endfor %}
</menu>
