{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Table Header (<thead>)
    ===========================================================================

    Defines a group of header rows in a table.

    Variables:
    - `thead_content`: The content inside the <thead> element, typically table rows (<tr>). Defaults to a single default header row.

    Notes:
    - The `| safe` filter is used to include HTML content safely.
    - The <thead> element is used to group header content in an HTML table.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/thead
    - https://www.w3schools.com/tags/tag_thead.asp

#}

<thead>
    {{ thead_content | default('<tr><th>Header 1</th><th>Header 2</th><th>Header 3</th></tr>') | safe }}
</thead>
