{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Applet (<applet>)
    ===========================================================================
    Note: The <applet> tag is deprecated in HTML5 and should not be used.
    Consider using <object> or <embed> instead.

    This code snippet creates an applet element with specified code, width, 
    and height. It also includes alternate text for browsers that do not 
    understand applets.

    Variables:
    - `applet_code`: The file name of the applet's class file. Defaults to "example.AppletClass".
    - `width`: The width of the applet. Defaults to "300".
    - `height`: The height of the applet. Defaults to "150".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/applet
    - https://www.w3schools.com/tags/tag_applet.asp

#}

<applet code="{{ applet_code | default('example.AppletClass') | e }}" 
        width="{{ width | default('300') | e }}" 
        height="{{ height | default('150') | e }}">
    Alternate text for browsers that do not understand applets.
</applet>
