{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Meter (<meter>)
    ===========================================================================

    Defines a scalar measurement within a known range, or a fractional value.

    Variables:
    - `meter_value`: The current value of the meter. Defaults to "0".
    - `meter_min`: The minimum value of the meter. Defaults to "0".
    - `meter_max`: The maximum value of the meter. Defaults to "100".
    - `meter_low`: The lower bound of the range. Defaults to "".
    - `meter_high`: The upper bound of the range. Defaults to "".
    - `meter_optimum`: The optimum value in the range. Defaults to "".
    - `meter_text`: The text to be displayed inside the meter. Defaults to "Meter Value".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter
    - https://www.w3schools.com/tags/tag_meter.asp

#}

<meter 
    value="{{ meter_value | default('0') | e }}" 
    min="{{ meter_min | default('0') | e }}" 
    max="{{ meter_max | default('100') | e }}" 
    low="{{ meter_low | default('') | e }}" 
    high="{{ meter_high | default('') | e }}" 
    optimum="{{ meter_optimum | default('') | e }}"
>
    {{ meter_text | default('Meter Value') | e }}
</meter>
