{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Figure Caption (<figcaption>)
    ===========================================================================

    Defines a caption for a <figure> element.

    Variables:
    - `figcaption_text`: The text to be displayed as the figure caption. Defaults to "Figure Caption".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption
    - https://www.w3schools.com/tags/tag_figcaption.asp

#}

<figcaption>
    {{ figcaption_text | default('Figure Caption') | e }}
</figcaption>
