{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Strikethrough Text (<s>)
    ===========================================================================

    Defines text that is no longer correct or relevant, typically displayed
    with a strikethrough.

    Variables:
    - `s_text`: The text to be displayed with a strikethrough. Defaults to "Strikethrough text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - <s> is often used to indicate content that has been updated or deprecated.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s
    - https://www.w3schools.com/tags/tag_s.asp

#}

<s>
    {{ s_text | default('Strikethrough text') | e }}
</s>
