{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Strong Text (<strong>)
    ===========================================================================

    Defines text with strong importance, typically displayed in bold.

    Variables:
    - `strong_text`: The text to be displayed with strong emphasis. Defaults to "Strong text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The <strong> element is often used to indicate that text has strong importance or urgency.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong
    - https://www.w3schools.com/tags/tag_strong.asp

#}

<strong>{{ strong_text | default('Strong text') | e }}</strong>
