{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Sample Output (<samp>)
    ===========================================================================

    Defines sample output from a computer program, typically displayed in a
    monospace font.

    Variables:
    - `samp_text`: The text to be displayed as sample output. Defaults to "Sample output text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - <samp> is often used to display text that represents the output from a computer program.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/samp
    - https://www.w3schools.com/tags/tag_samp.asp

#}

<samp>
    {{ samp_text | default('Sample output text') | e }}
</samp>
