{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Small Text (<small>)
    ===========================================================================

    Defines smaller text, often used for fine print or disclaimers.

    Variables:
    - `small_text`: The text to be displayed in small size. Defaults to "Small text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - The <small> element is typically used to represent side comments or fine print.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small
    - https://www.w3schools.com/tags/tag_small.asp

#}

<small>
    {{ small_text | default('Small text') | e }}
</small>
