{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Italic Text (<i>)
    ===========================================================================

    Defines a part of the text in an alternate voice or mood, which is
    typically rendered in italic.

    Variables:
    - `italic_text`: The text to be displayed in italic. Defaults to "Italic text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i
    - https://www.w3schools.com/tags/tag_i.asp

#}

<i>{{ italic_text | default('Italic text') | e }}</i>
