{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Teletype Text (<tt>)
    ===========================================================================

    Defines teletype text, typically displayed in a monospaced font.

    Variables:
    - `tt_text`: The text to be displayed in teletype format. Defaults to
      "Teletype text".

    Notes:
    - The <tt> element is deprecated in HTML5 and should not be used. Consider
      using CSS to apply a monospace font instead.
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tt
    - https://www.w3schools.com/tags/tag_tt.asp

#}

<tt>{{ tt_text | default('Teletype text') | e }}</tt>
