{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Heading Level 6 (<h6>)
    ===========================================================================

    Defines a level 6 heading, used for subsections within a level 5 heading
    section.

    Variables:
    - `h6_text`: The text to be displayed as a level 6 heading. Defaults to "Default Sub-sub-sub-sub-subheading".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h6
    - https://www.w3schools.com/tags/tag_hn.asp

#}

<h6>
    {{ h6_text | default('Default Sub-sub-sub-sub-subheading') | e }}
</h6>
