{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    List Item (<li>)
    ===========================================================================

    Defines an item in a list.

    Variables:
    - `li_text`: The text to be displayed as a list item. Defaults to "List item".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li
    - https://www.w3schools.com/tags/tag_li.asp

#}

<li>{{ li_text | default('List item') | e }}</li>
