{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Word Break Opportunity (<wbr>)
    ===========================================================================

    Represents a position within text where the browser may optionally break
    the line.

    Variables:
    - `wbr_content`: The text content that may include a word break
      opportunity. Defaults to "Insert a word break opportunity here".

    Notes:
    - The <wbr> element does not have any attributes, but it is typically used
      within text content to provide optional line break opportunities.
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/wbr
    - https://www.w3schools.com/tags/tag_wbr.asp

#}

<span>
    {{ wbr_content | default('Insert a word break opportunity here') | e }}<wbr>
</span>
