{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Code (<code>)
    ===========================================================================

    Defines a piece of computer code.

    Variables:
    - `code_text`: The text to be displayed as a piece of code. Defaults to "Sample code".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code
    - https://www.w3schools.com/tags/tag_code.asp

#}

<code>
    {{ code_text | default('Sample code') | e }}
</code>
