{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Bold Text (<b>)
    ===========================================================================
    Defines bold text for emphasizing the content.

    Variables:
    - `bold_text`: The text to be displayed in bold. Defaults to "Bold Text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b
    - https://www.w3schools.com/tags/tag_b.asp

#}

<b>{{ bold_text | default('Bold Text') | e }}</b>
