{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Header (<header>)
    ===========================================================================

    Defines a header for a document or section.

    Variables:
    - `header_content`: The content to be displayed inside the header.
      Defaults to "Default header content".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header
    - https://www.w3schools.com/tags/tag_header.asp

#}

<header>
    {{ header_content | default('Default header content') | e }}
</header>
