{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Ruby Text (<rt>)
    ===========================================================================

    Defines the ruby text component in a ruby annotation.

    Variables:
    - `rt_text`: The text to be displayed as ruby text. Defaults to "Ruby text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.
    - Typically used inside <ruby> elements alongside <rb> and <rp>.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rt
    - https://www.w3schools.com/tags/tag_rt.asp

#}

<rt>
    {{ rt_text | default('Ruby text') | e }}
</rt>
