{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Metadata (<meta>)
    ===========================================================================

    Defines metadata about an HTML document.

    Variables:
    - `meta_charset`: The character encoding for the document. Defaults to "UTF-8".
    - `meta_name`: The name of the metadata. Defaults to "description".
    - `meta_content`: The content of the metadata. Defaults to "Default description".
    - `meta_http_equiv`: The HTTP header for the information/value of the content attribute. Defaults to "".
    - `meta_property`: The property attribute for the meta tag, used for Open Graph and other specifications. Defaults to "".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
    - https://www.w3schools.com/tags/tag_meta.asp

#}

<meta 
    charset="{{ meta_charset | default('UTF-8') | e }}" 
    name="{{ meta_name | default('description') | e }}" 
    content="{{ meta_content | default('Default description') | e }}"
    http-equiv="{{ meta_http_equiv | default('') | e }}"
    property="{{ meta_property | default('') | e }}"
>


<meta name="description" content="{{ meta_description }}">
<meta name="keywords" content="{{ meta_keywords }}">
