{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Aside (<aside>)
    ===========================================================================
    Defines content aside from the main content, such as sidebars or call-out boxes.

    Variables:
    - `aside_title`: The title of the aside section. Defaults to "Related Information".
    - `aside_content`: The content of the aside section. Defaults to "Default aside content".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside
    - https://www.w3schools.com/tags/tag_aside.asp

#}

<aside>
    <h2>{{ aside_title | default('Related Information') | e }}</h2>
    <p>{{ aside_content | default('Default aside content') | e }}</p>
</aside>
