{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Definition (<dfn>)
    ===========================================================================

    Defines a definition term.

    Variables:
    - `dfn_text`: The term to be defined. Defaults to "Definition term".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dfn
    - https://www.w3schools.com/tags/tag_dfn.asp

#}

<dfn>{{ dfn_text | default('Definition term') | e }}</dfn>
