{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Progress Bar (<progress>)
    ===========================================================================

    Represents the completion progress of a task.

    Variables:
    - `progress_value`: The current value of the progress bar. Defaults to "0".
    - `progress_max`: The maximum value of the progress bar. Defaults to "100".
    - `progress_text`: The text to be displayed inside the progress bar. Defaults to "Progress".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress
    - https://www.w3schools.com/tags/tag_progress.asp

#}

<progress 
    value="{{ progress_value | default('0') | e }}" 
    max="{{ progress_max | default('100') | e }}"
>
    {{ progress_text | default('Progress') | e }}
</progress>
