{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Line Break (<br>)
    ===========================================================================

    Inserts a single line break in the text.

    Variables:
    - `line_break_count`: The number of line breaks to insert. Defaults to 1.

    Notes:
    - This tag does not require a closing tag.
    - Multiple line breaks are inserted if `line_break_count` is greater than 1.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/br
    - https://www.w3schools.com/tags/tag_br.asp

#}

{% for _ in range(line_break_count | default(1)) %}
<br>
{% endfor %}
