{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Table Footer (<tfoot>)
    ===========================================================================

    Defines a set of rows summarizing the columns of the table.

    Variables:
    - `tfoot_content`: The content inside the <tfoot> element, typically table rows (<tr>). Defaults to a single default row.

    Notes:
    - The `| safe` filter is used to include HTML content safely.
    - The <tfoot> element is used to group footer content in an HTML table.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tfoot
    - https://www.w3schools.com/tags/tag_tfoot.asp

#}

<tfoot>
    {{ tfoot_content | default('<tr><td>Footer content</td></tr>') | safe }}
</tfoot>
