{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Directory List (<dir>)
    ===========================================================================

    Defines a directory list. Note that the <dir> element is deprecated in HTML5
    and should not be used.

    Variables:
    - `dir_items`: A list of items to be included in the directory. Defaults to ["Item 1", "Item 2", "Item 3"].

    Notes:
    - The `<dir>` tag is deprecated in HTML5 and should not be used. Consider using `<ul>` or `<ol>` instead.
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dir
    - https://www.w3schools.com/tags/tag_dir.asp

#}

<dir>
    {% for item in dir_items | default(['Item 1', 'Item 2', 'Item 3']) %}
        <li>{{ item | e }}</li>
    {% endfor %}
</dir>
