{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Legend (<legend>)
    ===========================================================================

    Defines a caption for a <fieldset> element.

    Variables:
    - `legend_text`: The text to be displayed inside the legend. Defaults to "Legend text".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend
    - https://www.w3schools.com/tags/tag_legend.asp

#}

<legend>{{ legend_text | default('Legend text') | e }}</legend>
