{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Description Term Definition (<dd>)
    ===========================================================================

    Defines a description or value for a term in a description list.

    Variables:
    - `dd_content`: The content to be displayed as the description. Defaults to "Default description content".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dd
    - https://www.w3schools.com/tags/tag_dd.asp

#}

<dd>{{ dd_content | default('Default description content') | e }}</dd>
