{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Description Term (<dt>)
    ===========================================================================

    Defines a term/name in a description list.

    Variables:
    - `dt_term`: The term/name to be defined. Defaults to "Default Term".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dt
    - https://www.w3schools.com/tags/tag_dt.asp

#}

<dt>{{ dt_term | default('Default Term') | e }}</dt>
