{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Address (<address>)
    ===========================================================================
    This code snippet creates an address element with a contact name, email, 
    and phone number.

    Variables:
    - `contact_name`: The name of the contact. Defaults to "John Doe".
    - `email`: The email address of the contact. Defaults to "email@example.com".
    - `phone`: The phone number of the contact. Defaults to "+1234567890".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables
      to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address
    - https://www.w3schools.com/tags/tag_address.asp

#}

<address>
    {{ contact_name | default('John Doe') | e }}<br>
    <a href="mailto:{{ email | default('email@example.com') | e }}">{{ email | default('email@example.com') | e }}</a><br>
    <a href="tel:{{ phone | default('+1234567890') | e }}">{{ phone | default('+1234567890') | e }}</a>
</address>
