{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Video (<video>)
    ===========================================================================

    Embeds a video player into the document.

    Variables:
    - `video_src`: The URL of the video file. Defaults to "video.mp4".
    - `video_controls`: Boolean to specify if video controls should be
      displayed. Defaults to true.
    - `video_autoplay`: Boolean to specify if the video should play
      automatically. Defaults to false.
    - `video_muted`: Boolean to specify if the video should be muted by
      default. Defaults to false.
    - `video_loop`: Boolean to specify if the video should loop. Defaults to
      false.
    - `video_width`: The width of the video player. Defaults to "640".
    - `video_height`: The height of the video player. Defaults to "360".
    - `video_poster`: The URL of an image to show before the video plays.
      Defaults to "".

    Notes:
    - The `| e` filter is used to escape any special characters in the
      variables to prevent XSS attacks.
    - The <video> element supports various attributes to control video
      playback and appearance.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video
    - https://www.w3schools.com/tags/tag_video.asp

#}

<video 
    src="{{ video_src | default('video.mp4') | e }}" 
    width="{{ video_width | default('640') | e }}" 
    height="{{ video_height | default('360') | e }}" 
    {% if video_controls | default(true) %}controls{% endif %} 
    {% if video_autoplay | default(false) %}autoplay{% endif %} 
    {% if video_muted | default(false) %}muted{% endif %} 
    {% if video_loop | default(false) %}loop{% endif %}
    poster="{{ video_poster | default('') | e }}"
>
    Your browser does not support the video tag.
</video>
