{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Heading Level 2 (<h2>)
    ===========================================================================

    Defines a level 2 heading, used for sub-sections within a document.

    Variables:
    - `h2_text`: The text to be displayed as a level 2 heading. Defaults to "Default Subheading".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h2
    - https://www.w3schools.com/tags/tag_hn.asp

#}

<h2>
    {{ h2_text | default('Default Subheading') | e }}
</h2>
