{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Heading Group (<hgroup>)
    ===========================================================================

    Groups a set of `<h1>` to `<h6>` elements when a heading has multiple
    levels.

    Variables:
    - `hgroup_headings`: The headings to be displayed inside the `<hgroup>`.
      Defaults to a set of default headings.

    Notes:
    - The `| safe` filter is used to include HTML content safely.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hgroup
    - https://www.w3schools.com/tags/tag_hgroup.asp

#}

<hgroup>
    {{ hgroup_headings | default('<h1>Default Heading 1</h1><h2>Default Heading 2</h2>') | safe }}
</hgroup>
