{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Figure (<figure>)
    ===========================================================================

    Defines self-contained content, such as illustrations, diagrams, photos,
    code listings, etc.

    Variables:
    - `figure_content`: The content to be displayed inside the figure. Defaults to "Default figure content".
    - `figcaption_text`: The caption for the figure. Defaults to "Figure Caption".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure
    - https://www.w3schools.com/tags/tag_figure.asp

#}

<figure>
    {{ figure_content | default('Default figure content') | e }}
    <figcaption>{{ figcaption_text | default('Figure Caption') | e }}</figcaption>
</figure>
