{# 
    Copyright 2025 Scape Agency BV
#}

{# 
    Output (<output>)
    ===========================================================================

    Defines the result of a calculation or user action.

    Variables:
    - `output_name`: The name attribute of the output element. Defaults to "result".
    - `output_for`: A space-separated list of element IDs that the output is related to. Defaults to "input1 input2".
    - `output_text`: The text to be displayed inside the output element. Defaults to "Default output".

    Notes:
    - The `| e` filter is used to escape any special characters in the variables to prevent XSS attacks.

    Links:
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/output
    - https://www.w3schools.com/tags/tag_output.asp

#}

<output 
    name="{{ output_name | default('result') | e }}" 
    for="{{ output_for | default('input1 input2') | e }}"
>
    {{ output_text | default('Default output') | e }}
</output>
