@use "sass:map";

$ss-breadcrumb-config: (
    gap: 0.5rem,
    separator: "/",
    separator-color: var(--ss-color-muted, var(--ss-color-foreground)),

    font-size: var(--ss-font-size-sm),
    color: var(--ss-color-muted, var(--ss-color-foreground)),
    color-current: var(--ss-color-foreground),
) !default;
