@use "sass:map";
@use "../../01-core/external" as *;

$ss-breadcrumb-config: (
    gap: q(8),
    separator: "/",
    separator-color: var(--ss-color-muted, var(--ss-color-foreground)),
    font-size: var(--ss-font-size-sm),
    color: var(--ss-color-muted, var(--ss-color-foreground)),
    color-current: var(--ss-color-foreground),
) !default;
