////
///
/// Deafult Paragraph Typography Mixins Module
/// ===========================================================================
/// ...
///
/// @group Paragraph
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////

// ============================================================================
// Use
// ============================================================================

/// Mixin for left text alignment.
/// @group Text Alignment
@mixin text_align--left {
    text-align: left;
}

/// Mixin for center text alignment.
/// @group Text Alignment
@mixin text_align--center {
    text-align: center;
}

/// Mixin for right text alignment.
/// @group Text Alignment
@mixin text_align--right {
    text-align: right;
}

/// Mixin for justify text alignment.
/// @group Text Alignment
@mixin text_align_justify {
    text-align: justify;
}


/// Mixin for centering text (or content) within a container using flexbox.
/// Optionally, use absolute positioning.
/// @param {Bool} $absolute - Use absolute positioning (default: false)
@mixin text--center($absolute: false) {
  @if $absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
