// =============================================================================
// 31-modules / caption / mixins
// =============================================================================

@use "sass:map";
@use "./caption.config" as config;

@mixin ss-caption {
    color: map.get(config.$caption-config, "color");
    font-size: map.get(config.$caption-config, "font-size");
    line-height: map.get(config.$caption-config, "line-height");
    font-style: map.get(config.$caption-config, "font-style");
    padding: map.get(config.$caption-config, "padding");
    display: block;
}
