
// //
// // Figures
// //




.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
  .svg-container svg {
    display: inline-block;
    position: relative;
    width: 100%;

}
.figure_text {
  font-size: calc($kyu*24);
}
.figure_dot {
  r: calc($kyu*8);
}
.fill_green {
  fill: #11d781;
}
.fill_yellow{
  fill: #d4d711;
}
.fill_red{
  fill: #d71111;
}
.fill_blue{
  fill: #116ad7;
}

// .figure {
//   // Ensures the caption's text aligns with the image.
//   display: inline-block;
// }

// .figure-img {
//   margin-bottom: $spacer * .5;
//   line-height: 1;
// }

// .figure-caption {
//   @include font-size($figure-caption-font-size);
//   color: $figure-caption-color;
// }



// /* Figures */
// figure {
//     position: relative;
//   }
//   figure img {
//     object-fit: contain;
//     width: 100%;
//   }
//   figure figcaption {
//     color: {{ css_color_01 }};
//     font-weight: 700;
//   }

  
  
// .figure_1x1, .figure_3_2, .figure_4x3, .figure_3x4, .figure_2x3, .figure_16x9 {
//     width: 100%;
//     position: relative;
//     overflow: hidden;
// }
// .figure_1x1 {
//     padding-bottom: 100%;
// }
//   .figure_3_2 {
//     padding-bottom: 66.67%;
//   }
//   .figure_4x3 {
//     padding-bottom: 75%;
//   }
//   .figure_3x4 {
//     padding-bottom: 133.33%;
//   }
//   .figure_2x3 {
//     padding-bottom: 150%;
//   }
//   .figure_16x9 {
//     padding-bottom: 56.25%;
//   }
//   .figure_1x1 img, .figure_3_2 img, .figure_4x3 img, .figure_3x4 img, .figure_2x3 img, .figure_16x9 img {
//     min-width: 100%;
//     min-height: 100%;
//     object-fit: cover;
//     position: absolute;
//   }

  