@use "sass:map";

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

$ss-subheader-base: (
    color: var(--theme-semantic-color-type-primary),
    font-family: var(--theme-semantic-type-title-font-family),
    font-weight: var(--theme-subheader__font-weight),
    line-height: var(--theme-subheader-h2__line-height),
    padding-top: var(--primitive-space-16),
    padding-bottom: var(--primitive-space-08),
) !default;

// -----------------------------------------------------------------------------
// Sizes
// -----------------------------------------------------------------------------

$ss-subheader-sizes: (
    h2: (
        font-size: var(--semantic-type-title--xxl-font-size),
        line-height: var(--semantic-type-title--xxl-line-height),
    ),
    h3: (
        font-size: var(--theme-subheader-h3__font-size),
        line-height: var(--theme-subheader-h3__line-height),
    ),
    h4: (
        font-size: var(--theme-subheader-h4__font-size),
        line-height: var(--theme-subheader-h4__line-height),
    ),
    h5: (
        font-size: var(--theme-subheader-h5__font-size),
        line-height: var(--theme-subheader-h5__line-height),
    ),
    h6: (
        font-size: var(--theme-subheader-h6__font-size),
        line-height: var(--theme-subheader-h6__line-height),
    ),
) !default;

// -----------------------------------------------------------------------------
// Weights
// -----------------------------------------------------------------------------

$ss-subheader-weights: (
    regular: 400,
    bold: 700,
) !default;

// -----------------------------------------------------------------------------
// Alignment
// -----------------------------------------------------------------------------

$ss-subheader-alignments: (
    left: left,
    center: center,
) !default;
