@use "../../dev" as *;

@use "../head_layout" as *;
@use "../soul_object" as *;

/// App Frame | 4 Column Grid for Scapeframe
/// ---------------------------------------------------------------------------
/// Adds a 4-column grid inside `middle_center` for app specific elements.
///

@mixin frame_app--base {
    @include grid__layout(4);
    @include sizing--border;
    padding: baseline(4);
    overflow: hidden;
    // position: absolute;

    // Prevent growing beyond its container
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-width: 0;
    min-height: 0;
}

.frame_app {
    @include frame_app--base();
}

// @mixin app__view--base {
//     @include grid--span--col(3);
//     // @include aspect_ratio(3, 2);
//     height: 100%;
//     max-width: 100%;
//     position: relative;
// }

// .app__view {
//     @include app__view--base();
// }
