// ============================================================================
// Poster
// ============================================================================

////
/// 
/// Character Typography Variables Module
/// ===========================================================================
/// 
/// @group Character
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
/// 
////


// ============================================================================
// Use
// ============================================================================








// ============================================================================
// Variables
// ============================================================================





// ============================================================================
// Typography | Character | Script
// ============================================================================


// Typography Variables for Script
$character_script_font_size: 75% !default; // Default font size for script text
$character_script_line_height: 0 !default; // Line height for script text
$character_script_sup_position: -0.5em !default; // Position for superscript text
$character_script_sub_position: 0.5em !default; // Position for subscript text


// Typography | Character | Small
// ============================================================================

// Typography Variables for Small Text
$character_small_font_size: 80% !default; // Default small font size
$character_small_line_height: 1.2 !default; // Default line height for small text


