:root {
    --primitive-type-font-size-64: q(64);
    --primitive-type-font-size-56: q(56);
    --primitive-type-font-size-48: q(50);
    --primitive-type-font-size-42: q(42);
    --primitive-type-font-size-40: q(40);
    --primitive-type-font-size-36: q(36);
    --primitive-type-font-size-32: q(32);
    --primitive-type-font-size-30: q(30);
    --primitive-type-font-size-24: q(24);
    --primitive-type-font-size-20: q(20);
    --primitive-type-font-size-18: q(18);
    --primitive-type-font-size-16: q(16);
    --primitive-type-font-size-14: q(14);
    --primitive-type-font-size-12: q(12);
    --primitive-type-font-size-10: q(10);
}
