// ============================================================================
// Poster
// ============================================================================

////
///
/// FontFace Font Typography Mixins Module
/// ===========================================================================
///
/// @group Font
/// @author Scape Agency
/// @link https://scape.style
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////


// ============================================================================
// Use
// ============================================================================

@use "../dev" as *;
// @use "../../variables" as *;
// @use "../../mixins" as *;

@use "font_stack" as *;


// ============================================================================
// Mixins
// ============================================================================


// ============================================================================
// Typography | Font | Face
// ============================================================================

///
/// Default path for font files.
///
/// This variable defines the default path to the font files used in the project.
/// It can be overridden if a different path is required.
///
$font_path: "../font/" !default;

///
/// Font face definition for "Block" font.
///
/// This `@font-face` rule defines the "Block" font family, including multiple font formats
/// for better browser compatibility. The font-weight and font-stretch properties are defined
/// to provide a wide range of styles and widths.
///
/// - `font-family`: "Block" - The name of the font family.
/// - `src`: Specifies the font files in various formats (WOFF2, WOFF, TTF).
/// - `font-weight`: Defines the range of weights available for the font (100 to 900).
/// - `font-stretch`: Specifies the range of font widths available (25% to 151%).
///
@font-face {
    font-family: "Block";
    src:    url($font_path + "block.woff2")   format("woff2"),
            url($font_path + "block.woff")    format("woff"),
            url($font_path + "block.ttf")     format("truetype");
    font-weight: 100 900;
    // font-weight: 22 188;
    // font-width: 300 500;
    font-stretch: 25% 151%;
}
