// ============================================================================
// Use
// ============================================================================

@use "../dev" as *;

// ============================================================================
// Variables
// ============================================================================

// Ribbon elements

$ribbon_spacing: q(8);
$ribbon_height: q(24) + $ribbon_spacing * 2;
$menu_margin: q(8);
