


// Default variable values for address styling
$paragraph_address_font_size: 1.75rem;
$paragraph_address_font_weight: 700;
$paragraph_address_font_style: normal;
$paragraph_address_margin: 0 0 1.5625rem;




/// Default font size for cite text.
$paragraph_cite_font_size: 0.875rem;

$paragraph_cite_font_style: normal;

/// Default line height for cite text.
$paragraph_cite_line_height: 1.42;

/// Default text transformation for cite text.
$paragraph_cite_text_transform: uppercase;

/// Default margin for cite elements.
$paragraph_cite_margin: 1rem 0 0;

/// Default color for cite text.
$paragraph_cite_text_color: $color_cite_text;