:root {
    --primitive-type-line-height-64: q(64);
    --primitive-type-line-height-56: q(56);
    --primitive-type-line-height-48: q(50);
    --primitive-type-line-height-40: q(40);
    --primitive-type-line-height-36: q(36);
    --primitive-type-line-height-32: q(32);
    --primitive-type-line-height-30: q(30);
    --primitive-type-line-height-28: q(28);
    --primitive-type-line-height-26: q(26);
    --primitive-type-line-height-24: q(24);
    --primitive-type-line-height-22: q(20);
    --primitive-type-line-height-20: q(20);
    --primitive-type-line-height-18: q(18);
    --primitive-type-line-height-16: q(16);
    --primitive-type-line-height-14: q(14);
    --primitive-type-line-height-12: q(12);
    --primitive-type-line-height-10: q(10);
}
