@use "../../01-core/external" as *;

$ss-shortcut-list-config: (
    row-padding: q(6) 0,
    column-gap: q(16),
    keys-width: q(160),
    divider: q(1) solid var(--ss-color-border-subtle),
    kbd-size: sm,
) !default;
