@use "../../01-core/external" as *;

$ss-skeleton-config: (
    base: var(--ss-color-surface-1),
    highlight: var(--ss-color-surface-2),
    duration: var(--ss-duration-loop),
    line-height: 1em,
    line-gap: 0.5em,
    block-height: q(120),
    avatar-size: q(40),
) !default;
