{% extends "base.html.jinja" %}
{% block title %}Spinner Atom Demo{% endblock %}

{% block content %}
<section>
    <h1>Spinner Demo</h1>
    <div class="spinner-demo">
        <div class="spinner spinner--sm"></div>
        <div class="spinner spinner--md"></div>
        <div class="spinner spinner--lg"></div>
    </div>
</section>
{% endblock %}
