<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Stylescape{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# <!-- Prism CSS -->
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css" rel="stylesheet" />

    <!-- Prism JS -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>

    <!-- Optional: Load language components (e.g., HTML, CSS, JS) -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-html.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/plugins/line-numbers/prism-line-numbers.css" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script> #}


    <link rel="stylesheet" href="/css/stylescape.css" />
    <script type="module" src="/js/stylescape.js"></script>

    <style>
        * {
            font-variant-numeric: lining-nums tabular-nums;
            font-feature-settings: "lnum", "tnum";
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body class="">

    <div class="layout__grid--screen">

        <div class="layout__area--top">
            {%- block ribbon_top -%}
            <header class="ribbon--top" id="" role="navigation">
                {%- include "includes/_ribbon_top.html.jinja" -%}
            </header>
            {%- endblock ribbon_top -%}
        </div>


        <div class="layout__area--middle_left">
            <aside class="ribbon--left ribbon--inverted" id="leftRibbon" role="navigation">
            </aside>

            {% if aside_left %}
            <div class="aside_left_switch" id="leftSwitch">
                <button class="aside_left_switch_button">
                    <span class="top_bar"></span>
                    <span class="bot_bar"></span>
                </button>
            </div>
            <aside class="aside--left aside--inverted" id="leftAside" role="navigation">
            {% block aside_left_content %}{% endblock%}
            </aside>
            {% endif%}
        </div>

        <div class="layout__area--middle_center ">
            <main class="main" role="main">
                {% block content %}{% endblock %}
            </main>
        </div>

        <div class="layout__area--middle_right">
            <aside class="ribbon--right ribbon--inverted" id="rightRibbon" role="navigation">
                <nav class="layout__nav">
                    <ul class="layout__nav__list">
                        <li class="layout__nav__list__item">
                            <a href="/settings" class="layout__nav__list__item__text">Settings</a>
                        </li>
                        <li class="layout__nav__list__item">
                            <a href="/help" class="layout__nav__list__item__text">Help</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            {% if aside_right %}
                <div class="aside_right_switch" id="rightSwitch">
                    <button class="aside_right_switch_button">
                        <span class="top_bar"></span>
                        <span class="bot_bar"></span>
                    </button>
                </div>
            <aside class="aside--right aside--inverted" id="rightAside" role="navigation">
            {% block aside_right_content %}{% endblock%}
            </aside>
            {% endif %}
        </div>

        <div class="layout__area--bottom">
            <footer class="ribbon--bottom ribbon--inverted" role="contentinfo">
                {% block footer %}
                <div class="ribbon__slot--horizontal_center">

                    <small>&copy; 2025 SC∆PE AGENCY</small>
                </div>
                {% endblock %}
            </footer>
        </div>


    </div>

    <div class="guide--layer guide--graph_centered" data-grid="graph"></div>
    <div class="guide--layer guide--baseline" data-grid="baseline"></div>


</body>

</html>
