{% extends "base.html.jinja" %}

{% block title %}Badges{% endblock %}

{% block content %}


<section class="demo__section">

    <header class="demo__section__header">
        <h3>Badges</h3>
        Documentation and examples for badges.
    </header>

    <section class="demo__subsection">
        <h4>Square</h4>
        <p>
            <span class="badge">Default</span>
            <span class="badge badge--info badge--squared">Info</span>
            <span class="badge badge--success badge--squared">Success</span>
            <span class="badge badge--warning badge--squared">Warning</span>
            <span class="badge badge--error badge--squared">Error</span>
        </p>
    </section>

    <section class="demo__subsection">
        <h4>Rounded</h4>
        <p>
            <span class="badge badge--rounded">Default</span>
            <span class="badge badge--info badge--rounded">Info</span>
            <span class="badge badge--success badge--rounded">Success</span>
            <span class="badge badge--warning badge--rounded">Warning</span>
            <span class="badge badge--error badge--rounded">Error</span>
        </p>
    </section>

    <section class="demo__subsection">
        <h4>Pill</h4>
        <p>
            <span class="badge badge--pill">Default</span>
            <span class="badge badge--info badge--pill">Info</span>
            <span class="badge badge--success badge--pill">Success</span>
            <span class="badge badge--warning badge--pill">Warning</span>
            <span class="badge badge--error badge--pill">Error</span>
        </p>
    </section>

    <section class="demo__subsection">
        <h4>Sizes</h4>
        <p>
            <span class="badge badge--sm">Small</span>
            <span class="badge">Medium</span>
            <span class="badge badge--lg">Large</span>
        </p>
    </section>

</section>
{% endblock %}
