{% extends "base.html.jinja" %}

{% set title = "Address" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__subsection">
        <p>
            This is an address with breaks:
        </p>

        <address>
            John Q. Public
            <br>123 Main Street
            <br>Anywhere, ST 12345
        </address>

    </section>
</section>


{%- endblock content %}
