{% extends "base.html.jinja" %}

{% block title %}Pagination Demo{% endblock %}

{% block content %}

<section class="demo__section">
    <header class="demo__section__header">
        <h2>Pagination Component</h2>
    </header>

{# ----------------------------------------------------------------------------
Pagination
---------------------------------------------------------------------------- #}

<section class="demo__subsection">
    <h4>Pagination</h4>
    {% set code_snippet %}
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
    {% endset %}
    {% set language="HTML" %}
    {% include "includes/preview_box_code.html.jinja" %}
</section>

<section class="demo__subsection">
    <h4>Disabled & Right-Aligned Pagination</h4>
    {% set code_snippet %}
<ul class="pagination pagination--right">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
    {% endset %}
    {% set language="HTML" %}
    {% include "includes/preview_box_code.html.jinja" %}
</section>

<section class="demo__subsection">
    <h4>Pagination Alignment</h4>
    {% set code_snippet %}
<ul class="pagination pagination--left">
    <li><a href="#">Prev</a></li>
    <li><a href="#">10</a></li>
    <li class="active"><a href="#">11</a></li>
    <li><a href="#">12</a></li>
    <li><a href="#">Next</a></li>
</ul>
<ul class="pagination pagination--center">
    <li><a href="#">Prev</a></li>
    <li><a href="#">10</a></li>
    <li class="active"><a href="#">11</a></li>
    <li><a href="#">12</a></li>
    <li><a href="#">Next</a></li>
</ul>
<ul class="pagination pagination--right">
    <li><a href="#">Prev</a></li>
    <li><a href="#">10</a></li>
    <li class="active"><a href="#">11</a></li>
    <li><a href="#">12</a></li>
    <li><a href="#">Next</a></li>
</ul>
    {% endset %}
    {% set language="HTML" %}
    {% include "includes/preview_box_code.html.jinja" %}
</section>


</section>

{% endblock %}
