{% extends "base.html.jinja" %}

{% set title = "Chips" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>


    {% set section_title = "Demo Code" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div> </div>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>


    <div class="demo__subsection">
        <span class="chip">Basic Chip</span>
        <span class="chip">User <img src="https://placekitten.com/32/32" alt="user" /></span>
        <span class="chip">Dismiss <span class="close">&times;</span></span>
    </div>

    <header class="demo__section__header">
        <h2>Chips Input Field</h2>
    </header>

    <div class="demo__subsection">
        <div class="chips">
            <input class="input" type="text" placeholder="Add tags…" />
        </div>
    </div>
</section>
{%- endblock %}
