{% extends "base.html.jinja" %}

{% set title = "Labels" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>


{% set section_title = "Label Size Variants" %}
<section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
    <h3>{{ section_title }}</h3>

    {% set code_snippet %}
<!-- Small Input -->
<div class="label_demo_group">
    <label class="label label--sm">Small Input</label>
    <input type="text" class="input input--sm" placeholder="Small size (sm)" />
</div>

<!-- Medium (Default) Input -->
<div class="label_demo_group">
    <label class="label label--md">Medium Input (Default)</label>
    <input type="text" class="input input--md" placeholder="Medium size (md)" />
</div>

<!-- Large Input -->
<div class="label_demo_group">
    <label class="label label--lg">Large Input</label>
    <input type="text" class="input input--lg" placeholder="Large size (lg)" />
</div>
    {% endset %}
    {% set language="HTML" %}
    {%- include "includes/preview_box_code.html.jinja" %}
    </section>






        <h4>Label Variations (Medium Inputs)</h4>

        <!-- Disabled Label -->
        <div class="label_demo_group">
            <label class="label label--muted">Disabled Label</label>
            <input type="text" class="input input--m" disabled placeholder="Disabled Label" />
        </div>

        <!-- Accent/Info Label -->
        <div class="label_demo_group">
            <label class="label">Accent/Info Label</label>
            <input type="text" class="input input--m is-info" placeholder="Accent/Info Label" />
        </div>

        <!-- Success Label -->
        <div class="label_demo_group">
            <label class="label ">Success Label</label>
            <input type="text" class="input input--m is-success" placeholder="Success Label" />
        </div>

        <!-- Warning Label -->
        <div class="label_demo_group">
            <label class="label ">Warning Label</label>
            <input type="text" class="input input--m is-warning" placeholder="Warning Label" />
        </div>

        <!-- Error Label -->
        <div class="label_demo_group">
            <label class="label ">Error Label</label>
            <input type="text" class="input input--m is-error" placeholder="Error Label" />
        </div>


    </section>
</section>
{%- endblock %}
