{% extends "base.html.jinja" %}

{% set title = "Status Spinners" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>

    <section class="demo__subsection">

        <div class="spinner-demo">
            <div class="spinner spinner--sm"></div>
            <div class="spinner spinner--md"></div>
            <div class="spinner spinner--lg"></div>
        </div>
    </section>
</section>
{% endblock %}
