{% extends "base.html.jinja" %}

{% set title = "Labels" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>


    <section class="demo__subsection">


        <h4>Label Size Variants</h4>

        <!-- Small Input -->
        <div class="label_demo_group">
            <label class="label label--s">Small Input</label>
            <input type="text" class="input input--s" placeholder="Small size (s)" />
        </div>

        <!-- Medium (Default) Input -->
        <div class="label_demo_group">
            <label class="label label--m">Medium Input (Default)</label>
            <input type="text" class="input input--m" placeholder="Medium size (m)" />
        </div>

        <!-- Large Input -->
        <div class="label_demo_group">
            <label class="label label--l">Large Input</label>
            <input type="text" class="input input--l" placeholder="Large size (l)" />
        </div>

        <section class="demo__subsection">
        </section>

        <h4>Label Variations (Medium Inputs)</h4>

        <!-- Disabled Label -->
        <div class="label_demo_group">
            <label class="label label--muted">Disabled Label</label>
            <input type="text" class="input input--m" disabled placeholder="Disabled Label" />
        </div>

        <!-- Accent/Info Label -->
        <div class="label_demo_group">
            <label class="label">Accent/Info Label</label>
            <input type="text" class="input input--m is-info" placeholder="Accent/Info Label" />
        </div>

        <!-- Success Label -->
        <div class="label_demo_group">
            <label class="label ">Success Label</label>
            <input type="text" class="input input--m is-success" placeholder="Success Label" />
        </div>

        <!-- Warning Label -->
        <div class="label_demo_group">
            <label class="label ">Warning Label</label>
            <input type="text" class="input input--m is-warning" placeholder="Warning Label" />
        </div>

        <!-- Error Label -->
        <div class="label_demo_group">
            <label class="label ">Error Label</label>
            <input type="text" class="input input--m is-error" placeholder="Error Label" />
        </div>


    </section>
</section>
{%- endblock %}
