{% extends "base.html.jinja" %}

{% set title = "Accordion" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>

    <div class="accordion accordion--default">
        <div class="accordion__item">
            <h3 class="accordion__header">
                <button class="accordion__button" type="button" data-toggle="accordion" aria-expanded="false"
                    aria-controls="accordion-body-1">
                    Accordion Title 1
                </button>
            </h3>
            <div id="accordion-body-1" class="accordion__body">
                <p>This is the content of accordion section 1.</p>
            </div>
        </div>

        <div class="accordion__item">
            <h3 class="accordion__header">
                <button class="accordion__button" type="button" data-toggle="accordion" aria-expanded="false"
                    aria-controls="accordion-body-2">
                    Accordion Title 2
                </button>
            </h3>
            <div id="accordion-body-2" class="accordion__body">
                <p>This is the content of accordion section 2.</p>
            </div>
        </div>
    </div>
</section>
{%- endblock %}
