{% extends "base.html.jinja" %}

{% set title = "Cover" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__subsection">
    </section>
    
</section>

{%- endblock content %}
