{% extends "base.html.jinja" %} {% set title = "Widgets" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Timeline" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="timeline__year">2025</div>
        <ul class="timeline__list">
            <li class="timeline__item">
                <div class="timeline__title">
                    Launched Quantum Camera Project
                </div>
                <div class="timeline__description">
                    Exploration of nanoscale pinhole photography using advanced
                    optics.
                </div>
            </li>
            <li class="timeline__item">
                <div class="timeline__title">Trinkets Exhibition Opened</div>
                <div class="timeline__description">
                    Immersive wearables featured at Design Museum Den Bosch.
                </div>
            </li>
        </ul>

        <div class="timeline__year">2024</div>
        <ul class="timeline__list">
            <li class="timeline__item">
                <div class="timeline__title">Demosphere at DDW</div>
                <div class="timeline__description">
                    Participatory policy prototyping with ten thematic lenses.
                </div>
            </li>
        </ul>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview_box_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
