{% extends "base.html.jinja" %}

{% set title = "Input Toggle" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>

    <section class="demo__subsection">


    </section>


<div class="toggle_panel">
    <div class="toggle_panel__heading">
        <h4 class="toggle_panel__title">
            Title <span class="toggle_panel__title--float">⮟</span>
        </h4>
        <i class="toggle_panel__heading__icon">★</i>
    </div>
    <div class="toggle_panel__body">
        Panel content goes here.
    </div>
</div>

<div class="toggle_panel toggle_panel__gap">
    <!-- next panel -->
</div>
</section>
{%- endblock %}
