{% extends "base.html.jinja" %}

{% block title %}Cards{% endblock %}

{% block content %}
<section class="demo__section">

    <header class="demo__section__header">
        <h3>Cards</h3>
    </header>

    <section class="demo__subsection">


    </section>
</section>


{% endblock content %}
