{% extends "base.html.jinja" %}

{% set title = "Button Flipper" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>




<section class="demo__section">

    <header class="demo__section__header">
        <h3>Buttons</h3>
    </header>

    <section class="demo__subsection">


    </section>
</section>

{%- endblock content %}
