{% extends "base.html.jinja" %}

{% set title = "Badge" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>

    <section class="demo__subsection">


    </section>

        Documentation and examples for badges.

    <section class="demo__subsection">
        <h4>Square</h4>
        <p>
            <span class="badge">Default</span>
            <span class="badge badge--info badge--squared">Info</span>
            <span class="badge badge--success badge--squared">Success</span>
            <span class="badge badge--warning badge--squared">Warning</span>
            <span class="badge badge--error badge--squared">Error</span>
        </p>
    </section>

    <section class="demo__subsection">
        <h4>Rounded</h4>
        <p>
            <span class="badge badge--rounded">Default</span>
            <span class="badge badge--info badge--rounded">Info</span>
            <span class="badge badge--success badge--rounded">Success</span>
            <span class="badge badge--warning badge--rounded">Warning</span>
            <span class="badge badge--error badge--rounded">Error</span>
        </p>
    </section>

    <section class="demo__subsection">
        <h4>Pill</h4>
        <p>
            <span class="badge badge--pill">Default</span>
            <span class="badge badge--info badge--pill">Info</span>
            <span class="badge badge--success badge--pill">Success</span>
            <span class="badge badge--warning badge--pill">Warning</span>
            <span class="badge badge--error badge--pill">Error</span>
        </p>
    </section>

    <section class="demo__subsection">
        <h4>Sizes</h4>

            <span class="badge">Default</span>
            <span class="badge">
                <h1>Header 1</h1>
            </span>
            <span class="badge">
                <h2>Header 2</h2>
            </span>
            <span class="badge">
                <h3>Header 3</h3>
            </span>
            <span class="badge">
                <h4>Header 4</h4>
            </span>
            <span class="badge">
                <h5>Header 5</h5>
            </span>
            <span class="badge">
                <h6>Header 6</h6>
            </span>


    </section>

</section>
{% endblock %}
