{% extends "base.html.jinja" %} {% set title = "Input Elements" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Inline Input" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="">
            <label>Default Inline:</label>
            <span>I am</span>
            <label for="input_text_name" class="label label--hidden">
                Name
            </label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--inline"
                placeholder="Name"
            />
            <span>and I live in</span>
            <label for="input_text_place" class="label label--hidden">
                Place
            </label>
            <input
                type="text"
                id="input_text_place"
                class="input input--base--inline"
                placeholder="Place"
            />
        </div>
        <div class="">
            <label>Straight Inline:</label>
            <span>I am</span>
            <label for="input_text_name" class="label label--hidden">
                Name
            </label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--inline input--style--straight"
                placeholder="Name"
            />
            <span>and I live in</span>
            <label for="input_text_place" class="label label--hidden">
                Place
            </label>
            <input
                type="text"
                id="input_text_place"
                class="input input--base--inline input--style--straight"
                placeholder="Place"
            />
        </div>
        <div class="">
            <label>Rounded Inline:</label>
            <span>I am</span>
            <label for="input_text_name" class="label label--hidden">
                Name
            </label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--inline input--style--rounded"
                placeholder="Name"
            />
            <span>and I live in</span>
            <label for="input_text_place" class="label label--hidden">
                Place
            </label>
            <input
                type="text"
                id="input_text_place"
                class="input input--base--inline input--style--rounded"
                placeholder="Place"
            />
        </div>
        <div class="">
            <label>Underline Inline:</label>
            <span>I am</span>
            <label for="input_text_name" class="label label--hidden">
                Name
            </label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--inline input--style--underline"
                placeholder="Name"
            />
            <span>and I live in</span>
            <label for="input_text_place" class="label label--hidden">
                Place
            </label>
            <input
                type="text"
                id="input_text_place"
                class="input input--base--inline input--style--underline"
                placeholder="Place"
            />
        </div>
        <div class="">
            <label>Filled Inline:</label>
            <span>I am</span>
            <label for="input_text_name" class="label label--hidden">
                Name
            </label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--inline input--style--filled"
                placeholder="Name"
            />
            <span>and I live in</span>
            <label for="input_text_place" class="label label--hidden">
                Place
            </label>
            <input
                type="text"
                id="input_text_place"
                class="input input--base--inline input--style--filled"
                placeholder="Place"
            />
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Form Input" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="">
            <label>Default form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form"
                placeholder="Name"
            />
        </div>
        <div class="">
            <label>Straight form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form input--style--straight"
                placeholder="Name"
            />
        </div>
        <div class="">
            <label>Rounded form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form input--style--rounded"
                placeholder="Name"
            />
        </div>
        <div class="">
            <label>Underline form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form input--style--underline"
                placeholder="Name"
            />
        </div>
        <div class="">
            <label>Filled form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form input--style--filled"
                placeholder="Name"
            />
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Input States" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <!-- Default -->
        <div class="field-group">
            <label for="default" class="label">Default</label>
            <input
                id="default"
                type="text"
                class="input"
                placeholder="Default"
            />
        </div>

        <!-- Focus -->
        <div class="field-group">
            <label for="focus" class="label">Focus</label>
            <input
                id="focus"
                type="text"
                class="input"
                placeholder="Focus me"
            />
        </div>

        <!-- Disabled -->
        <div class="field-group">
            <label for="disabled" class="label">Disabled</label>
            <input
                id="disabled"
                type="text"
                class="input"
                disabled
                placeholder="Can't type"
            />
        </div>

        <!-- Success -->
        <div class="field-group">
            <label for="success" class="label">Success</label>
            <input
                id="success"
                type="text"
                class="input is_success"
                placeholder="Valid input"
            />
        </div>

        <!-- Warning -->
        <div class="field-group">
            <label for="warning" class="label">Warning</label>
            <input
                id="warning"
                type="text"
                class="input is_warning"
                placeholder="Might need attention"
            />
        </div>

        <!-- Error -->
        <div class="field-group">
            <label for="error" class="label">Error</label>
            <input
                id="error"
                type="text"
                class="input is_error"
                placeholder="Incorrect input"
            />
        </div>

        <!-- Info -->
        <div class="field-group">
            <label for="info" class="label">Info</label>
            <input
                id="info"
                type="text"
                class="input is_info"
                placeholder="Helpful context"
            />
        </div>

        <!-- Focus-visible test -->
        <div class="field-group">
            <label for="focus-visible" class="label">
                Focus-visible (keyboard tab)
            </label>
            <input
                id="focus-visible"
                type="text"
                class="input"
                placeholder="Tab into me"
            />
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Form Input" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="">
            <label>Default form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form"
                placeholder="Name"
            />
        </div>
        <div class="">
            <label>Straight form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form input--style--straight"
                placeholder="Name"
            />
        </div>
        <div class="">
            <label>Rounded form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form input--style--rounded"
                placeholder="Name"
            />
        </div>
        <div class="">
            <label>Underline form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form input--style--underline"
                placeholder="Name"
            />
        </div>
        <div class="">
            <label>Filled form:</label>
            <label for="input_text_name" class="label">Name</label>
            <input
                type="text"
                id="input_text_name"
                class="input input--base--form input--style--filled"
                placeholder="Name"
            />
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Default Form Column ()" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}

        <form class="form--col">
            <label for="name">Name</label>
            <input
                type="text"
                id="name"
                class="input"
                placeholder="Your full name"
            />
            <label for="email">Email</label>
            <input
                type="email"
                id="email"
                class="input"
                placeholder="you@example.com"
            />
            <label for="bio">Bio</label>
            <textarea
                id="bio"
                class="input"
                rows="4"
                placeholder="Tell us something..."
            ></textarea>
            <button type="submit" class="button button--solid">Submit</button>
            <button type="reset" class="button button--solid">Reset</button>
        </form>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Default Form Column (Form Groups)" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}

        <form class="form--col">
            <div class="form__field">
                <label for="name">Name</label>
                <input
                    type="text"
                    id="name"
                    class="input"
                    placeholder="Your full name"
                />
            </div>

            <div class="form__field">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    class="input"
                    placeholder="you@example.com"
                />
            </div>

            <div class="form__field">
                <label for="bio">Bio</label>
                <textarea
                    id="bio"
                    class="input"
                    rows="4"
                    placeholder="Tell us something..."
                ></textarea>
            </div>

            <div class="form__control">
                <button type="submit" class="button button--solid">
                    Submit
                </button>
                <button type="reset" class="button button--solid">
                    Reset
                </button>
            </div>
        </form>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Default Form Row ()" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}

        <form class="form--row">
            <label for="name">Name</label>
            <input
                type="text"
                id="name"
                class="input"
                placeholder="Your full name"
            />
            <label for="email">Email</label>
            <input
                type="email"
                id="email"
                class="input"
                placeholder="you@example.com"
            />
            <label for="bio">Bio</label>
            <textarea
                id="bio"
                class="input"
                rows="4"
                placeholder="Tell us something..."
            ></textarea>
            <button type="submit" class="button button--solid">Submit</button>
            <button type="reset" class="button button--solid">Reset</button>
        </form>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Default Form Row (Form Groups)" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}

        <form class="form--row">
            <div class="form__field">
                <label for="name">Name</label>
                <input
                    type="text"
                    id="name"
                    class="input"
                    placeholder="Your full name"
                />
            </div>

            <div class="form__field">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    class="input"
                    placeholder="you@example.com"
                />
            </div>

            <div class="form__field">
                <label for="bio">Bio</label>
                <textarea
                    id="bio"
                    class="input"
                    rows="4"
                    placeholder="Tell us something..."
                ></textarea>
            </div>

            <div class="form__control">
                <button type="submit" class="button button--solid">
                    Submit
                </button>
                <button type="reset" class="button button--solid">
                    Reset
                </button>
            </div>
        </form>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
