{% extends "base.html.jinja" %} {% set title = "Dimensions" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {#
    ----------------------------------------------------------------------------
    Dimensions Top
    ----------------------------------------------------------------------------
    #}

    <section class="demo__subsection">
        <h4>Dimensions Top</h4>
        {% set code_snippet %}
        <div class="dim dim--top" dim-data="Dimensions on top">
            <div class="dim__line"></div>
            Dimension Top
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Dimensions Right
    ----------------------------------------------------------------------------
    #}

    <section class="demo__subsection">
        <h4>Dimensions Right</h4>
        {% set code_snippet %}
        <div class="dim dim--right" dim-data="Dimensions on right">
            Dimension Right
            <div class="dim__line"></div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Dimensions Bottom
    ----------------------------------------------------------------------------
    #}

    <section class="demo__subsection">
        <h4>Dimensions Bottom</h4>
        {% set code_snippet %}
        <div class="dim dim--bottom" dim-data="Dimensions on bottom">
            Dimension Bottom
            <div class="dim__line"></div>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Dimensions Left
    ----------------------------------------------------------------------------
    #}

    <section class="demo__subsection">
        <h4>Dimensions Left</h4>
        {% set code_snippet %}
        <div class="dim dim--left" dim-data="Dimensions on left">
            <div class="dim__line"></div>
            Dimension Left
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {%- endblock%}
</section>
