{% extends "base.html.jinja" %}

{% set title = "Carousel" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>

    <section class="demo__subsection">


    </section>


    <div class="carousel carousel-slider">
        <div class="carousel-fixed-item">
            <button class="button">Fixed CTA</button>
        </div>

        <div class="carousel-item active" id="carousel-slide-1">
            <img src="/img/demo1.jpg" alt="Slide 1">
            <div class="carousel-caption">
                <h2>Slide One</h2>
                <p>This is the first slide.</p>
            </div>
        </div>

        <div class="carousel-item" id="carousel-slide-2">
            <img src="/img/demo2.jpg" alt="Slide 2">
            <div class="carousel-caption">
                <h2>Slide Two</h2>
                <p>This is the second slide.</p>
            </div>
        </div>

        <div class="carousel-item" id="carousel-slide-3">
            <img src="/img/demo3.jpg" alt="Slide 3">
            <div class="carousel-caption">
                <h2>Slide Three</h2>
                <p>This is the third slide.</p>
            </div>
        </div>

        <div class="indicators">
            <span class="indicator-item active" data-target="#carousel-slide-1"></span>
            <span class="indicator-item" data-target="#carousel-slide-2"></span>
            <span class="indicator-item" data-target="#carousel-slide-3"></span>
        </div>
    </div>
</section>
{% endblock %}
