{% extends "base.html.jinja" %}

{% set title = "Dividers" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>



    <section class="demo__subsection">


        <p>Above the standard divider</p>
        <hr class="divider" />
        <p>Below the standard divider</p>

        <h2>Variants</h2>

        <p>Thin:</p>
        <hr class="divider divider--thin" />

        <p>Thick:</p>
        <hr class="divider divider--thick" />

        <p>Dotted:</p>
        <hr class="divider divider--dotted" />

        <p>Vertical (inline):</p>
        <div style="display: flex; align-items: center; gap: q(16);">
            <span>Left</span>
            <span class="divider--vertical"></span>
            <span>Right</span>
        </div>

    </section>
</section>
{% endblock %}
