{% extends "base.html.jinja" %} {% set title = "Dividers" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__subsection">
        {% set section_title = "Standard Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <p>Above the standard divider</p>
            <hr class="divider" />
            <p>Below the standard divider</p>
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>

        <h2>Variants</h2>

        {% set section_title = "Thin Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <hr class="divider divider--thin" />
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>

        {% set section_title = "Thick Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <hr class="divider divider--thick" />
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>

        {% set section_title = "Dotted Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <hr class="divider divider--dotted" />
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>

        {% set section_title = "Vertical Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <div class="divider--vertical"></div>
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>

        {% set section_title = "Vertical Thin Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <div class="divider--vertical--thin"></div>
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>

        {% set section_title = "Vertical Thick Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <div class="divider--vertical--thick"></div>
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>

        {% set section_title = "Vertical Dotted Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <div class="divider--vertical--dotted"></div>
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>

        {% set section_title = "Vertical (Inline) Divider" %}
        <section
            class="demo__subsection"
            data-label="{{ section_title }}"
            data-level="2"
        >
            <h3>{{ section_title }}</h3>

            {% set code_snippet %}
            <div style="display: flex; align-items: center; gap: q(16)">
                <span>Left</span>
                <span class="divider--vertical--inline"></span>
                <span>Right</span>
            </div>
            {% endset %} {% set language="HTML" %} {%- include
            "includes/preview/preview_box_code.html.jinja" %}
        </section>
    </section>
</section>
{%- endblock %}
