{% extends "base.html.jinja" %}

{% set title = "Figures" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>



{# ----------------------------------------------------------------------------
Figure Default
---------------------------------------------------------------------------- #}
<section class="demo__subsection">
    <h4>Figure Default</h4>
    {% set code_snippet %}
    <figure>
        <img src="https://via.placeholder.com/600x400" alt="Image with title caption">
        <figcaption class="figcaption--title">Figure Title</figcaption>
        <figcaption>Standard description below the image.</figcaption>
    </figure>
    {% endset %}
    {% set language="HTML" %}
    {% include "includes/preview_box_code.html.jinja" %}
</section>

{# ----------------------------------------------------------------------------
Figure Rounded
---------------------------------------------------------------------------- #}
<section class="demo__subsection">
    <h4>Figure Rounded</h4>
    {% set code_snippet %}
    <figure class="figure--rounded">
        <img src="https://via.placeholder.com/600x400" alt="Image with title caption">
        <figcaption class="figcaption--title">Figure Title</figcaption>
        <figcaption>Standard description below the image.</figcaption>
    </figure>
    {% endset %}
    {% set language="HTML" %}
    {% include "includes/preview_box_code.html.jinja" %}
</section>


{# ----------------------------------------------------------------------------
Figure Aspect Ratios
---------------------------------------------------------------------------- #}

{% set aspect_ratios = [
"16x9",
"2x3",
"3x4",
"4x3",
"3x2",
"1x1"
] %}

{% for ratio in aspect_ratios %}
<section class="demo__subsection">
    <h4>Figure Aspect Ratio {{ ratio }}</h4>
    {% set code_snippet %}
    <figure class="figure--rounded">
        <div class="aspect_ratio--{{ ratio }}">
            <img src="https://via.placeholder.com/1280x720" alt="{{ ratio }} Aspect Ratio">
        </div>
        <figcaption class="figcaption--title">Figure Title</figcaption>
        <figcaption>Image constrained to {{ ratio | replace('x', ':') }} ratio using utility class.</figcaption>
    </figure>
    {% endset %}
    {% set language = "HTML" %}
    {% include "includes/preview_box_code.html.jinja" %}
</section>
{% endfor %}

{% endblock content %}
