{% extends "base.html.jinja" %}

{% set title = "Breadcrumb" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__subsection">

        <nav class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/products/shoes">Shoes</a></li>
                <li>Running</li>
            </ul>
        </nav>
    </section>
</section>
{%- endblock %}
