{% extends "base.html.jinja" %}
{% block title %}Spinner Atom Demo{% endblock %}

{% block content %}
<section class="demo__section">

    <header class="demo__section__header">
        <h3>Modals</h3>
    </header>

    <section class="demo__subsection">
    </section>
</section>
{% endblock %}
