{% extends "base.html.jinja" %}

{% set title = "Ribbons" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>

{# -----------------------------------------------------------------------------
Top Ribbon Slots
----------------------------------------------------------------------------- #}

    <section class="demo__subsection">
        <h4>Top Ribbon Slots</h4>
{% set code_snippet %}
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_left">
        Top Ribbon
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_center">
        Top Ribbon
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_right">
        Top Ribbon
    </div>
</div>
{% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>

{# -----------------------------------------------------------------------------
Top Ribbon Navigation Inline
----------------------------------------------------------------------------- #}

    <section class="demo__subsection">
        <h4>Top Ribbon Navigation Inline</h4>
{% set code_snippet %}
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_left">
        <nav id="ribbon__nav" class="ribbon__nav" role="navigation">
            <ul id="ribbon__nav__list" class="ribbon__nav__list">
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Studio</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Stories</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Services</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_center">
        <nav id="ribbon__nav" class="ribbon__nav" role="navigation">
            <ul id="ribbon__nav__list" class="ribbon__nav__list">
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Studio</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Stories</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Services</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_right">
        <nav id="ribbon__nav" class="ribbon__nav" role="navigation">
            <ul id="ribbon__nav__list" class="ribbon__nav__list">
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Studio</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Stories</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Services</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>


{# -----------------------------------------------------------------------------
Top Ribbon Menu Inline
----------------------------------------------------------------------------- #}

<section class="demo__subsection">
    <h4>Top Ribbon Menu Inline</h4>
{% set code_snippet %}
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_left">
        <menu id="ribbon__menu" class="ribbon__menu" role="menubar">
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <a href=""><i class="i i_symbol_swirl_left_02"></i></a>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">☰</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⊞</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⌘</span>
                </button>
            </li>
        </menu>
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_center">
        <menu id="ribbon__menu" class="ribbon__menu" role="menubar">
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <a href=""><i class="i i_symbol_swirl_left_02"></i></a>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">☰</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⊞</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⌘</span>
                </button>
            </li>
        </menu>
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_right">
        <menu id="ribbon__menu" class="ribbon__menu" role="menubar">
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <a href=""><i class="i i_symbol_swirl_left_02"></i></a>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">☰</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⊞</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⌘</span>
                </button>
            </li>
        </menu>
    </div>
</div>
{% endset %}
    {% set language="HTML" %}
    {%- include "includes/preview_box_code.html.jinja" %}
</section>




{# -----------------------------------------------------------------------------
Top Ribbon Forms
----------------------------------------------------------------------------- #}

<section class="demo__subsection">
    <h4>Top Ribbon Slots</h4>
    {% set code_snippet %}
    <div class="ribbon ribbon--top">

        <div class="ribbon__search">
            <form id="ribbon__search__form" class="ribbon__search__form" role="search">
                <button type="submit" id="ribbon__search_button" class="ribbon__search_button">
                    <i class="i i_ui_search"></i>
                </button>
                <input type="text" id="ribbon__search__input" class="ribbon__search__input" placeholder="Search...">
            </form>
        </div>
        
    </div>
    <br>
    <div class="ribbon ribbon--top">
        <div class="ribbon__slot--horizontal_center">

            <div class="ribbon__search">
                <form id="ribbon__search__form" class="ribbon__search__form" role="search">
                    <button type="submit" id="ribbon__search_button" class="ribbon__search_button">
                        <i class="i i_ui_search"></i>
                    </button>
                    <input type="text" id="ribbon__search__input" class="ribbon__search__input" placeholder="Search...">
                </form>
            </div>

        </div>
    </div>
    <br>
    <div class="ribbon ribbon--top">
        <div class="ribbon__slot--horizontal_right">

            <div class="ribbon__search">
                <form id="ribbon__search__form" class="ribbon__search__form" role="search">
                    <button type="submit" id="ribbon__search_button" class="ribbon__search_button">
                        <i class="i i_ui_search"></i>
                    </button>
                    <input type="text" id="ribbon__search__input" class="ribbon__search__input" placeholder="Search...">
                </form>
            </div>

        </div>
    </div>
    {% endset %}
    {% set language="HTML" %}
    {%- include "includes/preview_box_code.html.jinja" %}
</section>








</section>
{%- endblock %}
