{% extends "base.html.jinja" %} {% set title = "Pagination" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {#
    ----------------------------------------------------------------------------
    Active Link Highlighter Test
    ----------------------------------------------------------------------------
    #} {% set section_title = "Active Link Highlighter Test" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        <p>
            Click a page number below. The link matching the current URL
            (including query parameter) will get the
            <code>active</code>
            class automatically via JavaScript.
        </p>
        {% set code_snippet %}
        <ul class="pagination">
            <li><a href="?page=1">&laquo;</a></li>
            <li><a href="?page=1">1</a></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="?page=4">4</a></li>
            <li><a href="?page=4">&raquo;</a></li>
        </ul>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {#
    ----------------------------------------------------------------------------
    Pagination
    ----------------------------------------------------------------------------
    #} {% set section_title = "Pagination" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Disabled & Right-Aligned Pagination" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <ul class="pagination pagination--right">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Pagination Alignment" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <ul class="pagination pagination--left">
            <li><a href="#">Prev</a></li>
            <li><a href="#">10</a></li>
            <li class="active"><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#">Next</a></li>
        </ul>
        <ul class="pagination pagination--center">
            <li><a href="#">Prev</a></li>
            <li><a href="#">10</a></li>
            <li class="active"><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#">Next</a></li>
        </ul>
        <ul class="pagination pagination--right">
            <li><a href="#">Prev</a></li>
            <li><a href="#">10</a></li>
            <li class="active"><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#">Next</a></li>
        </ul>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Pagination Alt" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>
</section>

{%- endblock %}
