{% extends "base.html.jinja" %}

{% set title = "Input Range" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>


    <section class="demo__subsection">

        <div class="demo__group">
            <label class="label" for="slider-default">Default Slider</label>
            <input id="slider-default" class="input--range" type="range" value="50" min="0" max="100" />
        </div>

        <div class="demo__group">
            <label class="label" for="slider-success">Custom: Success Color</label>
            <input id="slider-success" class="input--range" type="range" value="30" min="0" max="100" />
        </div>

        <div class="demo__group">
            <label class="label" for="slider-thin">Custom: Thin Track & Small Thumb</label>
            <input id="slider-thin" class="input--range" type="range" value="70" min="0" max="100" />
        </div>

        <div class="demo__group">
            <label class="label" for="slider-disabled">Disabled Slider</label>
            <input id="slider-disabled" class="input--range" type="range" value="40" min="0" max="100" disabled />
        </div>
    </section>

</section>
{% endblock %}
