{% extends "base.html.jinja" %}

{% block title %}Widget Container{% endblock %}

{% block content %}


<section class="demo__section">

    <header class="demo__section__header">
        <h3>Widget</h3>
    </header>

    <section class="demo__subsection">
        <h4>Widget Base</h4>
        {% set code_snippet %}
        <div class="widget">
            Widget
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    <section class="demo__subsection">
        <h4>Widget Base</h4>
        {% set code_snippet %}
        <div class="widget">
            Widget
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    <section class="demo__subsection">
        <h4>Widget Squared</h4>
        {% set code_snippet %}
        <div class="widget widget--squared">
            Widget
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    <section class="demo__subsection">
        <h4>Widget Rounded</h4>
        {% set code_snippet %}
        <div class="widget widget--rounded">
            Widget
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    <section class="demo__subsection">
        <h4>Widget Pill</h4>
        {% set code_snippet %}
        <div class="widget widget--pill">
            Widget
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

</section>
{% endblock %}
