{% extends "base.html.jinja" %}

{% block title %}Chip Demo{% endblock %}

{% block content %}
<section class="demo__section">
    <header class="demo__section__header">
        <h2>Chip Component</h2>
    </header>

    <div class="demo__subsection">
        <span class="chip">Basic Chip</span>
        <span class="chip">User <img src="https://placekitten.com/32/32" alt="user" /></span>
        <span class="chip">Dismiss <span class="close">&times;</span></span>
    </div>

    <header class="demo__section__header">
        <h2>Chips Input Field</h2>
    </header>

    <div class="demo__subsection">
        <div class="chips">
            <input class="input" type="text" placeholder="Add tags…" />
        </div>
    </div>
</section>
{% endblock %}
