{% extends "base.html.jinja" %}

{% block title %}Ribbon Layout{% endblock %}

{% block content %}


<section class="demo__section">

    <header class="demo__section__header">
        <h3>Ribbons</h3>
    </header>

{# -----------------------------------------------------------------------------
Top Ribbon Slots
----------------------------------------------------------------------------- #}

    <section class="demo__subsection">
        <h4>Top Ribbon Slots</h4>
{% set code_snippet %}
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_left">
        Top Ribbon
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_center">
        Top Ribbon
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_right">
        Top Ribbon
    </div>
</div>
{% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

{# -----------------------------------------------------------------------------
Top Ribbon Navigation Inline
----------------------------------------------------------------------------- #}

    <section class="demo__subsection">
        <h4>Top Ribbon Navigation Inline</h4>
{% set code_snippet %}
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_left">
        <nav id="ribbon__nav" class="ribbon__nav" role="navigation">
            <ul id="ribbon__nav__list" class="ribbon__nav__list">
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Studio</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Stories</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Services</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_center">
        <nav id="ribbon__nav" class="ribbon__nav" role="navigation">
            <ul id="ribbon__nav__list" class="ribbon__nav__list">
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Studio</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Stories</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Services</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_right">
        <nav id="ribbon__nav" class="ribbon__nav" role="navigation">
            <ul id="ribbon__nav__list" class="ribbon__nav__list">
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Studio</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Stories</a>
                </li>
                <li class="ribbon__nav__list__item">
                    <a href="/" class="ribbon__nav__list__item__text">Services</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>




{# -----------------------------------------------------------------------------
Top Ribbon Menu Inline
----------------------------------------------------------------------------- #}

<section class="demo__subsection">
    <h4>Top Ribbon Menu Inline</h4>
{% set code_snippet %}
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_left">
        <menu id="ribbon__menu" class="ribbon__menu" role="menubar">
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <a href=""><i class="i i_symbol_swirl_left_02"></i></a>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">☰</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⊞</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⌘</span>
                </button>
            </li>
        </menu>
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_center">
        <menu id="ribbon__menu" class="ribbon__menu" role="menubar">
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <a href=""><i class="i i_symbol_swirl_left_02"></i></a>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">☰</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⊞</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⌘</span>
                </button>
            </li>
        </menu>
    </div>
</div>
<br>
<div class="ribbon ribbon--top">
    <div class="ribbon__slot--horizontal_right">
        <menu id="ribbon__menu" class="ribbon__menu" role="menubar">
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <a href=""><i class="i i_symbol_swirl_left_02"></i></a>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">☰</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⊞</span>
                </button>
            </li>
            <li class="ribbon__menu__item">
                <button class="ribbon__button">
                    <span class="i">⌘</span>
                </button>
            </li>
        </menu>
    </div>
</div>
{% endset %}
    {% set language="HTML" %}
    {% include "includes/preview_box_code.html.jinja" %}
</section>












</section>
{% endblock %}
