{% extends "base.html.jinja" %}
{% block title %}Tooltip Demo{% endblock %}

{% block content %}
<section class="demo__section">
    <h1>Tooltip Demo</h1>

    <p>
        Hover over the items below to see the tooltips in action:
    </p>

    <ul class="tooltip-demo-list">
        <li>
            <span class="tooltip" tooltip-data="I appear on the right!">Tooltip Right</span>
        </li>
        <li>
            <span class="tooltip tooltip--top" tooltip-data="This one's on top!">Tooltip Top</span>
        </li>
    </ul>
</section>
{% endblock %}
