{% extends "base.html.jinja" %}

{% set title = "Badge" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <p>Documentation and examples for badges.</p>


    {% set section_title = "Default Badge" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p>I am a <span class="badge">Default</span> Badge.</p>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Square Badges" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p>
            <span class="badge">Default</span>
            <span class="badge accent">Accent</span>
            <span class="badge info squared">Info</span>
            <span class="badge success squared">Success</span>
            <span class="badge warning squared">Warning</span>
            <span class="badge error squared">Error</span>
        </p>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>



    {% set section_title = "Rounded Badges" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p>
            <span class="badge rounded">Default</span>
            <span class="badge accent rounded">Accent</span>
            <span class="badge info rounded">Info</span>
            <span class="badge success rounded">Success</span>
            <span class="badge warning rounded">Warning</span>
            <span class="badge error rounded">Error</span>
        </p>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>


    {% set section_title = "Pill Badges" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p>
            <span class="badge pill">Default</span>
            <span class="badge accent pill">Accent</span>
            <span class="badge info pill">Info</span>
            <span class="badge success pill">Success</span>
            <span class="badge warning pill">Warning</span>
            <span class="badge error pill">Error</span>
        </p>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>


    {% set section_title = "Badge Sizes" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <p><span class="badge">Paragraph</span></p>
        <h1><span class="badge">Header 1</span></h1>
        <h2><span class="badge">Header 2</span></h2>
        <h3><span class="badge">Header 3</span></h3>
        <h4><span class="badge">Header 4</span></h4>
        <h5><span class="badge">Header 5</span></h5>
        <h6><span class="badge">Header 6</span></h6>
        <span class="badge xs">Extra Small</span>
        <span class="badge sm">Small</span>
        <span class="badge md">Medium</span>
        <span class="badge lg">Large</span>
        <span class="badge xl">Extra Large</span>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>


</section>
{%- endblock %}
