{% extends "base.html.jinja" %}

{% set title = "Tooltip" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>




    {# ----------------------------------------------------------------------------
    Tooltip Top
    ---------------------------------------------------------------------------- #}

    <section class="demo__subsection">
        <h4>Tooltip Top</h4>
        {% set code_snippet %}
        <div class="tooltip tooltip--top" tooltip-data="Tooltip on top">
            Hover me (Top)
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    {# ----------------------------------------------------------------------------
    Tooltip Right
    ---------------------------------------------------------------------------- #}

    <section class="demo__subsection">
        <h4>Tooltip Right</h4>
        {% set code_snippet %}
        <div class="tooltip tooltip--right" tooltip-data="Tooltip on right">
            Hover me (Right)
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    {# ----------------------------------------------------------------------------
    Tooltip Bottom
    ---------------------------------------------------------------------------- #}

    <section class="demo__subsection">
        <h4>Tooltip Bottom</h4>
        {% set code_snippet %}
        <div class="tooltip tooltip--bottom" tooltip-data="Tooltip on bottom">
            Hover me (Bottom)
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    {# ----------------------------------------------------------------------------
    Tooltip Left
    ---------------------------------------------------------------------------- #}

    <section class="demo__subsection">
        <h4>Tooltip Left</h4>
        {% set code_snippet %}
        <div class="tooltip tooltip--left" tooltip-data="Tooltip on left">
            Hover me (Left)
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    {# ----------------------------------------------------------------------------
    Tooltip Static Top
    ---------------------------------------------------------------------------- #}
    <section class="demo__subsection">
        <h4>Tooltip Static Top</h4>
        {% set code_snippet %}
        <div class="tooltip tooltip--top tooltip--static" tooltip-data="Always visible (Top)">
            Static Top Tooltip
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    {# ----------------------------------------------------------------------------
    Tooltip Static Right
    ---------------------------------------------------------------------------- #}
    <section class="demo__subsection">
        <h4>Tooltip Static Right</h4>
        {% set code_snippet %}
        <div class="tooltip tooltip--right tooltip--static" tooltip-data="Always visible (Right)">
            Static Right Tooltip
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    {# ----------------------------------------------------------------------------
    Tooltip Static Bottom
    ---------------------------------------------------------------------------- #}
    <section class="demo__subsection">
        <h4>Tooltip Static Bottom</h4>
        {% set code_snippet %}
        <div class="tooltip tooltip--bottom tooltip--static" tooltip-data="Always visible (Bottom)">
            Static Bottom Tooltip
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

    {# ----------------------------------------------------------------------------
    Tooltip Static Left
    ---------------------------------------------------------------------------- #}
    <section class="demo__subsection">
        <h4>Tooltip Static Left</h4>
        {% set code_snippet %}
        <div class="tooltip tooltip--left tooltip--static" tooltip-data="Always visible (Left)">
            Static Left Tooltip
        </div>
        {% endset %}
        {% set language="HTML" %}
        {% include "includes/preview_box_code.html.jinja" %}
    </section>

</section>
{% endblock%}
