{% extends "base.html.jinja" %} {% set title = "Nav" %} {%- block title %}{{
title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__subsection">
        <nav>
            <ul class="nav-list">
                {% for item in [ { 'title': 'A', 'href': 'a.html' }, { 'title':
                'B', 'href': 'b.html' }, { 'title': 'C', 'href': 'c.html' }, {
                'title': 'Buttons', 'href': 'buttons.html' }, { 'title':
                'Everything', 'href': 'everything.html' } ] %}
                <li><a href="{{ item.href }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </section>
</section>
{%- endblock %}
