{% extends "base.html.jinja" %} {% set title = "Portfolio" %} {%- block title
%}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set image_url =
    "https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&w=1470&q=80"
    %} {% set section_title = "Portfolio" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        {% set code_snippet %}
        <div class="portfolio" id="galleryImages">
            {% for _ in range(9) %}
            <figure class="portfolio--item">
                <img src="{{ image_url }}" class="animate_fade" />
            </figure>
            {% endfor %}
        </div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview_box_code.html.jinja" %}
    </section>
</section>
{%- endblock %}
