{% extends "base.html.jinja" %}

{% block title %}...{% endblock %}

{% block content %}


<section class="demo__section">

    <header class="demo__section__header">
        <h2>...</h2>
    </header>
    <div class="demo__subsection">

    </div>
</section>

{% endblock %}
