{% extends "base.html.jinja" %}
{% block title %}Spinner Atom Demo{% endblock %}

{% block content %}
<section class="demo__section">

    <header class="demo__section__header">
        <h3>Spinners</h3>
    </header>

    <section class="demo__subsection">

        <div class="spinner-demo">
            <div class="spinner spinner--sm"></div>
            <div class="spinner spinner--md"></div>
            <div class="spinner spinner--lg"></div>
        </div>
    </section>
</section>
{% endblock %}
