{% extends "base.html.jinja" %}
{% block title %}Buttons{% endblock %}

{% block content %}

<article>
    <h3>Checkbox - Switch Buttons</h3>
    <!-- Rectangular switch -->
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>

    <!-- Rounded switch -->`
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</article>

<article>
    <h3>Select - Custom Select</h3>
    <!-- Surround the select box within a "custom-select" DIV element.
    Remember to set the width: -->
    <div class="custom-select" style="width:200px;">
        <select>
            <option value="0">Select car:</option>
            <option value="1">Audi</option>
            <option value="2">BMW</option>
            <option value="3">Citroen</option>
            <option value="4">Ford</option>
            <option value="5">Honda</option>
            <option value="6">Jaguar</option>
            <option value="7">Land Rover</option>
            <option value="8">Mercedes</option>
            <option value="9">Mini</option>
            <option value="10">Nissan</option>
            <option value="11">Toyota</option>
            <option value="12">Volvo</option>
        </select>
    </div>
</article>




<article>
    <h2>Primary Button</h2>
    <button class="">Primary</button>
</article>
<article>
    <h2>Large Button</h2>
    <button class="button_large">Large</button>
</article>
<article>
    <h2>Small Button</h2>
    <button class="button_small">Small</button>
</article>
<article>
    <h2>Tiny Button</h2>
    <button class="button_tiny">Tiny</button>
</article>
<article>
    <h2>Disabled Button</h2>
    <button class="" disabled>Disabled</button>
</article>




{% endblock content %}
