{% extends "base.html.jinja" %}

{% set title = "Color" %}
{% set header_id = "color" %}
{% set header_name = "Color" %}

{% block content %}
{% include "sections/section_color_table.html.jinja" %}
{% endblock content %}
