{% extends "base.html.jinja" %}

{% block title %}Font Demo{% endblock %}

{% block content %}

<section class="font_default">

    <h1>Font Size Utility Classes</h1>

    {% for i in range(1, 13) %}
    {% if i < 10 %} {% set padded='0' ~ i %} {% else %} {% set padded=i %} {% endif %} <div
        class="font_preview font_size_{{ padded }}">
        <span class="label">.font_size_{{ padded }}</span>
        The quick brown fox jumps over the lazy dog.
        </div>
        {% endfor %}

        <hr>

        <h2>Semantic Sizes</h2>

        <div class="font_preview font_extra_small"><span class="label">.font_xs / .font_extra_small</span>The quick
            brown fox</div>
        <div class="font_preview font_small"><span class="label">.font_sm / .font_small</span>The quick brown fox</div>
        <div class="font_preview font_medium"><span class="label">.font_md /.font_medium</span>The quick brown fox</div>
        <div class="font_preview font_large"><span class="label">.font_lg / .font_large</span>The quick brown fox</div>
        <div class="font_preview font_extra_large"><span class="label">.font_xl / .font_extra_large</span>The quick
            brown fox</div>


</section>


{% endblock %}
