{% extends "base.html.jinja" %}

{% block title %}Font Demo{% endblock %}

{% block content %}

<header>
    <h1>Font Weight Utility Classes</h1>
    <p>These examples demonstrate utility classes from <code>.font_weight_100</code> to <code>.font_weight_900</code>.
    </p>
</header>

<section class="font_default">
    <h2>Font Default</h2>

    <div class="">
        {% for i in range(1, 10) %}
        {% set weight = i ~ "00" %}
        <div class="font_preview font_weight_{{ weight }}">
            <span class="label">.font_weight_{{ weight }}</span><br>
            The quick brown fox jumps over the lazy dog.
        </div>
        {% endfor %}
    </div>
</section>

<section class="font_sans">
    <h2>Font Sans</h2>


    <div class="">
        {% for i in range(1, 10) %}
        {% set weight = i ~ "00" %}
        <div class="font_preview font_weight_{{ weight }}">
            <span class="label">.font_weight_{{ weight }}</span><br>
            The quick brown fox jumps over the lazy dog.
        </div>
        {% endfor %}
    </div>
</section>

<section class="font_serif">
    <h2>Font Serif</h2>


    <div class="">
        {% for i in range(1, 10) %}
        {% set weight = i ~ "00" %}
        <div class="font_preview font_weight_{{ weight }}">
            <span class="label">.font_weight_{{ weight }}</span><br>
            The quick brown fox jumps over the lazy dog.
        </div>
        {% endfor %}
    </div>
</section>

<section class="font_slab">
    <h2>Font Slab</h2>


    <div class="">
        {% for i in range(1, 10) %}
        {% set weight = i ~ "00" %}
        <div class="font_preview font_weight_{{ weight }}">
            <span class="label">.font_weight_{{ weight }}</span><br>
            The quick brown fox jumps over the lazy dog.
        </div>
        {% endfor %}
    </div>
</section>

<section class="font_mono">
    <h2>Font Mono</h2>


    <div class="">
        {% for i in range(1, 10) %}
        {% set weight = i ~ "00" %}
        <div class="font_preview font_weight_{{ weight }}">
            <span class="label">.font_weight_{{ weight }}</span><br>
            The quick brown fox jumps over the lazy dog.
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
