<!-- templates/includes/forms.html.jinja -->
{% extends "base.html.jinja" %}
{% block title %}Buttons{% endblock %}

{% block content %}
<section id="forms">
    <h2>Forms</h2>
    <form method="post">
        <fieldset>
            <legend>Survey</legend>
            <p>Radio: <label><input type="radio" name="opt" value="yes" /> Yes</label>
                <label><input type="radio" name="opt" value="no" /> No</label>
            </p>
            <p><label class="label">Name:</label>
                <input type="text" name="name" class="input" />
            </p>
            <p>Deprecated: <label><input type="checkbox" name="dep" value="marquee" /> Marquee</label>
                <label><input type="checkbox" name="test" value="disabled" disabled /> Disabled</label>
            </p>
            <p><label class="label">Favorite: </label>
                <select name="fav">
                    <optgroup label="Group">
                        <option value="div">div</option>
                        <option value="p">p</option>
                        <option value="article">article</option>
                    </optgroup>
                </select>
            </p>
            <p><label>Comments:<textarea name="comments" rows="3" class="input"></textarea></label></p>
            <p>Progress: <progress value="50" max="100"></progress></p>
            <p>Meter: <meter value="0.7">70%</meter></p>
            <p>Range Slider: <input type="range"></p>
            <p><button type="submit">Submit</button> <button type="reset">Reset</button></p>
        </fieldset>
    </form>
</section>

{% endblock content %}
