{% extends "base.html.jinja" %}

{% set title = "Grids" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>

    <section class="demo__subsection" data-label="Grid Layouts" data-level="2">
            <h3>Grid Layouts</h3>

            {% set cols = 2 %}
            {% set rows = 2 %}
            {% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
            {% include "includes/preview_box_grid_layout.html.jinja" %}

            {% set cols = 3 %}
            {% set rows = 4 %}
            {% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
            {% include "includes/preview_box_grid_layout.html.jinja" %}

            {% set cols = 4 %}
            {% set rows = 4 %}
            {% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
            {% include "includes/preview_box_grid_layout.html.jinja" %}

            {% set cols = 6 %}
            {% set rows = 4 %}
            {% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
            {% include "includes/preview_box_grid_layout.html.jinja" %}

            {% set cols = 8 %}
            {% set rows = 4 %}
            {% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
            {% include "includes/preview_box_grid_layout.html.jinja" %}


            {% set cols = 12 %}
            {% set rows = 8 %}
            {% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
            {% include "includes/preview_box_grid_layout.html.jinja" %}

            {% set cols = 24 %}
            {% set rows = 8 %}
            {% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
            {% include "includes/preview_box_grid_layout.html.jinja" %}

    </section>

    <section class="demo__subsection" data-label="Grid Flex" data-level="2">
        <h3>Grid Flex</h3>
        <header class="demo__section__header">
            <h4>Grid Flex </h4>
        </header>
            <div class="grid__frame--flex grid--placeholder">
                <div>A1</div>
                <div>B1</div>
                <div>C1</div>
                <div>D1</div>
                <div>E1</div>
                <div>F1</div>
                <div>G1</div>
                <div>H1</div>
                <div>I1</div>
                <div>J1</div>
                <div>K1</div>
                <div>L1</div>
                <div>A2</div>
                <div>B2</div>
                <div>C2</div>
                <div>D2</div>
                <div>E2</div>
                <div>F2</div>
                <div>G2</div>
                <div>H2</div>
                <div>I2</div>
                <div>J2</div>
                <div>K2</div>
                <div>L2</div>
                <div>A3</div>
                <div>B3</div>
                <div>C3</div>
                <div>D3</div>
                <div>E3</div>
                <div>F3</div>
                <div>G3</div>
                <div>H3</div>
                <div>I3</div>
                <div>J3</div>
                <div>K3</div>
                <div>L3</div>
                <div>A4</div>
                <div>B4</div>
                <div>C4</div>
                <div>D4</div>
                <div>E4</div>
                <div>F4</div>
                <div>G4</div>
                <div>H4</div>
                <div>I4</div>
                <div>J4</div>
                <div>K4</div>
                <div>L4</div>
                <div>A5</div>
                <div>B5</div>
                <div>C5</div>
                <div>D5</div>
                <div>E5</div>
                <div>F5</div>
                <div>G5</div>
                <div>H5</div>
                <div>I5</div>
                <div>J5</div>
                <div>K5</div>
                <div>L5</div>
                <div>A6</div>
                <div>B6</div>
                <div>C6</div>
                <div>D6</div>
                <div>E6</div>
                <div>F6</div>
                <div>G6</div>
                <div>H6</div>
                <div>I6</div>
                <div>J6</div>
                <div>K6</div>
                <div>L6</div>
                <div>A7</div>
                <div>B7</div>
                <div>C7</div>
                <div>D7</div>
                <div>E7</div>
                <div>F7</div>
                <div>G7</div>
                <div>H7</div>
                <div>I7</div>
                <div>J7</div>
                <div>K7</div>
                <div>L7</div>
                <div>A8</div>
                <div>B8</div>
                <div>C8</div>
                <div>D8</div>
                <div>E8</div>
                <div>F8</div>
                <div>G8</div>
                <div>H8</div>
                <div>I8</div>
                <div>J8</div>
                <div>K8</div>
                <div>L8</div>
            </div>
        <code>
                .grid__frame--flex
        </code>

    </section>


    <section class="demo__subsection" data-label="Grid Clean" data-level="2">
            <h3>Grid Clean</h3>
{% set cols = 24 %}
{% set rows = 8 %}
{% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
{% include "includes/preview_box_grid_clean.html.jinja" %}
</section>




</section>
{% endblock content %}
