{% extends "base.html.jinja" %}

{% block title %}Design System Index{% endblock %}

{% block content %}

<section class="main_content_section_header col_24">
    <h1>Stylescape Index</h1>
    <br>
    <p class="lead">Explore components, layout utilities, tokens, and design primitives used throughout the
        system.
    </p>

    <input type="search" placeholder="🔍 Search components..." class="search-input" oninput="filterSections(this.value)"
        style="margin-top: var(_space-md); width: 100%; padding: var(_space-sm);" />

</section>



<section class="demo__section">
    <header class="demo__section__header">
        <h3>00. Head</h3>
    </header>
    <section class="demo__subsection" data-group="layout">
        <h4>00.00. Layout & Utilities</h4>
        <ul>
            <li><a href="head_grid.html">Grid</a> <small>- Responsive Columns, Gutters</small></li>
            <li><a href="spacing.html">Spacing</a> <small>- Margin, Padding, Gaps</small></li>
            <li><a href="visibility.html">Visibility</a> <small>- Show/Hide, Screen Sizes</small></li>
            <li><a href="test_layout_aside.html">Test Layout Aside</a> <small>- Test Full Layout With Aside Menus and a Canvas</small></li>
            <li><a href="test_layers.html">Test Layers</a> <small>- Test Layers</small></li>
        </ul>
    </section>
</section>



<section class="demo__section">
    <header class="demo__section__header">
        <h3>00. Soul</h3>
    </header>
    <section class="demo__subsection" data-group="typography">
        <h4>00.00. Typography</h4>
        <small>Headings, Paragraphs, Small Text</small>
        <ul>
            <li><a href="soul_type_font_default.html">Font Default</a> <small>- Font Defaults</small></li>
            <li><a href="soul_type_font_size.html">Font Sizes</a> <small>- Font Sizes</small></li>
            <li><a href="soul_type_font_weight.html">Font Weights</a> <small>- Font Weights</small></li>
            <li><a href="soul_type_font_letter_spacing.html">Font Spacing</a> <small>- Font Spacing</small></li>
            <li><a href="soul_type_character.html">Character</a> <small>- Character</small></li>
            <li><a href="soul_type_character_semantic.html">Character | Semantic</a> <small>- Character</small></li>
            <li><a href="soul_type_paragraph_heading.html">Paragraph Headings</a> <small>- Paragraph Headings</small>
            <li><a href="soul_type_paragraph_lorem.html">Lorem Ipsum</a> <small>- ...</small>
            </li>
            <li><a href="soul_type_paragraph_list.html">Paragraph Lists</a> <small>- Paragraph Lists</small></li>
        </ul>
    </section>

    <section class="demo__subsection" data-group="color">
        <h4>00.00. Color</h4>
        <ul>
            <li><a href="soul_color_palette.html">Color Palette</a> <small>- Niji Palette</small></li>
            <li><a href="soul_color_system.html">Color System</a> <small>- Themes, Tokens, Contrast</small></li>
        </ul>
    </section>
</section>




<section class="demo__section">
    <header class="demo__section__header">
        <h3>00. Body</h3>
    </header>
    <section class="demo__subsection" data-group="atoms">
        <h4>00.00. Atoms</h4>
        <ul>
            <ul>
                <h6>00.00.00. Atoms / Primitive</h6><small>- Layout & Basic Primitives</small>
                <li><a href="body_atom_box.html">Box</a> <small>- Fixed-size containers for layout and spacing</small></li>
                <li><a href="body_atom_icon.html">Icons</a> <small>- SVG, Sizes, Colors</small></li>
                <li><a href="body_atom_divider.html">Divider</a> <small>- Thin lines to visually separate content</small></li>
            </ul>
            <ul>
                <h6>00.00.00. Atoms / Input</h6>
                <li><a href="body_atom_input_label.html">Label</a> <small>- Text labels for inputs or content blocks</small></li>
                <li><a href="body_atom_input.html">Input</a> <small>- Form fields for text, number, and more</small></li>
                <li><a href="body_atom_input_slider.html">Slider</a> <small>- </small></li>
            </ul>
            <ul>
                <h6>00.00.00. Atoms / Status</h6>
                <li><a href="body_atom_status_progress.html">Progress</a> <small>- ...</small></li>
                <li><a href="body_atom_status_spinner.html">Spinner</a> <small>- Loading indicators</small></li>
            </ul>
            <li><a href="body_atom_button.html">Button</a> <small>- Clickable action triggers</small></li>
            <li><a href="body_atom_badge.html">Badge</a> <small>- Inline indicators for status or count</small></li>
            <li><a href="body_atom_tooltip.html">Tooltip</a> <small>- Hoverable hints or contextual help</small></li>
            <li><a href="body_atom_interactive.html">Interactives</a> <small>- ...</small></li>
        </ul>
    </section>
    <section class="demo__subsection" data-group="molecules">
        <h4>00.00. Molecules</h4>
        <ul>
            <li><a href="body_molecule_accordion.html">Accordion</a> <small>...</small></li>
            <li><a href="body_molecule_address.html">Address</a> <small>- Address</small></li>
            <li><a href="body_molecule_breadcrumb.html">Breadcrumb</a> <small>...</small></li>
            <li><a href="body_molecule_cards.html">Cards</a> <small>- Elevated, Image, Content</small></li>
            <li><a href="body_molecule_carousel.html">Carousel</a> <small>...</small></li>
            <li><a href="body_molecule_chip.html">Chip</a> <small>...</small></li>
            <li><a href="body_molecule_cookie.html">Cookie</a> <small>...</small></li>
            <li><a href="body_molecule_cover.html">Cover</a> <small>...</small></li>
            <li><a href="body_molecule_forms.html">Forms</a> <small>- Inputs, Checkboxes, Radios</small></li>
            <li><a href="body_molecule_hero.html">Hero</a> <small>...</small></li>
            <li><a href="body_molecule_icon_bar.html">Icon Bar</a> <small>...</small></li>
            <li><a href="body_molecule_iframe.html">IFrame</a> <small>...</small></li>
            <li><a href="body_molecule_modals.html">Modals</a> <small>- Dialog, Slide, Overlay</small></li>
            <li><a href="body_molecule_nav.html">Nav</a> <small>- Navigation</small></li>
            <li><a href="body_molecule_pagination.html">Pagination</a> <small>...</small></li>
            <li><a href="body_molecule_placeholder.html">Placeholder</a> <small>...</small></li>
            <li><a href="body_molecule_popover.html">Popover</a> <small>...</small></li>
            <li><a href="body_molecule_preview.html">Preview</a> <small>...</small></li>
            <li><a href="body_molecule_slideshow.html">Slideshow</a> <small>...</small></li>
            <li><a href="body_molecule_social.html">Social</a> <small>...</small></li>
            <li><a href="body_molecule_summary.html">Summary</a> <small>...</small></li>
            <li><a href="body_molecule_tables.html">Tables</a> <small>...</small></li>
            <li><a href="body_molecule_toast.html">Toast</a> <small>...</small></li>
            <li><a href="body_molecule_toc.html">TOC</a> <small>...</small></li>
            <li><a href="body_molecule_vcard.html">VCard</a> <small>...</small></li>
        </ul>
    </section>
    <section class="demo__subsection" data-group="organisms">
        <h4>00.00. Organisms</h4>
        <ul>
            <li><a href="body_organisms_ribbon.html">Ribbons</a> <small>- Ribbons</small></li>
            <li><a href="body_organisms_widget.html">Widget</a> <small>- Widgets</small></li>
        </ul>
    </section>

</section>


<script>
    function filterSections(query) {
        const q = query.toLowerCase();
        document.querySelectorAll("section").forEach(section => {
            const text = section.textContent.toLowerCase();
            section.style.display = text.includes(q) ? "block" : "none";
        });
    }
</script>
{% endblock %}
