{% extends "base.html.jinja" %}

{% block title %}Ribbon Layout Demo{% endblock %}

{% block content %}
<style>
    .ribbon_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }
</style>
<div class="layout__grid--screen">

    <section class="ribbon_container ribbon_container--top ">
        <div class="ribbon ribbon--top">Top Ribbon</div>
    </section>

    <section class="ribbon_container ribbon_container--bottom ">
        <div class="ribbon ribbon--bottom">Bottom Ribbon</div>
    </section>

    <section class="ribbon_container ribbon_container--left ">
        <div class="ribbon ribbon--left">Left Ribbon</div>
    </section>

    <section class="ribbon_container ribbon_container--right ">
        <div class="ribbon ribbon--right">Right Ribbon</div>
    </section>


</div>
{% endblock %}
