{% extends "base.html.jinja" %} {% set title = "Object | Border" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Demo Code" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
        <div></div>
        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview_box_code.html.jinja" %}
    </section>
</section>

{%- endblock content %}
