{% extends "base.html.jinja" %} {% set title = "Character styles" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__section">
        <div class="font-preview-controls">
            <label for="font-preview-input">Preview text:</label>
            <input
                id="font-preview-input"
                type="text"
                placeholder="The quick brown fox…"
            />
        </div>
    </section>

    {% set section_title = "Base Character Styles" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>

        {% set label = ".character_default" %} {% set class =
        "character_default" %}
        <div class="demo__subsection">
            {%- include "includes/preview_box_font.html.jinja" %}
        </div>

        {% set label = ".character_normal" %} {% set class = "character_normal"
        %}
        <div class="demo__subsection">
            {%- include "includes/preview_box_font.html.jinja" %}
        </div>

        {% set label = ".character_italic" %} {% set class = "character_italic"
        %}
        <div class="demo__subsection">
            {%- include "includes/preview_box_font.html.jinja" %}
        </div>

        {% set label = ".character_bold" %} {% set class = "character_bold" %}
        <div class="demo__subsection">
            {%- include "includes/preview_box_font.html.jinja" %}
        </div>

        {% set label = ".character_code" %} {% set class = "character_code" %}
        <div class="demo__subsection">
            {%- include "includes/preview_box_font.html.jinja" %}
        </div>

        {% set label = ".character_initial" %} {% set class =
        "character_initial" %}
        <div class="demo__subsection">
            {%- include "includes/preview_box_font.html.jinja" %}
        </div>

        {% set label = ".character_inherit" %} {% set class =
        "character_inherit" %}
        <div class="demo__subsection">
            {%- include "includes/preview_box_font.html.jinja" %}
        </div>

        {% set label = ".character_unset" %} {% set class = "character_unset"
        %}
        <div class="demo__subsection">
            {%- include "includes/preview_box_font.html.jinja" %}
        </div>
    </section>
</section>

{%- endblock %}
