{% extends "base.html.jinja" %}

{% block title %}Font Demo{% endblock %}

{% block content %}

<section class="demo__section">
    <div class="font-preview-controls">
        <label for="font-preview-input">Preview text:</label>
        <input id="font-preview-input" type="text" placeholder="The quick brown fox…" />
    </div>
</section>

<!-- Preview Block -->
<section class="demo__section">
    <header class="demo__section__header">
        <h3>Variants Classes</h3>
    </header>
    <section class="demo__subsection">

        <div class="preview_box--vertical">
            <div class="preview_box__live">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
            <div class="preview_box__info">
                <small>HTML</small>
                <button class="preview_box__copy_button" onclick="copyToClipboard(this)">
                    Copy
                </button>
            </div>
            <div class="preview_box__code">
                <pre>
                    <code>
                        &lt;h1&gt;The quick brown fox jumps over the lazy dog.&lt;/h1&gt;
                    </code>
                </pre>
            </div>
        </div>

    </section>
</section>




<section class="demo__section">
    <header class="demo__section__header">
        <h3>Main Variants</h3>
    </header>

    {% set fonts = [
    { label: "Sans", family: "sans-serif" },
    { label: "Mono", family: "monospace" },
    { label: "Serif", family: "serif" }
    ] %}
    {% for font in fonts %}
    {% set label = font.label %}
    {% set family = font.family %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>
    {% endfor %}
</section>



<section class="demo__section">

    <header class="demo__section__header">
        <h3>Variants Classes</h3>
    </header>

    {% set fonts = [
    { label: ".font--default", class: "font--default" },
    { label: ".font--sans", class: "font--sans" },
    { label: ".font--serif", class: "font--serif" },
    { label: ".font--slab", class: "font--slab" },
    { label: ".font--mono", class: "font--mono" }

    ] %}

    {% for font in fonts %}
    {% set label = font.label %}
    {% set class = font.class %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>
    {% endfor %}

</section>




{% endblock %}
