{% extends "base.html.jinja" %} {% set title = "Color System" %} {%- block
title %}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__subsection">
        <h4>Light Theme</h4>

        <h6>Light Theme | Text</h6>
        <div class="grid__frame--8 theme-panel theme-light">
            {% for name in [ 'text_primary', 'text_secondary', 'text_tertiary'
            ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Light Theme | Line</h6>
        <div class="grid__frame--8 theme-panel theme-light">
            {% for name in [ 'line_primary', 'line_secondary', 'line_tertiary'
            ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Light Theme | Fill</h6>
        <div class="grid__frame--8 theme-panel theme-light">
            {% for name in [ 'fill_primary', 'fill_secondary', 'fill_tertiary'
            ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Light Theme | Accent</h6>
        <div class="grid__frame--8 theme-panel theme-light">
            {% for name in [ 'accent_primary', 'accent_secondary',
            'accent_tertiary' ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Light Theme | State</h6>
        <div class="grid__frame--8 theme-panel theme-light">
            {% for name in [ 'state_visited', 'state_focus', 'state_hover',
            'state_active', 'state_link', 'state_enabled', 'state_disabled',
            'state_current', 'state_checked', 'state_invalid', 'state_muted' ]
            %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Light Theme | Log</h6>
        <div class="grid__frame--8 theme-panel theme-light">
            {% for name in [ 'log_trace', 'log_debug', 'log_success',
            'log_info', 'log_notice', 'log_warning', 'log_audit', 'log_error',
            'log_security', 'log_critical', 'log_alert', 'log_emergency' ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="demo__subsection">
        <h4>Dark Theme</h4>

        <h6>Dark Theme | Text</h6>
        <div class="grid__frame--8 theme-panel theme-dark">
            {% for name in [ 'text_primary', 'text_secondary', 'text_tertiary'
            ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Dark Theme | Line</h6>
        <div class="grid__frame--8 theme-panel theme-dark">
            {% for name in [ 'line_primary', 'line_secondary', 'line_tertiary'
            ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Dark Theme | Fill</h6>
        <div class="grid__frame--8 theme-panel theme-dark">
            {% for name in [ 'fill_primary', 'fill_secondary', 'fill_tertiary'
            ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Dark Theme | Accent</h6>
        <div class="grid__frame--8 theme-panel theme-dark">
            {% for name in [ 'accent_primary', 'accent_secondary',
            'accent_tertiary' ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Dark Theme | State</h6>
        <div class="grid__frame--8 theme-panel theme-dark">
            {% for name in [ 'state_visited', 'state_focus', 'state_hover',
            'state_active', 'state_link', 'state_enabled', 'state_disabled',
            'state_current', 'state_checked', 'state_invalid', 'state_muted' ]
            %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>

        <h6>Dark Theme | Log</h6>
        <div class="grid__frame--8 theme-panel theme-dark">
            {% for name in [ 'log_trace', 'log_debug', 'log_success',
            'log_info', 'log_notice', 'log_warning', 'log_audit', 'log_error',
            'log_security', 'log_critical', 'log_alert', 'log_emergency' ] %}
            <div class="preview_box__swatch">
                <div
                    class="preview_box__swatch__color"
                    style="background-color: var(--color_{{ name }})"
                ></div>
                <code class="preview_box__swatch__code">
                    --color_{{ name }}
                </code>
            </div>
            {% endfor %}
        </div>
    </section>
</section>
{%- endblock %}
