{% extends "base.html.jinja" %}

{% set title = "Paragraph Headings" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>




<hgroup>
    {% for level in range(1,7) %}
    <h{{ level }}>Heading level {{ level }}</h{{ level }}>
    {% endfor %}
</hgroup>





<section class="col--24">
    <article>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
    </article>
    <article>
        <h1>Heading One</h1>
        <p>
            This is a paragraph of text that should be long enough to wrap. If not, we can repeat it over and over again
            until it does wrap. This is a paragraph of text that should be long enough to wrap. If not, we can repeat it
            over and over again until it does wrap. This is a paragraph of text that should be long enough to wrap.
        </p>
    </article>
    <article>
        <h2>Heading Two</h2>
        <p>
            This is a paragraph of text that should be long enough to wrap. If not, we can repeat it over and over again
            until it does wrap. This is a paragraph of text that should be long enough to wrap. If not, we can repeat it
            over and over again until it does wrap. This is a paragraph of text that should be long enough to wrap.
        </p>
    </article>
    <article>
        <h3>Heading Three</h3>
        <p>
            This is a paragraph of text that should be long enough to wrap. If not, we can repeat it over and over again
            until it does wrap. This is a paragraph of text that should be long enough to wrap. If not, we can repeat it
            over and over again until it does wrap. This is a paragraph of text that should be long enough to wrap.
        </p>
    </article>
    <article>
        <h4>Heading Four</h4>
        <p>
            This is a paragraph of text that should be long enough to wrap. If not, we can repeat it over and over again
            until it does wrap. This is a paragraph of text that should be long enough to wrap. If not, we can repeat it
            over and over again until it does wrap. This is a paragraph of text that should be long enough to wrap.
        </p>
    </article>
    <article>
        <h5>Heading Five</h5>
        <p>
            This is a paragraph of text that should be long enough to wrap. If not, we can repeat it over and over again
            until it does wrap. This is a paragraph of text that should be long enough to wrap. If not, we can repeat it
            over and over again until it does wrap. This is a paragraph of text that should be long enough to wrap.
        </p>
    </article>
    <article>
        <h6>Heading Six</h6>
        <p>
            This is a paragraph of text that should be long enough to wrap. If not, we can repeat it over and over again
            until it does wrap. This is a paragraph of text that should be long enough to wrap. If not, we can repeat it
            over and over again until it does wrap. This is a paragraph of text that should be long enough to wrap.
        </p>
    </article>
</section>


<h1>Primary header</h1>
<h2>Secondary header</h2>
<h3>Tertiary header</h3>
<h4>Quaternary header</h4>
<h5>Quinary header</h5>
<h6>Senary header</h6>

<h1>Primary header <small class="subtitle">That means first</small></h1>
<h2>Secondary header <small class="subtitle">That means second</small></h2>
<h3>Tertiary header <small class="subtitle">That means third</small></h3>
<h4>Quaternary header <small class="subtitle">That means fourth</small></h4>
<h5>Quinary header <small class="subtitle">That means fifth</small></h5>
<h6>Senary header <small class="subtitle">That means sixth</small></h6>


</section>
{%- endblock %}
