{% extends "base.html.jinja" %} {% set title = "Lines" %} {%- block title %}{{
title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Line Styles" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}

        <div class="flex--col gap--04">
            <hr class="border--solid" style="border-width: 1px" />
            Solid
            <hr class="border--dashed" style="border-width: 1px" />
            Dashed
            <hr class="border--dotted" style="border-width: 1px" />
            Dotted
            <hr class="border--double" style="border-width: 1px" />
            Double
            <hr class="border--groove" style="border-width: 1px" />
            Groove
            <hr class="border--ridge" style="border-width: 1px" />
            Ridge
            <hr class="border--inset" style="border-width: 1px" />
            Inset
            <hr class="border--outset" style="border-width: 1px" />
            Outset
            <hr class="border--none" style="border-width: 1px" />
            None
            <hr class="border--hidden" style="border-width: 1px" />
            Hidden
            <hr class="border--transparent" style="border-width: 1px" />
            Transparent
        </div>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Border Styles" %}
    <section
        class="demo__subsection"
        data-label="{{ section_title }}"
        data-level="2"
    >
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}

        <div class="flex--col gap--04">
            <div class="border--solid" style="border-width: 1px">Solid</div>
            <div class="border--dashed" style="border-width: 1px">Dashed</div>
            <div class="border--dotted" style="border-width: 1px">Dotted</div>
            <div class="border--double" style="border-width: 1px">Double</div>
            <div class="border--groove" style="border-width: 1px">Groove</div>
            <div class="border--ridge" style="border-width: 1px">Ridge</div>
            <div class="border--inset" style="border-width: 1px">Inset</div>
            <div class="border--outset" style="border-width: 1px">Outset</div>
            <div class="border--none" style="border-width: 1px">None</div>
            <div class="border--hidden" style="border-width: 1px">Hidden</div>
            <div class="border--transparent" style="border-width: 1px">
                Transparent
            </div>
        </div>

        {% endset %} {% set language="HTML" %} {%- include
        "includes/preview/preview_box_code.html.jinja" %}
    </section>
</section>

{%- endblock content %}
