{% extends "base.html.jinja" %}

{% set title = "Character styles" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>


<section class="demo__section">

    <div class="font-preview-controls">
        <label for="font-preview-input">Preview text:</label>
        <input id="font-preview-input" type="text" placeholder="The quick brown fox…" />
    </div>

</section>


<section class="demo__section">

    <header class="demo__section__header">
        <h3>Base Character Styles</h3>
    </header>

    {% set label = ".character_default" %}
    {% set class = "character_default" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_normal" %}
    {% set class = "character_normal" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_italic" %}
    {% set class = "character_italic" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_bold" %}
    {% set class = "character_bold" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_code" %}
    {% set class = "character_code" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_initial" %}
    {% set class = "character_initial" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_inherit" %}
    {% set class = "character_inherit" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_unset" %}
    {% set class = "character_unset" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

</section>


<section class="demo__section">

    <header class="demo__section__header">
        <h3>Case Character Styles</h3>
    </header>

    {% set label = ".character_smallcaps" %}
    {% set class = "character_smallcaps" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_smallcaps_all" %}
    {% set class = "character_smallcaps_all" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_petite_caps" %}
    {% set class = "character_petite_caps" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_all_petite_caps" %}
    {% set class = "character_all_petite_caps" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_unicase" %}
    {% set class = "character_unicase" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_titling_caps" %}
    {% set class = "character_titling_caps" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_uppercase" %}
    {% set class = "character_uppercase" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_lowercase" %}
    {% set class = "character_lowercase" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

    {% set label = ".character_capitalize" %}
    {% set class = "character_capitalize" %}
    <div class="demo__subsection">
        {% include "includes/preview_box_font.html.jinja" %}
    </div>

</section>
</section>

{% endblock %}
