{% extends "base.html.jinja" %} {% set title = "Dropcap Characters" %} {%-
block title %}{{ title }}{%- endblock %} {%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">
    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    <section class="demo__section">
        <div class="font-preview-controls">
            <label for="font-preview-input">Preview text:</label>
            <input
                id="font-preview-input"
                type="text"
                placeholder="The quick brown fox…"
            />
        </div>
    </section>
</section>

{%- endblock %}
