{% extends "base.html.jinja" %}

{% set title = "Object | Height" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h2>{{ title }}</h2>
    </header>

    {% set section_title = "Object | Height | Fixed Heights (from map tokens)" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
<div class="grid">
    <label>.object--height--xs</label>
    <div class="object--height--xs object--fill--fill_secondary">&nbsp;</div>
    <label>.object--height--sm</label>
    <div class="object--height--sm object--fill--fill_secondary">&nbsp;</div>
    <label>.object--height--md</label>
    <div class="object--height--md object--fill--fill_secondary">&nbsp;</div>
    <label>.object--height--lg</label>
    <div class="object--height--lg object--fill--fill_secondary">&nbsp;</div>
    <label>.object--height--xl</label>
    <div class="object--height--xl object--fill--fill_secondary">&nbsp;</div>
</div>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>


    {% set section_title = "Object | Height | Fixed Heights (from map tokens)" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
<div class="grid">
    <label>.object--height--fixed--xs</label>
    <div class="object--height--fixed--xs object--fill--fill_secondary">&nbsp;</div>
    <label>.object--height--fixed--sm</label>
    <div class="object--height--fixed--sm object--fill--fill_secondary">&nbsp;</div>
    <label>.object--height--fixed--md</label>
    <div class="object--height--fixed--md object--fill--fill_secondary">&nbsp;</div>
    <label>.object--height--fixed--lg</label>
    <div class="object--height--fixed--lg object--fill--fill_secondary">&nbsp;</div>
    <label>.object--height--fixed--xl</label>
    <div class="object--height--fixed--xl object--fill--fill_secondary">&nbsp;</div>
</div>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>

    {% set section_title = "Object | Height | Full--smcreen / Full-Height Utilities" %}
    <section class="demo__subsection" data-label="{{ section_title }}" data-level="2">
        <h3>{{ section_title }}</h3>
        {% set code_snippet %}
<div class="card full-screen bg-gray">.full-screen (100vh)</div>
<div class="card minheight-fullscreen bg-gray">.minheight-fullscreen (min-height: 100vh)</div>
<div class="card max-h-100 bg-gray" style="height: 300px;">.max-h-100 (max-height: 100%)</div>
        {% endset %}
        {% set language="HTML" %}
        {%- include "includes/preview_box_code.html.jinja" %}
    </section>


</section>

{%- endblock content %}
