{% extends "base.html.jinja" %}

{% set title = "Font Weights" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

<section class="demo__section" data-label="{{ title }}" data-level="1">

    <header class="demo__section__header">
        <h3>{{ title }}</h3>
    </header>


    <div class="demo__subsection">
        <p>These examples demonstrate utility classes from <code>.font--weight_100</code> to
            <code>.font--weight_900</code>.
        </p>
    </div>
</section>


<section class="demo__section">
    <header class="demo__section__header">
        <h3>Font Default</h3>
    </header>
    {% for i in range(1, 10) %}
    {% set label = ".font--weight_" ~ i ~ "00" %}
    {% set class = "font--weight_" ~ i ~ "00" %}
    <div class="demo__subsection">
        {%- include "includes/preview_box_font.html.jinja" %}
    </div>

    {% endfor %}
</section>

<section class="demo__section">
    <header class="demo__section__header">
        <h3>Font Sans</h3>
    </header>
    {% for i in range(1, 10) %}
    {% set label = ".font--weight_" ~ i ~ "00" %}
    {% set class = "font--sans font--weight_" ~ i ~ "00" %}

    <div class="demo__subsection">
        {%- include "includes/preview_box_font.html.jinja" %}
    </div>

    {% endfor %}
</section>

<section class="demo__section">
    <header class="demo__section__header">
        <h3>Font Serif</h3>
    </header>
    {% for i in range(1, 10) %}
    {% set label = ".font--weight_" ~ i ~ "00" %}
    {% set class = "font--serif font--weight_" ~ i ~ "00" %}

    <div class="demo__subsection">
        {%- include "includes/preview_box_font.html.jinja" %}
    </div>
    {% endfor %}
</section>


<section class="demo__section">
    <header class="demo__section__header">
        <h3>Font Slab</h3>
    </header>
    {% for i in range(1, 10) %}
    {% set label = ".font--weight_" ~ i ~ "00" %}
    {% set class = "font--slab font--weight_" ~ i ~ "00" %}

    <div class="demo__subsection">
        {%- include "includes/preview_box_font.html.jinja" %}
    </div>
    {% endfor %}
</section>

<section class="demo__section">
    <header class="demo__section__header">
        <h3>Font Mono</h3>
    </header>
    {% for i in range(1, 10) %}
    {% set label = ".font--weight_" ~ i ~ "00" %}
    {% set class = "font--mono font--weight_" ~ i ~ "00" %}

    <div class="demo__subsection">
        {%- include "includes/preview_box_font.html.jinja" %}
    </div>
    {% endfor %}
</section>

{%- endblock %}
