{% extends "base.html.jinja" %}
{% block title %}Color Theme Comparison{% endblock %}

{% block content %}
<section class="demo__section">

    <header class="demo__section__header">
        <h3>Color System</h3>
    </header>

    <section class="demo__subsection">
        <h4>Light Theme</h4>
        <div class="theme-columns">
            <h6>Light Theme | Text</h6>
            <div class="theme-panel theme-light">
                <div class="color-grid">
                    {% for name in [
                    'text_primary', 'text_secondary', 'text_tertiary'
                    ] %}
                    <div class="color-card">
                        <div class="preview_box__swatch" style="background-color: var(--color_{{ name }})"></div>
                        <code>--color_{{ name }}</code>
                    </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </section>

</section>
{% endblock %}
