{% extends "base.html.jinja" %}
{% block title %}Color Theme Comparison{% endblock %}

{% block content %}
<section class="demo__section">

    <header class="demo__section__header">
        <h3>Color System</h3>
    </header>

    <section class="demo__subsection">



        {# <section class="theme-compare"> #}


            <div class="theme-columns">
                <div class="theme-panel theme-light">
                    <h4>Light Theme</h4>
                    <div class="color-grid">
                        {% for name in [
                        'background', 'foreground', 'muted', 'accent',
                        'primary', 'secondary', 'tertiary',
                        'info', 'success', 'warning', 'error',
                        'light', 'dark',
                        'surface_1', 'surface_2', 'surface_3',
                        'text_default', 'text_muted', 'text_accent', 'text_inverse'
                        ] %}
                        <div class="color-card">
                            <div class="color-swatch" style="background-color: var(--color_{{ name }})"></div>
                            <code>--color_{{ name }}</code>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </section>
        <section class="demo__subsection">

            <div class="theme-panel theme-dark">
                <h4>Dark Theme</h4>
                <div class="color-grid">
                    {% for name in [
                    'background', 'foreground', 'muted', 'accent',
                    'primary', 'secondary', 'tertiary',
                    'info', 'success', 'warning', 'error',
                    'light', 'dark',
                    'surface_1', 'surface_2', 'surface_3',
                    'text_default', 'text_muted', 'text_accent', 'text_inverse'
                    ] %}
                    <div class="color-card">
                        <div class="color-swatch" style="background-color: var(--color_{{ name }})"></div>
                        <code>--color_{{ name }}</code>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </section>
    </section>
    {% endblock %}
