{% extends "base.html.jinja" %}


{% block title %}Test Layout Aside{% endblock %}


{% set aside_left = true %}
{% block aside_left_content %}
Aside Left Menu
{% endblock %}

{% set aside_right = true %}
{% block aside_right_content %}
Aside Right Menu
{% endblock %}

{% block content %}

            {# <div class="canvas">
                <div id="map"></div>
                <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
                <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet" />
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoidmFsdWVzY2FwZXMiLCJhIjoiY2xqeTNvMW1hMDFibjNjcnU1Y2R2N3JxYSJ9.9TrR3NhHF6yZyyw9ZSlfgQ';

                    const map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/valuescapes/cm84j42hs003301sigms3gexd', // Custom style URL
                        center: [4.864105, 52.375196], // Initial map center - Park near the Markthal
                        zoom: 16.72,
                        bearing: -40.30,
                        pitch: 60,
                    });</script>
            </div> #}

            <div class="layout__grid--inner--screen">

                {# <div class="layout__area--top_left">Top Left</div> #}
                {# <div class="layout__area--top_center">Top Center</div> #}
                <div class="layout__area--top_right"><input type="text" class="input input--m"
                        placeholder="Search..." />
                </div>

                <div class="layout__area--middle_left"><input type="checkbox" /></div>
                {# <div class="layout__area--middle_center">Middle Center</div> #}
                {# <div class="layout__area--middle_right">Middle Right</div> #}

                {# <div class="layout__area--bottom_left">Bottom Left</div> #}
                <div class="layout__area--bottom_center paragraph--center">
                    <div class="button_group">
                        <button class="button button--xl button--solid">Left</button>
                        <button class="button button--xl button--solid">Center</button>
                        <button class="button button--xl button--solid">Right</button>
                    </div>
                </div>
                {# <div class="layout__area--bottom_right">Bottom Right</div> #}

            </div>

{% endblock content %}
