{% extends "base.html.jinja" %}


{%- block title %}Test Layout Aside{%- endblock %}


{% set aside_left = true %}
{%- block aside_left_content %}
Aside Left Menu
{%- endblock %}

{% set aside_right = true %}
{%- block aside_right_content %}
Aside Right Menu
{%- endblock %}

{%- block content %}

            <div class="frame--inner--screen">

                {# <div class="frame__area--top_left">Top Left</div> #}
                {# <div class="frame__area--top_center">Top Center</div> #}
                <div class="frame__area--top_right"><input type="text" class="input input--m"
                        placeholder="Search..." />
                </div>

                <div class="frame__area--middle_left"><input type="checkbox" /></div>
                {# <div class="frame__area--middle_center">Middle Center</div> #}
                {# <div class="frame__area--middle_right">Middle Right</div> #}

                {# <div class="frame__area--bottom_left">Bottom Left</div> #}
                <div class="frame__area--bottom_center paragraph--center">
                    <div class="button_group">
                        <button class="button button--xl button--solid">Left</button>
                        <button class="button button--xl button--solid">Center</button>
                        <button class="button button--xl button--solid">Right</button>
                    </div>
                </div>
                {# <div class="frame__area--bottom_right">Bottom Right</div> #}

            </div>

{%- endblock content %}
