{% extends "base.html.jinja" %}


{%- block title %}Test Layout Aside{%- endblock %}


{% set aside_left = true %}
{%- block aside_left_content %}
Aside Left Menu
{%- endblock %}

{% set aside_right = true %}
{%- block aside_right_content %}
Aside Right Menu
{%- endblock %}

{%- block content %}

<div class="layer-controls">
    <button onclick="toggleLayer('guides')">Toggle guides</button>
    <button onclick="toggleLayer('modal')">Toggle modal</button>
    <button onclick="toggleLayer('interface')">Toggle interface</button>
    <button onclick="toggleLayer('content')">Toggle content</button>
    <button onclick="toggleLayer('canvas')">Toggle canvas</button>
</div>

<div class="layer-demo">
    <div class="layer-box z-guides" id="layer-guides">
        guides<br><small>z(guides)</small>
    </div>
    <div class="layer-box z-modal" id="layer-modal">
        modal<br><small>z(modal)</small>
    </div>
    <div class="layer-box z-interface" id="layer-interface">
        interface<br><small>z(interface)</small>
    </div>
    <div class="layer-box z-content" id="layer-content">
        content<br><small>z(content)</small>
    </div>
    <div class="layer-box z-canvas" id="layer-canvas">
        canvas<br><small>z(canvas)</small>
    </div>
</div>

<script>
    function toggleLayer(id) {
        const el = document.getElementById('layer-' + id);
        el.classList.toggle('hidden');
    }
</script>


{%- endblock content %}
