{% extends "base.html.jinja" %}

{% set title = "Frame Login" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}
<div class="frame_login">
    <div class="frame_login__area">
        <!-- Your centered content goes here -->
        <h1>Welcome</h1>
    </div>
</div>

{%- endblock content %}
