<!-- templates/includes/typography.html.jinja -->
<section id="typography">

    <pre>This is preformatted text using <code>&lt;pre&gt;&lt;/pre&gt;</code></pre>
    <article class="text-markup">
        <div><strong>Strong</strong>, <em>Emphasis</em>, <mark>Mark</mark></div>
        <div><b>B</b>, <i>I</i>, <u>U</u>, <small>Small</small></div>
        <div><sub>Subscript</sub>, <sup>Superscript</sup></div>
        <div><s>Strikethrough</s>, <ins>Inserted</ins>, <del>Deleted</del></div>
        <div><bdi>BDI: محمد</bdi>, <bdo dir="rtl">BDO: محمد</bdo></div>
        <div>
            <abbr title="World Wide Web">WWW</abbr>,
            <cite>Every HTML Element</cite>,
            <code>&lt;code&gt;</code>
        </div>
        <div>
            <data value="123">Data</data>,
            <time datetime="2025-01-23">Jan 23, 2025</time>
        </div>
        <div><kbd>Ctrl</kbd>, <dfn>Definition</dfn>, <var>Variable</var></div>
        <div>
            <ruby>
                漢<rp>(</rp>
                <rt>かん</rt>
                <rp>)</rp>
            </ruby>,
            <samp>Samp</samp>,
            <wbr />Word Break
        </div>
        <div><code>console.log('Hello, world!');</code> – inline code snippet</div>
        <pre><code>function greet(name) {
  return `Hello, ${name}!`;
}
console.log(greet('HTML'));</code></pre>
    </article>
</section>
