// ============================================================================
// Imports
// ============================================================================

@use "../../variables" as *;
@use "../../dev" as *;
@use "../soul_type" as *;
@use "../head_layout" as *;

// ============================================================================
// Main | Content
// ============================================================================

// .main {
//     @include grid--size--col(24);
//     min-height: 100%;
//     min-width: 100%;
// }

.main_content {
    max-width: 100%;
    min-height: 100%;
    padding: q(20);
}

.main_content_section_header {
    margin-bottom: q(8);
}

.main_content_section_main {
    margin-top: q(20);
    margin-bottom: q(20);
}

.main_content_section_footer {
    margin-top: q(8);
}

.main_header {
    // grid-area: main_header;
    align-self: start;
    justify-self: left;
    text-align: left;
}

.main_footer {
    // grid-area: main_footer;
    align-self: start;
    justify-self: left;
    text-align: left;
}
